<div>
  <h2 id="page-heading" data-cy="RoleHeading">
    <span hrmsTranslate="hrmsApp.role.home.title">Roles</span>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span hrmsTranslate="hrmsApp.role.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        *ngIf="acl.canAdd"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-role"
        [routerLink]="['/role/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hrmsTranslate="hrmsApp.role.button.add.label"> Create a new Role </span>
      </button>
    </div>
  </h2>

  <hrms-alert-error></hrms-alert-error>

  <hrms-alert></hrms-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="roles?.length === 0">
    <span hrmsTranslate="hrmsApp.role.home.empty">No roles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="roles && roles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span hrmsTranslate="global.field.id">ID</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.role.name">Name</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.role.is_active">Is Active</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.role.is_deleted">Is Deleted</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.role.applicationType">Application Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/role', role.id, 'view']">{{ role.id }}</a>
          </td>
          <td>{{ role.name }}</td>
          <td>{{ role.is_active }}</td>
          <td>{{ role.is_deleted }}</td>
          <td>
            <div *ngIf="role.applicationType">
              <a [routerLink]="['/application-type', role.applicationType?.id, 'view']">{{ role.applicationType?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                *ngIf="acl.canView"
                type="submit"
                [routerLink]="['/role', role.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.view">View</span>
              </button>

              <button
                *ngIf="acl.canEdit"
                type="submit"
                [routerLink]="['/role', role.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.update">Edit</span>
              </button>

              <button *ngIf="acl.canDelete" type="submit" (click)="delete(role)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
