@import '../../../../../content/scss/app-variable';

.employee-avater-header {
  background: rgba($color: $primary, $alpha: 0.1);
  border-radius: 12px;
  padding: 12px 38px;
  position: relative;
  .profile-edit-btn {
    position: absolute;
    border-radius: 100%;
    right: 38px;
    top: 25px;
    height: 42px;
    width: 42px;
    font-size: 20px;
    z-index: 99;
  }
}
.profile-nav {
  padding-left: 0;
  padding-top: 42px;
  margin-bottom: 10px;
  li {
    display: inline-block;
    margin-right: 30px;
    a {
      font-size: 14px;
      color: $dark-shade-500;
      &:hover {
        color: rgba($color: $primary, $alpha: 1);
        text-decoration: none;
      }
      &.active {
        font-weight: 600;
      }
    }
  }
}
.emp-avater {
  background: rgba($color: $primary, $alpha: 0.2);
  border: 2px solid $white;
  height: 112px;
  width: 112px;
  border-radius: 100%;
  position: relative;
  .icon-cam-btn {
    background: $primary;
    position: absolute;
    font-size: 14px;
    color: $white;
    right: -7px;
    bottom: 0;
    border: 2px solid $white;
    border-radius: 100%;
    height: 32px;
    width: 32px;
  }
  img {
    height: 112px;
    width: 112px;
    border-radius: 100%;
  }
}

.approver-line {
  &.note-line {
    .desi-bullet {
      flex: 0 0 23px;
      width: 23px;
      height: 23px;
      margin-right: 10px;
      border: 5px solid #f3fff0;
      padding: 0;
    }
  }
  .desi-bullet {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }
  .dig-img {
    img {
      height: 25px;
      width: 25px;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
}
