<ng-container *ngIf="isLoading">
  <hrms-transparent-spinner></hrms-transparent-spinner>
</ng-container>
<div class="employee-avater-header mb-3">
  <button
    *ngIf="!isEmployee || (applicationSettings.employee_can_edit_profile && employeeDetails?.id == employeeId)"
    routerLink="/employee/edit/{{ employeeDetails?.id }}"
    class="btn btn-primary profile-edit-btn"
  >
    <div class="position-relative">
      <i class="icon-pencil icon-center"></i>
    </div>
  </button>
  <div class="row">
    <div class="col-md-auto">
      <div class="emp-avater mr-4">
        <button
          *ngIf="!isEmployee || (applicationSettings.employee_can_edit_profile && employeeDetails?.id == employeeId)"
          class="icon-camera2 icon-cam-btn"
          (click)="showFileDialog()"
        ></button>
        <span *ngIf="employeeDetails?.photo_url">
          <img src="{{ employeeDetails?.photo_url }}" alt="" />
        </span>
        <span *ngIf="!employeeDetails?.photo_url">
          <img src="../../../../content/images/person.png" alt="person" />
        </span>
        <input #fileUpload ngFileSelect (change)="onFileChange($event, employeeDetails?.id)" type="file" hidden="true" />
      </div>
    </div>
    <div class="col-md pt-2">
      <h1 class="m-0">
        <span class="text-blue-dark fs-xxl mb-0 pt-2 text-capitalize">
          {{ employeeDetails?.first_name }} {{ employeeDetails?.last_name }}
        </span>
      </h1>
      <p *ngIf="role?.name === roleType.SUPER_ADMIN" class="fs-md mb-0 text-blue-dark">Super Admin</p>
      <p *ngIf="role?.name === roleType.OWNER" class="fs-md mb-0 text-blue-dark">Owner</p>
      <p *ngIf="role?.name === roleType.MANAGER" class="fs-md mb-0 text-blue-dark">Manager</p>
      <p *ngIf="role?.name === roleType.EMPLOYEE" class="fs-md mb-0 text-blue-dark">Employee</p>

      <ul class="profile-nav">
        <li>
          <a
            routerLink="/employee/details/{{ employeeDetails?.id }}"
            routerLinkActive="active"
            hrmsTranslate="hrmsApp.employee.overview.label"
          >
            Overview
          </a>
        </li>
        <li *ngIf="employeeDetails?.id == employeeId">
          <a
            routerLink="/employee/password/{{ employeeDetails?.id }}"
            routerLinkActive="active"
            hrmsTranslate="hrmsApp.employee.password.label"
          >
            Password
          </a>
        </li>
        <li *ngIf="!isEmployee">
          <a
            routerLink="/employee/permissions/{{ employeeDetails?.id }}"
            routerLinkActive="active"
            hrmsTranslate="hrmsApp.employee.permissions.label"
          >
            Permissions
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
