<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="hrms-menu-heading" data-cy="MenuCreateUpdateHeading" hrmsTranslate="hrmsApp.menu.home.createOrEditLabel">
        Create or edit a Menu
      </h2>

      <div>
        <hrms-alert-error></hrms-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" hrmsTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.name" for="field_name">Name</label>
          <input hrmsInputTrim type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" hrmsTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.icon" for="field_icon">Icon</label>
          <input hrmsInputTrim type="text" class="form-control" name="icon" id="field_icon" data-cy="icon" formControlName="icon" />
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.translate_name" for="field_translate_name">Translate Name</label>
          <input
            hrmsInputTrim
            type="text"
            class="form-control"
            name="translate_name"
            id="field_translate_name"
            data-cy="icon"
            formControlName="translate_name"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.end_point" for="field_end_point">End Point</label>
          <input
            hrmsInputTrim
            type="text"
            class="form-control"
            name="end_point"
            id="field_end_point"
            data-cy="end_point"
            formControlName="end_point"
          />
          <div *ngIf="editForm.get('end_point')!.invalid && (editForm.get('end_point')!.dirty || editForm.get('end_point')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('end_point')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.router_link" for="field_router_link">Router Link</label>
          <input
            hrmsInputTrim
            type="text"
            class="form-control"
            name="router_link"
            id="field_router_link"
            data-cy="router_link"
            formControlName="router_link"
          />
          <div *ngIf="editForm.get('router_link')!.invalid && (editForm.get('router_link')!.dirty || editForm.get('router_link')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('router_link')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.permissions" for="field_permissions">Permissions</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select'"
            [data]="dropdownList"
            [settings]="dropdownSettings"
            formControlName="permissions"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.parent_id" for="field_parent_id">Parent Id</label>
          <input type="number" class="form-control" name="parent_id" id="field_parent_id" data-cy="parent_id" formControlName="parent_id" />
          <div *ngIf="editForm.get('parent_id')!.invalid && (editForm.get('parent_id')!.dirty || editForm.get('parent_id')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('parent_id')?.errors?.max"
              hrmsTranslate="entity.validation.max"
              [translateValues]="{ max: 11 }"
            >
              This field cannot be more than 11.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('parent_id')?.errors?.number"
              hrmsTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.position" for="field_position">Position</label>
          <input type="number" class="form-control" name="position" id="field_position" data-cy="position" formControlName="position" />
          <div *ngIf="editForm.get('position')!.invalid && (editForm.get('position')!.dirty || editForm.get('position')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('position')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('position')?.errors?.max"
              hrmsTranslate="entity.validation.max"
              [translateValues]="{ max: 4 }"
            >
              This field cannot be more than 4.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('position')?.errors?.number"
              hrmsTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.is_menu" for="field_is_menu">Is Menu</label>
          <input type="checkbox" class="form-check" name="is_menu" id="field_is_menu" data-cy="is_menu" formControlName="is_menu" />
          <div *ngIf="editForm.get('is_menu')!.invalid && (editForm.get('is_menu')!.dirty || editForm.get('is_menu')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('is_menu')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.is_active" for="field_is_active">Is Active</label>
          <input type="checkbox" class="form-check" name="is_active" id="field_is_active" data-cy="is_active" formControlName="is_active" />
          <div *ngIf="editForm.get('is_active')!.invalid && (editForm.get('is_active')!.dirty || editForm.get('is_active')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('is_active')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.menu.is_deleted" for="field_is_deleted">Is Deleted</label>
          <input
            type="checkbox"
            class="form-check"
            name="is_deleted"
            id="field_is_deleted"
            data-cy="is_deleted"
            formControlName="is_deleted"
          />
          <div *ngIf="editForm.get('is_deleted')!.invalid && (editForm.get('is_deleted')!.dirty || editForm.get('is_deleted')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('is_deleted')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <span hrmsTranslate="global.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <span hrmsTranslate="global.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
