<div *ngIf="isLoading">
  <hrms-transparent-spinner></hrms-transparent-spinner>
</div>
<div class="row">
  <div class="col-md-auto hide-on-mobile">
    <hrms-shift-planning-filters [shiftPlanningDates]="datesSet" (timeRange)="onTimeRangeEmit($event)" (filters)="onFiltersEmit($event)">
    </hrms-shift-planning-filters>
  </div>
  <div class="col-md pl-0">
    <div class="d-flex">
      <div class="inner-body-scrollbar custom-scrollable overflow-x-hidden scrollable-y px-1">
        <div class="customize-calendar hide-library-filter">
          <div class="row justify-content-between calendar-filter-bar">
            <div class="col-md-auto pb-4">
              <div class="d-flex">
                <!-- <div ngbDropdown class="nav-item dropdown pointer pill-dropdown custom-select-dropdown" display="dynamic">
                  <button
                    class="btn btn-outline-primary btn-h-47 pl-4 pr-3 dropdown-toggle"
                    ngbDropdownToggle
                    id="filter2"
                    data-cy="filter2"
                  >
                    <span class="selected-label mr-3"> Employee View </span>
                  </button>
                  <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="filter2">
                    <li class="dropdown-item">
                      <div class="form-radio">
                        <input type="radio" name="view-item2" id="position-view" value="0" />
                        <label class="fs-sm text-dark-3 radio-label" for="position-view"> Position View</label>
                      </div>
                    </li>
                    <li class="dropdown-item">
                      <div class="form-radio">
                        <input type="radio" name="view-item2" id="employee" value="0" />
                        <label class="fs-sm text-dark-3 radio-label" for="employee"> Employee View</label>
                      </div>
                    </li>
                    <li class="dropdown-item">
                      <div class="form-radio">
                        <input type="radio" name="view-item2" id="calendar-view" />
                        <label class="fs-sm text-dark-3 radio-label" for="calendar-view"> Calendar View</label>
                      </div>
                    </li>
                    <li class="dropdown-item">
                      <div class="form-radio">
                        <input type="radio" name="view-item2" id="list-view" />
                        <label class="fs-sm text-dark-3 radio-label" for="list-view"> List View</label>
                      </div>
                    </li>
                  </ul>
                </div> -->
                <!-- <div ngbDropdown class="nav-item dropdown pointer pill-dropdown custom-select-dropdown ml-2" display="dynamic">
                  <button
                    class="btn btn-outline-primary btn-h-47 pl-4 pr-3 dropdown-toggle"
                    ngbDropdownToggle
                    id="filter1"
                    data-cy="filter1"
                  >
                    <span class="selected-label mr-3"> Week </span>
                  </button>
                  <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="filter1">
                    <li class="dropdown-item">
                      <div class="form-radio">
                        <input type="radio" name="view-item1" id="Day" value="0" />
                        <label class="fs-sm text-dark-3 radio-label" for="Day"> Day</label>
                      </div>
                    </li>
                    <li class="dropdown-item">
                      <div class="form-radio">
                        <input type="radio" name="view-item1" id="Week" value="0" />
                        <label class="fs-sm text-dark-3 radio-label" for="Week"> Week</label>
                      </div>
                    </li>
                    <li class="dropdown-item">
                      <div class="form-radio">
                        <input type="radio" name="view-item1" id="Week-2" />
                        <label class="fs-sm text-dark-3 radio-label" for="Week-2"> 2 Week</label>
                      </div>
                    </li>
                    <li class="dropdown-item">
                      <div class="form-radio">
                        <input type="radio" name="view-item1" id="week-4" />
                        <label class="fs-sm text-dark-3 radio-label" for="week-4"> 4 Week</label>
                      </div>
                    </li>
                  </ul>
                </div> -->
                <div
                  *ngIf="!isEmployee"
                  ngbDropdown
                  class="nav-item dropdown pointer pill-dropdown custom-select-dropdown"
                  display="dynamic"
                >
                  <button
                    class="btn btn-outline-primary btn-h-47 pl-4 pr-3 dropdown-toggle"
                    ngbDropdownToggle
                    id="filter3"
                    data-cy="filter3"
                  >
                    <span class="selected-label mr-3" hrmsTranslate="hrmsApp.workShift.home.toolsLabel"> Tools </span>
                  </button>
                  <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="filter3">
                    <li class="dropdown-item" *ngIf="shiftPlanningSettings?.employee_can_drop_shifts">
                      <div class="form-radio">
                        <input type="radio" name="view-item3" id="Tools" value="0" />
                        <label
                          class="fs-sm text-dark-3 radio-label"
                          (click)="showDeleteModal()"
                          for="Tools"
                          hrmsTranslate="hrmsApp.workShift.delete.title"
                        >
                          Delete Work Shift
                        </label>
                      </div>
                    </li>
                    <li class="dropdown-item" *ngIf="!isEmployee">
                      <div class="form-radio">
                        <label
                          (click)="createManyWorkShifts()"
                          class="fs-sm text-dark-3 radio-label"
                          hrmsTranslate="hrmsApp.workShift.create.many.label"
                        >
                          Add work shift at once
                        </label>
                      </div>
                    </li>
                    <li class="dropdown-item" *ngIf="!isEmployee">
                      <div class="form-radio">
                        <input type="radio" name="view-item3" id="Tools2" value="0" />
                        <label
                          class="fs-sm text-dark-3 radio-label"
                          routerLink="/work-shift-template"
                          for="Tools2"
                          hrmsTranslate="hrmsApp.workShiftTemplate.home.manage"
                        >
                          Manage Work Shift Template
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-auto pb-4">
              <div class="d-flex">
                <div class="ml-2">
                  <ng-container
                    *ngIf="
                      shiftPlanningSettings?.use_draft_publish_schedule_method &&
                      (!isEmployee || shiftPlanningSettings?.employee_can_release_shifts)
                    "
                  >
                    <button class="btn btn-primary rounded-pill px-4 btn-h-47" [disabled]="!unPublishedIds.length" (click)="publish()">
                      <span hrmsTranslate="hrmsApp.workShift.home.publishLabel"> Publish </span>
                      <span *ngIf="unPublishedIds.length"> ({{ unPublishedIds.length }}) </span>
                    </button>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <full-calendar #calendar [deepChangeDetection]="true" [options]="calendarOptions"></full-calendar>
        </div>

        <ng-template #deleteModal let-modal>
          <div class="modal-body p-4">
            <div class="row justify-content-between mb-2 px-md-4">
              <h4 class="col-md-auto pl-md-0 modal-title text-dark" hrmsTranslate="hrmsApp.workShift.delete.deleteLabel">
                Delete Work shifts
              </h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="modal.dismiss()">&times;</button>
            </div>

            <div class="dashed-divider mb-3"></div>

            <div class="row px-4 py-3" hrmsTranslate="hrmsApp.workShift.delete.question">
              <p>Are you sure you want to delete all shifts in this view for Positions that you manage?</p>
            </div>

            <div class="dashed-divider mb-3"></div>

            <div class="text-right pt-4">
              <button
                type="button"
                class="btn btn-outline-primary btn-h-47 px-4 mr-2"
                (click)="modal.dismiss()"
                hrmsTranslate="global.action.cancel"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-primary btn-h-47 px-4"
                (click)="deleteWorkShiftByDate()"
                hrmsTranslate="hrmsApp.workShift.delete.okLabel"
              >
                Ok
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
