<form *ngIf="holiday" name="deleteForm" (ngSubmit)="confirmDelete(holiday.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="holidayDeleteDialogHeading" hrmsTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <hrms-alert-error></hrms-alert-error>

    <p id="hrms-delete-holiday-heading" hrmsTranslate="hrmsApp.holiday.delete.question" [translateValues]="{ id: holiday.id }">
      Are you sure you want to delete this Holiday?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="cancel()">
      <span hrmsTranslate="global.action.cancel">Cancel</span>
    </button>

    <button id="hrms-confirm-delete-holiday" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <span hrmsTranslate="global.action.delete">Delete</span>
    </button>
  </div>
</form>
