<div class="bg-white p-2 mb-4">
  <hrms-employee-details-navigation></hrms-employee-details-navigation>
  <div class="m-2 p-2">
    <form name="employeeForm" role="form" novalidate (ngSubmit)="update()" [formGroup]="employeeForm">
      <div class="row">
        <input type="hidden" formControlName="id" />
        <input type="hidden" formControlName="company_id" />
        <div class="col-4">
          <div class="row form-group">
            <label class="col-3 col-form-label" name="first_name" for="first_name" hrmsTranslate="hrmsApp.employee.firstName.label">
              First Name
            </label>
            <div class="col-9">
              <input
                hrmsInputTrim
                type="text"
                class="form-control"
                name="first_name"
                id="first_name"
                data-cy="first_name"
                formControlName="first_name"
              />
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" name="middle_name" for="middle_name" hrmsTranslate="hrmsApp.employee.middleName.label">
              Middle Name
            </label>
            <div class="col-9">
              <input
                hrmsInputTrim
                type="text"
                class="form-control"
                name="middle_name"
                id="middle_name"
                data-cy="middle_name"
                formControlName="middle_name"
              />
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" name="phone" for="phone" hrmsTranslate="hrmsApp.employee.mobile.label">Mobile Phone</label>
            <div class="col-9">
              <input hrmsInputTrim type="text" class="form-control" name="phone" id="phone" data-cy="phone" formControlName="phone" />
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" for="gender" hrmsTranslate="hrmsApp.employee.gender.label">Gender</label>
            <div class="col-9">
              <select class="form-control" id="gender" data-cy="gender" formControlName="gender_id">
                <option [ngValue]="null"></option>
                <option [ngValue]="gender.id" *ngFor="let gender of genders">
                  {{ gender.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" for="branch" hrmsTranslate="hrmsApp.employee.branch.label">Branch</label>
            <div class="col-9">
              <select (change)="onBranchChange()" class="form-control" id="branch" data-cy="branch" formControlName="branch_id">
                <option [ngValue]="null"></option>
                <option [ngValue]="branch.id" *ngFor="let branch of branches">
                  {{ branch.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" name="birthday" for="birthday" hrmsTranslate="hrmsApp.employee.birthDate.label">
              Birthday
            </label>
            <div class="col-9">
              <input
                (change)="onBirthDateChange($event)"
                type="date"
                class="form-control"
                name="birthday"
                id="birthday"
                [value]="birthdatePicker"
              />
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" for="marital_status" hrmsTranslate="hrmsApp.employee.maritalStatus.label">
              Marital Status
            </label>
            <div class="col-9">
              <select class="form-control" id="marital_status" data-cy="marital_status" formControlName="marital_status_id">
                <option [ngValue]="null"></option>
                <option [ngValue]="maritalStatuse.id" *ngFor="let maritalStatuse of maritalStatuses">
                  {{ maritalStatuse.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" name="joinDate" for="joinDate" hrmsTranslate="hrmsApp.employee.joinDate.label">
              Join Date
            </label>
            <div class="col-9">
              <input
                (change)="onJoinDateChange($event)"
                type="date"
                class="form-control"
                name="joinDate"
                id="joinDate"
                [value]="joinDatePicker"
              />
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row form-group">
            <label class="col-3 col-form-label" name="last_name" for="last_name" hrmsTranslate="hrmsApp.employee.lastName.label">
              Last Name
            </label>
            <div class="col-9">
              <input
                hrmsInputTrim
                type="text"
                class="form-control"
                name="last_name"
                id="last_name"
                data-cy="last_name"
                formControlName="last_name"
              />
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" name="email" for="email" hrmsTranslate="hrmsApp.employee.email.label">Email</label>
            <div class="col-9">
              <input
                hrmsInputTrim
                type="email"
                class="form-control disabled-form-control"
                name="email"
                id="email"
                data-cy="email"
                formControlName="email"
                readonly
              />
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" for="employee_code" hrmsTranslate="hrmsApp.employee.code.label">Employee Code</label>
            <div class="col-9">
              <input hrmsInputTrim type="text" class="form-control" id="employee_code" data-cy="employee_code" formControlName="code" />
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" for="blood_group" hrmsTranslate="hrmsApp.employee.bloodGroup.label">Blood Group</label>
            <div class="col-9">
              <select class="form-control" id="blood_group" data-cy="blood_group" formControlName="blood_group_id">
                <option [ngValue]="null"></option>
                <option [ngValue]="bloodGroup.id" *ngFor="let bloodGroup of bloodGroups">
                  {{ bloodGroup.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" for="language" hrmsTranslate="hrmsApp.employee.language.label">Language</label>
            <div class="col-9">
              <select class="form-control" id="language" data-cy="language" name="language" formControlName="language_code">
                <option [ngValue]="null"></option>
                <option [ngValue]="language.code" *ngFor="let language of languages">
                  {{ language.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="row form-group">
            <label class="col-3 col-form-label" for="religion" hrmsTranslate="hrmsApp.employee.religion.label">Religion</label>
            <div class="col-9">
              <select class="form-control" id="religion" data-cy="religion" formControlName="religion_id">
                <option [ngValue]="null"></option>
                <option [ngValue]="religion.id" *ngFor="let religion of religions">
                  {{ religion.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-3 col-form-label" name="nationality" for="nationality" hrmsTranslate="hrmsApp.employee.nationality.label">
              Nationality
            </label>
            <div class="col-9">
              <input
                hrmsInputTrim
                type="text"
                class="form-control"
                name="nationality"
                id="nationality"
                data-cy="last_name"
                formControlName="nationality"
              />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isEmployee" class="my-3">
        <div class="setting-border-runded-box rounded-12 p-3 mb-4">
          <h4 class="fs-sm text-blue-dark font-weight-bold">
            <span hrmsTranslate="hrmsApp.employee.designationAssignments.label"> Designation Assignments</span>
            ({{ totalDesignationCount }})
          </h4>
          <div class="dashed-divider mb-3"></div>
          <div class="row">
            <div class="col-12">
              <div *ngIf="selectedBranch">
                <label *ngIf="selectedBranch?.designations?.length" class="text-dark text-capitalize">{{ selectedBranch?.name }}</label>
                <ul *ngIf="selectedBranch?.designations?.length" class="designation-container">
                  <li *ngFor="let designation of selectedBranch.designations; let i = index">
                    <div class="form-check-custom">
                      <input
                        (change)="onDesignationChange($event, { designation_id: designation.id, employee_id: employeeDetails?.id })"
                        type="checkbox"
                        id="employee-edit-designation-{{ designation.id }}"
                        [value]="designation.id"
                        [checked]="designation.checked"
                      />
                      <label class="form-check-label" for="employee-edit-designation-{{ designation.id }}">
                        <span class="check-mark mr-2"></span>
                        <span class="fs-sm border-left-label"> {{ designation?.name }} </span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="setting-border-runded-box rounded-12 p-3 mb-4">
          <h4 class="fs-sm text-blue-dark font-weight-bold">
            <span hrmsTranslate="hrmsApp.employee.skillAssignments.label">Skill Assignments</span> ({{ skills.length }})
          </h4>
          <div class="dashed-divider mb-3"></div>
          <div class="row">
            <div class="col-12">
              <ul class="skills-container mt-3">
                <li *ngFor="let skill of skills; let i = index">
                  <div class="form-check-custom">
                    <input
                      (change)="onSkillChange($event, { skill_id: skill.id, employee_id: employeeDetails?.id })"
                      type="checkbox"
                      id="employee-assign-skill{{ skill.id }}"
                      [value]="skill.id"
                      [checked]="skill.checked"
                    />
                    <label class="form-check-label" for="employee-assign-skill{{ skill.id }}">
                      <span class="check-mark mr-2"></span>
                      <span class="fs-sm border-left-label"> {{ skill.name }} </span>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button
          [disabled]="employeeForm.invalid || isSaving"
          class="btn btn-primary btn-h-47 px-4"
          type="submit"
          hrmsTranslate="global.action.save"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
