.designation-container,
.skills-container {
  padding-left: 0;
  li {
    display: flex;
    list-style: none;
    margin-bottom: 0.6em;
    input[type='checkbox'] {
      scale: 1.2;
    }
    label {
      margin: 0 0 0 1em;
      padding-left: 0.4em;
    }
  }
}
.designation-container {
  .border-left-label {
    padding-left: 0.5em;
    border-left: 3px solid lawngreen;
  }
}
