<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="hrms-work-shift-heading" data-cy="WorkShiftCreateUpdateHeading" hrmsTranslate="hrmsApp.workShift.home.createOrEditLabel">
        Create or edit a Work Shift
      </h2>

      <div>
        <hrms-alert-error></hrms-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" hrmsTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.workShift.company_id" for="field_company_id">Company Id</label>
          <input
            type="number"
            class="form-control"
            name="company_id"
            id="field_company_id"
            data-cy="company_id"
            formControlName="company_id"
          />
          <div *ngIf="editForm.get('company_id')!.invalid && (editForm.get('company_id')!.dirty || editForm.get('company_id')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('company_id')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('company_id')?.errors?.max"
              hrmsTranslate="entity.validation.max"
              [translateValues]="{ max: 11 }"
            >
              This field cannot be more than 11.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('company_id')?.errors?.number"
              hrmsTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.workShift.branch_id" for="field_branch_id">Branch Id</label>
          <input type="number" class="form-control" name="branch_id" id="field_branch_id" data-cy="branch_id" formControlName="branch_id" />
          <div *ngIf="editForm.get('branch_id')!.invalid && (editForm.get('branch_id')!.dirty || editForm.get('branch_id')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('branch_id')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('branch_id')?.errors?.max"
              hrmsTranslate="entity.validation.max"
              [translateValues]="{ max: 11 }"
            >
              This field cannot be more than 11.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('branch_id')?.errors?.number"
              hrmsTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.workShift.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('title')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.workShift.designation_id" for="field_designation_id"
            >Designation Id</label
          >
          <input
            type="number"
            class="form-control"
            name="designation_id"
            id="field_designation_id"
            data-cy="designation_id"
            formControlName="designation_id"
          />
          <div
            *ngIf="
              editForm.get('designation_id')!.invalid && (editForm.get('designation_id')!.dirty || editForm.get('designation_id')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('designation_id')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('designation_id')?.errors?.max"
              hrmsTranslate="entity.validation.max"
              [translateValues]="{ max: 11 }"
            >
              This field cannot be more than 11.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('designation_id')?.errors?.number"
              hrmsTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.workShift.is_published" for="field_is_published">Is Published</label>
          <input
            type="checkbox"
            class="form-check"
            name="is_published"
            id="field_is_published"
            data-cy="is_published"
            formControlName="is_published"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.workShift.start_time" for="field_start_time">Start Time</label>
          <div class="d-flex">
            <input
              id="field_start_time"
              data-cy="start_time"
              type="datetime-local"
              class="form-control"
              name="start_time"
              formControlName="start_time"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('start_time')!.invalid && (editForm.get('start_time')!.dirty || editForm.get('start_time')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('start_time')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('start_time')?.errors?.ZonedDateTimelocal"
              hrmsTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.workShift.end_time" for="field_end_time">End Time</label>
          <div class="d-flex">
            <input
              id="field_end_time"
              data-cy="end_time"
              type="datetime-local"
              class="form-control"
              name="end_time"
              formControlName="end_time"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('end_time')!.invalid && (editForm.get('end_time')!.dirty || editForm.get('end_time')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('end_time')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('end_time')?.errors?.ZonedDateTimelocal"
              hrmsTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.workShift.start_date" for="field_start_date">Start Date</label>
          <div class="input-group">
            <input
              id="field_start_date"
              data-cy="start_date"
              type="text"
              class="form-control"
              name="start_date"
              ngbDatepicker
              #start_dateDp="ngbDatepicker"
              formControlName="start_date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="start_dateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div *ngIf="editForm.get('start_date')!.invalid && (editForm.get('start_date')!.dirty || editForm.get('start_date')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('start_date')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.workShift.end_date" for="field_end_date">End Date</label>
          <div class="input-group">
            <input
              id="field_end_date"
              data-cy="end_date"
              type="text"
              class="form-control"
              name="end_date"
              ngbDatepicker
              #end_dateDp="ngbDatepicker"
              formControlName="end_date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="end_dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('end_date')!.invalid && (editForm.get('end_date')!.dirty || editForm.get('end_date')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('end_date')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            hrmsTranslate="hrmsApp.workShift.total_work_shift_duration"
            for="field_total_work_shift_duration"
            >Total Work Shift Duration</label
          >
          <input
            type="number"
            class="form-control"
            name="total_work_shift_duration"
            id="field_total_work_shift_duration"
            data-cy="total_work_shift_duration"
            formControlName="total_work_shift_duration"
          />
          <div
            *ngIf="
              editForm.get('total_work_shift_duration')!.invalid &&
              (editForm.get('total_work_shift_duration')!.dirty || editForm.get('total_work_shift_duration')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('total_work_shift_duration')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('total_work_shift_duration')?.errors?.number"
              hrmsTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <span hrmsTranslate="global.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <span hrmsTranslate="global.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
