<div class="rounded-12-white-box announcement-box pb-2">
  <h4 class="box-title text-blue-dark text-center mb-3 pt-1">
    <span hrmsTranslate="anniversary.title">Anniversaries</span> - {{ employeesAnniversary.length }}
  </h4>
  <div class="select-option-sm-green">
    <select (change)="filterAnniversary($event)" class="form-control">
      <option [value]="eFilterMonth.THIS_MONTH" hrmsTranslate="home.filter.thisMonth.label">This Month</option>
      <option [value]="eFilterMonth.NEXT_MONTH" hrmsTranslate="home.filter.nextMonth.label">Next Month</option>
    </select>
  </div>
  <div class="dashed-divider mb-2"></div>
  <div class="pt-1">
    <div *ngIf="employeesAnniversary.length; else noAnniversaryFoundThisMonth">
      <div *ngFor="let employee of employeesAnniversary" class="announcement-item annivers-item">
        <div class="row align-items-center flex-nowrap">
          <div class="col-auto">
            <div class="annivers-img">
              <img
                *ngIf="employee?.photo_url; else showGenericAnniversaryProfilePhoto"
                [src]="employee?.photo_url"
                [alt]="employee?.photo_url"
              />
              <ng-template #showGenericAnniversaryProfilePhoto>
                <img src="../../../../content/images/person.png" alt="Person" />
              </ng-template>
            </div>
          </div>
          <div class="col">
            <h5 class="announce-name text-blue-dark">{{ employee.first_name + ' ' + employee.last_name }}</h5>
            <span *ngIf="employee.employee_designations.length" class="announce-time">{{
              employee.employee_designations[0].designation?.name
            }}</span>
          </div>
          <div class="col-auto">
            <button *ngIf="employee.is_today_anniversary; else showAnniversaryDate" class="btn btn-primary btn-tiny">
              <i class="icon-birthday-cake"></i> <span hrmsTranslate="anniversary.congrats">Congrats</span>
            </button>
            <ng-template #showAnniversaryDate>
              <span class="date-label">{{ employee.join_date | date: 'mediumDate':timeZone?.offset }}</span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noAnniversaryFoundThisMonth>
      <p class="text-center py-3" hrmsTranslate="anniversary.empty">No anniversary found!</p>
    </ng-template>
  </div>
</div>
