<form *ngIf="company" name="deleteForm" (ngSubmit)="confirmDelete(company.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="companyDeleteDialogHeading" hrmsTranslate="hrmsApp.company.delete.title">
      Confirm company delete operation
    </h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <hrms-alert-error></hrms-alert-error>

    <p id="hrms-delete-company-heading" hrmsTranslate="hrmsApp.company.delete.question">Are you sure you want to delete this Company?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <span hrmsTranslate="global.action.cancel">Cancel</span>
    </button>

    <button id="hrms-confirm-delete-company" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span hrmsTranslate="global.action.delete">Delete</span>
    </button>
  </div>
</form>
