<nav data-cy="navbar" class="navbar navbar-white navbar-expand-md app-gray-header">
  <a class="navbar-brand logo mr-0" routerLink="/" (click)="collapseNavbar()">
    <span class="app-logo">
      <img class="hide-on-mobile" src="../../../content/images/logo.svg" alt="logo" />
      <img class="show-on-mobile" src="../../../content/images/logo-icon.svg" alt="logo-icon" />
    </span>
  </a>
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon icon="bars"></fa-icon>
  </a>
  <div class="ml-auto">
    <ng-container>
      <hrms-main-navigation></hrms-main-navigation>
    </ng-container>
  </div>
  <div class="ml-auto">
    <ul class="p-0 nav-user-settings">
      <li *ngIf="isCompanyAuthenticated && !isEmployee" class="setting-item">
        <button class="btn btn-primary circle-icon-btn" routerLink="account/admin-settings" routerLinkActive="active">
          <i class="icon-settings"> </i>
        </button>
      </li>
      <li ngbDropdown class="setting-item" display="dynamic">
        <button
          *ngIf="activeLanguage?.code == languagesCode[0]; else languageButton"
          class="btn btn-primary circle-icon-btn lng-btn"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="languages"
          data-cy="languages"
          (click)="changeLanguage(languages[0])"
        >
          <span class="d-block">{{ languagesCode[1] | uppercase }}</span>
        </button>

        <ng-template #languageButton>
          <button
            class="btn btn-primary circle-icon-btn lng-btn"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="languages"
            data-cy="languages"
            (click)="changeLanguage(languages[1])"
          >
            <span class="d-block">{{ languagesCode[0] | uppercase }}</span>
          </button>
        </ng-template>
      </li>
      <li ngbDropdown class="setting-item dropdown pointer" display="dynamic">
        <button class="dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="userSetting" data-cy="userAvater">
          <div>
            <img
              class="img-square-sm"
              *ngIf="employee && employee?.photo_url; else showGenericProfilePicture"
              [src]="employee?.photo_url"
              [alt]="employee?.photo_url"
            />
            <ng-template #showGenericProfilePicture>
              <img class="img-square-sm" src="../../../../content/images/person.png" alt="person" />
            </ng-template>
          </div>
          <i class="icon-chevron-down1"></i>
        </button>
        <ul class="dropdown-menu navbar-profile-dropdown rounded-12" ngbDropdownMenu aria-labelledby="userSetting">
          <li class="navbar-profile-dropdown-header dashed-divider p-3">
            <div class="d-flex align-items-center">
              <div class="mx-2">
                <div class="dropdown-image-container">
                  <img
                    class="w-100"
                    *ngIf="employee && employee?.photo_url; else showGenericProfilePicture"
                    [src]="employee?.photo_url"
                    [alt]="employee?.photo_url"
                  />
                  <ng-template #showGenericProfilePicture>
                    <img class="w-100" src="../../../../content/images/person.png" alt="person" />
                  </ng-template>
                </div>
              </div>
              <div class="mx-2">
                <div>
                  <h5 class="fs-default text-capitalize">{{ user?.firstName }} {{ user?.lastName }}</h5>
                  <p class="m-0 fs-xs text-dark">{{ user?.email }}</p>
                </div>
              </div>
            </div>
          </li>
          <li *ngIf="employee">
            <a class="dropdown-item py-2 fs-sm" routerLink="employee/details/{{ employee?.id }}">
              <i class="icon-user2 text-primary mr-2"></i> <span hrmsTranslate="global.navbar.profile">Profile</span>
            </a>
          </li>
          <li class="dashed-divider">
            <a class="dropdown-item py-2 fs-sm" routerLink="company">
              <i class="hazira-icon-add text-primary mr-2"></i> <span hrmsTranslate="global.navbar.addCompany">Add Company</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item py-2 fs-sm" (click)="logout()">
              <i class="icon-log-out text-danger mr-2"></i>
              <span class="text-danger" hrmsTranslate="global.navbar.logout">Logout</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
    <ul class="navbar-nav ml-auto">
      <li
        *ngSwitchCase="true"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
          <span>
            <fa-icon icon="th-list"></fa-icon>
            <span hrmsTranslate="global.menu.entities.main"> Entities </span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li>
            <a
              class="dropdown-item"
              routerLink="company"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.entities.company">Company</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="role"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.entities.role">Role</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="menu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.entities.menu">Menu</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="permission-type"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.entities.permissionType">Permission Type</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="leave-type"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.entities.leaveType">Leave Type</span>
            </a>
          </li>
        </ul>
      </li>
      <li
        *hrmsHasAnyAuthority="ownerRole"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span hrmsTranslate="global.menu.admin.main">Administration</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.admin.userManagement">User management</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.admin.apidocs">API</span>
            </a>
          </li>

        </ul>
      </li>
      <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
          <span>
            <fa-icon icon="flag"></fa-icon>
            <span hrmsTranslate="global.menu.language">Language</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
          <li *ngFor="let language of languages">
            <a
              class="dropdown-item"
              [hrmsActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
              >{{ language | findLanguageFromKey }}</a
            >
          </li>
        </ul>
      </li>
      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
          <span *ngIf="!getImageUrl()">
            <fa-icon icon="user"></fa-icon>
            <span hrmsTranslate="global.menu.account.main"> Account </span>
          </span>
          <span *ngIf="getImageUrl()">
            <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar" />
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
          <li *ngSwitchCase="true">
            <a class="dropdown-item" routerLink="account/profile" routerLinkActive="active" (click)="collapseNavbar()" data-cy="settings">
              <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.account.profile">Profile</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="account/admin-settings"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="settings"
            >
              <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.account.adminSettings">Admin Settings</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="account/password"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="passwordItem"
            >
              <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.account.password">Password</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
              <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
              <span hrmshrmsTranslate="global.menu.account.logout">Sign out</span>
            </a>
          </li>
          <li *ngSwitchCase="false">
            <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" data-cy="register">
              <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
              <span hrmsTranslate="global.menu.account.register">Register</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div> -->
</nav>
