@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/cosmo/variables';
@import '~bootstrap/scss/variables';
@import '../../../content/scss/bootstrap-variables';
@import '../../../content/scss/app-variable';

/* ==========================================================================
Navbar
========================================================================== */
.app-gray-header {
  background-color: rgba($color: $header-bg, $alpha: 1) !important;
}
.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0 1rem;
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.app-logo {
  img {
    max-height: 50px;
  }
}

// Others
.page-title-breadcrumb {
  margin-left: 30px;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: $dark-shade-500;
      font-weight: 500;
      &:last-child {
        &::after {
          display: none;
        }
      }
      &:after {
        content: '/';
        margin: 0 5px;
        display: none;
      }
    }
  }
}

ul.nav-user-settings {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  .setting-item {
    list-style: none;
    margin: 0 9px;
    @include respond(break-md) {
      margin: 0 3px;
    }
  }
}
#userSetting {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  &:hover {
  }
  &:focus {
    border: none;
    box-shadow: none;
  }
  img {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background: $dark-shade-100;
    margin-right: 4px;
  }
  &:after {
    display: none;
  }
}

.navbar-profile-dropdown {
  width: 295px;
  padding: 0;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
  .navbar-profile-dropdown-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: $transparent-light;
    h5 {
      color: $gray-dark;
      font-weight: 700;
      margin: 0;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .dropdown-image-container {
      overflow: hidden;
      height: 55px !important;
      width: 55px !important;
      padding: 0.6em;
      border: 1px solid $dark-shade-100;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      img {
        width: 100%;
      }
    }
  }
}
