<form name="leaveRequestForm" role="form" novalidate (ngSubmit)="leaveRequest()" [formGroup]="leaveRequestForm">
  <div class="card green-br-rounded-card bg-white rounded-12">
    <div class="modal-body p-4">
      <div class="row justify-content-between mb-2 px-md-4">
        <h4 class="col-md-auto modal-title text-dark"><span hrmsTranslate="leaves.leaveRequest.title">Request Leave</span></h4>
        <button
          class="col-md-auto mt-0 align-self-baseline"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
          (click)="cancel()"
        >
          &times;
        </button>
      </div>
      <div class="dashed-divider mb-3"></div>

      <div class="py-2 px-4">
        <div class="row mb-2">
          <div class="col-md-6" *ngIf="!isEmployee">
            <div class="form-group">
              <label class="fs-sm text-dark-3 mb-2" for="field_employee">
                <span hrmsTranslate="hrmsApp.employee.label">Employee</span>:
              </label>
              <div>
                <select class="form-control" id="field_employee" data-cy="leave_request_employee" formControlName="employee_id">
                  <option [ngValue]="null" hrmsTranslate="hrmsApp.employee.selectBox.title">Select Employee</option>
                  <option [ngValue]="employee.id" *ngFor="let employee of employees">
                    {{ employee.first_name }} {{ employee.last_name }}
                  </option>
                </select>
                <small
                  class="form-text text-danger"
                  *ngIf="employeeIdControl?.errors?.required && (leaveRequestForm.touched || leaveRequestForm.dirty)"
                  hrmsTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fs-sm text-dark-3 mb-2" for="field_leave-type"
                ><span hrmsTranslate="leaveType.home.title">Leave Type</span>:</label
              >
              <div>
                <select
                  (change)="handleEnabledPartial($event)"
                  class="form-control"
                  id="field_leave-type"
                  data-cy="leave_type"
                  formControlName="leave_type_id"
                >
                  <option [value]="null" hrmsTranslate="leaveType.selectBox.title">Select Leave Type</option>
                  <option [value]="leaveType.id" *ngFor="let leaveType of leaveTypes">
                    {{ leaveType.name }}
                  </option>
                </select>
                <small
                  class="form-text text-danger"
                  *ngIf="leaveTypeIdControl?.errors?.required && (leaveRequestForm.touched || leaveRequestForm.dirty)"
                  hrmsTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isSelectedLeaveType" class="row mb-3">
          <div class="col-md-6">
            <div class="form-check form-check-inline form-radio-custom">
              <input
                class="form-check-input"
                type="radio"
                id="field_full_day_allowed"
                [value]="0"
                formControlName="is_partial_day_allowed"
              />
              <span class="check-mark"></span>
              <label class="fs-sm text-dark-3 radio-label" for="field_full_day_allowed" hrmsTranslate="global.filter.allDay.label">
                All day</label
              >
            </div>
          </div>
          <div class="col-md-6">
            <div *ngIf="isEnabledPartial" class="form-check form-check-inline form-radio-custom">
              <input
                class="form-check-input"
                type="radio"
                id="field_is_partial_day_allowed"
                [value]="1"
                formControlName="is_partial_day_allowed"
              />
              <span class="check-mark"></span>
              <label
                class="fs-sm text-dark-3 radio-label"
                for="field_is_partial_day_allowed"
                hrmsTranslate="global.filter.partialDay.label"
              >
                Part of the day
              </label>
            </div>
          </div>
        </div>

        <label class="fs-sm text-dark-3 mb-2" *ngIf="isSelectedLeaveType" hrmsTranslate="global.form.date.label">Date</label>
        <div class="row mb-3" *ngIf="isPartialDayAllowed && isSelectedLeaveType">
          <div class="col-md-12">
            <div class="field-append-icon">
              <input
                id="field_partial_leave_date"
                placeholder="yyyy-mm-dd"
                data-cy="partial_leave_date"
                type="text"
                class="form-control form-control-h40 rounded-12"
                name="partial_leave_date"
                ngbDatepicker
                #partial_leave_dateDp="ngbDatepicker"
                formControlName="start_date"
                [minDate]="minDate"
                [markDisabled]="markDisabled"
              />
              <button type="button" class="field-icon icon-calendar2" (click)="partial_leave_dateDp.toggle()"></button>
            </div>
            <small
              class="form-text text-danger"
              *ngIf="startDateControl?.errors?.required && (leaveRequestForm.touched || leaveRequestForm.dirty)"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div *ngIf="!isPartialDayAllowed && isSelectedLeaveType" class="mb-3">
          <div class="row align-items-center">
            <div class="col-md">
              <div class="field-append-icon">
                <input
                  id="field_start_date"
                  data-cy="start_date"
                  placeholder="yyyy-mm-dd"
                  type="text"
                  class="form-control form-control-h40 rounded-12"
                  name="start_date"
                  ngbDatepicker
                  #startDatePicker="ngbDatepicker"
                  formControlName="start_date"
                  [minDate]="minDate"
                  [markDisabled]="markDisabled"
                />
                <span class="input-group-append">
                  <button type="button" class="field-icon icon-calendar2" (click)="startDatePicker.toggle()"></button>
                </span>
              </div>
            </div>
            <div class="col-md-auto px-md-0"><span hrmsTranslate="global.form.to.label"> To </span></div>
            <div class="col-md">
              <div class="field-append-icon">
                <input
                  id="field_end_date"
                  data-cy="end_date"
                  type="text"
                  placeholder="yyyy-mm-dd"
                  class="form-control form-control-h40 rounded-12"
                  name="end_date"
                  ngbDatepicker
                  #endDatePicker="ngbDatepicker"
                  formControlName="end_date"
                  [minDate]="minDate"
                  [markDisabled]="markDisabled"
                />
                <span class="input-group-append">
                  <button type="button" class="field-icon icon-calendar2" (click)="endDatePicker.toggle()"></button>
                </span>
              </div>
            </div>
          </div>
          <small
            *ngIf="leaveRequestForm.errors?.dateValid && (leaveRequestForm.touched || leaveRequestForm.dirty)"
            class="text-danger"
            hrmsTranslate="entity.validation.validDateRange"
          >
            Please select a valid date range From and To date.
          </small>
          <ng-container *ngIf="advanceLeaveBookDayErrorMessage != ''">
            <p class="text-danger">
              {{ advanceLeaveBookDayErrorMessage }}
            </p>
          </ng-container>
        </div>

        <div *ngIf="isPartialDayAllowed && isSelectedLeaveType" class="mb-3">
          <label class="fs-sm text-dark-3 mb-2" hrmsTranslate="global.form.time.label">Time</label>
          <div class="row align-items-center">
            <div class="col-md">
              <div>
                <input
                  class="form-control rounded-12"
                  type="time"
                  id="field_start_time"
                  data-cy="start_time"
                  formControlName="start_time"
                />
              </div>
            </div>
            <div class="col-md-auto">
              <span class="fs-sm text-dark-3"> To </span>
            </div>
            <div class="col-md">
              <div class="">
                <input class="form-control rounded-12" type="time" id="field_end_time" data-cy="end_time" formControlName="end_time" />
              </div>
            </div>
          </div>
          <small
            *ngIf="leaveRequestForm.errors?.timeValid && (leaveRequestForm.touched || leaveRequestForm.dirty)"
            class="text-danger"
            hrmsTranslate="entity.validation.validTimeRange"
          >
            Please select a valid time range From and To time.
          </small>
        </div>

        <div class="mb-4">
          <label class="fs-sm text-dark-3 mb-2" name="comments" for="field_comments"
            ><span hrmsTranslate="leaves.leaveReason.label">Reason</span>:</label
          >
          <textarea
            class="form-control rounded-12"
            rows="4"
            name="comments"
            id="field_comments"
            data-cy="comments"
            formControlName="comments"
          >
          </textarea>
          <small
            class="form-text text-danger"
            *ngIf="commentsControl?.errors?.required && (leaveRequestForm.touched || leaveRequestForm.dirty)"
            hrmsTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div class="dashed-divider mb-3"></div>

      <div class="d-flex justify-content-end">
        <button
          type="button"
          (click)="cancel()"
          class="btn btn-outline-primary px-3 py-2 btn-h-47 px-4 mr-2"
          hrmsTranslate="global.action.cancel"
        >
          <span hrmsTranslate="global.action.cancel">Cancel</span>
        </button>
        <button
          [disabled]="leaveRequestForm.invalid"
          class="btn btn-primary btn-h-47 px-4 mr-2"
          type="submit"
          hrmsTranslate="global.action.save"
        >
          <span hrmsTranslate="global.action.save">Save</span>
        </button>
      </div>
    </div>
  </div>
</form>
