<div class="rounded-12-white-box time-clock pb-2">
  <h4 class="box-title text-blue-dark text-center mb-3 pt-1">
    <span hrmsTranslate="leaves.onLeave.title">On Leaves</span> - {{ leaves.length }}
  </h4>
  <div class="dashed-divider mb-2"></div>
  <div class="pt-1 box-container">
    <div *ngIf="leaves.length > 0; else noOnLeavesFound">
      <div *ngFor="let leave of leaves" class="row flex-nowrap align-items-center employee-item">
        <div class="col-auto employee-img mb-1 pr-0">
          <img
            *ngIf="leave.employee.photo_url; else showGenericProfilePicture"
            [src]="leave.employee.photo_url"
            [alt]="leave.employee.photo_url"
          />
          <ng-template #showGenericProfilePicture>
            <img src="../../../../content/images/person.png" alt="person" />
          </ng-template>
        </div>
        <div class="col employee-info">
          <h6 class="employee-name text-blue-dark">{{ leave.employee?.first_name + ' ' + leave.employee?.last_name }}</h6>
          <ng-container *ngIf="leave.employee?.employee_designations && leave.employee.employee_designations?.length">
            <span class="employee-designation fs-xs">{{ leave.employee.employee_designations[0].designation.name }}</span>
          </ng-container>
        </div>
        <div class="col-auto">
          <span class="employee-availablity fs-xs">{{ leave.leaveType.name }}</span>
        </div>
      </div>
    </div>
    <ng-template #noOnLeavesFound>
      <p class="text-center py-3" hrmsTranslate="leaves.onLeave.empty">No Leaves</p>
    </ng-template>
  </div>
</div>
