<div *ngIf="isLoading">
  <hrms-transparent-spinner></hrms-transparent-spinner>
</div>
<div class="rounded-12-white-box time-clock pb-2">
  <h4 class="box-title text-blue-dark text-center mb-3 pt-1">
    <span hrmsTranslate="hrmsApp.employee.online.title">Who’s on Now</span> - {{ onlineEmployees.length }}
  </h4>
  <div class="dashed-divider mb-2"></div>
  <div class="box-container">
    <div *ngIf="onlineEmployees.length > 0; else noEmployeesAreOnline">
      <div *ngFor="let timeClock of onlineEmployees; let i = index" class="row flex-nowrap align-items-center employee-item">
        <div class="col-auto employee-img mb-1 pr-0">
          <img
            *ngIf="timeClock?.employee?.photo_url; else showGenericProfilePicture"
            [src]="timeClock?.employee?.photo_url"
            [alt]="timeClock?.employee?.photo_url"
          />
          <ng-template #showGenericProfilePicture>
            <img src="../../../../content/images/person.png" alt="Person" />
          </ng-template>
        </div>
        <div class="col employee-info">
          <h6 class="employee-name text-blue-dark">{{ timeClock.employee.first_name }} {{ timeClock.employee.last_name }}</h6>
          <span class="employee-designation fs-xs">{{ timeClock.designation?.name }}</span>
        </div>
        <div class="col-auto">
          <span *ngIf="timeClock?.isOnBreak; else activeStatus" class="employee-availablity fs-xs break-emp">Break</span>
          <ng-template #activeStatus>
            <span *ngIf="timeClock?.clock_start_time" class="employee-availablity fs-xs active-emp"> Active </span>
            <span *ngIf="timeClock?.pre_clock_time && !timeClock?.clock_start_time" class="employee-availablity fs-xs on-the-way-emp">
              On the way
            </span>
          </ng-template>
        </div>
      </div>
    </div>
    <ng-template #noEmployeesAreOnline>
      <p class="text-center py-3" hrmsTranslate="hrmsApp.employee.online.empty">No employees are online!</p>
    </ng-template>
  </div>
</div>
