@import '../../../../content/scss/app-variable';

.online-status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: greenyellow;
  display: inline-block;
  margin-left: 1em;
}

.employee-item {
  padding: 10px 0;

  .employee-img {
    img {
      height: 39px;
      width: 39px;
      border-radius: 100%;
    }
  }

  .employee-info {
    .employee-name {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0;
    }

    .employee-designation {
      color: $dark-shade-200;
    }
  }

  .employee-availablity {
    color: $dark-shade-200;

    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      margin-right: 8px;
    }

    &.active-emp {
      &::before {
        background: rgba($color: $primary, $alpha: 1);
      }
    }

    &.late-emp {
      &::before {
        background: rgba($color: $app-danger, $alpha: 1);
      }
    }
  }
}

.time-clock {
  padding: 22px 17px;
}

.employee-availablity {
  color: $dark-shade-200;

  &::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right: 8px;
  }

  &.active-emp {
    &::before {
      background: rgba($color: $primary, $alpha: 1);
    }
  }

  &.late-emp {
    &::before {
      background: rgba($color: $app-danger, $alpha: 1);
    }
  }

  &.break-emp {
    &::before {
      background: rgba($color: $app-warning, $alpha: 1);
    }
  }

  &.on-the-way-emp {
    &::before {
      background: rgba($color: $gray-dark, $alpha: 1);
    }
  }
}
