<ng-container>
  <div class="modal-body p-4">
    <div class="row justify-content-between px-md-4">
      <h4 class="col-md-auto modal-title text-dark pl-md-0"><span [hrmsTranslate]="title">title</span></h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider my-3"></div>
    <div class="p-3">
      <p class="fs-default text-dark-3" [hrmsTranslate]="bodyText">bodyText</p>
      <textarea
        *ngIf="modalType === eModalReasonType.APPROVED || modalType === eModalReasonType.REJECTED"
        class="form-control rounded-12"
        placeholder="{{ 'global.form.note.optional.placeholder' | translate }}"
        [(ngModel)]="note"
        rows="4"
      ></textarea>
    </div>
    <div class="dashed-divider my-3"></div>
    <div class="d-flex justify-content-end">
      <button
        type="button"
        (click)="cancel()"
        class="btn btn-outline-primary px-3 py-2 btn-h-47 px-4 mr-2"
        hrmsTranslate="global.action.cancel"
      >
        <span hrmsTranslate="global.action.cancel">Cancel</span>
      </button>
      <button (click)="confirm()" class="btn {{ successButtonClass }} btn-h-47 px-4 mr-2" type="button">
        <span [hrmsTranslate]="successButtonLabel">Button Label</span>
      </button>
    </div>
  </div>
</ng-container>
