<div class="p-2">
  <div class="inner-body-report-scrollbar pt-4">
    <div class="bg-white p-3 rounded-8">
      <div class="page-action-toolbar">
        <hrms-generic-filter-form [isLoading]="isLoading" (filterApply)="filter($event)" (filterReset)="resetLocationHistory()">
        </hrms-generic-filter-form>
        <div *ngIf="!timeSheetLocationHistory.length">
          <p hrmsTranslate="global.filter.chooseFilter.title">Please select filters above.</p>
        </div>

        <div *ngIf="timeSheetLocationHistory.length" class="text-right">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="time-sheet-attendance-export"
              ngbDropdownToggle
              hrmsTranslate="global.action.export"
            >
              Export
            </button>
            <div ngbDropdownMenu aria-labelledby="time-sheet-late-summary-export">
              <button ngbDropdownItem (click)="export(EExportType.PDF)" hrmsTranslate="global.action.exportType.pdf">PDF</button>
              <button ngbDropdownItem (click)="export(EExportType.XLSX)" hrmsTranslate="global.action.exportType.excel">Excel</button>
            </div>
          </div>
        </div>
        <div
          *ngIf="timeSheetLocationHistory.length"
          class="table-responsive leave-balance green-br-rounded-card mb-0 border-cellsolid-gray bg-white mt-2"
        >
          <table class="head-bg-table text-center" *ngIf="timeSheetLocationHistory.length; else noTimeSheetManageFound">
            <thead>
              <tr>
                <th scope="col" hrmsTranslate="timeSheet.table.date.column">Date</th>
                <th scope="col" hrmsTranslate="hrmsApp.employee.label">Employee</th>
                <th scope="col" hrmsTranslate="timeSheet.table.clockIn.column">Clock in</th>
                <th scope="col" hrmsTranslate="timeSheet.table.clockOut.column">Clock out</th>
                <th scope="col" hrmsTranslate="timeSheet.table.length.column">Length</th>
                <th scope="col" hrmsTranslate="timeSheet.table.break.column">Break</th>
                <th scope="col" hrmsTranslate="timeSheet.table.branch.label">Branch</th>
                <th scope="col" hrmsTranslate="timeSheet.table.designation.label">Designation</th>
                <th scope="col" hrmsTranslate="timeSheet.table.clockInLocation.label">Clock In location</th>
                <th scope="col" hrmsTranslate="timeSheet.table.clockOutLocation.label">Clock Out location</th>
              </tr>
            </thead>
            <tbody class="vertical-align-middle" *ngFor="let timeSheet of timeSheetLocationHistory; let i = index">
              <tr>
                <td class="font-weight-bold m-0 mb-2">
                  {{ timeSheet?.date }}
                </td>
                <td>
                  {{ timeSheet?.employee_name }}
                </td>
                <td>{{ timeSheet?.clock_start_time }}</td>
                <td>{{ timeSheet?.clock_end_time }}</td>
                <td>{{ timeSheet?.total_clock_duration | formatTime: eTimeType.SECOND }}</td>
                <td *ngIf="timeSheet.total_break_duration; else no_break">
                  {{ timeSheet?.total_break_duration | formatTime: eTimeType.SECOND }}
                </td>
                <ng-template #no_break>
                  <td>No break</td>
                </ng-template>
                <td>{{ timeSheet?.branch_name }}</td>
                <td>{{ timeSheet?.designation_name }}</td>
                <td>
                  <a
                    target="_blank"
                    href="https://maps.google.com/?q={{ timeSheet?.clockin_latitude }},{{ timeSheet?.clockin_longitude }}"
                    >{{ timeSheet?.clockin_location }}</a
                  >
                </td>
                <td>
                  <a
                    target="_blank"
                    href="https://maps.google.com/?q={{ timeSheet?.clockout_latitude }},{{ timeSheet?.clockout_longitude }}"
                    >{{ timeSheet?.clockout_location }}</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #noTimeSheetManageFound>
            <p class="text-center mt-5" hrmsTranslate="timeSheet.empty">No Time Sheet found</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
