<div class="confirm-wrapper">
  <div class="container">
    <div class="confirm-container p-5 bg-white border rounded-12 shadow">
      <div class="text-center">
        <img class="w-75" src="../../../content/images/logo.svg" alt="logo" />
      </div>
      <div class="text-center mt-4">
        <div class="alert alert-success" *ngIf="isSuccess; else confirmBlock">
          <span>
            <strong>{{ successMessage }}</strong>
          </span>
        </div>

        <button *ngIf="isSuccess" (click)="previousState()" class="btn btn-block btn-outline-primary btn-h-56 my-3">Back to login</button>

        <ng-template #confirmBlock>
          <ng-container *ngIf="isError">
            <div class="alert alert-danger" *ngIf="error">
              {{ error.message }}
            </div>
          </ng-container>
          <div>
            <p class="fs-default my-4" hrmsTranslate="hrmsApp.employee.confirmAccount.label">Please confirm your account</p>
            <button
              (click)="confirmAccount()"
              class="btn btn-block btn-primary btn-h-56 my-3"
              hrmsTranslate="hrmsApp.employee.button.confirmAccount.label"
            >
              Confirm Your Account
            </button>
            <button
              (click)="previousState()"
              class="btn btn-block btn-outline-primary btn-h-56 my-3"
              hrmsTranslate="global.action.backToLogin"
            >
              Back to login
            </button>
            <div class="mt-4">
              <a
                class="fs-sm text-dark"
                (click)="sendConfirmationEmail()"
                type="button"
                hrmsTranslate="hrmsApp.employee.sendAgainEmail.label"
              >
                Send again confirmation
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
