.confirm-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  top: 0;
  left: 0;

  .confirm-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
