<hrms-full-screen-spinner *ngIf="loading; else registerEmployeeTemplate"></hrms-full-screen-spinner>
<ng-template #registerEmployeeTemplate>
  <div class="login-wrapper px-0">
    <div class="row align-items-center h-100 w-100 m-0">
      <div class="col-md-5 hide-on-mobile">
        <div class="row login-cover-side text-white py-5 align-items-center justify-content-center">
          <div class="col-12 px-4">
            <div class="text-center my-4 login-image-container">
              <img class="w-50" src="../../content/images/register-step-2.svg" alt="register-desk" />
            </div>

            <div>
              <h1 class="text-center mb-3 mt-5">Enhance employee experience</h1>
              <p class="text-center px-5 text-white-op-7">
                You value your employees, so do we. That’s why Hazira built a platform that focuses on employee experience through a
                user-friendly interface and top industry rated mobile application.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 py-5">
        <div class="login-area">
          <div class="text-center login-logo pt-4">
            <img src="../../../content/images/logo.svg" alt="logo" />
          </div>
          <div>
            <h2 class="text-center text-dark mb-5" hrmsTranslate="register.employee.title" data-cy="registerTitle">
              Create an employee account
            </h2>

            <div class="alert alert-success" *ngIf="success" hrmsTranslate="register.messages.success">
              <strong>Registration saved!</strong> Please check your email for confirmation.
              <p routerLink="/login">Go to login page</p>
            </div>

            <div class="alert alert-danger" *ngIf="error" hrmsTranslate="register.messages.error.fail">
              <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" hrmsTranslate="global.messages.error.dontmatch">
              The password and its confirmation do not match!
            </div>

            <form *ngIf="!success" class="mt-4" name="form" role="form" (submit)="register()" [formGroup]="registerForm">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <div class="field-left-icon">
                      <input
                        class="form-control input-h-54px"
                        id="register_employee_username"
                        name="firstName"
                        placeholder="{{ 'global.form.firstName.placeholder' | translate }}"
                        formControlName="firstName"
                        data-cy="register_employee_firstName"
                      />
                      <i class="icon-user2 text-primary left-icon"></i>
                      <div
                        *ngIf="
                          registerForm.get('firstName')!.invalid &&
                          (registerForm.get('firstName')!.dirty || registerForm.get('firstName')!.touched)
                        "
                      >
                        <small
                          class="form-text text-danger"
                          *ngIf="registerForm.get('firstName')?.errors?.required"
                          hrmsTranslate="register.messages.validate.firstName.required"
                        >
                          This field is required.
                        </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <div class="field-left-icon">
                      <input
                        class="form-control input-h-54px"
                        id="register_employee_lastName"
                        name="lastName"
                        placeholder="{{ 'global.form.lastName.placeholder' | translate }}"
                        formControlName="lastName"
                        data-cy="register_employee_lastName"
                      />
                      <i class="icon-user2 text-primary left-icon"></i>
                      <div
                        *ngIf="
                          registerForm.get('lastName')!.invalid &&
                          (registerForm.get('lastName')!.dirty || registerForm.get('lastName')!.touched)
                        "
                      >
                        <small
                          class="form-text text-danger"
                          *ngIf="registerForm.get('lastName')?.errors?.required"
                          hrmsTranslate="register.messages.validate.lastName.required"
                        >
                          This field is required.
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="field-left-icon">
                  <input
                    class="form-control input-h-54px"
                    id="register_employee_username"
                    name="username"
                    placeholder="{{ 'global.form.username.placeholder' | translate }}"
                    formControlName="username"
                    data-cy="register_employee_username"
                  />
                  <i class="icon-user2 text-primary left-icon"></i>
                  <div
                    *ngIf="
                      registerForm.get('username')!.invalid &&
                      (registerForm.get('username')!.dirty || registerForm.get('username')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('username')?.errors?.required"
                      hrmsTranslate="register.messages.validate.username.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="field-left-icon">
                  <input
                    class="form-control input-h-54px"
                    id="register_employee_email"
                    name="email"
                    placeholder="{{ 'global.form.email.placeholder' | translate }}"
                    formControlName="email"
                    data-cy="register_employee_email"
                  />
                  <i class="icon-mail1 text-primary left-icon"></i>
                  <div
                    *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)"
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('email')?.errors?.required"
                      hrmsTranslate="register.messages.validate.email.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="field-left-icon">
                  <input
                    class="form-control input-h-54px"
                    id="company_phone"
                    name="phone"
                    placeholder="{{ 'global.form.phone.placeholder' | translate }}"
                    formControlName="phone"
                    data-cy="company_phone"
                  />
                  <i class="icon-phone2 text-primary left-icon"></i>
                  <div
                    *ngIf="registerForm.get('phone')!.invalid && (registerForm.get('phone')!.dirty || registerForm.get('phone')!.touched)"
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('phone')?.errors?.required"
                      hrmsTranslate="register.messages.validate.phone.required"
                    >
                      This field is required.
                    </small>

                    <div *ngIf="!registerForm.get('phone')?.errors?.pattern">
                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('phone')?.errors?.maxlength"
                        hrmsTranslate="register.messages.validate.phone.maxlength"
                        [translateValues]="{ max: 11 }"
                      >
                        This field cannot be longer than 11 digits.
                      </small>

                      <small
                        class="form-text text-danger"
                        *ngIf="registerForm.get('phone')?.errors?.maxlength"
                        hrmsTranslate="register.messages.validate.phone.minlength"
                        [translateValues]="{ min: 11 }"
                      >
                        This field cannot be smaller than 11 digits.
                      </small>
                    </div>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('phone')?.errors?.pattern"
                      hrmsTranslate="register.messages.validate.phone.pattern"
                    >
                      Please enter valid phone number
                    </small>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="field-left-icon">
                  <input
                    #register_password
                    type="password"
                    class="form-control input-h-54px"
                    id="password"
                    name="password"
                    placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                    formControlName="password"
                    data-cy="firstPassword"
                  />
                  <button
                    type="button"
                    (click)="register_password.type = register_password.type === 'password' ? 'text' : 'password'"
                    class="input-action"
                  >
                    <i [class]="register_password.type === 'password' ? 'icon-eye-off' : 'icon-eye2'"></i>
                  </button>
                  <i class="icon-lock2 text-primary left-icon"></i>
                </div>

                <div
                  *ngIf="
                    registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
                  "
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('password')?.errors?.required"
                    hrmsTranslate="global.messages.validate.newpassword.required"
                  >
                    Your password is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('password')?.errors?.minlength"
                    hrmsTranslate="global.messages.validate.newpassword.minlength"
                  >
                    Your password is required to be at least 4 characters.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('password')?.errors?.maxlength"
                    hrmsTranslate="global.messages.validate.newpassword.maxlength"
                  >
                    Your password cannot be longer than 50 characters.
                  </small>
                </div>
                <div *ngIf="registerForm.get('password')!.value">
                  <hrms-password-strength-bar class="app-password-strength" [passwordToCheck]="registerForm.get('password')!.value">
                  </hrms-password-strength-bar>
                </div>
              </div>

              <div class="form-group mb-5">
                <div class="field-left-icon">
                  <input
                    #register_confirm_password
                    type="password"
                    class="form-control input-h-54px"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                    formControlName="confirmPassword"
                    data-cy="secondPassword"
                  />
                  <button
                    type="button"
                    (click)="register_confirm_password.type = register_confirm_password.type === 'password' ? 'text' : 'password'"
                    class="input-action"
                  >
                    <i [class]="register_confirm_password.type === 'password' ? 'icon-eye-off' : 'icon-eye2'"></i>
                  </button>
                  <i class="icon-lock2 text-primary left-icon"></i>
                </div>

                <div
                  *ngIf="
                    registerForm.get('confirmPassword')!.invalid &&
                    (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
                  "
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                    hrmsTranslate="global.messages.validate.confirmpassword.required"
                  >
                    Your confirmation password is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                    hrmsTranslate="global.messages.validate.confirmpassword.minlength"
                  >
                    Your confirmation password is required to be at least 4 characters.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                    hrmsTranslate="global.messages.validate.confirmpassword.maxlength"
                  >
                    Your confirmation password cannot be longer than 50 characters.
                  </small>
                </div>
              </div>
              <button
                type="submit"
                [disabled]="registerForm.invalid || isSaving"
                class="btn btn-block btn-primary mb-5 fs-default btn-h-56"
                data-cy="submit"
              >
                <div *ngIf="isSaving" class="spinner-border spinner-border-sm mx-3" role="status"></div>
                <span hrmsTranslate="register.form.button">Sign Up</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<hrms-app-toasts></hrms-app-toasts>
