<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Application</a>
    <ng-template ngbNavContent>
      <hrms-company-settings-application></hrms-company-settings-application>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Shift Planning</a>
    <ng-template ngbNavContent>
      <hrms-company-settings-shift-planning></hrms-company-settings-shift-planning>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Time Clock</a>
    <ng-template ngbNavContent>
      <hrms-company-settings-time-clock></hrms-company-settings-time-clock>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Leave & Availability</a>
    <ng-template ngbNavContent>
      <hrms-company-settings-leave-availability></hrms-company-settings-leave-availability>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>File Upload</a>
    <ng-template ngbNavContent>
      <hrms-file-upload></hrms-file-upload>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div> -->

<div class="row">
  <div class="col-md-auto hide-on-mobile">
    <hrms-settings-sidebar></hrms-settings-sidebar>
  </div>
  <div class="col-md p-0">
    <div class="inner-body-scrollbar custom-scrollable scrollable-y">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
