<div class="modal-body p-4">
  <form name="updateWorkShiftForm" role="form" [formGroup]="updateWorkShiftForm">
    <div class="row mb-2 px-md-4 justify-content-between">
      <h4 class="col-md-auto modal-title text-dark" hrmsTranslate="hrmsApp.workShift.update.title">Update Work Shift</h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider mb-3"></div>

    <div class="mb-3 text-right"></div>
    <div class="my-3 px-md-4 py-3">
      <p class="mb-2 fs-sm ml-1 text-blue-dark" hrmsTranslate="hrmsApp.workShift.update.titleLabel">Title</p>
      <div class="form-group ml-1">
        <input type="text" placeholder="Title" class="form-control" name="title" formControlName="title" />
      </div>

      <p class="mb-2 fs-sm ml-1 text-blue-dark" hrmsTranslate="hrmsApp.workShift.update.dateLabel">Date</p>
      <div class="row flex-nowrap align-items-center mb-2">
        <div class="col mb-2">
          <div class="form-group mb-0">
            <input type="date" placeholder="Start date" class="form-control" name="start_date" formControlName="start_date" />
          </div>
        </div>
        <div class="col-auto px-0 mb-2 font-weight-bold">-</div>
        <div class="col mb-2">
          <div class="form-group mb-0">
            <input type="date" placeholder="End date" class="form-control" name="end_date" formControlName="end_date" />
          </div>
        </div>
      </div>

      <p class="mb-2 fs-sm ml-1 text-blue-dark" hrmsTranslate="hrmsApp.workShift.update.timeLabel">Time</p>
      <div class="row flex-nowrap align-items-center mb-1">
        <div class="col mb-2">
          <div class="form-group mb-0">
            <input type="time" placeholder="Start time" class="form-control" name="start_time" formControlName="start_time" />
          </div>
        </div>
        <div class="col-auto px-0 font-weight-bold">-</div>
        <div class="col mb-2">
          <div class="form-group mb-0">
            <input type="time" placeholder="End date" class="form-control" name="end_time" formControlName="end_time" />
          </div>
        </div>
        <div class="col-auto mb-2 px-0 font-weight-bold">-</div>
        <div class="col mb-2">
          <div class="form-group mb-0">
            <input type="text" class="form-control" name="timeDifference" formControlName="timeDifference" />
          </div>
        </div>
      </div>

      <ng-container *ngIf="shiftPlanningSettings?.required_skills_on_shift !== 0">
        <div class="form-group ml-1">
          <p class="mb-2 fs-sm ml-1 pt-2 text-blue-dark" hrmsTranslate="hrmsApp.workShift.update.requireSkillLabel">Add Required Skills</p>
          <div class="mb-2">
            <ng-multiselect-dropdown
              [placeholder]="'Select Skills'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedSkills"
              formControlName="skills"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isNotePermitted">
        <p class="mb-2 fs-sm ml-1 text-blue-dark" hrmsTranslate="hrmsApp.workShift.update.noteLabel">Note</p>
        <div class="row flex-nowrap align-items-center mb-1">
          <div class="col mb-2">
            <div class="form-group mb-0">
              <ng-container>
                <textarea
                  placeholder="Note"
                  cols="30"
                  rows="3"
                  class="form-control form-control-h-auto"
                  name="note"
                  formControlName="note"
                ></textarea>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>

  <div *ngIf="!isEmployee" class="text-right pt-4 px-md-4">
    <button type="button" class="btn btn-outline-primary btn-h-47 px-4 mr-2" (click)="cancel()" hrmsTranslate="global.action.cancel">
      Cancel
    </button>
    <button
      *ngIf="!isEmployee || (isAllowEmployeeToAddWorkShift && shiftPlanningSettings?.employee_can_drop_shifts)"
      (click)="delete()"
      class="btn btn-danger btn-h-47 px-4 mr-2"
      [disabled]="!hideDeleteButton"
      hrmsTranslate="hrmsApp.workShift.deletedButton"
    >
      Delete this shift
    </button>
    <button (click)="update()" class="btn btn-primary btn-h-47 px-4" hrmsTranslate="hrmsApp.workShift.updateButton">Save</button>
  </div>
</div>
