<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="role">
      <h2 data-cy="roleDetailsHeading"><span hrmsTranslate="hrmsApp.role.detail.title">Role</span></h2>

      <hr />

      <hrms-alert-error></hrms-alert-error>

      <hrms-alert></hrms-alert>

      <dl class="row-md jh-entity-details">
        <dt><span hrmsTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ role.id }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.role.menus">Menus</span></dt>
        <dd>
          <span>{{ role.menus }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.role.is_active">Is Active</span></dt>
        <dd>
          <span>{{ role.is_active }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.role.is_deleted">Is Deleted</span></dt>
        <dd>
          <span>{{ role.is_deleted }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.role.applicationType">Application Type</span></dt>
        <dd>
          <div *ngIf="role.applicationType">
            <a [routerLink]="['/application-type', role.applicationType?.id, 'view']">{{ role.applicationType?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hrmsTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/role', role.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hrmsTranslate="global.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
