<div class="inner-body-leave-scrollbar">
  <div class="page-action-toolbar mb-3">
    <div *ngIf="employeeCanRequestLeave" class="mb-4">
      <button
        (click)="showLeaveRequestModal()"
        class="btn btn-primary inner-nav-btn d-flex align-items-center rounded-12 ml-auto"
        hrmsTranslate="leaves.button.requestLeave.label"
      >
        Request Leave
      </button>
    </div>
    <div class="leave-balance light-dashed-table px-4 py-2 border-light-gray bg-white mb-3">
      <h3 class="text-blue-dark h5 py-2" hrmsTranslate="leaves.leaveBalance.title">Leave Balance</h3>
      <table *ngIf="leaveBalances.length; else noLeaveBalanceFound" class="head-bg-table">
        <thead>
          <tr>
            <th width="150" class="text-center" hrmsTranslate="leaves.table.leaveType.column">Leave Types</th>
            <th class="text-center" hrmsTranslate="leaves.table.leaveDays.column">Entitled Leave Days</th>
            <th width="200" class="text-center" hrmsTranslate="leaves.table.leaveAmmount.column">Remaining Leave Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leaveBalance of leaveBalances">
            <td class="text-center">{{ leaveBalance.leaveType?.name }}</td>
            <td class="text-center">{{ leaveBalance.allocated_leave_mins | minutesToDays }}</td>
            <td class="text-center">{{ leaveBalance.remaining_leave_mins | minutesToDays }}</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noLeaveBalanceFound>
        <p hrmsTranslate="leaves.leaveBalance.empty">No leave balance found</p>
      </ng-template>
    </div>

    <div class="leave-balance light-dashed-table px-4 py-3 mb-3 border-light-gray bg-white">
      <h3 class="h5 text-blue-dark py-2" hrmsTranslate="leaves.awaitingApproval.title">Awaiting Approval</h3>
      <ng-container *ngIf="pendingLeaves.length; else noPendingLeavesFound">
        <hrms-leave-table
          [rows]="pendingLeaves"
          [timeZone]="timeZone"
          actionButtonLabel="global.action.cancel"
          actionButtonClass="btn-danger"
          (showCancelModalEmitter)="showCancelModal($event)"
        ></hrms-leave-table>
      </ng-container>
      <ng-template #noPendingLeavesFound>
        <p hrmsTranslate="leaves.pendingLeave.empty">No pending leaves found</p>
      </ng-template>
    </div>

    <div class="leave-balance light-dashed-table px-4 py-3 border-light-gray bg-white">
      <h3 class="h5 text-blue-dark py-2" hrmsTranslate="leaves.upcomingTimeOff.title">Upcoming time off</h3>
      <ng-container *ngIf="upcomingLeaves.length; else noPendingLeavesFound">
        <hrms-leave-table
          [rows]="upcomingLeaves"
          [timeZone]="timeZone"
          [leaveSettings]="leaveSettings"
          actionButtonLabel="global.action.review"
          actionButtonClass="btn-primary"
          (showCancelModalEmitter)="showRequestModal($event)"
        ></hrms-leave-table>
      </ng-container>
      <ng-template #noPendingLeavesFound>
        <p hrmsTranslate="leaves.upcomingLeave.empty">No upcoming leaves found</p>
      </ng-template>
    </div>
  </div>
</div>
