<hrms-transparent-spinner *ngIf="isLoading; else employeeList"></hrms-transparent-spinner>
<ng-template #employeeList>
  <div class="item-list-box rounded-4">
    <div class="item-list-action-header pt-4 px-4 pb-0">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <div class="row align-items-center" [formGroup]="employeeFilterForm">
            <div class="col-md-auto">
              <div class="table-search-bar">
                <i class="hazira-icon-search search-icon"></i>
                <input
                  type="text"
                  class="form-control rounded-12"
                  placeholder="Search by name"
                  formControlName="search_text"
                  placeholder="{{ 'global.form.searchByName.placeholder' | translate }}"
                />
              </div>
            </div>
            <div class="col-auto pr-0">
              <label class="mb-0 white-space-nowrap" hrmsTranslate="hrmsApp.employee.filterBy.label">Filter by</label>
            </div>
            <div class="col-auto pr-0">
              <div class="nav-item dropdown pointer">
                <div ngbDropdown class="nav-item dropdown pointer" display="dynamic">
                  <button
                    class="dropdown-toggle dropdown-toggle form-control input-h-47px rounded-12"
                    ngbDropdownToggle
                    href="javascript:void(0);"
                    id="employee_branch_filter"
                    data-cy="branches"
                    [value]="employeeFilterForm.controls['branch_id']?.value"
                  >
                    <span *ngIf="selectedBranch">{{ selectedBranch }}</span>
                    <span *ngIf="!selectedBranch" hrmsTranslate="hrmsApp.employee.filter.branch.label"> Branch </span>
                  </button>
                  <ul class="dropdown-menu skill-dropwdown rounded-8" ngbDropdownMenu aria-labelledby="branches">
                    <ng-container *ngIf="branches.length; else noBranchFoundDropdown">
                      <li *ngFor="let branch of branches" class="skill-row py-1 px-0">
                        <button (click)="changeBranch(branch?.id)" ngbDropdownItem>
                          {{ branch.name }}
                        </button>
                      </li>
                    </ng-container>
                    <ng-template #noBranchFoundDropdown>
                      <li lass="skill-row">
                        <label class="p-2" hrmsTranslate="hrmsApp.designation.home.notFound">No Branch Found</label>
                      </li>
                    </ng-template>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-auto pr-0">
              <div ngbDropdown class="nav-item dropdown pointer" display="dynamic">
                <button
                  class="dropdown-toggle dropdown-toggle form-control input-h-47px rounded-12"
                  ngbDropdownToggle
                  href="javascript:void(0);"
                  id="location"
                  data-cy="locations"
                >
                  <span hrmsTranslate="hrmsApp.employee.filter.designation.label"> Designation </span>
                </button>
                <ul class="dropdown-menu skill-dropwdown rounded-8" ngbDropdownMenu aria-labelledby="location">
                  <ng-container *ngIf="designations.length; else noPositionFoundDropdown">
                    <li *ngFor="let designation of designations; let i = index" class="skill-row py-1">
                      <div class="form-check-custom">
                        <input
                          (change)="handleDesignation($event)"
                          type="checkbox"
                          id="employee-filter-checkbox-designation{{ designation.id }}"
                          [value]="designation.id"
                          [checked]="designation.checked"
                        />
                        <label class="form-check-label" for="employee-filter-checkbox-designation{{ designation.id }}">
                          <span class="check-mark mr-2"></span>
                          <span class="fs-sm"> {{ designation.name }} </span>
                        </label>
                      </div>
                    </li>
                  </ng-container>
                  <ng-template #noPositionFoundDropdown>
                    <li lass="skill-row">
                      <label class="p-2" hrmsTranslate="hrmsApp.designation.home.notFound">No Position Found</label>
                    </li>
                  </ng-template>
                </ul>
              </div>
            </div>
            <div class="col-auto pr-0">
              <div ngbDropdown class="nav-item dropdown pointer" display="dynamic">
                <button
                  class="dropdown-toggle dropdown-toggle form-control input-h-47px rounded-12"
                  ngbDropdownToggle
                  href="javascript:void(0);"
                  id="skill"
                  data-cy="skills"
                >
                  <span hrmsTranslate="hrmsApp.employee.filter.skills.label"> Skills </span>
                </button>
                <ul class="dropdown-menu skill-dropwdown rounded-8" ngbDropdownMenu aria-labelledby="skill">
                  <ng-container *ngIf="skills.length; else noSkillFoundDropdown">
                    <li *ngFor="let skill of skills; let i = index" class="skill-row py-1">
                      <div class="form-check-custom">
                        <input
                          (change)="handleSkill($event)"
                          type="checkbox"
                          id="employee-filter-checkbox-skill-{{ skill.id }}"
                          [value]="skill.id"
                        />
                        <label class="form-check-label" for="employee-filter-checkbox-skill-{{ skill.id }}">
                          <span class="check-mark mr-2"></span>
                          <span class="fs-sm"> {{ skill.name }} </span>
                        </label>
                      </div>
                    </li>
                  </ng-container>
                  <ng-template #noSkillFoundDropdown>
                    <li lass="skill-row">
                      <label class="p-2" hrmsTranslate="hrmsApp.skill.home.notFound">No Skills Found</label>
                    </li>
                  </ng-template>
                </ul>
              </div>
            </div>
            <div class="col-auto">
              <button (click)="searchFilter()" class="btn btn-primary btn-h-47 rounded-12" hrmsTranslate="global.action.search">
                Search
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="d-flex">
            <div ngbDropdown class="nav-item dropdown pointer" display="dynamic">
              <button
                class="dropdown-toggle dropdown-toggle form-control input-h-47px rounded-12"
                ngbDropdownToggle
                href="javascript:void(0);"
                id="exportBy"
                data-cy="entity"
              >
                <span>
                  <span hrmsTranslate="global.action.export"> Export </span>
                </span>
              </button>
              <ul class="dropdown-menu rounded-8" ngbDropdownMenu aria-labelledby="exportBy">
                <li>
                  <a class="dropdown-item" (click)="exportCsv()"><i class="icon-file-o mr-2"></i> As CSV</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="exportExcel()"><i class="icon-file-excel-o mr-2"></i> As XLSX</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 pt-4">
      <div class="custom-table-sortable-th">
        <table class="table m-0">
          <thead>
            <tr>
              <th><span class="table-column" hrmsTranslate="hrmsApp.employee.table.name.column">Name</span></th>
              <th><span class="table-column" hrmsTranslate="hrmsApp.employee.table.email.column">Email</span></th>
              <th><span class="table-column" hrmsTranslate="hrmsApp.employee.table.phone.column">Phone</span></th>
              <th>
                <span class="table-column" hrmsTranslate="hrmsApp.employee.table.type.column">Type</span>
              </th>
              <th><span class="table-column" hrmsTranslate="hrmsApp.employee.table.status.column">Status</span></th>
            </tr>
          </thead>
          <tbody *ngIf="employees.length; else employeeListNotFound">
            <tr
              [routerLink]="['/employee/details', employee.id]"
              [hrmsDisableLink]="!applicationSettings?.employee_can_view_staff_details && isEmployee"
              *ngFor="let employee of employees"
              data-cy="entityTable"
              class="cursor-pointer clickable"
            >
              <td>
                <div class="d-flex align-items-center staff-name-img">
                  <img
                    class="table-user-img mr-3"
                    *ngIf="employee?.photo_url; else showGenericProfilePicture"
                    [src]="employee?.photo_url"
                    [alt]="employee?.photo_url"
                  />
                  <ng-template #showGenericProfilePicture>
                    <img class="table-user-img mr-3" src="../../../../content/images/person.png" alt="person" />
                  </ng-template>
                  <a *ngIf="applicationSettings?.employee_mgnt_can_view_eid && !isEmployee && employee.code; else templateName">
                    {{ employee.first_name + ' ' + employee.last_name + '(' + employee.code + ')' }}
                  </a>
                  <ng-template #templateName>
                    <a
                      [routerLink]="['/employee/details', employee.id]"
                      [hrmsDisableLink]="!applicationSettings?.employee_can_view_staff_details && isEmployee"
                      routerLinkActive="router-link-active"
                    >
                      {{ employee.first_name + ' ' + employee.last_name }}
                    </a>
                  </ng-template>
                </div>
              </td>
              <td>{{ employee.email }}</td>
              <td *ngIf="employee?.phone; else noEmployeePhoneNumber">{{ employee.phone }}</td>
              <ng-template #noEmployeePhoneNumber>
                <td><span>--</span></td>
              </ng-template>
              <td *ngIf="eRoleType.SUPER_ADMIN === employee.role_name">Super Admin</td>
              <td *ngIf="eRoleType.OWNER === employee.role_name">Owner</td>
              <td *ngIf="eRoleType.MANAGER === employee.role_name">Manager</td>
              <td *ngIf="eRoleType.EMPLOYEE === employee.role_name">Employee</td>
              <td
                class="text-success font-weight-normal"
                *ngIf="employee.is_active; else employeeStatusDeactivated"
                hrmsTranslate="hrmsApp.employee.table.status.value.activated"
              >
                Activated
              </td>
              <ng-template #employeeStatusDeactivated>
                <td class="text-danger font-weight-normal" hrmsTranslate="hrmsApp.employee.table.status.value.deactivated">Deactivated</td>
              </ng-template>
            </tr>
          </tbody>
          <ng-template #employeeListNotFound>
            <p class="p-4" hrmsTranslate="hrmsApp.employee.empty">Employee not found</p>
          </ng-template>
        </table>
        <div *ngIf="employees.length" class="text-center py-3">
          <ngb-pagination
            (pageChange)="transition($event)"
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="totalEmployeeCount"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</ng-template>
