<hrms-transparent-spinner *ngIf="isLoading; else employeeInactiveList"></hrms-transparent-spinner>
<ng-template #employeeInactiveList>
  <div class="custom-table-sortable-th">
    <table class="table">
      <thead>
        <tr>
          <th><span hrmsTranslate="hrmsApp.employee.table.name.column">Name</span></th>
          <th><span hrmsTranslate="hrmsApp.employee.table.email.column">Email</span></th>
          <th><span hrmsTranslate="hrmsApp.employee.table.phone.column">Phone</span></th>
          <th><span hrmsTranslate="hrmsApp.employee.table.status.column">Status</span></th>
          <th class="text-right">
            <span hrmsTranslate="global.table.action.column">Action</span>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="employees.length; else employeeListNotFound">
        <tr *ngFor="let employee of employees" data-cy="entityTable">
          <td>
            <div class="d-flex align-items-center staff-name-img">
              <img
                class="table-user-img"
                *ngIf="employee?.photo_url; else showGenericProfilePicture"
                [src]="employee?.photo_url"
                [alt]="employee?.photo_url"
              />
              <ng-template #showGenericProfilePicture>
                <img class="table-user-img" src="../../../../content/images/person.png" alt="person" />
              </ng-template>
              <span>
                {{ employee.first_name + ' ' + employee.last_name }}
              </span>
            </div>
          </td>
          <td>{{ employee.email }}</td>
          <td *ngIf="employee?.phone; else noEmployeePhoneNumber">{{ employee.phone }}</td>
          <ng-template #noEmployeePhoneNumber>
            <td><span>--</span></td>
          </ng-template>
          <td *ngIf="employee.invitation_accepted; else employeeStatusPending" hrmsTranslate="hrmsApp.employee.table.status.value.accepted">
            Accepted
          </td>
          <ng-template #employeeStatusPending>
            <td class="text-danger font-weight-bold" hrmsTranslate="hrmsApp.employee.table.status.value.pending">Pending</td>
          </ng-template>
          <td class="text-right">
            <div class="btn-group">
              <button (click)="sendInvitation(employee?.id)" type="submit" class="btn btn-primary btn-sm mx-1" data-cy="entityEditButton">
                <span class="icon-send1"></span>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.inviteAgain">Invite Again</span>
              </button>

              <button (click)="delete(employee)" type="submit" class="btn btn-danger btn-sm mx-1" data-cy="entityDeleteButton">
                <span class="icon-bin"></span>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <div class="text-center mt-3">
        <ngb-pagination
          (pageChange)="transition($event)"
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="totalEmployeeCount"
        ></ngb-pagination>
      </div>
      <ng-template #employeeListNotFound>
        <p class="p-4" hrmsTranslate="hrmsApp.employee.empty">Employee not found</p>
      </ng-template>
    </table>
  </div>
</ng-template>
