<div class="bg-white p-2 mb-4">
  <hrms-employee-details-navigation></hrms-employee-details-navigation>
  <div class="row">
    <div class="col-md-6">
      <div class="setting-border-runded-box rounded-12 p-3 mb-4">
        <h4 class="fs-sm text-blue-dark font-weight-bold" hrmsTranslate="hrmsApp.employee.details.label">Employee Details</h4>
        <div class="dashed-divider mb-3"></div>
        <div class="row mb-1">
          <div class="col-2"><p class="fs-sm text-blue-dark mb-0" hrmsTranslate="hrmsApp.employee.fullName.label">Full Name:</p></div>
          <div class="col">
            <p class="fs-sm text-blue-dark-5 mb-0 text-capitalize">{{ employeeDetails?.first_name }} {{ employeeDetails?.last_name }}</p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-2"><p class="fs-sm text-blue-dark mb-0" hrmsTranslate="hrmsApp.employee.mobile.label">Mobile:</p></div>
          <div class="col">
            <p class="fs-sm text-blue-dark-5 mb-0">{{ employeeDetails?.phone }}</p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-2"><p class="fs-sm text-blue-dark mb-0" hrmsTranslate="hrmsApp.employee.email.label">Email:</p></div>
          <div class="col">
            <p class="fs-sm text-blue-dark-5 mb-0">{{ employeeDetails?.email }}</p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-2"><p class="fs-sm text-blue-dark mb-0" hrmsTranslate="hrmsApp.employee.birthDate.label">Birthday:</p></div>
          <div class="col">
            <p class="fs-sm text-blue-dark-5 mb-0">{{ employeeDetails?.dob | date }}</p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-2"><p class="fs-sm text-blue-dark mb-0" hrmsTranslate="hrmsApp.employee.nationality.label">Nationality:</p></div>
          <div class="col">
            <p class="fs-sm text-blue-dark-5 mb-0">{{ employeeDetails?.nationality }}</p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-2"><p class="fs-sm text-blue-dark mb-0" hrmsTranslate="hrmsApp.employee.joinDate.label">Joining Date:</p></div>
          <div class="col">
            <p class="fs-sm text-blue-dark-5 mb-0">{{ employeeDetails?.join_date | date }}</p>
          </div>
        </div>
      </div>

      <div class="setting-border-runded-box rounded-12 p-3 mb-4">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <h4 class="fs-sm text-blue-dark font-weight-bold">
              <span hrmsTranslate="hrmsApp.employee.designationAssignments.label"> Position Assignments</span>
              ({{ employeeDetails?.employee_designations?.length }})
            </h4>
          </div>
        </div>
        <div class="dashed-divider mb-3"></div>
        <div class="row mb-1 justify-content-between">
          <div class="col-auto">
            <p
              *ngIf="employeeDetails?.employee_designations?.length"
              class="fs-sm text-blue-dark mb-2 d-flex align-items-center justify-content-between"
            >
              {{ employeeDetails?.branch?.name }}<span class="icon-arrow-down3 ml-2 text-primary"></span>
            </p>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-md-auto">
            <div class="form-check form-check-custom mb-2" *ngFor="let item of employeeDetails?.employee_designations">
              <input class="form-check-input" disabled type="checkbox" checked id="itemlocation1" />
              <label class="form-check-label">
                <span class="check-mark"></span>
                <span class="fs-sm text-blue-dark"> {{ item?.designation?.name }} </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="setting-border-runded-box rounded-12 p-3 mb-4">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <h4 class="fs-sm text-blue-dark font-weight-bold">
              <span hrmsTranslate="hrmsApp.employee.skillAssignments.label">Skill Assignments</span> ({{ employeeDetails?.skills?.length }})
            </h4>
          </div>
        </div>
        <div class="dashed-divider mb-3"></div>
        <div *ngFor="let skill of employeeDetails?.skills" class="row justify-content-between mb-3">
          <div class="col-md-auto">
            <div class="form-check form-check-custom">
              <input class="form-check-input" type="checkbox" checked disabled />
              <label class="form-check-label">
                <span class="check-mark"></span>
                <span class="fs-sm text-blue-dark">{{ skill?.name }} </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="setting-border-runded-box rounded-12 p-3 mb-4">
        <hrms-upcoming-shifts titleClass="fs-sm text-blue-dark font-weight-bold" [upcomingShifts]="upcomingShifts"></hrms-upcoming-shifts>
      </div>

      <div *ngIf="!isEmployee" class="setting-border-runded-box rounded-12 p-3 mb-4">
        <h4 class="fs-sm text-blue-dark font-weight-bold" hrmsTranslate="hrmsApp.employee.adminActions.label">Admin Actions</h4>
        <div class="dashed-divider mb-3"></div>
        <div class="row mb-1 align-items-center">
          <div class="col-auto">
            <p class="fs-sm text-blue-dark mb-0" hrmsTranslate="hrmsApp.employee.adminActions.status.label">Status:</p>
          </div>
          <div class="col">
            <p class="fs-sm text-blue-dark-6 mb-0">
              <span *ngIf="!employeeDetails?.invitation_accepted">
                Employee account is not activated.
                <a
                  (click)="sendInvitation(employeeDetails?.id)"
                  href="javascript:void(0)"
                  class="text-primary font-weight-bold"
                  hrmsTranslate="hrmsApp.employee.adminActions.sendActivationEmail"
                >
                  Send activation e-mail now!</a
                >·
              </span>
              <span *ngIf="employeeDetails?.invitation_accepted && !isActive" hrmsTranslate="hrmsApp.employee.adminActions.deActiveStatus"
                >User Account has been disabled.</span
              >
              <span *ngIf="employeeDetails?.invitation_accepted && isActive" hrmsTranslate="hrmsApp.employee.adminActions.activeStatus"
                >Employee has activated his/her account.</span
              >
            </p>
          </div>
        </div>
        <div class="row mb-1 align-items-center">
          <div class="col-auto">
            <p class="fs-sm text-blue-dark mb-0" hrmsTranslate="hrmsApp.employee.adminActions.activation.label">Activation:</p>
          </div>
          <div class="col">
            <p class="fs-sm text-blue-dark-6 mb-0">
              <span *ngIf="!isOwner && isActive && employeeDetails?.id != employeeId">
                <span hrmsTranslate="hrmsApp.employee.adminActions.activation"> Employee Account is Enable.</span>
                <button
                  class="ml-2 btn btn-danger"
                  (click)="showAdminActionModal(employeeDetails?.id, isActive)"
                  hrmsTranslate="hrmsApp.employee.button.disable"
                >
                  Disable it
                </button>
              </span>
              <span *ngIf="!isOwner && !isActive && employeeDetails?.id != employeeId">
                <span hrmsTranslate="hrmsApp.employee.adminActions.notActivation">Employee Account is Disabled. </span>
                <button
                  class="ml-2 btn btn-primary"
                  (click)="showAdminActionModal(employeeDetails?.id, isActive)"
                  hrmsTranslate="hrmsApp.employee.button.enable"
                >
                  Enable it
                </button>
              </span>
              <span *ngIf="employeeDetails?.id == employeeId" hrmsTranslate="hrmsApp.employee.adminActions.unAuthorization"
                >You couldn't have authorization to change own status</span
              >
              <span *ngIf="isOwner" hrmsTranslate="hrmsApp.employee.adminActions.adminAccountAuthorization"
                >Admin accounts cannot be de-activated.</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #adminActionModal let-modal>
  <div class="modal-header">
    <h4 *ngIf="!action.activeStatus" class="modal-title" hrmsTranslate="hrmsApp.employee.adminActions.enable">Enable Employee</h4>
    <h4 *ngIf="action.activeStatus" class="modal-title" hrmsTranslate="hrmsApp.employee.adminActions.disable">Disable employee</h4>
  </div>
  <div class="modal-body">
    <div class="row p-3">
      <p *ngIf="!action.activeStatus" hrmsTranslate="hrmsApp.employee.adminActions.enableQuestion">
        Are you sure you want to Enable this employee?
      </p>
      <p *ngIf="action.activeStatus" hrmsTranslate="hrmsApp.employee.adminActions.disableQuestion">
        Are you sure you want to Disable this employee?
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss()" hrmsTranslate="global.action.cancel">Cancel</button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="changeActiveStatus(action.id, action.activeStatus)"
      hrmsTranslate="hrmsApp.employee.button.ok"
    >
      Ok
    </button>
  </div>
</ng-template>
