<div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10"></div>
  </div>
</div>

<div class="login-wrapper px-0">
  <div class="row align-items-center h-100 w-100 m-0">
    <div class="col-md-5 hide-on-mobile">
      <div class="row login-cover-side text-white py-5 align-items-center justify-content-center">
        <div class="col-12 px-4">
          <div class="text-center my-4 login-image-container">
            <img class="w-50" src="../../content/images/register-step-2.svg" alt="register-desk" />
          </div>

          <div>
            <h1 class="text-center mb-3 mt-5">Enhance employee experience</h1>
            <p class="text-center px-5 text-white-op-7">
              You value your employees, so do we. That’s why Hazira built a platform that focuses on employee experience through a
              user-friendly interface and top industry rated mobile application.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 py-5">
      <div class="login-area">
        <div class="text-center login-logo">
          <img src="../../../content/images/logo.svg" alt="logo" />
        </div>
        <div>
          <h2 class="text-center text-dark" hrmsTranslate="register.company.title" data-cy="registerTitle">Create a company account</h2>
          <p class="text-center mb-5">Enter your company info to create account</p>

          <div class="alert alert-success" *ngIf="success" hrmsTranslate="register.messages.success">
            <strong>Registration saved!</strong> Please check your email for confirmation.
            <p routerLink="/login">Go to login page</p>
          </div>

          <div class="alert alert-danger" *ngIf="error" hrmsTranslate="register.messages.error.fail">
            <strong>Registration failed!</strong> Please try again later.
          </div>

          <div class="alert alert-danger" *ngIf="errorCompanyExists" hrmsTranslate="register.messages.error.companyexists">
            <strong>Company is already in use with same email!</strong>
          </div>

          <div class="alert alert-danger" *ngIf="doNotMatch" hrmsTranslate="global.messages.error.dontmatch">
            The password and its confirmation do not match!
          </div>

          <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
            <div class="form-group">
              <div class="field-left-icon">
                <input
                  type="text"
                  class="form-control input-h-54px"
                  id="companyName"
                  name="name"
                  placeholder="{{ 'global.form.companyName.placeholder' | translate }}"
                  formControlName="name"
                  data-cy="companyName"
                  #companyName
                />
                <i class="icon-office text-primary left-icon"></i>
              </div>

              <div *ngIf="registerForm.get('name')!.invalid && (registerForm.get('name')!.dirty || registerForm.get('name')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('name')?.errors?.required"
                  hrmsTranslate="register.messages.validate.companyName.required"
                >
                  Company name is required.
                </small>
              </div>
            </div>

            <div class="form-group">
              <div class="field-left-icon">
                <input
                  type="tel"
                  class="form-control input-h-54px"
                  id="company_phone"
                  name="phone"
                  placeholder="{{ 'global.form.phone.placeholder' | translate }}"
                  formControlName="phone"
                  data-cy="company_phone"
                />
                <i class="icon-phone2 text-primary left-icon"></i>
                <div *ngIf="registerForm.get('phone')!.invalid && (registerForm.get('phone')!.dirty || registerForm.get('phone')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('phone')?.errors?.required"
                    hrmsTranslate="register.messages.validate.phone.required"
                  >
                    This field is required.
                  </small>

                  <div *ngIf="!registerForm.get('phone')?.errors?.pattern">
                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('phone')?.errors?.maxlength"
                      hrmsTranslate="register.messages.validate.phone.maxlength"
                      [translateValues]="{ max: 11 }"
                    >
                      This field cannot be longer than 11 digits.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="registerForm.get('phone')?.errors?.maxlength"
                      hrmsTranslate="register.messages.validate.phone.minlength"
                      [translateValues]="{ min: 11 }"
                    >
                      This field cannot be smaller than 11 digits.
                    </small>
                  </div>

                  <small
                    class="form-text text-danger"
                    *ngIf="registerForm.get('phone')?.errors?.pattern"
                    hrmsTranslate="register.messages.validate.phone.pattern"
                  >
                    Please enter valid phone number
                  </small>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="field-left-icon">
                <div>
                  <select
                    [ngModel]="null"
                    class="form-control input-h-54px"
                    name="application_type_id"
                    formControlName="application_type_id"
                  >
                    <option [value]="null">Choose Your Application Type</option>
                    <option *ngFor="let applicationType of applicationTypes" [value]="applicationType.id">
                      {{ applicationType.name }}
                    </option>
                  </select>
                </div>
                <i class="icon-profile text-primary left-icon"></i>
              </div>
              <div
                *ngIf="
                  registerForm.get('application_type_id')!.invalid &&
                  (registerForm.get('application_type_id')!.dirty || registerForm.get('application_type_id')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('application_type_id')?.errors?.required"
                  hrmsTranslate="global.messages.validate.applicationType.required"
                >
                  Application Type is required.
                </small>
              </div>
            </div>

            <div class="form-group">
              <div class="field-left-icon">
                <div>
                  <select [ngModel]="null" class="form-control input-h-54px" name="company_type_id" formControlName="company_type_id">
                    <option [value]="null">Choose Your Company Type</option>
                    <option *ngFor="let companyType of companyTypes" [value]="companyType.id">
                      {{ companyType.name }}
                    </option>
                  </select>
                </div>
                <i class="icon-office text-primary left-icon"></i>
              </div>
              <div
                *ngIf="
                  registerForm.get('application_type_id')!.invalid &&
                  (registerForm.get('application_type_id')!.dirty || registerForm.get('application_type_id')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('company_type_id')?.errors?.required"
                  hrmsTranslate="global.messages.validate.companyType.required"
                >
                  Company Type is required.
                </small>
              </div>
            </div>

            <div class="form-group">
              <div class="field-left-icon">
                <input
                  #register_password
                  type="password"
                  class="form-control input-h-54px"
                  id="password"
                  name="password"
                  placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                  formControlName="password"
                  data-cy="firstPassword"
                />
                <button
                  type="button"
                  (click)="register_password.type = register_password.type === 'password' ? 'text' : 'password'"
                  class="input-action"
                >
                  <i [class]="register_password.type === 'password' ? 'icon-eye-off' : 'icon-eye2'"></i>
                </button>
                <i class="icon-lock2 text-primary left-icon"></i>
              </div>

              <div
                *ngIf="
                  registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.required"
                  hrmsTranslate="global.messages.validate.newpassword.required"
                >
                  Your password is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.minlength"
                  hrmsTranslate="global.messages.validate.newpassword.minlength"
                >
                  Your password is required to be at least 4 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.maxlength"
                  hrmsTranslate="global.messages.validate.newpassword.maxlength"
                >
                  Your password cannot be longer than 50 characters.
                </small>
              </div>

              <div *ngIf="registerForm.get('password')!.value">
                <hrms-password-strength-bar class="app-password-strength" [passwordToCheck]="registerForm.get('password')!.value">
                </hrms-password-strength-bar>
              </div>
            </div>

            <div class="form-group mb-5">
              <div class="field-left-icon">
                <input
                  #register_confirm_password
                  type="password"
                  class="form-control input-h-54px"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                  formControlName="confirmPassword"
                  data-cy="secondPassword"
                />
                <button
                  type="button"
                  (click)="register_confirm_password.type = register_confirm_password.type === 'password' ? 'text' : 'password'"
                  class="input-action"
                >
                  <i [class]="register_confirm_password.type === 'password' ? 'icon-eye-off' : 'icon-eye2'"></i>
                </button>
                <i class="icon-lock2 text-primary left-icon"></i>
              </div>

              <div
                *ngIf="
                  registerForm.get('confirmPassword')!.invalid &&
                  (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                  hrmsTranslate="global.messages.validate.confirmpassword.required"
                >
                  Your confirmation password is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                  hrmsTranslate="global.messages.validate.confirmpassword.minlength"
                >
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                  hrmsTranslate="global.messages.validate.confirmpassword.maxlength"
                >
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div>
            </div>
            <button
              type="submit"
              [disabled]="registerForm.invalid || isSaving"
              class="btn btn-block btn-primary fs-default btn-h-56"
              data-cy="submit"
            >
              <div *ngIf="isSaving" class="spinner-border spinner-border-sm mx-3" role="status"></div>
              <span hrmsTranslate="register.form.button">Sign Up</span>
            </button>
            <div class="text-center text-dark py-3">
              <button type="button" class="btn btn-outline-primary btn-h-56 w-100" (click)="previousState()">Back</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<hrms-app-toasts></hrms-app-toasts>
