<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="customField">
      <h2 data-cy="customFieldDetailsHeading"><span hrmsTranslate="hrmsApp.customField.detail.title">Custom Field</span></h2>

      <hr />

      <hrms-alert-error></hrms-alert-error>

      <hrms-alert></hrms-alert>

      <dl class="row-md jh-entity-details">
        <dt><span hrmsTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ customField.id }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.customField.name">Name</span></dt>
        <dd>
          <span>{{ customField.name }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.customField.custom_field_type">Custom Field Type</span></dt>
        <dd>
          <span>{{ customField.custom_field_type }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.customField.permission_type">Permission Type</span></dt>
        <dd>
          <span>{{ customField.permission_type }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.customField.value">Value</span></dt>
        <dd>
          <span>{{ customField.value }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hrmsTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/custom-field', customField.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hrmsTranslate="global.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
