<ng-container>
  <div *ngIf="timeClockSettings?.time_clock_enabled; else notAllowedTemplate" class="row mb-20">
    <div class="col-md-6 align-self-stretch">
      <div class="feature-statue-count rounded-12-white-box">
        <hrms-time-clock-add (timeClockLoaded)="loadedTimeClockEvents($event)" (timeSheetLoaded)="loadTimeSheet()"> </hrms-time-clock-add>
      </div>
    </div>
    <div class="col-md-6 align-self-stretch">
      <div class="feature-statue-count rounded-12-white-box h-100">
        <hrms-time-clock-event [timeClock]="timeClock" [timeZone]="timeZone"></hrms-time-clock-event>
      </div>
    </div>
  </div>
  <hrms-time-sheet
    [designations]="designations"
    [timeSheet]="timeSheet"
    [timeZone]="timeZone"
    [totalItems]="totalItems"
    (timeSheetLoaded)="loadTimeSheet($event)"
  >
  </hrms-time-sheet>
  <ng-template #notAllowedTemplate>
    <div class="not_allowed_container">
      <h1 class="error_message">Time clock not allowed</h1>
    </div>
  </ng-template>
</ng-container>
