@import '../../../../content/scss/app-variable';

.clock-in-point {
  width: 55px;
  height: 55px;
  border: 1px solid rgba($color: $primary, $alpha: 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  .square-point {
    border-radius: 50%;
    font-size: 0;
    width: 10px;
    height: 10px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 100%;
    height: 1px;
    width: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($color: $primary, $alpha: 0.3);
  }
}

.input-none {
  border: none;
  outline: none;
  background-color: transparent;
}

.planned-time {
  border-bottom: 1px solid rgba($color: $primary, $alpha: 0.08);
}

.not_allowed_container {
  height: 90vh;
  position: relative;

  .error_message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2dede;
    padding: 1em;
    color: #a94442;
    font-weight: 600;
    border-radius: 10px;
  }
}

.bg-green {
  background-color: #3fb618;
}

.cursor-pointer {
  cursor: pointer;
}

// New

.punch-activity-row {
  .activity-name-pin {
    position: relative;

    span {
      display: inline-block;
      margin-bottom: 50px;
      position: relative;

      &::before {
        display: block;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 3px solid rgba($color: #f2fdf6, $alpha: 1);
        margin-right: 15px;
        background: linear-gradient(111.71deg, #82d4bc 14.24%, #69bfa5 86.78%);
        position: relative;
        z-index: 99;
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        width: 2px;
        background: $border-color;
        height: 55px;
        left: 9px;
      }
    }

    p {
      font-size: 14px;
      color: $dark-shade-500;
    }
  }

  .punch-time {
    font-size: 12px;
    color: $dark-shade-500;
  }

  &:last-child {
    .activity-name-pin {
      position: relative;

      span {
        margin-bottom: 0;

        &::after {
          display: none;
        }
      }
    }
  }
}

.statistics-row {
  border: 1px solid $border-color;
  border-radius: 12px;
  padding: 10px 15px;
  margin-bottom: 10px;

  .icon-clock {
    background: #f4f0ff;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 100%;
    line-height: 32px;
    margin-right: 15px;
  }

  p {
    font-size: 12px;
    font-family: $font-family-bold;
    color: $gray-dark;
  }

  label {
    font-size: 14px;
    color: $gray-dark;
  }

  .progress {
    border-radius: 20px;
    height: 6px;
    opacity: 0.8;

    &.progress-purple {
      .progress-bar {
        background: #936dff !important;
      }
    }
  }
}
