<div>
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4 class="col-md-11 pl-md-0 modal-title text-dark">
        {{ announcement?.title }}
      </h4>
      <button class="close" type="button" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="px-3">
      <hrms-alert-error></hrms-alert-error>
      <div class="form-group announcement-view-description custom-scrollable scrollable-y">
        <p *ngIf="announcement?.description; else noAnnouncementDescription">{{ announcement?.description }}</p>
        <ng-template #noAnnouncementDescription>
          <p>__</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
