<!-- <form name="timeClockSettingsForm" role="form" novalidate (ngSubmit)="onSave()" [formGroup]="timeClockSettingsForm">
  <div class="bg-white p-4 mb-3 rounded-12">
    <div class="setting-border-runded-box rounded-12 p-3 mb-4">
      <h5 class="text-blue-dark">Time Clock Settings</h5>
      <div class="dashed-divider mb-3"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="row justify-content-between">
            <div class="col pl-0">
              <div class="form-check form-check-custom mb-2 form-check-col-align-fix">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="schedule_automatic_conflicts_allowed_shift_notes_visibility_allowed_users"
                  id="schedule_automatic_conflicts_allowed_shift_notes_visibility_allowed_users"
                  formControlName="schedule_automatic_conflicts_allowed_shift_notes_visibility_allowed_users"
                />
                <label
                  class="form-check-label mr-3 align-items-start"
                  for="schedule_automatic_conflicts_allowed_shift_notes_visibility_allowed_users"
                >
                  <span class="check-mark"></span>
                  <span class="fs-sm text-blue-dark"> schedule automatic conflicts allowed shift notes visibility allowed users </span>
                </label>
              </div>
            </div>
            <div class="col-md-auto">
              <select name="" class="form-control form-control-sm rounded-12 pr-4" id="">
                <option value="">All shift</option>
                <option value="">Shift 1</option>
                <option value="">Shift 2</option>
                <option value="">Shift 3</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col pl-0">
              <div class="form-check form-check-custom mb-2 form-check-col-align-fix">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="shift_overlapping_disallowed_shift_planning_start_day"
                  id="shift_overlapping_disallowed_shift_planning_start_day"
                  formControlName="shift_overlapping_disallowed_shift_planning_start_day"
                />
                <label class="form-check-label mr-3 align-items-start" for="shift_overlapping_disallowed_shift_planning_start_day">
                  <span class="check-mark"></span>
                  <span class="fs-sm text-blue-dark"> shift overlapping disallowed shift planning start day </span>
                </label>
              </div>
            </div>
            <div class="col-md-auto">
              <select name="" class="form-control form-control-sm rounded-12 pr-4" id="">
                <option value="">Monday</option>
                <option value="">Item 1</option>
                <option value="">Item 2</option>
                <option value="">Item 3</option>
              </select>
            </div>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="show_employee_skills_in_scheduler"
              id="show_employee_skills_in_scheduler"
              formControlName="show_employee_skills_in_scheduler"
            />
            <label class="form-check-label mr-3" for="show_employee_skills_in_scheduler">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> show_employee_skills_in_scheduler </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="show_overnight_shifts"
              id="show_overnight_shifts"
              formControlName="show_overnight_shifts"
            />
            <label class="form-check-label mr-3" for="show_overnight_shifts">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> show_overnight_shifts </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="show_pending_leave_request"
              id="show_pending_leave_request"
              formControlName="show_pending_leave_request"
            />
            <label class="form-check-label mr-3" for="show_pending_leave_request">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> show_pending_leave_request </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="use_draft_publish_schedule_method"
              id="use_draft_publish_schedule_method"
              formControlName="use_draft_publish_schedule_method"
            />
            <label class="form-check-label mr-3" for="use_draft_publish_schedule_method">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> use_draft_publish_schedule_method </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="work_unit_module_enabled"
              id="work_unit_module_enabled"
              formControlName="work_unit_module_enabled"
            />
            <label class="form-check-label mr-3" for="work_unit_module_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> work_unit_module_enabled </span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary btn-h-47 px-4">Save Settings</button>
    </div>
  </div>
</form> -->

<form name="timeClockSettingsForm" role="form" novalidate (ngSubmit)="onSave()" [formGroup]="timeClockSettingsForm">
  <div class="bg-white p-4 mb-3 rounded-12">
    <div class="setting-border-runded-box rounded-12 px-4 py-3 mb-4">
      <h5 class="text-blue-dark fs-default" hrmsTranslate="timeClockSettings.title">Time Clock Settings</h5>
      <div class="dashed-divider mb-1"></div>
      <div class="row w-100 m-0 p-0">
        <div class="col-12 col-lg-6 p-0 my-2">
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="enable_auto_punch_out"
              name="enable_auto_punch_out"
              formControlName="enable_auto_punch_out"
            />
            <label class="form-check-label mr-3" for="enable_auto_punch_out">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.enable_auto_punch_out.label">
                Enable Auto Punch Out
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="break_button_enabled"
              name="break_button_enabled"
              formControlName="break_button_enabled"
            />
            <label class="form-check-label mr-3" for="break_button_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.break_button_enabled.label"> Break button enabled </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="pre_clock_enabled"
              name="pre_clock_enabled"
              formControlName="pre_clock_enabled"
            />
            <label class="form-check-label mr-3" for="pre_clock_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.pre_clock_enabled.label"> Pre clock enabled </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="pre_clock_mandatory"
              name="pre_clock_mandatory"
              formControlName="pre_clock_mandatory"
            />
            <label class="form-check-label mr-3" for="pre_clock_mandatory">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.pre_clock_mandatory.label"> Pre clock mandatory </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="restrict_employee_clock_in_out"
              name="restrict_employee_clock_in_out"
              formControlName="restrict_employee_clock_in_out"
            />
            <label class="form-check-label mr-3" for="restrict_employee_clock_in_out">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.restrict_employee_clock_in_out.label">
                Restrict employee clock in out
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="should_have_position_set"
              name="should_have_position_set"
              formControlName="should_have_position_set"
            />
            <label class="form-check-label mr-3" for="should_have_position_set">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.should_have_position_set.label">
                Should have position set
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="time_clock_enabled"
              name="time_clock_enabled"
              formControlName="time_clock_enabled"
            />
            <label class="form-check-label mr-3" for="time_clock_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.time_clock_enabled.label"> Time clock enabled </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="timesheet_empl_can_edit"
              name="timesheet_empl_can_edit"
              formControlName="timesheet_empl_can_edit"
            />
            <label class="form-check-label mr-3" for="timesheet_empl_can_edit">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.timesheet_empl_can_edit.label">
                Timesheet employee can edit
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="timesheet_employee_can_edit_without_reason"
              name="timesheet_employee_can_edit_without_reason"
              formControlName="timesheet_employee_can_edit_without_reason"
            />
            <label class="form-check-label mr-3" for="timesheet_employee_can_edit_without_reason">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.timesheet_employee_can_edit_without_reason.label">
                Timesheet employee can edit without reason
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="timesheet_employee_can_import"
              name="timesheet_employee_can_import"
              formControlName="timesheet_employee_can_import"
            />
            <label class="form-check-label mr-3" for="timesheet_employee_can_import">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.timesheet_employee_can_import.label">
                Timesheet employee can import
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="timesheet_employee_can_manually_add"
              name="timesheet_employee_can_manually_add"
              formControlName="timesheet_employee_can_manually_add"
            />
            <label class="form-check-label mr-3" for="timesheet_employee_can_manually_add">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.timesheet_employee_can_manually_add.label">
                Timesheet employee can manually add
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="timesheet_employee_can_view_notes"
              name="timesheet_employee_can_view_notes"
              formControlName="timesheet_employee_can_view_notes"
            />
            <label class="form-check-label mr-3" for="timesheet_employee_can_view_notes">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.timesheet_employee_can_view_notes.label">
                Timesheet employee can view notes
              </span>
            </label>
          </div>
        </div>
        <div class="col-12 col-lg-6 p-0 my-2">
          <div *ngIf="isEnabledAutoPunchOut" class="row justify-content-between w-100 m-0 p-0">
            <div class="col-8 pl-0 my-2">
              <div class="form-check form-check-custom mb-2 form-check-col-align-fix">
                <label class="form-check-label mr-3 align-items-start" for="allow_employee_to_work_after_shift">
                  <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.allow_employee_to_work_after_shift.label">
                    Allows employee to work after shift in minutes
                  </span>
                </label>
              </div>
            </div>
            <div class="col-4 my-2">
              <select
                class="form-control form-control-sm rounded-12 pr-4"
                formControlName="allow_employee_to_work_after_shift"
                name="allow_employee_to_work_after_shift"
                id="allow_employee_to_work_after_shift"
              >
                <option
                  *ngFor="let countableOption of timeCountableOptions"
                  [value]="countableOption.value"
                  [hrmsTranslate]="countableOption.translationName"
                >
                  {{ countableOption.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row w-100 m-0 p-0 justify-content-between">
            <div class="col-8 pl-0 my-2">
              <div class="form-check form-check-custom mb-2 form-check-col-align-fix">
                <label class="form-check-label mr-3 align-items-start" for="late_countable_time_start">
                  <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.late_countable_time_start.label">
                    Late Countable Time Start
                  </span>
                </label>
              </div>
            </div>
            <div class="col-4 my-2">
              <select
                class="form-control form-control-sm rounded-12"
                formControlName="late_countable_time_start"
                name="late_countable_time_start"
                id="late_countable_time_start"
              >
                <option
                  *ngFor="let lateCountableOption of timeCountableOptions"
                  [value]="lateCountableOption.value"
                  [hrmsTranslate]="lateCountableOption.translationName"
                >
                  {{ lateCountableOption.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row w-100 m-0 p-0 justify-content-between">
            <div class="col-8 pl-0 my-2">
              <div class="form-check form-check-custom mb-2 form-check-col-align-fix">
                <label class="form-check-label mr-3 align-items-start" for="pre_shift_punch_in_enabled_time">
                  <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.pre_clock_countable_time_start.label">
                    Pre shift punch in enabled time
                  </span>
                </label>
              </div>
            </div>
            <div class="col-4 my-2">
              <select
                class="form-control form-control-sm rounded-12"
                formControlName="pre_shift_punch_in_enabled_time"
                name="pre_shift_punch_in_enabled_time"
                id="pre_shift_punch_in_enabled_time"
              >
                <option
                  *ngFor="let lateCountableOption of timeCountableOptions"
                  [value]="lateCountableOption.value"
                  [hrmsTranslate]="lateCountableOption.translationName"
                >
                  {{ lateCountableOption.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row w-100 m-0 p-0 justify-content-between">
            <div class="col-8 pl-0 my-2">
              <div class="form-check form-check-custom mb-2 form-check-col-align-fix">
                <label class="form-check-label mr-3 align-items-start" for="timesheet_allow_employee_to_add_past_x_days">
                  <span class="fs-sm text-blue-dark" hrmsTranslate="timeClockSettings.timesheet_allow_employee_to_add_past_x_days.label">
                    Timesheet allow employee to add past x days
                  </span>
                </label>
              </div>
            </div>
            <div class="col-4 my-2">
              <select
                [ngModel]="timeClockSettings?.timesheet_allow_employee_to_add_past_x_days"
                class="form-control form-control-sm rounded-12"
                name="timesheet_allow_employee_to_add_past_x_days"
                formControlName="timesheet_allow_employee_to_add_past_x_days"
              >
                <option *ngFor="let pastDay of pastDays" [ngValue]="pastDay?.value" [hrmsTranslate]="pastDay.translationName">
                  {{ pastDay?.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary btn-h-47 px-4" hrmsTranslate="settings.form.button">Save Settings</button>
    </div>
  </div>
</form>
