<div class="p-2">
  <div class="inner-body-report-scrollbar pt-4">
    <div class="bg-white p-3 rounded-8">
      <div class="page-action-toolbar">
        <hrms-generic-filter-form [isLoading]="isLoading" (filterApply)="filter($event)" (filterReset)="resetPositionSummary()">
        </hrms-generic-filter-form>
        <div *ngIf="!positionSummary.length">
          <p hrmsTranslate="global.filter.chooseFilter.title">Please select filters above.</p>
        </div>
        <div *ngIf="positionSummary.length" class="text-right">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="time-sheet-late-summary-export"
              ngbDropdownToggle
              hrmsTranslate="global.action.export"
            >
              Export
            </button>
            <div ngbDropdownMenu aria-labelledby="time-sheet-late-summary-export">
              <button ngbDropdownItem (click)="export(EExportType.PDF)" hrmsTranslate="global.action.exportType.pdf">PDF</button>
              <button ngbDropdownItem (click)="export(EExportType.XLSX)" hrmsTranslate="global.action.exportType.excel">Excel</button>
            </div>
          </div>
        </div>
        <div
          *ngIf="positionSummary.length"
          class="table-responsive leave-balance green-br-rounded-card mb-0 border-cellsolid-gray bg-white mt-2"
        >
          <table *ngFor="let item of positionSummary; let i = index" class="head-bg-table text-center">
            <thead>
              <tr>
                <th>{{ item.branch_name }}</th>
                <th hrmsTranslate="global.table.total.column">Total</th>
                <th *ngFor="let header of dateColumns">{{ header | date: 'MMM d, y' }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let position of item.position_summary">
                <td>{{ position.designation_name }}</td>
                <td>{{ position.total_work_shift | formatTime: eTimeType.SECOND }}</td>
                <td *ngFor="let key of dateColumns">
                  {{ position[key] | formatTime: eTimeType.SECOND }}
                </td>
              </tr>
              <tr *ngIf="i == positionSummary.length - 1">
                <td><b hrmsTranslate="global.table.total.column">Total</b></td>
                <td>
                  <b>
                    {{ totalWorkShiftDuration | formatTime: eTimeType.SECOND }}
                  </b>
                </td>
                <td *ngFor="let columnSum of columnSums | keyvalue">
                  <b>
                    {{ columnSum.value | formatTime: eTimeType.SECOND }}
                  </b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
