@import '../../../webapp/content/scss/app-variable';

.leave-balance {
  border-radius: 13px;
}
.rounded-12 {
  border-radius: 12px;
}
.rounded-8 {
  border-radius: 8px !important;
}
.dashed-divider {
  border-bottom: 1px dashed rgba($color: $dark-shade-100, $alpha: 0.5);
}
.form-control {
  border: 2px solid rgba($color: $secondary, $alpha: 0.09);
}
.form-control-h52 {
  height: 52px;
}
.form-control-h40 {
  height: 40px;
}
.hide-show-toggler {
  background: none;
  border: none;
  padding: 0;
  color: $primary;
  display: flex;
  align-items: center;
}
.field-append-icon {
  position: relative;
  .form-control {
    padding-right: 40px;
  }
  .field-icon {
    color: $dark-shade-100;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    font-size: 20px;
    border: none;
    background: none;
    &:hover {
      color: rgba($color: $dark-shade-400, $alpha: 1);
    }
  }
}
.row-gutter-2 {
  margin-right: -2px !important;
  margin-left: -2px !important;
  .col-gutter-2 {
    padding-right: 2px;
    padding-left: 2px;
  }
}

.inner-body-leave-scrollbar {
  background: $white;
  margin-top: -20px !important;
  padding-top: 20px !important;
  padding-left: 10px;
  padding-right: 10px;
}
