<!-- leave management filter UI start -->
<div class="row">
  <div *ngIf="!isEmployee" class="col-md-auto hide-on-mobile">
    <hrms-sidebar></hrms-sidebar>
  </div>
  <div class="col-md px-0">
    <router-outlet></router-outlet>
  </div>
</div>
