<form class="bg-white p-3 rounded-12" name="breakRuleForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="breakRuleForm">
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4
        class="col-md-auto modal-title text-dark"
        id="hrms-break-rule-heading"
        data-cy="BreakRuleCreateUpdateHeading"
        hrmsTranslate="hrmsApp.breakRule.home.createOrEditLabel"
      >
        Create or edit a Break Rule
      </h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider mb-3"></div>
    <hrms-alert-error></hrms-alert-error>
    <div class="px-4 my-3">
      <div class="form-group">
        <label hrmsTranslate="hrmsApp.breakRule.table.name.column" for="breakRuleName" class="fs-sm text-blue-dark-5 mb-2">Name</label>
        <input hrmsInputTrim type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        <div *ngIf="breakRuleForm.get('name')!.invalid && (breakRuleForm.get('name')!.dirty || breakRuleForm.get('name')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="breakRuleForm.get('name')?.errors?.required"
            hrmsTranslate="entity.validation.required"
          >
            This field is required.
          </small>
          <small
            class="form-text text-danger"
            *ngIf="breakRuleForm.get('name')?.errors?.maxlength"
            hrmsTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 255 }"
          >
            This field cannot be longer than 255 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="fs-sm text-blue-dark-5 mb-2" hrmsTranslate="hrmsApp.breakRule.table.description.column" for="field_rule_description"
          >Rule Description</label
        >
        <textarea
          hrmsInputTrim
          type="text"
          rows="5"
          class="form-control form-control-h-auto"
          name="rule_description"
          id="field_rule_description"
          data-cy="rule_description"
          formControlName="rule_description"
        ></textarea>
      </div>

      <div [hidden]="breakRuleConditions.controls.length! == 0">
        <h5
          class="text-blue-dark"
          id="hrms-break-rule-heading"
          data-cy="BreakRuleCreateUpdateHeading"
          hrmsTranslate="hrmsApp.breakRule.detail.conditions"
        >
          Conditions
        </h5>
        <div class="dashed-divider mb-3"></div>
        <div>
          <table>
            <tr>
              <td class="fs-xs text-blue-dark-6 py-2" width="100" hrmsTranslate="hrmsApp.breakRule.table.breakType.column">Break Type</td>
              <td class="fs-xs text-blue-dark-6 py-2" hrmsTranslate="hrmsApp.breakRule.table.minShiftLength.column">Min Shift Length</td>
              <td class="fs-xs text-blue-dark-6 py-2" hrmsTranslate="hrmsApp.breakRule.table.maxShiftLength.column">Max Shift Length</td>
              <td class="fs-xs text-blue-dark-6 py-2" hrmsTranslate="hrmsApp.breakRule.table.breakDuration.column">Break Duration</td>
              <td class="fs-xs text-blue-dark-6 py-2" hrmsTranslate="hrmsApp.breakRule.table.from.column">From</td>
              <td class="fs-xs text-blue-dark-6 py-2" hrmsTranslate="hrmsApp.breakRule.table.to.column">To</td>
              <td class="fs-xs text-blue-dark-6 py-2" hrmsTranslate="hrmsApp.breakRule.table.breakStartAt.column">Break Starts Art</td>
              <td class="fs-xs text-blue-dark-6 py-2"></td>
            </tr>
            <ng-container formArrayName="break_rule_conditions">
              <tr *ngFor="let condition of breakRuleConditions.controls; let i = index" class="vertical-align-middle">
                <ng-container [formGroupName]="i">
                  <td>
                    <select class="form-control form-control-h40 rounded-8" formControlName="type">
                      <option [value]="null" hrmsTranslate="hrmsApp.breakRule.select.breakType.choose.option">Choose Break Type</option>
                      <option [value]="unPaidBreak" hrmsTranslate="hrmsApp.breakRule.select.breakType.unpaid.option">Unpaid Break</option>
                      <option [value]="paidBreak" hrmsTranslate="hrmsApp.breakRule.select.breakType.paid.option">Paid Break</option>
                    </select>
                    <div
                      *ngIf="
                        breakRuleConditions.controls[i].get('type')?.errors &&
                        breakRuleConditions.controls[i].get('type')?.dirty &&
                        breakRuleConditions.controls[i].get('type')?.touched
                      "
                    >
                      <small
                        hrmsTranslate="entity.validation.required"
                        class="form-text text-danger"
                        *ngIf="breakRuleConditions.controls[i].get('type')?.errors?.required"
                      >
                        This field is required
                      </small>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-0">
                      <input
                        type="text"
                        class="form-control form-control-h40 fs-xs"
                        placeholder="e.g. 05:00"
                        formControlName="min_shift_length"
                      />
                      <div
                        *ngIf="
                          breakRuleConditions.controls[i].get('min_shift_length')?.errors &&
                          breakRuleConditions.controls[i].get('min_shift_length')?.dirty
                        "
                      >
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="entity.validation.required"
                          *ngIf="breakRuleConditions.controls[i].get('min_shift_length')?.errors?.required"
                        >
                          This field is required
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.validValue"
                          *ngIf="breakRuleConditions.controls[i].get('min_shift_length')?.errors?.timeFormatHHMMSS"
                        >
                          Enter valid value
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.minLessThanMaxShift"
                          *ngIf="breakRuleConditions.controls[i]?.errors?.min_shift_must_less_than_max_shift"
                        >
                          Min shift must be less than max shift
                        </small>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-0">
                      <input
                        type="text"
                        class="form-control form-control-h40 fs-xs"
                        placeholder="e.g. 08:00"
                        formControlName="max_shift_length"
                      />
                      <div
                        *ngIf="
                          breakRuleConditions.controls[i].get('max_shift_length')?.errors &&
                          breakRuleConditions.controls[i].get('max_shift_length')?.dirty
                        "
                      >
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="entity.validation.required"
                          *ngIf="breakRuleConditions.controls[i].get('max_shift_length')?.errors?.required"
                        >
                          This field is required
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.validValue"
                          *ngIf="breakRuleConditions.controls[i].get('max_shift_length')?.errors?.timeFormatHHMMSS"
                        >
                          Enter valid value
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.maxGreaterThanMinShift"
                          *ngIf="breakRuleConditions.controls[i]?.errors?.max_shift_must_greater_than_min_shift"
                        >
                          Max shift must be greater than min shift
                        </small>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-0">
                      <input
                        class="form-control form-control-h40 fs-xs"
                        type="number"
                        min="5"
                        max="99"
                        placeholder="e.g. 30"
                        formControlName="break_duration"
                      />
                      <div
                        *ngIf="
                          breakRuleConditions.controls[i].get('break_duration')?.errors &&
                          breakRuleConditions.controls[i].get('break_duration')?.dirty
                        "
                      >
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="entity.validation.required"
                          *ngIf="breakRuleConditions.controls[i].get('break_duration')?.errors?.required"
                        >
                          This field is required
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.breakDurationLessThanMinShift"
                          *ngIf="breakRuleConditions.controls[i].get('break_duration')?.errors?.break_duration_must_less_than_min_shift"
                        >
                          Break duration must be less than min shift
                        </small>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-0">
                      <input type="text" class="form-control form-control-h40 fs-xs" placeholder="e.g. 03:00" formControlName="from" />
                      <div
                        *ngIf="breakRuleConditions.controls[i].get('from')?.errors && breakRuleConditions.controls[i].get('from')?.dirty"
                      >
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="entity.validation.required"
                          *ngIf="breakRuleConditions.controls[i].get('from')?.errors?.required"
                        >
                          This field is required
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.validValue"
                          *ngIf="breakRuleConditions.controls[i].get('from')?.errors?.timeFormatHHMMSS"
                        >
                          Enter valid value
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.breakDurationLessThanMinShift"
                          *ngIf="breakRuleConditions.controls[i].get('from')?.errors?.from_must_less_than_min_shift"
                        >
                          From must be less than min shift
                        </small>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-0">
                      <input type="text" class="form-control form-control-h40 fs-xs" placeholder="e.g. 05:00" formControlName="to" />
                      <div *ngIf="breakRuleConditions.controls[i].get('to')?.errors && breakRuleConditions.controls[i].get('to')?.dirty">
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="entity.validation.required"
                          *ngIf="breakRuleConditions.controls[i].get('to')?.errors?.required"
                        >
                          This field is required
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.validValue"
                          *ngIf="breakRuleConditions.controls[i].get('to')?.errors?.timeFormatHHMMSS"
                        >
                          Enter valid value
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.toLessThanMaxShift"
                          *ngIf="breakRuleConditions.controls[i].get('to')?.errors?.to_must_less_than_max_shift"
                        >
                          To must be less than max shift
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.toGreaterThanFrom"
                          *ngIf="breakRuleConditions.controls[i].get('to')?.errors?.to_must_greater_than_from"
                        >
                          To must be greater than from
                        </small>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-0">
                      <input
                        type="text"
                        class="form-control form-control-h40 fs-xs"
                        placeholder="e.g. 04:00"
                        formControlName="break_starts_at"
                      />
                      <div
                        *ngIf="
                          breakRuleConditions.controls[i].get('break_starts_at')?.errors &&
                          breakRuleConditions.controls[i].get('break_starts_at')?.dirty
                        "
                      >
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="entity.validation.required"
                          *ngIf="breakRuleConditions.controls[i].get('break_starts_at')?.errors?.required"
                        >
                          This field is required
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.validValue"
                          *ngIf="breakRuleConditions.controls[i].get('break_starts_at')?.errors?.timeFormatHHMMSS"
                        >
                          Enter valid value
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.breakStartAtGreaterThanFrom"
                          *ngIf="breakRuleConditions.controls[i].get('break_starts_at')?.errors?.break_starts_at_must_greater_than_from"
                        >
                          Break starts at must be greater than from
                        </small>
                        <small
                          class="form-text text-danger"
                          hrmsTranslate="hrmsApp.breakRule.validation.breakStartAtLessThanMinShift"
                          *ngIf="breakRuleConditions.controls[i].get('break_starts_at')?.errors?.break_starts_at_must_less_than_min_shift"
                        >
                          Break starts at must be less than min shift
                        </small>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button
                      (click)="removeBreakRuleCondition(i, condition.value.id)"
                      class="btn btn-outline-danger btn-h-44 pt-2 rounded-8"
                    >
                      <i class="icon-trash"></i>
                    </button>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>

      <div class="text-right mb-3 pt-3">
        <a
          href="javascript:void(0)"
          (click)="addBreakRuleCondition()"
          class="text-primary fs-sm d-flex align-items-center justify-content-end"
        >
          <i class="icon-plus-circle mr-2"></i>
          <span hrmsTranslate="hrmsApp.breakRule.button.addCondition.label">Add New Conditions</span>
        </a>
      </div>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="text-right">
      <button type="button" class="btn btn-outline-primary btn-h-47 px-4 mx-1" data-dismiss="modal" (click)="cancel()">
        <span hrmsTranslate="global.action.cancel">Cancel</span>
      </button>

      <button
        id="hrms-confirm-delete-designation"
        data-cy="entityConfirmDeleteButton"
        type="submit"
        class="btn btn-primary btn-h-47 px-4 mx-1"
        [disabled]="breakRuleForm.invalid"
      >
        <span hrmsTranslate="global.action.save">Save</span>
      </button>
    </div>
  </div>
</form>
