<form name="workShiftTemplateForm" role="form" [formGroup]="workShiftTemplateForm">
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4 class="col-md-auto modal-title text-dark" hrmsTranslate="hrmsApp.workShiftTemplate.home.title">Work Shift Template</h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider mb-3"></div>

    <div class="row px-3 my-3">
      <div class="col-md-12 px-md-4 py-0">
        <p class="m-0 text-right">
          <span hrmsTranslate="hrmsApp.workShiftTemplate.total_work_shift_duration">Duration</span>: {{ timeDifference }}
        </p>
      </div>
      <div class="col-md-12 px-md-4 py-3">
        <div class="row w-100 m-0 p-0">
          <div class="col-12 col-md-6 pl-0">
            <div>
              <span hrmsTranslate="global.form.to.label">To</span>
              <input type="time" class="form-control input-h-47px fs-sm rounded-12" name="start_time" formControlName="start_time" />
            </div>
          </div>
          <div class="col-12 col-md-6 pl-0">
            <div>
              <span hrmsTranslate="global.form.from.label">From</span>
              <input type="time" class="form-control input-h-47px fs-sm rounded-12" name="end_time" formControlName="end_time" />
            </div>
          </div>
        </div>
        <div class="date-time-clock mt-4">
          <label class="d-block" for="designation_id" hrmsTranslate="hrmsApp.workShiftTemplate.designation_name">Designation</label>
          <select class="form-control input-h-47px fs-sm rounded-12" name="designation_id" formControlName="designation_id">
            <option *ngFor="let item of designations" [ngValue]="item" [disabled]="!item.designation_id || !item.branch_id">
              <strong *ngIf="!item.designation_id">{{ item.branch_name }}</strong>
              <span *ngIf="item.designation_id"> {{ item.designation_name }}</span>
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="dashed-divider mb-3"></div>
    <div class="text-right">
      <button type="button" class="btn btn-outline-primary btn-h-47 px-4 mx-1" data-dismiss="modal" (click)="cancel()">
        <span hrmsTranslate="global.action.cancel">Cancel</span>
      </button>

      <button
        id="hrms-confirm-delete-designation"
        data-cy="entityConfirmDeleteButton"
        (click)="save()"
        class="btn btn-primary btn-h-47 px-4 mx-1"
      >
        <span hrmsTranslate="global.action.save">Save</span>
      </button>
    </div>
  </div>
</form>
