<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="hrms-custom-field-heading"
        data-cy="CustomFieldCreateUpdateHeading"
        hrmsTranslate="hrmsApp.customField.home.createOrEditLabel"
      >
        Create or edit a Custom Field
      </h2>

      <div>
        <hrms-alert-error></hrms-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" hrmsTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.customField.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" hrmsTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.customField.custom_field_type" for="field_custom_field_type"
            >Custom Field Type</label
          >
          <select
            class="form-control"
            id="field_custom_field_type"
            data-cy="custom_field_type"
            name="custom_field_type"
            formControlName="custom_field_type_id"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="fieldType.id" *ngFor="let fieldType of fieldTypes">
              {{ fieldType.name }}
            </option>
          </select>
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('custom_field_type')?.errors?.required"
            hrmsTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.customField.permission_type" for="field_permission_type"
            >Permission Type</label
          >
          <input
            type="text"
            class="form-control"
            name="permission_type"
            id="field_permission_type"
            data-cy="permission_type"
            formControlName="permission_type"
          />
          <div
            *ngIf="
              editForm.get('permission_type')!.invalid &&
              (editForm.get('permission_type')!.dirty || editForm.get('permission_type')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('permission_type')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('permission_type')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="hrmsApp.customField.value" for="field_value">Value</label>
          <input type="text" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
          <div *ngIf="editForm.get('value')!.invalid && (editForm.get('value')!.dirty || editForm.get('value')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('value')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 800 }"
            >
              This field cannot be longer than 800 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-outline-primary mx-1" (click)="previousState()">
          <span hrmsTranslate="global.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary mx-1"
        >
          <span hrmsTranslate="global.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
