<div class="mt-3">
  <h4 class="fs-md text-blue-dark">Example:</h4>
  <div class="leave-balance green-br-rounded-card mb-0 border-cellsolid-gray bg-white">
    <table class="head-bg-table text-center">
      <thead>
        <tr>
          <th scope="col">email</th>
          <th scope="col">date</th>
          <th scope="col">clockin</th>
          <th scope="col">clockout</th>
          <th scope="col">notes</th>
          <th scope="col">position</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>info@info.com</td>
          <td>mm/d/yyyy</td>
          <td>08:00 AM</td>
          <td>05:00 PM</td>
          <td>First Note</td>
          <td>Software Engineer</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-12 text-right pt-1 pb-3">
    <div class="text-right">
      <div class="d-flex align-items-center">
        <div class="mx-1 mt-1">
          <i class="hazira-icon-download text-primary fs-xxl"></i>
        </div>
        <div class="mx-1">
          <a class="font-weight-bold fs-sm" href="https://hazira-test.s3.amazonaws.com/time-sheet-import-example.xlsx">
            <span hrmsTranslate="global.action.downloadSampleFile">Download Sample</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-3">
    <div class="file-uploader text-center">
      <input #uploadTimeSheetFile type="file" (change)="onFileChange($event)" />
      <i class="icon-cloud-upload upload-icon"></i>
      <p class="fs-sm">Choose file</p>
    </div>
  </div>
  <div class="col-auto">
    <p class="fs-sm mb-0">{{ fileName }}</p>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-3">
    <button (click)="uploadTimeSheet()" class="btn btn-block btn-primary btn-h-47 px-5">Upload</button>
  </div>
</div>
