<div class="page-side-nav">
  <ul class="left-sidebar">
    <li (click)="filterFromSidebar({ branch_id: null })" class="w-100">
      <a [routerLink]="['/employee']" href="javascript:void(0)">
        <span hrmsTranslate="hrmsApp.employee.sidemenu.allStaff" [translateValues]="{ count: totalEmployee }">All Staff</span>
      </a>
    </li>
    <li *ngIf="!isEmployee" (click)="filterFromSidebar({ invitation_accepted: false })" class="w-100">
      <a routerLinkActive="active" [routerLink]="['/employee', 'inactive']" href="javascript:void(0)">
        <span hrmsTranslate="hrmsApp.employee.sidemenu.notActive" [translateValues]="{ count: notActivatedEmployeeCount }"> Pending </span>
      </a>
    </li>
    <li (click)="filterFromSidebar({ is_active: false })" class="w-100">
      <a [routerLink]="['/employee']" [queryParams]="{ is_active: false }" href="javascript:void(0)">
        <span hrmsTranslate="hrmsApp.employee.sidemenu.disabled" [translateValues]="{ count: disabledEmployeeCount }">Disabled</span>
      </a>
    </li>
    <li *ngIf="branches.length" class="w-100">
      <a href="javascript:void(0)" class="parent-item" hrmsTranslate="hrmsApp.employee.filter.branch.label">Branches</a>
      <ul>
        <li *ngFor="let branch of branches" class="w-100">
          <a
            [routerLink]="['/employee']"
            [queryParams]="{ branch_id: branch.id }"
            (click)="filterFromSidebar({ branch_id: branch.id })"
            href="javascript:void(0)"
            >{{ branch.name }} ({{ branch.employees?.length }})</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
