<div>
  <h2 id="page-heading" data-cy="LeaveTypeHeading">
    <span hrmsTranslate="leaveType.home.title">Leave Types</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-leave-type"
        [routerLink]="['/leave-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hrmsTranslate="leaveType.button.create.label"> Create a new Leave Type </span>
      </button>
    </div>
  </h2>

  <hrms-alert-error></hrms-alert-error>

  <hrms-alert></hrms-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="leaveTypes?.length === 0">
    <span hrmsTranslate="leaveType.home.empty">No leaveTypes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="leaveTypes && leaveTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span hrmsTranslate="global.field.id">ID</span></th>
          <th scope="col"><span hrmsTranslate="global.table.company.column">Company</span></th>
          <th scope="col"><span hrmsTranslate="leaveType.form.name">Name</span></th>
          <th scope="col"><span hrmsTranslate="leaveType.form.is_partial_day_request_allowed">Is Partial Day Request Allowed</span></th>
          <th scope="col"><span hrmsTranslate="leaveType.form.max_days_allowed">Max Days Allowed</span></th>
          <th scope="col">
            <span hrmsTranslate="leaveType.form.is_max_employee_allowed_enabled">Is Max Employee Allowed Enabled</span>
          </th>
          <th scope="col"><span hrmsTranslate="leaveType.form.max_employee_allowed">Max Employee Allowed</span></th>
          <th scope="col">
            <span hrmsTranslate="leaveType.form.is_leave_in_advance_days_enabled">Is Leave In Advance Days Enabled</span>
          </th>
          <th scope="col"><span hrmsTranslate="leaveType.form.leave_in_advance_days">Leave In Advance Days</span></th>
          <th scope="col">
            <span hrmsTranslate="leaveType.form.auto_assign_new_employee_enabled">Auto Assign New Employee Enabled</span>
          </th>
          <th scope="col"><span hrmsTranslate="leaveType.form.description">Description</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leaveType of leaveTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/leave-type', leaveType.id, 'view']">{{ leaveType.id }}</a>
          </td>
          <td>{{ leaveType.company?.name }}</td>
          <td>{{ leaveType.name }}</td>
          <td>{{ leaveType.is_partial_day_request_allowed }}</td>
          <td>{{ leaveType.max_days_allowed }}</td>
          <td>{{ leaveType.is_max_employee_allowed_enabled }}</td>
          <td>{{ leaveType.max_employee_allowed }}</td>
          <td>{{ leaveType.is_leave_in_advance_days_enabled }}</td>
          <td>{{ leaveType.leave_in_advance_days }}</td>
          <td>{{ leaveType.auto_assign_new_employee_enabled }}</td>
          <td>{{ leaveType.description }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/leave-type', leaveType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.update">Edit</span>
              </button>

              <button type="submit" (click)="delete(leaveType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
