<div class="d-flex">
  <hrms-common-sidebar [sideMenus]="sideMenus"></hrms-common-sidebar>
  <div class="inner-body-scrollbar custom-scrollable scrollable-y">
    <div class="page-action-toolbar mb-3">
      <hrms-employee-navigation routerURL="/branch" (eventEmitter)="addOrUpdate()"></hrms-employee-navigation>
      <div>
        <!-- PRIMARY LOCATION -->
        <ng-container>
          <div class="bg-white rounded-12 p-3 mt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto">
                <h4 hrmsTranslate="hrmsApp.branch.home.primary.title" class="text-blue-dark font-weight-bold fs-default mb-4 mt-2">
                  Primary Locations
                </h4>
              </div>
            </div>
            <hrms-branch-card
              [is_primary]="true"
              [branches]="branches"
              (addOrUpdateEmitter)="addOrUpdate($event)"
              (deleteEmitter)="delete($event)"
              (updatePositionEmitter)="visiblePosition($event)"
              (deletePositionEmitter)="deletePosition($event)"
              (openAddPositionModalEmitter)="openAddPositionModal($event)"
              (openAssociateSkillModalEmitter)="openAssociateSkillModal($event)"
            ></hrms-branch-card>
          </div>
        </ng-container>
        <!-- ADDITIONAL LOCATION -->
        <ng-container>
          <div class="bg-white rounded-12 p-3 mt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto">
                <h4 hrmsTranslate="hrmsApp.branch.home.additional.title" class="text-blue-dark font-weight-bold fs-default mb-4 mt-2">
                  Additional Location
                </h4>
              </div>
            </div>
            <hrms-branch-card
              [is_primary]="false"
              [branches]="branches"
              (addOrUpdateEmitter)="addOrUpdate($event)"
              (deleteEmitter)="delete($event)"
              (updatePositionEmitter)="visiblePosition($event)"
              (deletePositionEmitter)="deletePosition($event)"
              (openAddPositionModalEmitter)="openAddPositionModal($event)"
              (openAssociateSkillModalEmitter)="openAssociateSkillModal($event)"
            ></hrms-branch-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
