<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="permissionType">
      <h2 data-cy="permissionTypeDetailsHeading"><span hrmsTranslate="hrmsApp.permissionType.detail.title">Permission Type</span></h2>

      <hr />

      <hrms-alert-error></hrms-alert-error>

      <hrms-alert></hrms-alert>

      <dl class="row-md jh-entity-details">
        <dt><span hrmsTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ permissionType.id }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.permissionType.name">Name</span></dt>
        <dd>
          <span>{{ permissionType.name }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.permissionType.key">Key</span></dt>
        <dd>
          <span>{{ permissionType.key }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hrmsTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/permission-type', permissionType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hrmsTranslate="global.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
