<ng-container *ngIf="isSaving">
  <hrms-transparent-spinner></hrms-transparent-spinner>
</ng-container>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4
        class="col-md-auto modal-title text-dark"
        id="hrms-company-heading"
        data-cy="CompanyCreateUpdateHeading"
        hrmsTranslate="hrmsApp.company.home.createOrEditLabel"
      >
        Create or edit a Company
      </h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider mb-3"></div>

    <hrms-alert-error></hrms-alert-error>

    <div class="row px-3 my-3">
      <div class="col-12 px-md-4">
        <div>
          <div class="row" [hidden]="editForm.get('id')!.value == null">
            <div class="col-6">
              <div class="row form-group">
                <label class="col-12 col-form-label" hrmsTranslate="hrmsApp.company.home.companyLogo">Company logo</label>
                <div class="col-8">
                  <input class="form-control" type="file" (change)="onFileChange($event)" />
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-outline-primary" (click)="onUpload()" hrmsTranslate="global.action.upload">
                    Upload
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" hrmsTranslate="hrmsApp.company.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
            <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('name')?.errors?.required"
                hrmsTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('name')?.errors?.maxlength"
                hrmsTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 255 }"
              >
                This field cannot be longer than 255 characters.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" hrmsTranslate="hrmsApp.company.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
            <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('phone')?.errors?.required"
                hrmsTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('phone')?.errors?.maxlength"
                hrmsTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 20 }"
              >
                This field cannot be longer than 20 characters.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" hrmsTranslate="hrmsApp.company.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
            <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.required"
                hrmsTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.maxlength"
                hrmsTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 255 }"
              >
                This field cannot be longer than 255 characters.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" hrmsTranslate="hrmsApp.company.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
            <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('address')?.errors?.required"
                hrmsTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('address')?.errors?.maxlength"
                hrmsTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 500 }"
              >
                This field cannot be longer than 500 characters.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" hrmsTranslate="hrmsApp.company.companyType" for="field_companyType">Company Type</label>
            <select class="form-control" id="field_companyType" data-cy="companyType" name="companyType" formControlName="companyType">
              <option [ngValue]="null"></option>
              <option
                [ngValue]="
                  companyTypeOption.id === editForm.get('companyType')!.value?.id ? editForm.get('companyType')!.value : companyTypeOption
                "
                *ngFor="let companyTypeOption of companyTypesSharedCollection; trackBy: trackCompanyTypeById"
              >
                {{ companyTypeOption.name }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-control-label" hrmsTranslate="hrmsApp.company.applicationType" for="field_applicationType"
              >Application Type</label
            >
            <select
              class="form-control"
              id="field_applicationType"
              data-cy="applicationType"
              name="applicationType"
              formControlName="applicationType"
            >
              <option [ngValue]="null"></option>
              <option
                [ngValue]="
                  applicationTypeOption.id === editForm.get('applicationType')!.value?.id
                    ? editForm.get('applicationType')!.value
                    : applicationTypeOption
                "
                *ngFor="let applicationTypeOption of applicationTypesSharedCollection; trackBy: trackApplicationTypeById"
              >
                {{ applicationTypeOption.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="dashed-divider mb-3"></div>

    <div class="text-right pt-4">
      <button type="button" id="cancel-save" class="btn btn-outline-primary btn-h-47 px-4 mr-2" (click)="cancel()">
        <span hrmsTranslate="global.action.cancel">Cancel</span>
      </button>
      <button
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        [disabled]="editForm.invalid || isSaving"
        class="btn btn-primary btn-h-47 px-4"
      >
        <span hrmsTranslate="global.action.save">Save</span>
      </button>
    </div>
  </div>
</form>
