<div class="body-content">
  <div class="container-fulid">
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-20">
            <div class="feature-statue-count rounded-12-white-box">
              <h5 class="status-label" hrmsTranslate="home.count.acknowledgeShift.label">Acknowledge Shifts</h5>
              <h5 class="status-amount">{{ allShiftCount }}</h5>
              <div class="progress">
                <div
                  class="progress-bar bg-primary"
                  role="progressbar"
                  aria-label="Primary example"
                  style="width: 100%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-20">
            <div class="feature-statue-count rounded-12-white-box">
              <h5 class="status-label" hrmsTranslate="home.count.shiftToPublish.label">Shifts to Publish</h5>
              <h5 class="status-amount">{{ unpublishedShiftCount }}</h5>
              <div class="progress">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  aria-label="Primary example"
                  style="width: 100%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-20">
            <div class="feature-statue-count rounded-12-white-box">
              <h5 class="status-label" hrmsTranslate="home.count.leaveRequest.label">Leave Requests</h5>
              <h5 class="status-amount">{{ leaveRequestCount }}</h5>
              <div class="progress">
                <div
                  class="progress-bar bg-warning"
                  role="progressbar"
                  aria-label="Primary example"
                  style="width: 100%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-20">
            <div class="feature-statue-count rounded-12-white-box">
              <h5 class="status-label" hrmsTranslate="home.count.timeSheet.label">Time Sheets</h5>
              <h5 class="status-amount">{{ timeSheetCount }}</h5>
              <div class="progress">
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  aria-label="Primary example"
                  style="width: 100%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-20">
          <div class="col-md-12 col-lg-6 align-self-stretch">
            <div class="rounded-12-white-box time-clock pb-2">
              <h4 class="box-title text-blue-dark text-center mb-3 pt-1" hrmsTranslate="timeClock.title">Time Clock</h4>
              <div class="dashed-divider mb-2"></div>
              <hrms-time-clock-add></hrms-time-clock-add>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 align-self-stretch">
            <hrms-announcement [announcements]="announcements"></hrms-announcement>
          </div>
        </div>
        <div class="row mb-20">
          <div class="col-md-6 col-lg-4">
            <hrms-employee-online></hrms-employee-online>
          </div>
          <div class="col-md-6 col-lg-4">
            <hrms-on-leave [leaves]="leaves"></hrms-on-leave>
          </div>
          <div class="col-md-6 col-lg-4">
            <hrms-late-for-work [lates]="lates"></hrms-late-for-work>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <hrms-anniversary [employeesAnniversary]="employeesAnniversary"></hrms-anniversary>
          </div>

          <div class="col-md-12 col-lg-6">
            <hrms-birthday [employeesBirthday]="employeesBirthday"></hrms-birthday>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="rounded-12-white-box announcement-box pb-2 mb-4">
          <hrms-shared-files [files]="files"></hrms-shared-files>
        </div>
        <div class="rounded-12-white-box announcement-box pb-2">
          <hrms-upcoming-shifts
            titleClass="box-title text-blue-dark text-center mb-3 pt-1"
            [upcomingShifts]="upcomingShifts"
          ></hrms-upcoming-shifts>
        </div>
      </div>
    </div>
  </div>
</div>
