/* ==========================================================================
Main page styles
========================================================================== */
@import '../../../webapp/content/scss/app-variable';

.feature-statue-count {
  padding: 24px;

  .status-label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .status-amount {
    font-size: 18px;
    font-weight: 600;
    color: $gray-dark;
  }

  .progress {
    height: 5px;
    opacity: 0.6;

    .progressbar {
      height: 5px;
    }
  }
}

.time-clock {
  padding: 22px 17px;
}

.punch-point {
  background: $primary-light;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    display: block;
    background: linear-gradient(111.71deg, #82d4bc 14.24%, #69bfa5 86.78%);
    border-radius: 100%;
    height: 8px;
    width: 8px;
  }
}

.punch-pin {
  background: $primary;
  color: $white;
  font-size: 14px;
  height: 40px;
  padding: 9px 14px;
  border-radius: 4px;
  position: relative;
  line-height: 23px;

  &::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 14px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid $primary;
    border-bottom: 5px solid transparent;
  }
}

.employee-item {
  padding: 10px 0;

  .employee-img {
    img {
      height: 45px;
      width: 45px;
      border-radius: 100%;
      border: 1px solid $primary;
      background-color: $white;
      padding: 3px;
    }
  }

  .employee-info {
    .employee-name {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 0;
    }

    .employee-designation {
      color: $dark-shade-200;
    }
  }

  .employee-availablity {
    color: $dark-shade-200;

    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      margin-right: 8px;
    }

    &.active-emp {
      &::before {
        background: rgba($color: $primary, $alpha: 1);
      }
    }

    &.late-emp {
      &::before {
        background: rgba($color: $app-danger, $alpha: 1);
      }
    }
  }
}

.select-option-sm-green {
  position: absolute;
  top: 16px;
  right: 45px;

  .form-control {
    height: 26px;
    border: 1px solid rgba($color: $primary, $alpha: 1);
    border-radius: 4px;
    color: rgba($color: $primary, $alpha: 1);
    font-size: 10px;
  }
}

.quick-options-btn {
  .quick-action-item {
    text-align: center;

    .quick-action-btn {
      height: 60px;
      width: 60px;
      border: 1px solid rgba($color: $primary, $alpha: 0.2);
      color: rgba($color: $primary, $alpha: 1);
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      font-size: 20px;

      &:hover {
        border-color: rgba($color: $primary, $alpha: 1);
      }
    }

    .btn-label {
      font-size: 14px;
      color: $dark-shade-200;
      font-weight: 600;
    }
  }
}

.box-container {
  height: 304px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 18px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px solid $primary;
    border-radius: 10px;
  }
}
