<form *ngIf="permissionType" name="deleteForm" (ngSubmit)="confirmDelete(permissionType.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="permissionTypeDeleteDialogHeading" hrmsTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <hrms-alert-error></hrms-alert-error>

    <p
      id="hrms-delete-permissionType-heading"
      hrmsTranslate="hrmsApp.permissionType.delete.question"
      [translateValues]="{ id: permissionType.id }"
    >
      Are you sure you want to delete this Permission Type?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <span hrmsTranslate="global.action.cancel">Cancel</span>
    </button>

    <button id="hrms-confirm-delete-permissionType" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span hrmsTranslate="global.action.delete">Delete</span>
    </button>
  </div>
</form>
