<div>
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4 class="col-md-auto pl-md-0 modal-title text-dark" data-cy="announcementDeleteDialogHeading">Confirm delete operation</h4>
      <button class="close" type="button" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>
    <div class="dashed-divider mb-3"></div>

    <div class="p-3">
      <hrms-alert-error></hrms-alert-error>
      <p hrmsTranslate="announcement.modal.delete.title">Are you sure you want to delete this Branch?</p>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="text-right pt-4">
      <button
        type="button"
        class="btn btn-outline-primary btn-h-47 px-4 mr-2"
        data-dismiss="modal"
        (click)="cancel()"
        hrmsTranslate="global.action.cancel"
      >
        Cancel
      </button>
      <button
        (click)="delete()"
        [disabled]="isSaving"
        data-cy="entityConfirmDeleteButton"
        class="btn btn-danger btn-h-47 px-4"
        hrmsTranslate="global.action.delete"
      >
        Delete
      </button>
    </div>
  </div>
</div>
