<div class="row justify-content-center">
  <div class="col-6">
    <div class="bg-white p-4">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <h4
          class="text-blue-dark fw-600 mb-4"
          id="hrms-leave-type-heading"
          data-cy="LeaveTypeCreateUpdateHeading"
          hrmsTranslate="leaveType.home.createOrEditLabel"
        >
          Create or edit a Leave Type
        </h4>

        <div>
          <hrms-alert-error></hrms-alert-error>

          <div class="form-group">
            <label class="fs-sm text-blue-dark" hrmsTranslate="leaveType.form.name" for="field_name">Name</label>
            <div class="ml-4 pl-2">
              <input type="text" class="form-control form-control-h52" name="name" id="field_name" data-cy="name" formControlName="name" />
              <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('name')?.errors?.required"
                  hrmsTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('name')?.errors?.maxlength"
                  hrmsTranslate="entity.validation.maxlength"
                  [translateValues]="{ max: 255 }"
                >
                  This field cannot be longer than 255 characters.
                </small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check form-check-custom mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                data-cy="is_partial_day_request_allowed"
                name="is_partial_day_request_allowed"
                id="is_partial_day_request_allowed"
                formControlName="is_partial_day_request_allowed"
              />
              <label class="form-check-label mr-3 align-items-start" for="is_partial_day_request_allowed">
                <span class="check-mark"></span>
                <span class="fs-sm text-blue-dark text-center" hrmsTranslate="leaveType.form.is_partial_day_request_allowed">
                  Is Partial Day Request Allowed
                </span>
              </label>
            </div>
          </div>

          <div class="ml-4 pl-2">
            <div class="form-group">
              <label class="fs-sm text-blue-dark" hrmsTranslate="leaveType.form.max_days_allowed" for="field_max_days_allowed"
                >Max Days Allowed</label
              >
              <input
                type="number"
                class="form-control form-control-h52"
                name="max_days_allowed"
                id="field_max_days_allowed"
                data-cy="max_days_allowed"
                formControlName="max_days_allowed"
              />
              <div
                *ngIf="
                  editForm.get('max_days_allowed')!.invalid &&
                  (editForm.get('max_days_allowed')!.dirty || editForm.get('max_days_allowed')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('max_days_allowed')?.errors?.required"
                  hrmsTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('max_days_allowed')?.errors?.max"
                  hrmsTranslate="entity.validation.max"
                  [translateValues]="{ max: 8 }"
                >
                  This field cannot be more than 8.
                </small>
                <small
                  class="form-text text-danger"
                  [hidden]="!editForm.get('max_days_allowed')?.errors?.number"
                  hrmsTranslate="entity.validation.number"
                >
                  This field should be a number.
                </small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check form-check-custom mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                name="is_max_employee_allowed_enabled"
                id="field_is_max_employee_allowed_enabled"
                data-cy="is_max_employee_allowed_enabled"
                formControlName="is_max_employee_allowed_enabled"
              />
              <label class="form-check-label mr-3 align-items-start" for="field_is_max_employee_allowed_enabled">
                <span class="check-mark"></span>
                <span class="fs-sm text-blue-dark text-center" hrmsTranslate="leaveType.form.is_max_employee_allowed_enabled">
                  Is Max Employee Allowed Enabled
                </span>
              </label>
            </div>
          </div>

          <div *ngIf="isMaxEmployeeAllowedEnabled" class="form-group ml-4 pl-2">
            <label class="fs-sm text-blue-dark" hrmsTranslate="leaveType.form.max_employee_allowed" for="field_max_employee_allowed">
              Max Employee Allowed
            </label>
            <input
              type="number"
              class="form-control form-control-h52"
              name="max_employee_allowed"
              id="field_max_employee_allowed"
              data-cy="max_employee_allowed"
              formControlName="max_employee_allowed"
            />
            <div
              *ngIf="
                editForm.get('max_employee_allowed')!.invalid &&
                (editForm.get('max_employee_allowed')!.dirty || editForm.get('max_employee_allowed')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('max_employee_allowed')?.errors?.required"
                hrmsTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('max_employee_allowed')?.errors?.max"
                hrmsTranslate="entity.validation.max"
                [translateValues]="{ max: 8 }"
              >
                This field cannot be more than 8.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('max_employee_allowed')?.errors?.number"
                hrmsTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check form-check-custom mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                name="is_leave_in_advance_days_enabled"
                id="field_is_leave_in_advance_days_enabled"
                data-cy="is_leave_in_advance_days_enabled"
                formControlName="is_leave_in_advance_days_enabled"
              />
              <label class="form-check-label mr-3 align-items-start" for="field_is_leave_in_advance_days_enabled">
                <span class="check-mark"></span>
                <span
                  class="fs-sm text-blue-dark text-center"
                  hrmsTranslate="leaveType.form.is_leave_in_advance_days_enabled"
                  for="field_is_leave_in_advance_days_enabled"
                >
                  Is Leave In Advance Days Enabled
                </span>
              </label>
            </div>
          </div>

          <div *ngIf="isLeaveAdvanceDaysEnabled" class="form-group ml-4 pl-2">
            <label class="fs-sm text-blue-dark" hrmsTranslate="leaveType.form.leave_in_advance_days" for="field_leave_in_advance_days"
              >Leave In Advance Days</label
            >
            <input
              type="number"
              class="form-control form-control-h52"
              name="leave_in_advance_days"
              id="field_leave_in_advance_days"
              data-cy="leave_in_advance_days"
              formControlName="leave_in_advance_days"
            />
            <div
              *ngIf="
                editForm.get('leave_in_advance_days')!.invalid &&
                (editForm.get('leave_in_advance_days')!.dirty || editForm.get('leave_in_advance_days')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('leave_in_advance_days')?.errors?.required"
                hrmsTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('leave_in_advance_days')?.errors?.max"
                hrmsTranslate="entity.validation.max"
                [translateValues]="{ max: 8 }"
              >
                This field cannot be more than 8.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('leave_in_advance_days')?.errors?.number"
                hrmsTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check form-check-custom mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                name="auto_assign_new_employee_enabled"
                id="field_auto_assign_new_employee_enabled"
                data-cy="auto_assign_new_employee_enabled"
                formControlName="auto_assign_new_employee_enabled"
              />
              <label class="form-check-label mr-3 align-items-start" for="field_auto_assign_new_employee_enabled">
                <span class="check-mark"></span>
                <span
                  class="fs-sm text-blue-dark text-center"
                  hrmsTranslate="leaveType.form.auto_assign_new_employee_enabled"
                  for="field_auto_assign_new_employee_enabled"
                >
                  Auto Assign New Employee Enabled
                </span>
              </label>
            </div>
          </div>

          <div class="form-group ml-4 pl-2">
            <label class="fs-sm text-blue-dark" hrmsTranslate="leaveType.form.description" for="field_description">Description</label>
            <input
              type="text"
              class="form-control form-control-h52"
              name="description"
              id="field_description"
              data-cy="description"
              formControlName="description"
            />
          </div>
        </div>

        <div class="text-right py-3">
          <button type="button" id="cancel-save" class="btn btn-outline-primary btn-h-52 px-5" (click)="previousState()">
            <span hrmsTranslate="global.action.cancel">Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary btn-h-52 px-5 ml-2"
          >
            <span hrmsTranslate="global.action.save">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
