<form [formGroup]="addAnnouncementForm" (submit)="save()">
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4
        class="col-md-auto pl-md-0 modal-title text-dark"
        data-cy="announcementUpdateDialogHeading"
        hrmsTranslate="announcement.modal.save.title"
      >
        Create Announcement
      </h4>
      <button class="close" type="button" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="dashed-divider mb-3"></div>

    <div class="p-3">
      <hrms-alert-error></hrms-alert-error>
      <div class="form-group">
        <label class="fs-sm d-block text-dark-3" for="announcement-title">Title</label>
        <input hrmsInputTrim formControlName="title" id="announcement-title" name="announcement-title" class="form-control" type="text" />
        <div
          *ngIf="
            addAnnouncementForm.get('title')!.invalid &&
            (addAnnouncementForm.get('title')!.dirty || addAnnouncementForm.get('title')!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="addAnnouncementForm.get('title')?.errors?.required"> This field is required. </small>
          <small class="form-text text-danger" *ngIf="addAnnouncementForm.get('title')?.errors?.maxlength">
            This field cannot be longer than 100 characters.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="fs-sm d-block text-dark-3" for="announcement-description">Description</label>
        <div class="textarea-wrapper">
          <textarea
            hrmsInputTrim
            formControlName="description"
            id="announcement-description"
            class="form-control h-auto"
            name="announcement-description"
            cols="12"
            rows="5"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="text-right pt-4">
      <button
        type="button"
        class="btn btn-outline-primary btn-h-47 px-4 mr-2"
        data-dismiss="modal"
        (click)="cancel()"
        hrmsTranslate="global.action.cancel"
      >
        Cancel
      </button>
      <button
        [disabled]="addAnnouncementForm.invalid || isSaving"
        type="submit"
        class="btn btn-primary btn-h-47 px-4"
        hrmsTranslate="global.action.save"
      >
        Save
      </button>
    </div>
  </div>
</form>
