<div>
  <h2 id="page-heading" data-cy="WorkShiftTemplateHeading">
    <span hrmsTranslate="hrmsApp.workShiftTemplate.home.title">Work Shift Templates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-primary mr-2" (click)="addTemplate()" [disabled]="isLoading">
        <i class="icon-plus2 mr-2"></i>
        <span hrmsTranslate="hrmsApp.workShiftTemplate.home.add">Add new template</span>
      </button>
    </div>
  </h2>

  <hrms-alert-error></hrms-alert-error>

  <hrms-alert></hrms-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workShiftTemplates?.length === 0">
    <span hrmsTranslate="hrmsApp.workShiftTemplate.home.notFound">No workShiftTemplates found</span>
  </div>

  <div class="custom-table-sortable-th" id="entities" *ngIf="workShiftTemplates && workShiftTemplates.length > 0">
    <table class="table" aria-describedby="page-heading">
      <thead>
        <tr>
          <th class="bg-th-head" scope="col"><span hrmsTranslate="hrmsApp.workShiftTemplate.time">Time</span></th>
          <th class="bg-th-head" scope="col">
            <span hrmsTranslate="hrmsApp.workShiftTemplate.total_work_shift_duration">Shift Duration</span>
          </th>
          <th class="bg-th-head" scope="col"><span hrmsTranslate="hrmsApp.workShiftTemplate.branch_name">Branch</span></th>
          <th class="bg-th-head" scope="col">
            <span hrmsTranslate="hrmsApp.workShiftTemplate.designation_name">Designation</span>
          </th>
          <th class="bg-th-head text-right" scope="col">
            <span hrmsTranslate="global.table.action.column">Action</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workShiftTemplate of workShiftTemplates; trackBy: trackId" data-cy="entityTable">
          <td>{{ workShiftTemplate.start_time | convertHoursMinutes }} - {{ workShiftTemplate.end_time | convertHoursMinutes }}</td>
          <td>{{ workShiftTemplate.total_work_shift_duration | formatTime: eTimeType.SECOND }}</td>
          <td>{{ workShiftTemplate?.branch?.name }}</td>
          <td>{{ workShiftTemplate?.designation?.name }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" (click)="showDeleteModal(workShiftTemplate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #deleteModal let-modal>
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4 class="col-md-auto modal-title text-dark" hrmsTranslate="hrmsApp.workShiftTemplate.delete.deleteLabel">
        Delete Workshift Template
      </h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="modal.dismiss()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="px-4 my-3" hrmsTranslate="hrmsApp.workShiftTemplate.delete.question">
      <p>Are you sure you want to delete this template?</p>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="text-right">
      <button type="button" class="btn btn-outline-primary btn-h-47 px-4 mx-1" data-dismiss="modal" (click)="modal.dismiss()">
        <span hrmsTranslate="global.action.cancel">Cancel</span>
      </button>

      <button
        id="hrms-confirm-delete-designation"
        data-cy="entityConfirmDeleteButton"
        (click)="deleteWorkShiftTemplate()"
        class="btn btn-danger btn-h-47 px-4 mx-1"
      >
        <span hrmsTranslate="hrmsApp.workShift.delete.okLabel">OK</span>
      </button>
    </div>
  </div>
</ng-template>
