<div class="p-2">
  <div class="inner-body-report-scrollbar pt-4">
    <div class="bg-white p-3 rounded-8">
      <div class="page-action-toolbar">
        <hrms-generic-filter-form [isLoading]="isLoading" (filterApply)="filter($event)" (filterReset)="resetHoursScheduled()">
        </hrms-generic-filter-form>
        <div *ngIf="!hoursScheduled.length">
          <p hrmsTranslate="global.filter.chooseFilter.title">Please select filters above.</p>
        </div>
        <div *ngIf="hoursScheduled.length" class="text-right">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="hours-scheduled-export"
              ngbDropdownToggle
              hrmsTranslate="global.action.export"
            >
              Export
            </button>
            <div ngbDropdownMenu aria-labelledby="hours-scheduled-export-export">
              <button ngbDropdownItem (click)="export(EExportType.PDF)" hrmsTranslate="global.action.exportType.pdf">PDF</button>
              <button ngbDropdownItem (click)="export(EExportType.XLSX)" hrmsTranslate="global.action.exportType.excel">Excel</button>
            </div>
          </div>
        </div>
        <div
          *ngIf="hoursScheduled.length"
          class="table-responsive leave-balance green-br-rounded-card mb-0 border-cellsolid-gray bg-whitemt-2 mt-2"
        >
          <table class="head-bg-table text-center">
            <thead>
              <tr>
                <th hrmsTranslate="global.table.employee.column">Employee</th>
                <th hrmsTranslate="global.table.hour.column">Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of hoursScheduled">
                <td>{{ item.employee_name }}</td>
                <td>
                  {{ item.work_shift_hours | formatTime: eTimeType.SECOND }}
                </td>
              </tr>
              <tr>
                <td><span hrmsTranslate="global.table.total.column">Total</span>:({{ hoursScheduled.length }})</td>
                <td>{{ totalHoursScheduled | formatTime: eTimeType.SECOND }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
