<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="company">
      <h2 data-cy="companyDetailsHeading"><span hrmsTranslate="hrmsApp.company.detail.title">Company</span></h2>

      <hr />

      <hrms-alert-error></hrms-alert-error>

      <hrms-alert></hrms-alert>

      <dl class="row-md jh-entity-details">
        <dt><span hrmsTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ company.id }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.company.name">Name</span></dt>
        <dd>
          <span>{{ company.name }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.company.phone">Phone</span></dt>
        <dd>
          <span>{{ company.phone }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.company.email">Email</span></dt>
        <dd>
          <span>{{ company.email }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.company.address">Address</span></dt>
        <dd>
          <span>{{ company.address }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.company.logo_url_large">Logo Url Large</span></dt>
        <dd>
          <span>{{ company.logo_url_large }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.company.logo_url_medium">Logo Url Medium</span></dt>
        <dd>
          <span>{{ company.logo_url_medium }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.company.logo_url_small">Logo Url Small</span></dt>
        <dd>
          <span>{{ company.logo_url_small }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.company.status">Status</span></dt>
        <dd>
          <span>{{ company.status }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.company.companyType">Company Type</span></dt>
        <dd>
          <div *ngIf="company.companyType">
            <a [routerLink]="['/company-type', company.companyType?.id, 'view']">{{ company.companyType?.name }}</a>
          </div>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.company.applicationType">Application Type</span></dt>
        <dd>
          <div *ngIf="company.applicationType">
            <a [routerLink]="['/application-type', company.applicationType?.id, 'view']">{{ company.applicationType?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hrmsTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
