<div class="bg-white p-2 mb-4">
  <hrms-employee-details-navigation></hrms-employee-details-navigation>
  <div class="row">
    <div class="col-6">
      <div class="setting-border-runded-box rounded-12 p-3 mb-4">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <h4 class="fs-sm text-blue-dark font-weight-bold">
              <span hrmsTranslate="hrmsApp.employee.permissions.manage">Manage Permissions</span>
            </h4>
          </div>
        </div>
        <div class="dashed-divider mb-3"></div>
        <div>
          <div>
            <p>
              <strong class="fs-sm text-blue-dark mb-0">Employee</strong> <br />
              <span class="fs-sm text-blue-dark-5 mb-0">Basic Settings. Scheduler permissions can be granted to specific positions.</span>
            </p>
          </div>
          <div>
            <p>
              <strong class="fs-sm text-blue-dark mb-0">Scheduler</strong> <br />
              <span class="fs-sm text-blue-dark-5 mb-0">Manage specific Locations / Positions / Staff</span>
            </p>
          </div>
          <div>
            <p>
              <strong class="fs-sm text-blue-dark mb-0">Supervisor</strong> <br />
              <span class="fs-sm text-blue-dark-5 mb-0">Manages all Locations / Positions / Staff + Wages</span>
            </p>
          </div>
          <div>
            <p>
              <strong class="fs-sm text-blue-dark mb-0">Manager</strong> <br />
              <span class="fs-sm text-blue-dark-5 mb-0">Supervisor + Permissions + Admin Settings</span>
            </p>
          </div>
          <div>
            <p>
              <strong class="fs-sm text-blue-dark mb-0">Accountant</strong> <br />
              <span class="fs-sm text-blue-dark-5 mb-0">Read Only - All Schedules & Reports</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="setting-border-runded-box rounded-12 p-3 mb-4">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <h4 class="fs-sm text-blue-dark font-weight-bold">
              <span hrmsTranslate="hrmsApp.employee.permissions.accountType">Account Type</span>
            </h4>
          </div>
        </div>
        <div class="dashed-divider mb-3"></div>
        <div>
          <p *ngIf="employeeId === employeeDetails?.id || !hasPermission">
            <strong class="text-bold" hrmsTranslate="hrmsApp.employee.permissions.note">Note:</strong>
            <span hrmsTranslate="hrmsApp.employee.adminActions.unAuthorization"> You have no permission. </span>
          </p>
          <p *ngIf="isOwner && hasPermission">
            <strong class="text-bold" hrmsTranslate="hrmsApp.employee.permissions.note">Note:</strong>
            <span hrmsTranslate="hrmsApp.employee.adminActions.adminAccountAuthorization">
              Permissions cannot be changed for the main account user.
            </span>
          </p>
          <div *ngIf="hasPermission && !isOwner && employeeId !== employeeDetails?.id" class="row form-group">
            <div class="col-6">
              <select class="form-control" [(ngModel)]="role_id">
                <option [ngValue]="null"></option>
                <option [ngValue]="role.id" *ngFor="let role of roles">
                  {{ role.name }}
                </option>
              </select>
            </div>
          </div>
          <button
            *ngIf="hasPermission && !isOwner && employeeId !== employeeDetails?.id"
            [disabled]="!role_id"
            class="btn btn-primary"
            type="button"
            (click)="updateRole()"
            hrmsTranslate="hrmsApp.employee.permissions.saveButton.label"
          >
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
