<div class="error-container">
  <div class="error-content">
    <div class="text-center">
      <i class="icon-warning1 error-icon"></i>
      <br />
      <div *ngIf="errorMessage">
        <h1 class="my-4">{{ errorMessage }}</h1>
      </div>
      <div>
        <button (click)="backToHome()" class="btn btn-block btn-outline-primary btn-h-56">Back to home</button>
      </div>
    </div>
  </div>
</div>
