@import '../../../content/scss/app-variable';

.error-container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.error-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .error-icon {
    color: $app-danger-300;
    font-size: 8em;
  }
}
