@import '../../../content/scss/app-variable';
.left-sidebar {
  // background-color: rgba($color: $primary, $alpha: 0.05);
  min-height: calc(100vh - 62px);
  height: 100%;
  width: 230px;
  border-right: 1px solid rgba($color: $primary, $alpha: 0.05);
}
