$font-family-light: 'manropelight';
$font-family-regular: 'manroperegular';
$font-family-medium: 'manropemedium';
$font-family-bold: 'manropebold';

$border-color: #edf2f7;
$primary-overwrite: #7dd3b6;

// Theme Variables
$primary: #5ec7a4;
$transparent: #0000009e;
$transparent-light: #f2fdf6;
$primary-light: #7dd3b61a;
$secondary: #0a467e;

$primary-gradient-color-1: #82d4bc;
$primary-gradient-color-2: #69bfa5;

// Status colors
$info: #149cfc;
$info-light: #ebf7ff;
$app-green: #22c55e;
$app-green-light: #d2fde2;
$app-warning: #ffc042;
$app-warning-light: #fff8d4;
$app-danger: #f24646;
$app-danger-300: #fc7b7b;
$app-danger-light: #ffecec;
$warning: #ffc042;

$gray-dark: #15436e;
$gray-4: #e2e8f0;
$gray-5: #ebeff8;

$header-bg: #f2fbf8;
$header-text: #3271ab;

// Dark shade
$dark-shade-800: #0a467e17;
$dark-shade-700: #15436e;
$dark-shade-600: #1c4770;
$dark-shade-500: #335778;
$dark-shade-400: #40607d;
$dark-shade-300: #56718a;
$dark-shade-200: #8595a4;
$dark-shade-100: #bbc1c6;
$white: #ffffff;

$body-color: #718096;

$size-xs: 25px;
$size-sm: 35px;
$size-md: 55px;

// View port mixin
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 35.938em) {
      @content;
    } //600px
  }
  @if $breakpoint == break-md {
    @media (max-width: 768px) {
      @content;
    } //768px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 61.938em) {
      @content;
    } //991px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == desktop {
    @media (min-width: 1400px) {
      @content;
    } //1400
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } //1800px
  }
}
