/*
* Bootstrap overrides https://getbootstrap.com/docs/4.0/getting-started/theming/
* All values defined in bootstrap source
* https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss can be overwritten here
* Make sure not to add !default to values here
*/
$border-color: #edf2f7;

// Theme Variables
$primary: #7dd3b6;
$primary-light: #7dd3b61a;
$secondary: #0a467e;

// Status colors
$info: #149cfc;
$info-light: #ebf7ff;
$app-green: #22c55e;
$app-green-light: #d2fde2;
$app-warning: #ffc042;
$app-warning-light: #fff8d4;
$app-danger: #f24646;
$app-danger-light: #ffecec;

$gray-dark: #2e2c34;
$gray-5: #e0e0e0;

// Dark shade
$dark-shade-700: #15436e;
$dark-shade-600: #1c4770;
$dark-shade-500: #335778;
$dark-shade-400: #40607d;
$dark-shade-300: #56718a;
$dark-shade-200: #8595a4;
$dark-shade-100: #bbc1c6;
$white: #ffffff;

$body-color: #718096;

@mixin transition($value) {
  -moz-transition: $value;
  -o-transition: $value;
  -webkit-transition: $value;
  transition: $value;
}
