@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/cosmo/variables';
@import '~bootstrap/scss/variables';
@import 'app-variable';

@import 'components/buttons';

@font-face {
  font-family: $font-family-bold;
  src: url('../fonts/manrope-bold-webfont.woff2') format('woff2'), url('../fonts/manrope-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'manropeextrabold';
  src: url('../fonts/manrope-extrabold-webfont.woff2') format('woff2'), url('../fonts/manrope-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'manropeextralight';
  src: url('../fonts/manrope-extralight-webfont.woff2') format('woff2'), url('../fonts/manrope-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-family-light;
  src: url('../fonts/manrope-light-webfont.woff2') format('woff2'), url('../fonts/manrope-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-family-medium;
  src: url('../fonts/manrope-medium-webfont.woff2') format('woff2'), url('../fonts/manrope-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-family-regular;
  src: url('../fonts/manrope-regular-webfont.woff2') format('woff2'), url('../fonts/manrope-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'manropesemibold';
  src: url('../fonts/manrope-semibold-webfont.woff2') format('woff2'), url('../fonts/manrope-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ==============================================================
Bootstrap tweaks
===============================================================*/
body {
  background-color: rgba($color: #fafafa, $alpha: 1);
  font-family: 'Manrope', $font-family-regular, $font-family-medium, 'manropesemibold';
}
body {
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: $font-family-bold;
}

h4,
h5,
h6 {
  font-family: $font-family-regular;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-nowrap {
  white-space: nowrap;
}
.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}
/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.modal-open .modal {
  z-index: 9999999;
}
.modal-backdrop.show {
  z-index: 999999 !important;
}
.modal-content {
  border-radius: 12px;
  border: none;
}
.border-left-dark {
  border-left: 1px solid rgba($color: $dark-shade-100, $alpha: 0.8);
}
.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.icon-rounded-primary {
  border: 1px solid $primary;
  border-radius: 50%;
  background-color: #7dd3b61a;
}

.error {
  color: white;
  background-color: red;
}
.body-container {
  padding: 20px !important;
}
.container-fluid {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.-mx-20 {
  margin-left: -20px;
  margin-right: -20px;
}
.max-width-auto {
  max-width: inherit !important;
}
.rounded-4 {
  border-radius: 4px !important;
}
.pad {
  padding: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[hrmssortby] {
  cursor: pointer;
}

.info-link {
  font-size: 12px;
  color: $info;
  font-weight: 500;
  &:hover {
    color: $dark-shade-600;
  }
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.custom-scrollable {
  overflow: auto;
  padding: 0 18px;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px solid $primary;
    border-radius: 10px;
  }
}

.scrollable-y {
  &::-webkit-scrollbar {
    width: 5px;
  }
}

.scrollable-x {
  &::-webkit-scrollbar {
    height: 5px;
  }
}

.dashed-divider {
  border-bottom: 1px dashed rgba($color: $dark-shade-100, $alpha: 0.5);
}
.leave-balance {
  border-radius: 13px;
}
.rounded-12 {
  border-radius: 12px;
}
.rounded-50 {
  border-radius: 50% !important;
}
.rounded-8 {
  border-radius: 8px !important;
}
.form-control {
  border: 2px solid rgba($color: $secondary, $alpha: 0.09);
}
.form-control[readonly] {
  background-color: rgba($color: $secondary, $alpha: 0.03);
}
.form-control-h52 {
  height: 52px !important;
}
.form-control-h40 {
  height: 40px;
}
.form-control-h-auto {
  height: auto !important;
}
.form-control-w-auto {
  width: auto;
}
.form-control-green-border {
  border-color: rgba($color: $primary-overwrite, $alpha: 1);
}
.field-append-icon {
  position: relative;
  .form-control {
    padding-right: 40px;
  }
  .field-icon {
    color: $dark-shade-100;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    font-size: 20px;
    border: none;
    background: none;
    &:hover {
      color: rgba($color: $dark-shade-400, $alpha: 1);
    }
  }
}
.row-gutter-2 {
  margin-right: -2px !important;
  margin-left: -2px !important;
  .col-gutter-2 {
    padding-right: 2px;
    padding-left: 2px;
  }
}

.scrollbar-kit {
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.scrollbar-h-kit {
  &::-webkit-scrollbar {
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

// Hide/show
.block-width-m {
  @include respond(break-md) {
    display: block;
    width: 100%;
  }
}
.hide-on-mobile {
  @include respond(break-md) {
    display: none;
  }
}
.show-on-mobile {
  display: none;
  @include respond(break-md) {
    display: block;
  }
}
.inline-block {
  display: inline-block;
}
/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .hrms-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .hrms-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

// reset style started
.input-h-47px {
  height: 47px;
}
.form-group {
  position: relative;
  .field-left-icon {
    position: relative;
    .form-control {
      padding-left: 45px;
    }
    .left-icon {
      position: absolute;
      left: 15px;
      top: 15px;
      font-size: 20px;
      color: $app-green;
    }
  }
  .form-control {
    border-color: $gray-4;
    background-color: #fff;
    border-radius: 12px;
    height: 40px;
    &.input-h-54px {
      height: 54px;
    }
    &.input-h-47px {
      height: 47px;
    }
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: rgba($color: $primary, $alpha: 1);
    }
    &.form-control-select {
      background: url('../../content/images/select-option-arrow-down.png') $white;
      background-repeat: no-repeat;
      background-position: right 25px bottom 23px;
      background-size: 10px;
      border-radius: 12px;
      padding: 3px 25px;
      font-size: 14px;
      width: 100%;
      -webkit-appearance: none;
      -ms-appearance: none;
      appearance: none;
    }
  }
  .input-action {
    font-size: 20px;
    position: absolute;
    top: 14px;
    right: 15px;
    border: none;
    background: none;
    color: $body-color;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:hover {
      color: $primary;
    }
  }
}
.row-gutter-8 {
  margin-right: -8px !important;
  margin-left: -8px !important;
  .col-gutter-8 {
    padding-right: 8px;
    padding-left: 8px;
  }
}
// reset style end
.vertical-align-middle {
  td {
    vertical-align: middle;
  }
}
.custom-table {
  table {
    thead {
      tr {
        th {
          border: none;
          background-color: rgba($color: $primary, $alpha: 0.08);
        }
      }
    }
    tr {
      td {
        vertical-align: middle;
        padding: 5px 10px;
        .row-delete-btn {
          color: rgba($color: $primary, $alpha: 0.3);
          &:hover {
            color: rgba($color: $primary, $alpha: 1);
          }
        }
      }
    }
  }
}
.custom-table-sortable-th {
  table {
    .table-column {
      color: $body-color;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      font-family: $font-family-medium;
      font-weight: 500;
    }
    thead {
      tr {
        th {
          background: none;
          padding: 15px 10px;
          &.sort-table {
            cursor: pointer;
            i {
              opacity: 0.8;
            }
          }
        }
      }
    }
    tr {
      td {
        vertical-align: middle;
        padding: 10px;
        color: $dark-shade-500;
        a {
          font-size: 16px;
          color: $gray-dark;
          text-decoration: none;
          font-family: $font-family-medium;
        }
        .table-user-img {
          background: rgba($color: $dark-shade-100, $alpha: 0.5);
          border: none;
          display: inline-block;
          border-radius: 100%;
          height: 30px;
          width: 30px;
        }
      }
    }
    tbody {
      tr {
        &.cursor-pointer {
          cursor: pointer;
          &:hover {
            background-color: #0000000c;
          }
        }
      }
    }
  }
}
.white-space-nowrap {
  white-space: inherit;
}
.white-space-nowrap-true {
  white-space: nowrap;
}
.item-list-box {
  background-color: #ffffff;
}
.staff-name-img {
  img {
    height: 40px;
    border: 1px solid #ddd;
    margin-right: 10px;
  }
}
.add-employee-row {
  background: rgba($color: $primary, $alpha: 0.05);
  padding: 16px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  .add-employee-img {
    background: #ffffff;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    border: 1px solid #ddd;
  }
}
.min-width-dropbtn {
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill-dropwdown {
  .skill-row {
    display: flex;
    padding: 2px 15px;
    label {
      margin-left: 5px;
      margin-bottom: 0;
      cursor: pointer;
      white-space: nowrap;
    }
  }
}

.btn {
  font-family: $font-family-bold;
  border-radius: 12px;
  &.pill-rounded {
    border-radius: 50px;
  }
  &.btn-h-56 {
    height: 56px;
  }
  &.btn-h-54 {
    height: 54px;
  }
  &.btn-h-47 {
    height: 54px;
  }
  &.btn-h-52 {
    height: 52px;
  }
  &.btn-h-47 {
    height: 47px;
  }
  &.btn-h-42 {
    height: 42px;
  }
  &.btn-h-44 {
    height: 40px;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &.btn-outline-gray {
    border: 1px solid #ced4da;
  }
  &.table-list-action-btn {
    width: 38px;
    height: 30px;
    border-radius: 8px;
  }
}
.dropdown {
  &.show {
    .btn-outline-gray {
      background-color: #ced4da;
    }
  }
}

.location-item-box {
  background: rgba($color: $primary, $alpha: 0.03);
  height: 100%;
  position: relative;
  .location-edit {
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba($color: $primary, $alpha: 0.5);
    &:hover {
      color: rgba($color: $primary, $alpha: 1);
    }
  }
  .location-item-title {
    background-color: rgba($color: $primary, $alpha: 0.05);
    padding: 10px;
    display: flex;
    align-items: center;
    .item-icon {
      font-size: 20px;
      margin-right: 5px;
    }
  }
  .location-info {
    padding: 15px;
    label {
      display: block;
      font-weight: bold;
    }
  }
}
.border-top-dashed {
  border-top: 1px dashed rgba($color: $dark-shade-100, $alpha: 0.5);
  padding: 15px 0;
}
.locatoin-box {
  border: 1px solid rgba($color: $dark-shade-100, $alpha: 0.2);
  border-radius: 10px;
  overflow: hidden;
  .branch-name {
    font-family: $font-family-bold;
  }
  .location-header-address {
    border-top: 1px dashed rgba($color: $dark-shade-100, $alpha: 0.5);
    border-bottom: 1px dashed rgba($color: $dark-shade-100, $alpha: 0.5);
    padding: 15px 0;
    margin-bottom: 20px;
    .header-label {
      font-size: 13px;
      color: $dark-shade-500;
      font-weight: 500;
    }
    .header-info {
      font-size: 10px;
    }
  }
  .form-control-break-rule {
    font-size: 10px;
    padding: 0 6px;
    border-radius: 4px;
    color: $dark-shade-300;
  }
}
.location-items {
  border-bottom: 1px dashed rgba($color: $dark-shade-100, $alpha: 0.5);
  padding-bottom: 20px;
}

.location-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
}

.create-new-location-panel {
  background: rgba($color: $primary, $alpha: 0.05);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}
.no-item-content {
  i {
    font-size: 25px;
    color: rgba($color: $primary, $alpha: 1);
  }
  p {
    margin-bottom: 0;
  }
}

.rounded-12-white-box {
  background: $white;
  border-radius: 12px;
}

.dashed-divider {
  border-bottom: 1px dashed $gray-5;
}
.solid-divider {
  border-bottom: 1px solid $border-color;
}

// typo utilitis
.text-white-op-7 {
  color: rgba($color: $white, $alpha: 0.7);
}
.text-dark {
  color: $gray-dark;
}
.text-blue-dark {
  color: $dark-shade-600;
}
.text-blue-dark-700 {
  color: $dark-shade-700 !important;
}
.text-blue-dark-5 {
  color: $dark-shade-300;
}
.text-blue-dark-6 {
  color: $dark-shade-200;
}
.text-blue-dark-7 {
  color: $dark-shade-100;
}
.text-primary {
  color: $primary;
}
.text-danger-light {
  color: $app-danger-300;
}
.text-success {
  color: $app-green !important;
}
.box-title {
  font-family: $font-family-medium;
  font-size: 18px;
}

.fw-600 {
  font-weight: 600;
}
.fw-normal {
  font-weight: normal !important;
}
.ff-manropebold {
  font-family: $font-family-bold;
}

.fs-tiny {
  font-size: 10px !important;
}

.fs-xs {
  font-size: 12px !important;
}
.fs-sm {
  font-size: 14px !important;
}
.fs-default {
  font-size: 16px !important;
}
.fs-md {
  font-size: 18px !important;
}
.fs-xl {
  font-size: 20px !important;
}
.fs-xxl {
  font-size: 24px !important;
}
.fs-2xxl {
  font-size: 40px !important;
}
.fs-3xxl {
  font-size: 50px !important;
}
.inner-body-scrollbar {
  height: calc(100vh - 103px);
  overflow-y: auto;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 20px 20px 20px;
  margin-right: -20px;
  margin-bottom: -20px;
}
.page-side-nav {
  background: $white;
  padding: 15px 0;
  width: 250px;
  border-right: 1px solid $border-color;
  margin-left: -18px;
  margin-top: -20px;
  margin-bottom: -20px;
  height: calc(100vh - 83px);
  overflow: auto;
  &.side-nav-100 {
    width: 100%;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 10px 0;
      &.nav-link-saperator {
        border-top: 1px dashed $gray-5;
        border-bottom: 1px dashed $gray-5;
        padding: 8px 35px;
        font-family: $font-family-bold;
        font-size: 14px;
        color: $gray-dark;
        margin: 5px;
      }
      ul {
        li {
          a {
            padding: 13px 10px 13px 45px;
          }
        }
      }
      a {
        background: rgba($color: $app-green-light, $alpha: 0.15);
        display: block;
        font-size: 14px;
        color: $gray-dark;
        padding: 8px 10px 8px 35px;
        &.parent-item {
          background: $white;
          color: rgba($color: $dark-shade-600, $alpha: 1);
          font-weight: 700;
          padding: 5px 35px;
          pointer-events: none;
        }
        &:hover {
          background: rgba($color: $app-green-light, $alpha: 0.3);
          color: rgba($color: $app-green, $alpha: 1);
          text-decoration: none;
        }
        &.active {
          background: rgba($color: $app-green-light, $alpha: 0.3);
          color: rgba($color: $app-green, $alpha: 1);
          font-family: $font-family-bold;
        }
      }
    }
  }
}
.new-table {
  .table {
    thead {
      tr {
        th {
          background: rgba($color: $app-green, $alpha: 0.07);
          font-size: 14px;
          border: none;
          color: $gray-dark;
          &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
          &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
    &.border-dashed {
      tbody {
        tr {
          td {
            border-bottom: 1px dashed $border-color;
            font-size: 14px;
            border-top: none;
          }
        }
      }
    }
  }
}

.app-password-strength {
  ul {
    padding: 0;
  }
}

.table-search-bar {
  position: relative;
  .search-icon {
    position: absolute;
    left: 13px;
    top: 13px;
    font-size: 18px;
  }
  .form-control {
    height: 47px;
    padding-left: 40px;
  }
}
.border-light-gray {
  border: 1px solid rgba($color: $dark-shade-100, $alpha: 0.3);
}
.light-dashed-table {
  table {
    width: 100%;
    &.head-bg-table {
      thead {
        tr {
          th {
            background: rgba($color: $app-green, $alpha: 0.05);
          }
        }
      }
    }
    thead {
      tr {
        th {
          font-size: 14px;
          color: rgba($color: $dark-shade-700, $alpha: 1);
          padding: 12px 10px;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 12px;
          color: rgba($color: $dark-shade-700, $alpha: 1);
          border-bottom: 1px dashed rgba($color: $dark-shade-700, $alpha: 0.2);
          padding: 12px 10px;
          vertical-align: middle;
        }
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.customize-calendar {
  full-calendar {
    .fc-header-toolbar {
      .fc-toolbar-chunk {
        .fc-button-group {
          // display: none;
          .fc-button {
            &.fc-button-primary {
              background: $primary-overwrite;
              border-color: $primary-overwrite;
              &:hover {
                background: darken($color: $primary-overwrite, $amount: 10);
              }
              &.fc-button-active {
                background: darken($color: $primary-overwrite, $amount: 10);
              }
            }
          }
        }
        .fc-toolbar-title {
          font-size: 24px;
        }
      }
    }
  }
  .fc-scrollgrid {
    border-radius: 12px;
    padding: 0.5em;
    border-color: $border-color !important;
  }
  .fc-resource-timeline-divider {
    width: 1px !important;
    background: $border-color !important;
  }
  .fc-scrollgrid-section-header {
    background: rgba($color: $white, $alpha: 1);
    .fc-datagrid-cell-main {
      color: $gray-dark;
    }
    .fc-scrollgrid-sync-inner {
      color: $gray-dark;
    }
  }
  .fc-media-screen {
    height: 80vh;
    padding: 1em;
    background: white;
    border-radius: 12px;
  }
  .fc-theme-standard {
    .fc-event-main {
      text-align: center !important;
    }
  }
  .fc-theme-standard td,
  .fc-theme-standard th {
    border-color: $border-color !important;
  }

  .fc-theme-standard td {
    height: 80px;
    .fc-h-event {
      background-color: $primary !important;
      border-color: $primary !important;
      margin: 0.5em;
      height: 70px;
      border-radius: 9px;
    }
  }
  .fc-scrollgrid-sync-table {
    .fc-timeline-header-row {
      th {
        border-bottom: 1px solid $border-color !important;
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background: rgba($color: $white, $alpha: 1);
        }
      }
    }
  }
  .fc-scroller-harness {
    .fc-datagrid-cell-main {
      h6 {
        font-size: 14px;
        color: $primary-overwrite;
        text-transform: capitalize;
        margin: 8px 0;
        letter-spacing: 1px;
        font-family: $font-family-light;
      }
    }
  }
}

.filter-date-picker {
  ngb-datepicker {
    border: none;
    .ngb-dp-header {
      background: rgba($color: $white, $alpha: 1);
      .ngb-dp-arrow {
        .ngb-dp-arrow-btn {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          border: 1px solid rgba($color: $dark-shade-600, $alpha: 0.15);
          text-align: center;
          line-height: 22px;
          display: block;
          font-size: 12px;
          padding: 0;
        }
      }
      .ngb-dp-navigation-select {
        flex: inherit;
        .custom-select {
          border: none;
          background: none !important;
          padding: 0 5px;
          font-size: 16px;
          font-weight: 600;
          width: auto;
          flex: initial;
        }
      }
    }
    .ngb-dp-content {
      .ngb-dp-weekdays {
        border-bottom: none;
      }
      .ngb-dp-week {
        background: rgba($color: $white, $alpha: 1);
        .ngb-dp-day,
        .ngb-dp-week-number,
        .ngb-dp-weekday {
          height: 1.8rem;
          width: 1.8rem;
          line-height: 29px;
        }
        .ngb-dp-weekday {
          font-style: normal !important;
          font-size: 10px !important;
          color: rgba($color: $dark-shade-700, $alpha: 1) !important;
        }
      }
      .custom-day {
        font-size: 10px;
        color: rgba($color: $dark-shade-700, $alpha: 1);
        &:hover {
          background-color: $primary-overwrite;
        }
        &.range {
          background-color: $primary-overwrite;
          color: rgba($color: $white, $alpha: 1);
        }
        &.faded {
          background-color: rgba($color: $dark-shade-100, $alpha: 0.1);
          color: $primary-overwrite;
        }
      }
    }
  }
}

.sidebar-filter-dropdown {
  position: relative;
  .filter-label {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 14px;
    font-family: $font-family-medium;
    color: rgba($color: $dark-shade-500, $alpha: 1);
    display: flex;
    align-items: center;
    i {
      color: rgba($color: $primary, $alpha: 1);
      margin-right: 10px;
      font-size: 22px;
    }
  }
  .multiselect-dropdown {
    .dropdown-btn {
      height: 50px;
      border: none !important;
      padding: 15px 0 !important;
      border-bottom: 1px dashed darken($color: $border-color, $amount: 10) !important;
      display: flex !important;
      align-items: center;
      justify-content: end;
      span {
        font-size: 0;
      }
      .dropdown-multiselect__caret {
        position: static !important;
        padding: 0 !important;
        height: auto !important;
        width: auto !important;
        display: flex !important;
        &::before {
          top: 50% !important;
          padding: 0;
          border-width: 5px 5px 0 !important;
        }
      }
      .selected-item-container {
        display: none !important;
      }
    }
    .dropdown-list {
      position: static;
      border: none;
      box-shadow: none;
      margin-top: 0;
      .multiselect-item-checkbox {
        font-size: 12px;
        padding: 3px 0 !important;
        border: none !important;
        &:hover {
          background: none !important;
        }
        div {
          &:hover {
            background: none !important;
          }
        }
      }
      .filter-textbox {
        padding: 0 !important;
        border: none !important;
        margin: 0;
        input {
          padding: 8px !important;
          font-size: 12px;
          border: 1px solid $border-color !important;
        }
      }
    }
  }
}

.nav-item {
  &.dropdown {
    &.pill-dropdown {
      .btn {
        border-color: rgba($color: $app-green, $alpha: 1);
        border-radius: 50px !important;
        background: rgba($color: $white, $alpha: 1);
        display: flex;
        align-items: center;
        position: relative;
        z-index: 99;
        .selected-label {
          display: block;
        }
        &:hover {
          background: rgba($color: $white, $alpha: 1);
          color: rgba($color: $app-green, $alpha: 1);
        }
        &:focus {
          background: rgba($color: $white, $alpha: 1) !important;
          color: rgba($color: $app-green, $alpha: 1) !important;
        }
        &::after {
          border-top: 0.4em solid;
          border-right: 0.4em solid #0000;
          border-left: 0.4em solid #0000;
        }
      }
    }
  }
}

.dropdown-menu {
  border: 2px solid $dark-shade-800 !important;
}

.custom-select-dropdown {
  .dropdown-menu {
    padding: 30px 10px 5px 10px;
    border: none;
    box-shadow: 0px 3px 6px 0px rgba($color: $dark-shade-600, $alpha: 0.13);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: -20px;
    min-width: inherit;
    z-index: 9;
    .dropdown-item {
      border-bottom: 1px dashed rgba($color: $dark-shade-600, $alpha: 0.15);
      padding: 0.35rem 1.5rem;
      &:hover {
        background: rgba($color: $white, $alpha: 1);
      }
      &:last-child {
        border-bottom: none;
      }
      .form-radio {
        position: relative;
        input[type='radio'] {
          position: absolute;
          opacity: 0;
          &:checked + label {
            color: rgba($color: $app-green, $alpha: 1);
          }
        }
        label {
          margin: 0;
          cursor: pointer;
          &:hover {
            color: rgba($color: $app-green, $alpha: 1);
          }
        }
      }
    }
  }
}

.add-clock-date-picker {
  border-radius: 12px;
  border: 1px solid $border-color;
  padding: 22px;
  .filter-date-picker {
    ngb-datepicker {
      width: 100%;
      justify-content: center;
      .ngb-dp-header {
        width: 100%;
        margin-bottom: 15px;
      }
      .ngb-dp-content {
        width: 100%;
        .ngb-dp-month {
          width: 100%;
          .ngb-dp-week {
            .ngb-dp-weekday {
              flex-basis: 0;
              flex-grow: 1;
              max-width: 100%;
            }
            .ngb-dp-day {
              flex-basis: 0;
              flex-grow: 1;
              max-width: 100%;
              div {
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}
.bg-th-head {
  background: rgba($color: $app-green, $alpha: 0.05) !important;
}
.border-cellsolid-gray {
  border: 1px solid rgba($color: $primary-overwrite, $alpha: 0.3);
  border-radius: 8px !important;
  table {
    width: 100%;
    &.head-bg-table {
      thead {
        tr {
          th {
            background: rgba($color: $app-green, $alpha: 0.05);
          }
        }
      }
    }
    thead {
      tr {
        th {
          font-family: $font-family-bold;
          font-size: 14px;
          color: $dark-shade-700;
          border-bottom: none;
          padding: 16px 10px;
          border-right: 1px solid rgba($color: $dark-shade-100, $alpha: 0.3);
          &:last-child {
            border-right: none;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 12px;
          color: $dark-shade-300;
          border-bottom: 1px solid rgba($color: $dark-shade-100, $alpha: 0.3);
          border-right: 1px solid rgba($color: $dark-shade-100, $alpha: 0.3);
          padding: 16px 10px;
          vertical-align: top;
          &:last-child {
            border-right: none;
          }
        }
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.file-uploader {
  height: 120px;
  width: 100%;
  border: 1px dashed darken($color: $border-color, $amount: 10);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  &:hover {
    border-color: 1px dashed darken($color: $border-color, $amount: 30);
    .upload-icon {
      color: rgba($color: $app-green, $alpha: 0.5);
    }
  }
  input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  .upload-icon {
    font-size: 45px;
    color: rgba($color: $app-green, $alpha: 0.2);
  }
}

.vertical-align-middle {
  tr {
    td {
      vertical-align: middle !important;
    }
  }
}

.multilable-icon-sidebar {
  li {
    a {
      background: rgba($color: $primary, $alpha: 0.1);
      font-size: 13px;
      font-weight: 600;
      color: rgba($color: $dark-shade-500, $alpha: 1);
      padding: 13px 20px;
      display: flex;
      align-items: center;
      &:hover {
        color: rgba($color: $app-green, $alpha: 1);
      }
      i {
        font-size: 17px;
        color: rgba($color: $app-green, $alpha: 1);
        width: 20px;
        margin-right: 10px;
      }
    }
    ul {
      li {
        a {
          padding-left: 51px;
          font-weight: 400;
          &:hover {
            color: rgba($color: $app-green, $alpha: 1);
          }
          &.active {
            font-family: $font-family-regular;
            font-weight: 400 !important;
            color: rgba($color: $app-green, $alpha: 1);
          }
        }
      }
    }
  }
}

.setting-border-runded-box {
  border: 2px solid rgba($color: $dark-shade-100, $alpha: 0.3);
}

.form-check-custom {
  position: relative;
  padding-left: 0;
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    &:checked {
      & + .form-check-label {
        .check-mark {
          border-color: rgba($color: $primary, $alpha: 1);
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  .form-check-label {
    display: flex;
    align-items: center;
    #rememberMe {
      color: $dark-shade-200;
    }
    .check-mark {
      border-radius: 2px;
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
      border: 1px solid $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 14px;
      &::after {
        color: $primary-overwrite;
        font-family: 'app-icon';
        content: '\e932';
        opacity: 0;
      }
    }
  }
}

.form-check-col-align-fix {
  margin-left: 10px;
}

.tiny-table-text {
  table {
    thead {
      tr {
        th {
          padding: 10px 5px;
          &.light-green-cell {
            background: rgba($color: $app-green, $alpha: 0.1);
            color: $app-green;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 10px 5px;
        }
      }
    }
  }
}

.shit-item {
  padding: 5px 0;

  .shift-date {
    border-right: 3px solid $dark-shade-100;
    padding: 0 15px;
    color: $dark-shade-700;
    height: 48px;

    &.info-shift {
      border-right-color: $info;
    }

    &.warning-shift {
      border-right-color: $app-warning;
    }

    span {
      font-size: 16px;
      display: block;
      text-align: center;
      margin-bottom: 0;
    }

    label {
      text-align: center;
      display: block;
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  .shif-info {
    font-size: 14px;
    color: $dark-shade-700;
    // font-weight: 600;
    // font-family: $font-family-medium;
  }
}

.statistics-row {
  border: 1px solid $border-color;
  border-radius: 12px;
  padding: 10px 15px;
  margin-bottom: 10px;

  .icon-clock {
    background: #f4f0ff;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 100%;
    line-height: 32px;
    margin-right: 15px;
  }

  p {
    font-size: 12px;
    font-family: $font-family-bold;
    color: $gray-dark;
  }

  label {
    font-size: 14px;
    color: $gray-dark;
  }

  .progress {
    border-radius: 20px;
    height: 6px;
    opacity: 0.8;

    &.progress-purple {
      .progress-bar {
        background: #936dff !important;
      }
    }
  }
}

.file-item {
  margin-bottom: 30px;

  .name-link {
    text-decoration: underline;
  }
  .file-number {
    width: 46px;
    height: 44px;
    font-size: 14px;
    font-weight: 700;
    color: $dark-shade-700;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }

  .file-name {
    color: $dark-shade-700;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .file-time {
    font-size: 12px;
    color: $dark-shade-200;
  }
}

.search-right-icon {
  position: relative;
  .search-icon {
    color: $dark-shade-100;
    border: none;
    background: none;
    position: absolute;
    top: 12px;
    right: 7px;
  }
}

.img-rounded {
  border: 1px solid rgba($color: $dark-shade-100, $alpha: 0.2);
  border-radius: 50% !important;
  padding: 0.2em;
}

.img-square-sm {
  height: $size-sm !important;
  width: $size-sm !important;
}

.img-square-md {
  height: $size-md !important;
  width: $size-md !important;
}

.icon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-left-radius-8 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.border-right-radius-8 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.disabled-form-control {
  border-color: #80808029 !important;
  background-color: #80808029 !important;
  &:hover {
    cursor: default !important;
  }
}
