@import '../../../../content/scss/app-variable';

.on-my-way-label {
  background-color: #d2fde24d !important;
  padding: 1em;
  text-align: center;
  color: #22c55e;

  p {
    margin: 0;
  }
}
.time-color-circle {
  border-radius: 100%;
  height: 156px;
  width: 156px;
  background: rgba($color: $gray-5, $alpha: 0.2);
  border: 5px solid rgba($color: $gray-5, $alpha: 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: $font-family-bold;
  color: $gray-dark;
  margin: 30px auto;
}
