<ng-container *ngIf="isLoading">
  <hrms-transparent-spinner></hrms-transparent-spinner>
</ng-container>
<div class="rounded-12-white-box p-4">
  <p class="text-dark h5 fw-600">{{ currentDate | date: 'MMM d, y, h:mm a':timeZone?.offset }}</p>
  <div *ngIf="isPreClockIn" class="px-4 pt-4">
    <div class="on-my-way-label">
      <p class="font-weight-bold">I'm on my way since {{ timeClock?.pre_clock_time | date: 'shortTime':timeZone.offset }}</p>
    </div>
  </div>
  <ng-container *ngIf="!isEmployeeRestricted">
    <div class="time-color-circle">{{ clockInTimer || '00:00:00' }} h</div>
    <div class="d-flex justify-content-center align-items-center mb-2">
      <ng-container *ngIf="timeClockSettings?.pre_clock_enabled">
        <div
          class="mx-2"
          *ngIf="(timeClock?.clock_start_time && timeClock?.clock_end_time) || (!timeClock?.clock_start_time && !isPreClockIn)"
        >
          <button
            (click)="createTimeClock()"
            class="btn btn-outline-primary pill-rounded px-4 btn-h-42 fs-default"
            hrmsTranslate="timeClock.button.preClockIn.label"
          >
            I'm on my way
          </button>
        </div>
      </ng-container>
      <ng-container class="mx-2" [ngSwitch]="!isPreClockMandatory">
        <div *ngIf="isClockIn && !isBreakStart">
          <button
            (click)="clockOut()"
            class="btn btn-danger pill-rounded px-4 btn-h-42 fs-default"
            hrmsTranslate="timeClock.button.clockOut.label"
          >
            Punch Out
          </button>
        </div>
        <div *ngSwitchCase="!isClockIn">
          <button
            (click)="clockIn()"
            class="btn btn-primary pill-rounded px-4 btn-h-42 fs-default"
            hrmsTranslate="timeClock.button.clockIn.label"
          >
            Punch In
          </button>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="isClockIn">
      <hrms-time-clock-new-event-add
        [timeClock]="timeClock"
        [timeZone]="timeZone"
        (timeClockChanged)="loadTimeClock()"
        (breakStarted)="changeIsBreakStart($event)"
      >
      </hrms-time-clock-new-event-add>
      <ng-container *ngIf="timeClockSettings?.show_address_under_time_clock && isClockIn">
        <div class="col mt-2">
          <div class="text-center">
            Geo Location : {{ geoLocation?.region_name }}, {{ geoLocation?.country_name }} IP: {{ geoLocation?.ip }}
          </div>
        </div>
      </ng-container>
      <div class="text-center mt-4">
        <a (click)="deleteTimeClock(timeClock?.id)" class="text-primary font-weight-bold" hrmsTranslate="timeClock.remove.label">
          Remove this punch in time
        </a>
      </div>
    </ng-container>
  </ng-container>
</div>
