<div class="d-flex">
  <hrms-common-sidebar [sideMenus]="sideMenus"></hrms-common-sidebar>
  <div class="inner-body-scrollbar">
    <div class="row">
      <div class="col-6">
        <div class="locatoin-box bg-white">
          <div class="px-3 py-2">
            <div class="row align-items-center justify-content-between">
              <div class="col-md-auto py-2">
                <h4 class="branch-name mb-0 px-2 text-blue-dark font-weight-bold fs-sm">File Upload</h4>
              </div>
            </div>
            <div class="border-top-dashed px-2">
              <form [formGroup]="fileUploadForm" (submit)="onUpload()">
                <div class="form-group">
                  <div class="row w-100 m-0 p-0 align-items-center">
                    <div class="col-12">
                      <input
                        hrmsInputTrim
                        id="file-upload-name"
                        name="file-upload-name"
                        class="form-control"
                        type="text"
                        placeholder="File Name"
                        formControlName="name"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input #uploadFile id="uploadFile" (change)="chooseFileHandler($event)" type="file" class="d-none" />
                  <div class="row w-100 m-0 p-0 align-items-center">
                    <div class="col-8">
                      <label for="uploadFile" class="file-uploader">
                        <div class="text-center">
                          <i class="icon-cloud-upload upload-icon"></i>
                          <p class="fs-sm">Choose file</p>
                        </div>
                      </label>
                    </div>
                    <div class="col-4">
                      <p class="m-0">{{ fileName }}</p>
                    </div>
                  </div>
                  <div class="row w-100 m-0 p-0 align-items-center">
                    <div class="col-8">
                      <button [disabled]="fileUploadForm.invalid || isSaving" type="submit" class="btn btn-primary w-100">
                        <div *ngIf="isSaving" class="spinner-border spinner-border-sm mx-3" role="status"></div>
                        Upload
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
