@import '../../content/scss/app-variable';

.choose-file-area {
  border: 2px dashed $gray-5;
  border-radius: 16px;
  text-align: center;
  padding: 1.5em 6em;
  p {
    font-size: 14px;
    color: $dark-shade-500;
    font-weight: 400;
  }
}
