<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span hrmsTranslate="userManagement.detail.title">User</span> [<strong>{{ user.username }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span hrmsTranslate="userManagement.login">Login</span></dt>
        <dd>
          <span>{{ user.username }}</span>
          <span *ngIf="user.activated" class="badge badge-success" hrmsTranslate="userManagement.activated">Activated</span>
          <span *ngIf="!user.activated" class="badge badge-danger" hrmsTranslate="userManagement.deactivated">Deactivated</span>
        </dd>

        <dt><span hrmsTranslate="userManagement.firstName">First Name</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span hrmsTranslate="userManagement.lastName">Last Name</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span hrmsTranslate="userManagement.email">Email</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span hrmsTranslate="userManagement.langKey">Lang Key</span></dt>
        <dd>{{ user.langKey }}</dd>

        <dt><span hrmsTranslate="userManagement.created_by">Created By</span></dt>
        <dd>{{ user.created_by }}</dd>

        <dt><span hrmsTranslate="userManagement.createdDate">Created Date</span></dt>
        <dd>{{ user.created_at | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span hrmsTranslate="userManagement.updated_by">Last Modified By</span></dt>
        <dd>{{ user.updated_by }}</dd>

        <dt><span hrmsTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
        <dd>{{ user.updated_at | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span hrmsTranslate="userManagement.profiles">Profiles</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let user_company of user.user_companies">
              <span class="badge badge-info">{{ user_company.role_id }}</span>
            </li>
          </ul>
        </dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hrmsTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
