<div>
  <h4 class="box-title text-blue-dark text-center mb-4 pt-4" hrmsTranslate="file.title">Shared Files</h4>
  <div class="box-container">
    <div *ngIf="files.length; else sharedFileNotFound">
      <div *ngFor="let file of files; let i = index" class="file-item">
        <div class="row">
          <div class="col-auto pr-0">
            <div class="file-number" style="background: #ebf7ff">{{ i + 1 }}</div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-between">
              <div>
                <a (click)="onDownload(file)" class="name-link">
                  <h5 class="file-name">{{ file.name }}</h5>
                </a>
                <span class="file-time">{{ file.created_at | date: 'shortTime':timeZone?.offset }}</span>
              </div>
              <div *ngIf="!isEmployee">
                <button (click)="delete(file.id)" class="btn text-danger icon-trash-o"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #sharedFileNotFound>
      <p hrmsTranslate="file.empty">No Files</p>
    </ng-template>
  </div>
</div>
