<div>
  <h4 [class]="titleClass" hrmsTranslate="hrmsApp.workShift.home.upcoming.title">Upcomming Shifts</h4>
  <div class="dashed-divider mb-2"></div>

  <ng-container *ngIf="upcomingShifts.length; else notFoundUpcomingShift">
    <div *ngFor="let upcomingShift of upcomingShifts" class="shit-item">
      <div class="row align-items-center py-2">
        <div class="col-auto pr-1">
          <div class="shift-date info-shift">
            <span>{{ upcomingShift.start_date | date: 'MMM' }}</span>
            <label>{{ upcomingShift.start_date | date: 'dd' }}</label>
          </div>
        </div>
        <div class="col">
          <p class="shif-info mb-1">{{ upcomingShift.start_date | date: 'h:mm a' }} - {{ upcomingShift.end_date | date: 'h:mm a' }}</p>
          <p class="shif-info mb-0">{{ upcomingShift?.designation?.name }}</p>
        </div>
        <div class="col-auto">
          <a (click)="view(upcomingShift)" href="javascript:void(0);" class="info-link" hrmsTranslate="global.action.details">Details</a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #notFoundUpcomingShift>
    <p class="text-center py-3" hrmsTranslate="hrmsApp.workShift.notFound">No upcoming shift found</p>
  </ng-template>
</div>
