<div class="mt-3">
  <h2 id="page-heading" data-cy="HolidayHeading">
    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-holiday"
        (click)="showCreateModal()"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hrmsTranslate="hrmsApp.holiday.home.createLabel">Create a new Holiday </span>
      </button>
    </div>
  </h2>

  <hrms-alert-error></hrms-alert-error>

  <hrms-alert></hrms-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="holidays?.length === 0">
    <span hrmsTranslate="hrmsApp.holiday.home.notFound">No holidays found</span>
  </div>

  <div
    class="table-responsive leave-balance green-br-rounded-card border-cellsolid-gray bg-white text-center"
    id="entities"
    *ngIf="holidays && holidays.length > 0"
  >
    <table class="head-bg-table text-center" aria-describedby="page-heading">
      <thead>
        <tr>
          <th><span hrmsTranslate="hrmsApp.holiday.date">Date</span></th>
          <th><span hrmsTranslate="hrmsApp.holiday.title">Title</span></th>
          <th><span hrmsTranslate="hrmsApp.holiday.description">Description</span></th>
          <th><span hrmsTranslate="global.table.action.column">Action</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let holiday of holidays; trackBy: trackId" data-cy="entityTable">
          <td *ngIf="holiday.date.length > 1">
            {{ holiday.date[0] | date }} <br />
            to <br />
            {{ holiday.date[holiday.date.length - 1] | date }}
          </td>
          <td *ngIf="holiday.date.length == 1">{{ holiday.date[0] | date }}</td>
          <td>{{ holiday.title }}</td>
          <td>{{ holiday.description }}</td>
          <td>
            <button
              type="button"
              class="btn table-list-action-btn btn-primary icon-pencil1 mx-1 p-0"
              (click)="showUpdateModal(holiday)"
              data-cy="entityEditButton"
            ></button>
            <button
              type="submit"
              (click)="delete(holiday)"
              class="btn table-list-action-btn btn-danger icon-trash mx-1 p-0"
              data-cy="entityDeleteButton"
            ></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
