<form name="addTimeClockForm" role="form" [formGroup]="addTimeClockForm">
  <div class="row justify-content-center bg-white">
    <div class="col-md-10">
      <div class="py-3">
        <div class="row align-items-center justify-content-center">
          <div *ngIf="!isEmployee" class="col-md-auto font-weight-bold fs-default text-blue-dark">
            <span hrmsTranslate="hrmsApp.employee.label">Employee</span>:
          </div>
          <div *ngIf="!isEmployee" class="col-md-auto">
            <div ngbDropdown class="nav-item dropdown pointer pill-dropdown custom-select-dropdown" display="dynamic">
              <button
                class="btn btn-outline-primary btn-h-47 pl-4 pr-3 dropdown-toggle"
                ngbDropdownToggle
                id="choose-employee"
                data-cy="choose-employee"
              >
                <span *ngIf="selectedEmployee; else chooseEmployeeDropdown" class="selected-label mr-3">
                  {{ selectedEmployee.first_name }} {{ selectedEmployee.last_name }}
                </span>
                <ng-template #chooseEmployeeDropdown>
                  <span class="selected-label mr-3" hrmsTranslate="timeClock.dropdown.employee.default"> Choose Employee </span>
                </ng-template>
              </button>
              <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="choose-employee">
                <li class="dropdown-item" *ngFor="let employee of employees">
                  <div class="form-radio" (click)="loadEmployeeDesignations(employee.id)">
                    <input
                      type="radio"
                      name="choose-employee"
                      id="employeeitem-{{ employee.id }}"
                      [value]="employee.id"
                      formControlName="employee_id"
                    />
                    <label class="fs-sm text-dark-3 radio-label" for="employeeitem-{{ employee.id }}"
                      >{{ employee.first_name }} {{ employee.last_name }}
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-auto font-weight-bold fs-default text-blue-dark">
            <span hrmsTranslate="hrmsApp.designation.home.title">Designation</span>:
          </div>
          <div class="col-md-auto">
            <div ngbDropdown class="nav-item dropdown pointer pill-dropdown custom-select-dropdown" display="dynamic">
              <button
                class="btn btn-outline-primary btn-h-47 pl-4 pr-3 dropdown-toggle"
                ngbDropdownToggle
                id="schedule-filter"
                data-cy="schedule-filter"
              >
                <span *ngIf="selectedDesignation; else chooseDesignation">{{ selectedDesignation.name }}</span>
                <ng-template #chooseDesignation>
                  <span class="selected-label mr-3" hrmsTranslate="timeClock.dropdown.designation.default"> Choose Designation </span>
                </ng-template>
              </button>
              <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="schedule-filter">
                <li *ngIf="!designations.length">
                  <div class="form-radio">
                    <label class="fs-sm text-dark-3 radio-label" hrmsTranslate="timeClock.dropdown.designation.empty">
                      No designation found
                    </label>
                  </div>
                </li>
                <li class="dropdown-item" *ngFor="let designation of designations">
                  <div class="form-radio" (click)="onChangeDesignation(designation)">
                    <input
                      type="radio"
                      name="view-item2"
                      id="timeClockDesignationDropdown-{{ designation.id }}"
                      [value]="designation.id"
                      formControlName="designation_id"
                    />
                    <label class="fs-sm text-dark-3 radio-label" for="timeClockDesignationDropdown-{{ designation.id }}">
                      {{ designation.name }}
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="form-check form-check-custom">
              <input class="form-check-input" type="checkbox" id="only_clock_in" (change)="changeOnlyClockedIn(!onlyClockedIn)" />
              <label class="form-check-label" for="only_clock_in">
                <span class="check-mark"></span>
                <span class="fs-default text-blue-dark font-weight-bold" hrmsTranslate="timeClock.manual.onlyClockInCheck.label">
                  Only Clock In
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="py-3">
        <div class="row">
          <div class="col-md-6">
            <div class="add-clock-date-picker bg-white">
              <p class="fs-default text-blue-dark font-weight-bold text-center" hrmsTranslate="timeClock.manual.clockIn.label">Clock In:</p>
              <div class="time-picker text-center">
                <input class="border p-2 time-picker-selectoption" type="time" value="09:00" formControlName="clock_start_time" />
              </div>
              <div class="mt-3 filter-date-picker">
                <ngb-datepicker (dateSelect)="startDateSelect($event)"></ngb-datepicker>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="add-clock-date-picker bg-white" *ngIf="!onlyClockedIn">
              <p class="fs-default text-blue-dark font-weight-bold text-center" hrmsTranslate="timeClock.manual.clockOut.label">
                Clock Out:
              </p>
              <div class="time-picker text-center">
                <input class="border p-2 time-picker-selectoption" type="time" value="17:00" formControlName="clock_end_time" />
              </div>
              <div class="mt-3 filter-date-picker">
                <ngb-datepicker (dateSelect)="endDateSelect($event)"></ngb-datepicker>
                <div *ngIf="clock_end_time_control!.invalid && (clock_end_time_control!.dirty || clock_end_time_control!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="clock_end_time_control?.errors?.required"
                    hrmsTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <div class="mb-3">
            <p><span hrmsTranslate="timeClock.form.note.label">Notes</span>:</p>
            <textarea class="form-control rounded-12" cols="50" rows="4" formControlName="notes"></textarea>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button
            type="submit"
            (click)="addTimeClock()"
            [disabled]="addTimeClockForm.invalid"
            class="btn btn-primary inner-nav-btn rounded-12 ml-auto"
            hrmsTranslate="timeClock.button.add.label"
          >
            Add Clock Time
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
