@import '../../../../content/scss/app-variable';
.select-option-pill {
  height: 47px;
  border-color: $primary;
  border-radius: 50px;
  color: $primary;
  font-size: 14px;
}

.add-clock-date-picker {
  border-radius: 12px;
  border: 1px solid $border-color;
  padding: 22px;
  .filter-date-picker {
    ngb-datepicker {
      width: 100%;
      justify-content: center;
      .ngb-dp-header {
        width: 100%;
        margin-bottom: 15px;
      }
      .ngb-dp-content {
        width: 100%;
        .ngb-dp-month {
          width: 100%;
        }
      }
    }
  }
}
.time-picker {
  border: 1px solid $border-color;
  padding: 15px;
  border-radius: 8px;
}
.time-picker-selectoption {
  border: 1px solid $border-color;
  width: 160px;
  height: 46px;
  font-size: 14px;
  border-radius: 8px;
  text-align: center;
}
