<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="menu">
      <h2 data-cy="menuDetailsHeading"><span hrmsTranslate="hrmsApp.menu.detail.title">Menu</span></h2>

      <hr />

      <hrms-alert-error></hrms-alert-error>

      <hrms-alert></hrms-alert>

      <dl class="row-md jh-entity-details">
        <dt><span hrmsTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ menu.id }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.menu.name">Name</span></dt>
        <dd>
          <span>{{ menu.name }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.menu.icon">Icon</span></dt>
        <dd>
          <span>{{ menu.icon }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.menu.end_point">End Point</span></dt>
        <dd>
          <span>{{ menu.end_point }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.menu.router_link">Router Link</span></dt>
        <dd>
          <span>{{ menu.router_link }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.menu.permissions">Permissions</span></dt>
        <dd>
          <span>{{ menu.permissions }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.menu.parent_id">Parent Id</span></dt>
        <dd>
          <span>{{ menu.parent_id }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.menu.position">Position</span></dt>
        <dd>
          <span>{{ menu.position }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.menu.is_active">Is Active</span></dt>
        <dd>
          <span>{{ menu.is_active }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.menu.is_deleted">Is Deleted</span></dt>
        <dd>
          <span>{{ menu.is_deleted }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hrmsTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/menu', menu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hrmsTranslate="global.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
