@import '../../../../content/scss/app-variable';

.full-screen-spinner-wrapper {
  background-color: $primary;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  .spinner {
    height: 150px !important;
    width: 150px !important;
    position: absolute;
    top: 40%;
    left: 45%;
  }
}
