<div class="d-flex">
  <hrms-employee-sidebar
    [totalEmployee]="totalEmployee"
    [notActivatedEmployeeCount]="notActivatedEmployeeCount"
    [disabledEmployeeCount]="disabledEmployeeCount"
    [branches]="branches"
  ></hrms-employee-sidebar>
  <div class="inner-body-scrollbar custom-scrollable scrollable-y">
    <hrms-employee-navigation routerURL="/employee"></hrms-employee-navigation>
    <router-outlet></router-outlet>
  </div>
</div>
