<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="breakRule">
      <h2 data-cy="breakRuleDetailsHeading"><span hrmsTranslate="hrmsApp.breakRule.detail.title">Break Rule</span></h2>

      <hr />

      <hrms-alert-error></hrms-alert-error>

      <hrms-alert></hrms-alert>

      <dl class="row-md jh-entity-details">
        <dt><span hrmsTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ breakRule.id }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.breakRule.company_id">Company Id</span></dt>
        <dd>
          <span>{{ breakRule.company_id }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.breakRule.name">Name</span></dt>
        <dd>
          <span>{{ breakRule.name }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.breakRule.rule_description">Rule Description</span></dt>
        <dd>
          <span>{{ breakRule.rule_description }}</span>
        </dd>
        <dt><span hrmsTranslate="hrmsApp.breakRule.company">Company</span></dt>
        <dd>
          <div *ngIf="breakRule.company">
            <a [routerLink]="['/company', breakRule.company?.id, 'view']">{{ breakRule.company?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hrmsTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/break-rule', breakRule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hrmsTranslate="global.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
