@import '../../../webapp/content/scss/app-variable';

.announcement-box {
  padding: 18px 18px;

  .announcement-container {
    height: 304px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 18px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      outline: 1px solid $primary;
      border-radius: 10px;
    }
  }

  .add-announcement {
    font-size: 10px;
    color: $primary;
    border: 1px solid $primary;
    border: 1px solid $primary;
    height: 26px;
    border-radius: 8px;
    position: absolute;
    top: 18px;
    right: 45px;
    padding: 2px 8px;

    &:hover {
      color: $white;
      background-color: $primary;
      background-color: $primary;
    }

    i {
      font-size: 16px;
      vertical-align: text-bottom;
      margin-right: 5px;
    }
  }
}

.announcement-item {
  padding: 17px 15px;
  border-radius: 12px;
  border: 1px solid rgba($color: $primary, $alpha: 0.1);
  background: rgba($color: $primary, $alpha: 0.1);
  margin-bottom: 10px;

  .announcement-nummer {
    background: $white;
    border-radius: 12px;
    height: 59px;
    width: 61px;
    font-size: 20px;
    text-align: center;
    line-height: 64px;
    font-weight: 700;
  }

  .announce-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
  }

  .announce-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: $dark-shade-300;
  }

  .announce-time {
    font-size: 12px;
    color: $dark-shade-200;
  }

  &.annivers-item {
    .annivers-img {
      img {
        width: 61px;
        height: 63px;
        border-radius: 12px;
      }
    }

    .date-label {
      background: $white;
      display: block;
      height: 29px;
      line-height: 32px;
      border-radius: 4px;
      padding: 0 15px;
      font-size: 10px;
    }
  }

  &.meeting-item {
    .meeting-date {
      width: 61px;
      height: 63px;
      border-radius: 12px;
      background: $white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      label {
        display: block;
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        color: $gray-dark;
      }

      span {
        display: block;
        font-size: 10px;
        color: $dark-shade-100;
      }
    }

    .announce-time {
      display: block;
    }

    .meeting-details-link {
      font-size: 10px;
      font-weight: 700;
      color: rgba($color: $primary, $alpha: 1);

      i {
        margin-left: 4px;
      }
    }
  }
}

.modal-title {
  overflow-wrap: break-word !important;
}

.announcement-view-description {
  height: 460px;
  overflow-y: auto;
}
