<div class="rounded-12-white-box announcement-box pb-2 h-100">
  <h4 class="box-title text-blue-dark text-center mb-3 pt-1" hrmsTranslate="announcement.title">Announcement</h4>
  <button *ngIf="!isEmployee" (click)="update()" class="btn add-announcement">
    <i class="icon-plus2"></i> <span hrmsTranslate="announcement.button.add.label">Add New</span>
  </button>
  <div class="dashed-divider mb-2"></div>
  <div class="pt-1 announcement-container">
    <div *ngFor="let announcement of announcements; let i = index" class="announcement-item">
      <div>
        <div>
          <div class="row align-items-center">
            <div class="col-2">
              <div class="announcement-nummer text-blue-dark">{{ i + 1 }}</div>
            </div>
            <div class="col-8">
              <div>
                <a (click)="view(announcement)" href="javascript:void(0)" class="announce-name text-blue-dark d-block">
                  {{ announcement.title }}
                </a>
              </div>
              <p *ngIf="announcement.description" class="m-0 announce-description">{{ announcement.description }}</p>
              <span class="announce-time">{{ announcement.created_at | date: 'shortTime':timeZone?.offset }}</span>
            </div>
            <div class="col-2" *ngIf="!isEmployee">
              <div class="d-flex">
                <button (click)="update(announcement)" class="btn text-success p-1">
                  <i class="hazira-icon-edit-tripple-line"></i>
                </button>
                <button (click)="delete(announcement?.id)" class="btn text-danger p-1"><i class="hazira-icon-cross"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="!announcements.length" class="text-center py-3" hrmsTranslate="announcement.empty">No announcement</p>
  </div>
</div>
