@import '../../../content/scss/app-variable';
.main-navigation-wrap {
  margin-bottom: 0;
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    z-index: 9999;
    overflow: auto;
    margin-left: -230px;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(break-md) {
      flex-direction: column;
      align-items: inherit;
    }
    li {
      list-style: none;
      &:last-child {
        a {
          border-right: none;
        }
      }
      a {
        color: $header-text;
        display: flex;
        font-family: $font-family-light;
        font-size: 14px;
        font-weight: 400;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 25px;
        height: 75px;
        position: relative;
        @include respond(break-md) {
          flex-direction: row;
          justify-content: flex-start;
          height: 50px;
        }
        i {
          margin-bottom: 5px;
          font-size: 24px;
          @include respond(break-md) {
            margin-bottom: 0;
            margin-right: 10px;
          }
        }
        fa-icon {
          text-align: center;
          margin-right: 10px;
        }
        &:hover {
          background-color: #0000000c;
          text-decoration: none;
        }
      }
      &.active {
        a {
          background: linear-gradient(111.71deg, $primary-gradient-color-1 14.24%, $primary-gradient-color-2 86.78%);
          color: $white;
          text-decoration: none;
          &::after {
            display: inline-block;
            vertical-align: 0.255em;
            content: '';
            position: absolute;
            margin-top: 5px;
            bottom: 8px;
            left: 50%;
            -webkit-transform: translate(-50%, -0);
            transform: translate(-50%, -0);
            @include respond(break-md) {
              display: none;
            }
          }
        }
      }
    }
  }
}
