<div class="main-navigation-wrap">
  <ul>
    <li routerLinkActive="active" *ngFor="let menu of menus">
      <a [routerLink]="menu?.router_link" *ngIf="menu?.is_menu">
        <i [class]="menu?.icon"></i>
        <span hrmsTranslate="{{ menu.translate_name }}">{{ menu?.name }}</span>
      </a>
    </li>
  </ul>
</div>
