<div class="login-wrapper">
  <div class="row align-items-center h-100">
    <div class="col-md-7">
      <div class="login-area">
        <div class="text-center login-logo pt-3">
          <img src="../../content/images/logo.svg" alt="logo" />
        </div>
        <div>
          <div class="my-5">
            <h2 class="text-center text-blue-dark-700" hrmsTranslate="reset.forgotPassword.title" data-cy="loginTitle">Forgot Password</h2>
          </div>

          <hrms-alert-error></hrms-alert-error>

          <div class="alert alert-warning" *ngIf="!success">
            <span hrmsTranslate="reset.forgotPassword.messages.info">Enter the email address you used to register.</span>
          </div>

          <div class="alert alert-success" *ngIf="success">
            <span hrmsTranslate="reset.forgotPassword.messages.success">Check your emails for details on how to reset your password.</span>
          </div>

          <form class="form" *ngIf="!success" name="form" role="form" (ngSubmit)="sendOneTimeLink()" [formGroup]="resetRequestForm">
            <div class="form-group">
              <input
                type="email"
                class="form-control input-h-54px"
                id="email"
                name="email"
                placeholder="{{ 'global.form.email.placeholder' | translate }}"
                formControlName="email"
                data-cy="emailResetPassword"
                #email
              />
              <div
                *ngIf="
                  resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="resetRequestForm.get('email')?.errors?.required"
                  hrmsTranslate="global.messages.validate.email.required"
                >
                  Your email is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="resetRequestForm.get('email')?.errors?.email"
                  hrmsTranslate="global.messages.validate.email.invalid"
                >
                  Your email is invalid.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="resetRequestForm.get('email')?.errors?.minlength"
                  hrmsTranslate="global.messages.validate.email.minlength"
                >
                  Your email is required to be at least 5 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
                  hrmsTranslate="global.messages.validate.email.maxlength"
                >
                  Your email cannot be longer than 100 characters.
                </small>
              </div>
            </div>

            <button
              type="submit"
              [disabled]="resetRequestForm.invalid || isSaving"
              class="btn btn-block btn-primary mb-3 fs-default btn-h-56"
              data-cy="submit"
            >
              <div *ngIf="isSaving" class="spinner-border spinner-border-sm mx-3" role="status"></div>
              <span hrmsTranslate="reset.forgotPassword.form.button">Send Reset Link</span>
            </button>
          </form>

          <button
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            type="button"
            class="btn btn-block btn-outline-primary mb-3 fs-default btn-h-56"
            data-cy="button"
          >
            <span hrmsTranslate="global.action.backToLogin">Back to login</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-5 hide-on-mobile px-0">
      <div class="row login-cover-side text-white py-5 align-items-center justify-content-center">
        <div class="col-12">
          <div class="text-center my-4 login-image-container">
            <div class="login-image-vectors"></div>
            <img class="login-image" src="../../content/images/forgot-password.svg" alt="login-desk" />
          </div>

          <div>
            <h1 class="text-center mb-3 mt-5">Lost your password?</h1>
            <p class="text-center px-5 text-white-op-7">No worries! Reset it in just a few clicks.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
