@import '../../content/scss/app-variable';

@import '../../../webapp/content/scss/app-variable';

.login-wrapper {
  background: $white;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  padding: 0 10px;
  .h-100 {
    height: 100%;
  }
}

.login-area {
  width: 427px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
  }

  .login-logo {
    img {
      max-height: 75px;
    }
  }
}

.forgot-link {
  font-size: 14px;
  font-weight: 600;
  font-family: $font-family-regular;
  color: rgba($color: $app-danger-300, $alpha: 0.8);
  &:hover {
    color: rgba($color: $app-danger-300, $alpha: 1);
  }
}

.login-cover-side {
  background: linear-gradient(111.71deg, #82d4bc 14.24%, #69bfa5 86.78%);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  flex: 0 0 41.6666666667%;
  width: 41.6666666667%;
  .login-image-container {
    position: relative;
    .login-image {
      width: 60%;
    }
  }
  .login-cover-side-img {
    background-image: url('../../content/images/login-desk.svg');
    background-size: 60vh;
    background-position: center 10px;
    background-repeat: no-repeat;
    height: 100%;
  }
  .login-side-content {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 100%;
  }
  .login-side-dotted {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
}
