<div class="rounded-12-white-box time-clock pb-2">
  <h4 class="box-title text-blue-dark text-center mb-3 pt-1">
    <span hrmsTranslate="home.late.title">Late for work</span> - {{ lates.length }}
  </h4>
  <div class="dashed-divider mb-2"></div>
  <div class="pt-1 box-container">
    <div *ngIf="lates.length > 0; else noLatesFound">
      <div *ngFor="let late of lates" class="row flex-nowrap align-items-center employee-item">
        <div class="col-auto employee-img mb-1 pr-0">
          <img *ngIf="late?.photo_url; else showGenericProfilePicture" [src]="late?.photo_url" [alt]="late?.photo_url" />
          <ng-template #showGenericProfilePicture>
            <img src="../../../../content/images/person.png" alt="Person" />
          </ng-template>
        </div>
        <div class="col employee-info">
          <h6 class="employee-name text-blue-dark">{{ late.employee_name }}</h6>
          <span class="employee-designation fs-xs">{{ late.designation_name }}</span>
        </div>
        <div class="col-auto">
          <span *ngIf="late.late_status" class="employee-availablity fs-xs late-emp">{{ late.late_status }}</span>
        </div>
      </div>
    </div>
    <ng-template #noLatesFound>
      <p class="text-center py-3" hrmsTranslate="home.late.empty">No Lates</p>
    </ng-template>
  </div>
</div>
