<div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="p-4 bg-white rounded-12">
        <h1 *ngIf="!isPasswordChangeRequest" hrmsTranslate="reset.finish.title" class="fs-xxl text-blue-dark font-weight-bold mb-4">
          Reset password
        </h1>
        <h1 *ngIf="isPasswordChangeRequest" class="fs-xxl text-blue-dark font-weight-bold mb-4" hrmsTranslate="reset.changePassword.title">
          Change password
        </h1>

        <div class="alert alert-success" *ngIf="success">
          <span *ngIf="!isPasswordChangeRequest" hrmsTranslate="reset.finish.messages.success">
            <strong>Your password has been reset.</strong>
          </span>
          <span *ngIf="isPasswordChangeRequest">
            <strong>Your password has been change.</strong>
          </span>
        </div>

        <div class="alert alert-danger" *ngIf="doNotMatch" hrmsTranslate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
        </div>

        <div *ngIf="!success">
          <form name="form" role="form" (ngSubmit)="resetPassword()" [formGroup]="passwordForm">
            <div *ngIf="isPasswordChangeRequest" class="form-group">
              <label class="form-control-label text-blue-dark" for="currentPassword" hrmsTranslate="global.form.currentpassword.label">
                Current password
              </label>
              <input
                type="password"
                class="form-control"
                id="currentPassword"
                name="currentPassword"
                placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
                formControlName="currentPassword"
                data-cy="currentPassword"
                #currentPassword
              />
            </div>
            <input *ngIf="!isPasswordChangeRequest" type="hidden" formControlName="currentPassword" />

            <div class="form-group">
              <label class="form-control-label text-blue-dark" for="newPassword" hrmsTranslate="global.form.newpassword.label">
                New password
              </label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                formControlName="newPassword"
                data-cy="resetPassword"
                #newPassword
              />

              <div
                *ngIf="
                  passwordForm.get('newPassword')!.invalid &&
                  (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="passwordForm.get('newPassword')?.errors?.required"
                  hrmsTranslate="global.messages.validate.newpassword.required"
                >
                  Your password is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                  hrmsTranslate="global.messages.validate.newpassword.minlength"
                >
                  Your password is required to be at least 4 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                  hrmsTranslate="global.messages.validate.newpassword.maxlength"
                >
                  Your password cannot be longer than 50 characters.
                </small>
              </div>

              <hrms-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"> </hrms-password-strength-bar>
            </div>

            <div class="form-group">
              <label class="form-control-label text-blue-dark" for="confirmPassword" hrmsTranslate="global.form.confirmpassword.label">
                New password confirmation
              </label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                formControlName="confirmPassword"
                data-cy="confirmResetPassword"
              />

              <div
                *ngIf="
                  passwordForm.get('confirmPassword')!.invalid &&
                  (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                  hrmsTranslate="global.messages.validate.confirmpassword.required"
                >
                  Your password confirmation is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                  hrmsTranslate="global.messages.validate.confirmpassword.minlength"
                >
                  Your password confirmation is required to be at least 4 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                  hrmsTranslate="global.messages.validate.confirmpassword.maxlength"
                >
                  Your password confirmation cannot be longer than 50 characters.
                </small>
              </div>
            </div>

            <button
              type="submit"
              [disabled]="passwordForm.invalid"
              class="btn btn-primary"
              hrmsTranslate="reset.finish.form.button"
              data-cy="submit"
            >
              Validate new password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
