<div class="row">
  <div class="col-md-auto hide-on-mobile">
    <hrms-sidebar></hrms-sidebar>
  </div>
  <div class="col-md p-0">
    <div class="inner-body-scrollbar">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
