<form name="addBranchForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="addBranchForm">
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4
        class="col-md-auto modal-title text-dark"
        id="hrms-branch-heading"
        data-cy="BranchCreateUpdateHeading"
        hrmsTranslate="hrmsApp.branch.home.createOrEditLabel"
      >
        Create Work Shift
      </h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="px-3 my-3">
      <hrms-alert-error></hrms-alert-error>

      <div class="form-group">
        <label class="form-control-label" hrmsTranslate="global.name" for="location_name">Name</label>
        <input
          hrmsInputTrim
          type="text"
          class="form-control"
          name="location_name"
          id="location_name"
          data-cy="location_name"
          formControlName="name"
        />
        <div *ngIf="addBranchForm.get('name')!.invalid && (addBranchForm.get('name')!.dirty || addBranchForm.get('name')!.touched)">
          <small class="form-text text-danger" *ngIf="addBranchForm.get('name')?.errors?.required"> This field is required. </small>
          <small class="form-text text-danger" *ngIf="addBranchForm.get('name')?.errors?.maxlength">
            This field cannot be longer than 255 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" hrmsTranslate="global.timezone">Time Zone</label>
        <select class="form-control" name="time_zone" id="" formControlName="time_zone">
          <option
            [ngValue]="
              timeZoneOption.id === addBranchForm.get('time_zone')!.value?.id ? addBranchForm.get('time_zone')!.value : timeZoneOption
            "
            *ngFor="let timeZoneOption of timeZones"
          >
            {{ timeZoneOption.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-control-label" hrmsTranslate="global.breakrule">Break Rule</label>
        <select class="form-control" name="break_rule" id="" formControlName="break_rule">
          <option
            [ngValue]="
              breakRuleOption.id === addBranchForm.get('break_rule')!.value?.id ? addBranchForm.get('break_rule')!.value : breakRuleOption
            "
            *ngFor="let breakRuleOption of breakRules"
          >
            {{ breakRuleOption.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-control-label" hrmsTranslate="global.phone">Phone</label>
        <input hrmsInputTrim type="text" class="form-control" name="phone" id="phone" data-cy="phone" formControlName="phone" />
        <div *ngIf="addBranchForm.get('phone')!.invalid && (addBranchForm.get('phone')!.dirty || addBranchForm.get('phone')!.touched)">
          <small class="form-text text-danger" *ngIf="addBranchForm.get('phone')?.errors?.maxlength">
            This field cannot be longer than 20 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" hrmsTranslate="global.address">Address</label>
        <input
          hrmsInputTrim
          type="text"
          class="form-control"
          name="location_address"
          id="location_address"
          data-cy="location_address"
          formControlName="address"
        />
        <div
          *ngIf="addBranchForm.get('address')!.invalid && (addBranchForm.get('address')!.dirty || addBranchForm.get('address')!.touched)"
        >
          <small class="form-text text-danger" *ngIf="addBranchForm.get('address')?.errors?.required"> This field is required. </small>
          <small class="form-text text-danger" *ngIf="addBranchForm.get('address')?.errors?.maxlength">
            This field cannot be longer than 255 characters.
          </small>
        </div>
      </div>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="text-right">
      <button type="button" id="cancel-save" class="btn btn-outline-primary btn-h-47 px-4 mx-1" (click)="cancel()">
        <span hrmsTranslate="global.action.cancel">Cancel</span>
      </button>

      <button
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        [disabled]="addBranchForm.invalid || isSaving"
        class="btn btn-primary btn-h-47 px-4 mx-1"
      >
        <span hrmsTranslate="global.action.save">Save</span>
      </button>
    </div>
  </div>
</form>
