<form name="leaveAvailabilitySettingsForm" role="form" novalidate (ngSubmit)="onSave()" [formGroup]="leaveAvailabilitySettingsForm">
  <div class="bg-white p-4 mb-3 rounded-12">
    <div class="setting-border-runded-box rounded-12 px-4 py-3 mb-3">
      <h5 class="text-blue-dark fs-default mb-4" hrmsTranslate="leaveAndAvailabilitySettings.title">Leave & Availability Settings</h5>
      <div class="row w-100 m-0 p-0">
        <div class="col-12 col-lg-6 my-2">
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="leave_module_enabled"
              id="leave_module_enabled"
              formControlName="leave_module_enabled"
            />
            <label class="form-check-label mr-3 align-items-start" for="leave_module_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="leaveAndAvailabilitySettings.leave_module_enabled.label">
                Leave module enabled
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employees_can_cancel_previously_approved_leave_requests"
              id="employees_can_cancel_previously_approved_leave_requests"
              formControlName="employees_can_cancel_previously_approved_leave_requests"
            />
            <label class="form-check-label mr-3 align-items-start" for="employees_can_cancel_previously_approved_leave_requests">
              <span class="check-mark"></span>
              <span
                class="fs-sm text-blue-dark text-center"
                hrmsTranslate="leaveAndAvailabilitySettings.employees_can_cancel_previously_approved_leave_requests.label"
              >
                Allow employee to cancel approved leave
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employees_can_book_vacation"
              id="employees_can_book_vacation"
              formControlName="employees_can_book_vacation"
            />
            <label class="form-check-label mr-3 align-items-start" for="employees_can_book_vacation">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark text-center" hrmsTranslate="leaveAndAvailabilitySettings.employees_can_book_vacation.label"
                >Allow employee to request leave</span
              >
            </label>
          </div>
        </div>
        <div class="col-12 col-lg-6 my-2">
          <div>
            <p class="fs-sm text-blue-dark mb-2" hrmsTranslate="leaveAndAvailabilitySettings.deduct_weekends_from_leaves.label">
              Set weekend days
            </p>
            <ng-multiselect-dropdown
              [placeholder]="'Select Days'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedDays"
              formControlName="deduct_weekends_from_leaves"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-block w-auto btn-outline-primary btn-h-47 px-4" hrmsTranslate="settings.form.button">
          Save Settings
        </button>
      </div>
    </div>
    <div class="text-right mb-3">
      <button type="button" class="btn btn-primary btn-h-47 px-4" [routerLink]="['/leave-type/new']" routerLinkActive="router-link-active">
        <span hrmsTranslate="leaveType.button.create.label"> Create a new Leave Type </span>
      </button>
    </div>
    <div class="leave-balance custom-scrollable scrollable-x green-br-rounded-card mb-0 border-cellsolid-gray bg-white px-0">
      <div class="alert alert-warning" id="no-result" *ngIf="leaveTypes?.length === 0">
        <span hrmsTranslate="leaveType.home.empty">No leaveTypes found</span>
      </div>
      <table class="head-bg-table text-center" *ngIf="leaveTypes && leaveTypes.length > 0">
        <thead>
          <tr>
            <th scope="col"><span hrmsTranslate="leaveType.form.name">Name</span></th>
            <th scope="col"><span hrmsTranslate="leaveType.form.max_days_allowed">Max Days Allowed</span></th>
            <th scope="col"><span hrmsTranslate="leaveType.form.is_partial_day_request_allowed">Is Partial Day Request Allowed</span></th>
            <th scope="col">
              <span hrmsTranslate="leaveType.form.is_max_employee_allowed_enabled">Is Max Employee Allowed Enabled</span>
            </th>
            <th scope="col"><span hrmsTranslate="leaveType.form.max_employee_allowed">Max Employee Allowed</span></th>
            <th scope="col">
              <span hrmsTranslate="leaveType.form.is_leave_in_advance_days_enabled">Is Leave In Advance Days Enabled</span>
            </th>
            <th scope="col"><span hrmsTranslate="leaveType.form.leave_in_advance_days">Leave In Advance Days</span></th>
            <th scope="col">
              <span hrmsTranslate="leaveType.form.auto_assign_new_employee_enabled">Auto Assign New Employee Enabled</span>
            </th>
            <th scope="col"><span hrmsTranslate="leaveType.form.description">Description</span></th>
            <th scope="col"><span hrmsTranslate="leaveType.form.action">Action</span></th>
          </tr>
        </thead>
        <tbody class="vertical-align-middle">
          <tr *ngFor="let leaveType of leaveTypes">
            <td>{{ leaveType.name }}</td>
            <td>{{ leaveType.max_days_allowed }}</td>
            <td>{{ leaveType.is_partial_day_request_allowed ? 'Yes' : 'No' }}</td>
            <td>{{ leaveType.is_max_employee_allowed_enabled ? 'Yes' : 'No' }}</td>
            <td>{{ leaveType.max_employee_allowed || 0 }}</td>
            <td>{{ leaveType.is_leave_in_advance_days_enabled ? 'Yes' : 'No' }}</td>
            <td>{{ leaveType.leave_in_advance_days || 0 }}</td>
            <td>{{ leaveType.auto_assign_new_employee_enabled ? 'Yes' : 'No' }}</td>
            <td>{{ leaveType.description }}</td>
            <td>
              <div class="d-flex">
                <button
                  type="button"
                  class="btn table-list-action-btn btn-primary icon-pencil1 mx-1 p-0"
                  [routerLink]="['/leave-type', leaveType.id, 'edit']"
                ></button>
                <button
                  type="button"
                  class="btn table-list-action-btn btn-danger icon-trash mx-1 p-0"
                  ngbTooltip="Delete"
                  (click)="deleteLeaveType(leaveType)"
                ></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
