<div class="p-4 bg-white rounded-12">
  <div name="filterTimeSheetManageForm" novalidate role="form" [formGroup]="filterTimeSheetManageForm">
    <div class="row row-gutter-2 align-items-end">
      <div class="col-auto col-gutter-2">
        <label for="" class="fs-sm text-dark-3 mb-2">Select</label>
        <select
          (change)="timeSheetManageFilter()"
          [ngModel]="null"
          class="form-control form-control-h52 rounded-12"
          name="filter_date"
          formControlName="filter_date"
        >
          <option [ngValue]="null">Select</option>
          <option [ngValue]="EFilterDurationType.TODAY" hrmsTranslate="global.filter.today.label">Today</option>
          <option [ngValue]="EFilterDurationType.YESTERDAY" hrmsTranslate="global.filter.yesterday.label">Yesterday</option>
          <option [ngValue]="EFilterDurationType.LAST_7_DAYS" hrmsTranslate="global.filter.last7Day.label">Last 7 Days</option>
          <option [ngValue]="EFilterDurationType.THIS_WEEK" hrmsTranslate="global.filter.thisWeek.label">This Week</option>
          <option [ngValue]="EFilterDurationType.LAST_WEEK" hrmsTranslate="global.filter.lastWeek.label">Last Week</option>
        </select>
      </div>

      <div class="col-auto col-gutter-2">
        <label class="fs-sm text-dark-3 mb-2" for="start_date"> <span hrmsTranslate="global.form.start_date.label">Start date</span></label>
        <input
          (change)="timeSheetManageFilter()"
          class="form-control form-control-h52 rounded-12"
          type="date"
          name="start_date"
          formControlName="start_date"
        />
      </div>
      <div class="col-auto col-gutter-2">
        <label class="fs-sm text-dark-3 mb-2" for="end_date"> <span hrmsTranslate="global.form.end_date.label">End date</span></label>
        <input
          (change)="timeSheetManageFilter()"
          class="form-control form-control-h52 rounded-12"
          type="date"
          name="end_date"
          formControlName="end_date"
        />
      </div>

      <div class="col-auto col-gutter-2">
        <label for="" class="fs-sm text-dark-3 mb-2">All</label>
        <select
          (change)="timeSheetManageFilter()"
          [ngModel]="null"
          class="form-control form-control-h52 rounded-12"
          name="is_approved"
          formControlName="is_approved"
        >
          <option selected [ngValue]="null" hrmsTranslate="global.filter.all.label">All</option>
          <option [ngValue]="ETimeSheetApproveType.APPROVE" hrmsTranslate="global.filter.approved.label">Approved</option>
          <option [ngValue]="ETimeSheetApproveType.UNAPPROVE" hrmsTranslate="global.filter.unApproved.label">Unapproved</option>
        </select>
      </div>

      <div class="col-auto col-gutter-2">
        <label for="" class="fs-sm text-dark-3 mb-2">All Employees</label>
        <select
          (change)="timeSheetManageFilter()"
          (change)="timeSheetManageFilter()"
          [ngModel]="null"
          class="form-control form-control-h52 rounded-12"
          name="employee_id"
          formControlName="employee_id"
        >
          <option [ngValue]="null" hrmsTranslate="hrmsApp.allEmployee.label">All employees</option>
          <option *ngFor="let employee of employees" [ngValue]="employee.id">{{ employee.first_name }} {{ employee.last_name }}</option>
        </select>
      </div>

      <div class="col-auto col-gutter-2">
        <label for="" class="fs-sm text-dark-3 mb-2">All Schedules</label>
        <select
          (change)="timeSheetManageFilter()"
          [ngModel]="null"
          class="form-control form-control-h52 rounded-12"
          name="designation_id"
          formControlName="designation_id"
        >
          <option selected [ngValue]="null">All schedules</option>
          <option *ngFor="let designation of designations" [ngValue]="designation.id">{{ designation.name }}</option>
        </select>
      </div>
      <div class="col-auto col-gutter-2">
        <button class="btn btn-primary btn-h-52 inner-nav-btn d-flex align-items-center rounded-12" hrmstranslate="global.action.search">
          Search
        </button>
      </div>
    </div>
  </div>
</div>

<div class="leave-balance mt-4 green-br-rounded-card mb-0 border-cellsolid-gray bg-white">
  <table class="table head-bg-table text-center" *ngIf="timeSheets.length; else noTimeSheetManageFound">
    <thead>
      <tr>
        <th scope="col" hrmsTranslate="timeSheet.table.date.column">Date</th>
        <th scope="col" hrmsTranslate="hrmsApp.employee.label">Employee</th>
        <th scope="col" hrmsTranslate="timeSheet.table.clockIn.column">Clock in</th>
        <th scope="col" hrmsTranslate="timeSheet.table.clockOut.column">Clock out</th>
        <th scope="col" hrmsTranslate="timeSheet.table.length.column">Length</th>
        <th scope="col" hrmsTranslate="timeSheet.table.break.column">Break</th>
        <th scope="col" hrmsTranslate="timeSheet.table.designation.label">Position</th>
        <th scope="col" hrmsTranslate="global.action.label">Action</th>
      </tr>
    </thead>
    <tbody class="vertical-align-middle" *ngFor="let timeSheet of timeSheets; let i = index">
      <tr *ngIf="timeSheet.clock_end_time">
        <td class="font-weight-bold m-0 mb-2">
          {{ timeSheet.clock_start_time | date: 'mediumDate' }}
        </td>
        <td>
          {{ timeSheet.employee_name }}
        </td>
        <td>{{ timeSheet.clock_start_time | date: 'shortTime':timeZone?.offset }}</td>
        <td>{{ timeSheet.clock_end_time | date: 'shortTime':timeZone?.offset }}</td>
        <td>{{ timeSheet.total_clock_duration | formatTime: ETimeType.SECOND }}</td>
        <td *ngIf="timeSheet.total_break_duration; else no_break">
          {{ timeSheet.total_break_duration | formatTime: ETimeType.SECOND }}
        </td>
        <ng-template #no_break>
          <td>No break</td>
        </ng-template>
        <td>{{ timeSheet.designation_name }}</td>
        <td>
          <button
            class="btn table-list-action-btn btn-primary icon-pencil1 mx-1 p-0"
            (click)="editTimeClock(timeSheet?.time_clock_id)"
          ></button>
          <button
            *ngIf="timeSheet.is_approved; else ActiveUnapproveButton"
            class="btn table-list-action-btn btn-danger icon-close mx-1 p-0"
            ngbTooltip="Unapprove"
            (click)="handleApprove(timeSheet.time_clock_id, !timeSheet.is_approved)"
          ></button>
          <ng-template #ActiveUnapproveButton>
            <button
              class="btn table-list-action-btn btn-success icon-check1 mx-1 p-0"
              ngbTooltip="Approve"
              (click)="handleApprove(timeSheet.time_clock_id, !timeSheet.is_approved)"
            ></button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noTimeSheetManageFound>
    <p class="text-center mt-5" hrmsTranslate="timeSheet.empty">No Time Sheet found</p>
  </ng-template>
</div>
