<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myUserLabel" hrmsTranslate="userManagement.home.createOrEditLabel">Create or edit a User</h2>

      <div *ngIf="user">
        <hrms-alert-error></hrms-alert-error>

        <div class="form-group" [hidden]="!user.id">
          <label hrmsTranslate="global.field.id">ID</label>
          <input type="text" class="form-control" name="id" formControlName="id" readonly />
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="userManagement.login">username</label>
          <input type="text" class="form-control" name="username" formControlName="username" />

          <div *ngIf="editForm.get('username')!.invalid && (editForm.get('username')!.dirty || editForm.get('username')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('username')?.errors?.required"
              hrmsTranslate="entity.validation.required"
            >
              This field is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="editForm.get('username')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="editForm.get('username')?.errors?.pattern"
              hrmsTranslate="entity.validation.patternLogin"
            >
              This field can only contain letters, digits and e-mail addresses.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="userManagement.firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" formControlName="firstName" />

          <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstName')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label hrmsTranslate="userManagement.lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" formControlName="lastName" />

          <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastName')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" hrmsTranslate="userManagement.email">Email</label>
          <input type="email" class="form-control" name="email" formControlName="email" />

          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" hrmsTranslate="entity.validation.required">
              This field is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="editForm.get('email')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="editForm.get('email')?.errors?.minlength"
              hrmsTranslate="entity.validation.minlength"
              [translateValues]="{ min: 5 }"
            >
              This field is required to be at least 5 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="editForm.get('email')?.errors?.email"
              hrmsTranslate="global.messages.validate.email.invalid"
            >
              Your email is invalid.
            </small>
          </div>
        </div>

        <div class="form-check">
          <label class="form-check-label" for="activated">
            <input
              class="form-check-input"
              [attr.disabled]="user.id === undefined ? 'disabled' : null"
              type="checkbox"
              id="activated"
              name="activated"
              formControlName="activated"
            />
            <span hrmsTranslate="userManagement.activated">Activated</span>
          </label>
        </div>

        <div class="form-group" *ngIf="languages && languages.length > 0">
          <label hrmsTranslate="userManagement.langKey">Lang Key</label>
          <select class="form-control" id="langKey" name="langKey" formControlName="langKey">
            <option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</option>
          </select>
        </div>

        <div class="form-group">
          <label hrmsTranslate="userManagement.profiles">Profiles</label>
          <select class="form-control" multiple name="user_company" formControlName="user_companies">
            <option *ngFor="let user_company of user?.user_companies" [value]="user_company">{{ user_company.role_id }}</option>
          </select>
        </div>
      </div>

      <div *ngIf="user">
        <button type="button" class="btn btn-secondary" (click)="previousState()">
          <span hrmsTranslate="global.action.cancel">Cancel</span>
        </button>

        <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <span hrmsTranslate="global.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
