<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="modal-header mx-2 p-4 pb-2">
    <h4
      *ngIf="idControl!.value"
      class="modal-title h4 h4 fw-600 text-dark"
      data-cy="HolidayCreateUpdateHeading"
      hrmsTranslate="hrmsApp.holiday.home.editLabel"
    >
      Edit Holiday
    </h4>
    <h4
      *ngIf="!idControl!.value"
      class="modal-title h4 h4 fw-600 text-dark"
      data-cy="HolidayCreateUpdateHeading"
      hrmsTranslate="hrmsApp.holiday.home.createLabel"
    >
      Create Holiday
    </h4>
    <button type="button" (click)="cancel()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body mx-2 px-4">
    <hrms-alert-error></hrms-alert-error>
    <div class="row">
      <div class="col-6 form-group">
        <label class="form-control-label" hrmsTranslate="global.form.start_date.label" for="field_start_date">Start Date</label>
        <div class="field-append-icon">
          <input
            id="field_start_date"
            data-cy="start_date"
            type="text"
            class="form-control form-control-h40 rounded-12"
            name="start_date"
            ngbDatepicker
            #startDatePicker="ngbDatepicker"
            formControlName="start_date"
          />
          <span class="input-group-append">
            <button type="button" class="field-icon icon-calendar2" (click)="startDatePicker.toggle()"></button>
          </span>
        </div>
      </div>
      <div class="col-6 form-group">
        <label class="form-control-label" hrmsTranslate="global.form.end_date.label" for="field_date">End Date</label>
        <div class="field-append-icon">
          <input
            id="field_end_date"
            data-cy="end_date"
            type="text"
            class="form-control form-control-h40 rounded-12"
            name="end_date"
            ngbDatepicker
            #endDatePicker="ngbDatepicker"
            formControlName="end_date"
          />
          <span class="input-group-append">
            <button type="button" class="field-icon icon-calendar2" (click)="endDatePicker.toggle()"></button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" hrmsTranslate="hrmsApp.holiday.title" for="field_title">Title</label>
      <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
      <div *ngIf="titleControl!.invalid && (titleControl!.dirty || titleControl!.touched)">
        <small class="form-text text-danger" *ngIf="titleControl?.errors?.required" hrmsTranslate="entity.validation.required">
          This field is required.
        </small>
        <small
          class="form-text text-danger"
          *ngIf="titleControl?.errors?.minlength"
          hrmsTranslate="entity.validation.minlength"
          [translateValues]="{ min: 3 }"
        >
          This field is required to be at least 3 characters.
        </small>
        <small
          class="form-text text-danger"
          *ngIf="titleControl?.errors?.maxlength"
          hrmsTranslate="entity.validation.maxlength"
          [translateValues]="{ max: 255 }"
        >
          This field cannot be longer than 255 characters.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" hrmsTranslate="hrmsApp.holiday.description" for="field_description">Description</label>
      <textarea
        class="form-control h-auto"
        name="description"
        id="field_description"
        data-cy="description"
        cols="12"
        rows="5"
        formControlName="description"
      >
      </textarea>
    </div>
  </div>
  <div class="modal-footer mx-2 p-4">
    <button type="button" id="cancel-save" class="btn btn-outline-primary" (click)="cancel()">
      <span hrmsTranslate="global.action.cancel">Cancel</span>
    </button>

    <button
      *ngIf="!idControl!.value"
      type="button"
      id="save-entity"
      (click)="save()"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary"
    >
      <span hrmsTranslate="global.action.save">Save</span>
    </button>
    <button
      *ngIf="idControl!.value"
      type="button"
      id="edit-entity"
      (click)="update()"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary"
    >
      <span hrmsTranslate="global.action.update">Update</span>
    </button>
  </div>
</form>
