<div class="d-flex">
  <hrms-common-sidebar [sideMenus]="sideMenus"></hrms-common-sidebar>
  <div class="inner-body-scrollbar">
    <hrms-employee-navigation routerURL="/break-rule" (eventEmitter)="createBreakRuleModal()"></hrms-employee-navigation>

    <div class="bg-white p-3">
      <hrms-alert-error></hrms-alert-error>

      <hrms-alert></hrms-alert>
      <div class="custom-table-sortable-th">
        <table class="table">
          <thead>
            <tr>
              <th class="bg-th-head py-3 px-3 border-0" colspan="2">
                <span hrmsTranslate="hrmsApp.breakRule.home.title">Break Rules</span>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="breakRules && breakRules.length > 0; else noBreakRulesFound">
            <tr *ngFor="let breakRule of breakRules; trackBy: trackId; let i = index">
              <td class="fw-normal px-3">{{ breakRule.name }}</td>
              <td class="text-right px-3">
                <button
                  type="submit"
                  (click)="createBreakRuleModal(breakRule)"
                  class="btn btn-primary btn-sm font-weight-bold py-1 rounded-8 px-3 mr-2"
                >
                  <i class="hazira-icon-edit-tripple-line mr-1 fs-xs"></i> <span hrmsTranslate="global.action.edit">Edit</span>
                </button>
                <button type="submit" (click)="delete(breakRule)" class="btn btn-danger btn-sm font-weight-bold py-1 rounded-8 px-3">
                  <i class="icon-trash fs-xs"></i> <span hrmsTranslate="global.action.delete">Delete</span>
                </button>
              </td>
            </tr>
          </tbody>
          <ng-template #noBreakRulesFound>
            <tbody>
              <p class="p-3" hrmsTranslate="hrmsApp.breakRule.home.notFound">No breakRules found</p>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>

    <!-- <div class="table-responsive" id="entities" *ngIf="breakRules && breakRules.length > 0">
        <div *ngFor="let breakRule of breakRules; trackBy: trackId; let i = index" data-cy="entityTable">
          <div class="shadow-sm bg-white p-4 my-4">
            <div class="d-flex justify-content-between align-items-center" (click)="isCollapsed[i] = !isCollapsed[i]">
              <div>
                <h4 class="font-weight-bold">{{ breakRule.name }}</h4>
                <p class="m-0">{{ breakRule.rule_description }}</p>
              </div>
              <div>
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/break-rule', breakRule.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" hrmsTranslate="global.action.edit">Edit</span>
                  </button>

                  <button type="submit" (click)="delete(breakRule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
                  </button>
                </div>
              </div>
            </div>

            <div [hidden]="breakRule.break_rule_conditions?.length! == 0" [ngbCollapse]="isCollapsed[i]">
              <table class="table mt-4">
                <thead>
                  <tr>
                    <th>Break Type</th>
                    <th>Min Shift Length</th>
                    <th>Max Shift Length</th>
                    <th>Break Duration</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Break Starts At</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let condition of breakRule.break_rule_conditions">
                    <td>
                      <span *ngIf="condition.type == EBreakRuleConditionType.UNPAID_BREAK" class="badge bg-warning rounded text-white"
                        >Unpaid Break</span
                      >
                      <span *ngIf="condition.type == EBreakRuleConditionType.PAID_BREAK" class="badge bg-success rounded text-white"
                        >Paid Break</span
                      >
                    </td>
                    <td>{{ condition.min_shift_length | formatTime: ETimeType.MINUTE }}</td>
                    <td>{{ condition.max_shift_length | formatTime: ETimeType.MINUTE }}</td>
                    <td>{{ condition.break_duration + 'm' }}</td>
                    <td>{{ condition.from | formatTime: ETimeType.MINUTE }}</td>
                    <td>{{ condition.to | formatTime: ETimeType.MINUTE }}</td>
                    <td>{{ condition.break_starts_at | formatTime: ETimeType.MINUTE }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> -->
  </div>
</div>
