<div id="strength" class="w-100">
  <!-- <small hrmsTranslate="global.messages.validate.newpassword.strength">Password strength:</small> -->
  <ul id="strengthBar" class="w-100">
    <li class="point"></li>
    <li class="point"></li>
    <li class="point"></li>
    <li class="point"></li>
    <li class="point"></li>
  </ul>
</div>
