<div>
  <h2 id="page-heading" data-cy="WorkShiftHeading">
    <span hrmsTranslate="hrmsApp.workShift.home.title">Work Shifts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span hrmsTranslate="hrmsApp.workShift.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-work-shift"
        [routerLink]="['/work-shift/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hrmsTranslate="hrmsApp.workShift.home.createLabel"> Create a new Work Shift </span>
      </button>
    </div>
  </h2>

  <hrms-alert-error></hrms-alert-error>

  <hrms-alert></hrms-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workShifts?.length === 0">
    <span hrmsTranslate="hrmsApp.workShift.home.notFound">No workShifts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="workShifts && workShifts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span hrmsTranslate="global.field.id">ID</span></th>
          <th scope="col"><span>Company Name</span></th>
          <th scope="col"><span>Branch Name</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.workShift.title">Title</span></th>
          <th scope="col"><span>Designation </span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.workShift.is_published">Is Published</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.workShift.published_at">Published At</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.workShift.published_by">Published By</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.workShift.start_date">Start Date</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.workShift.end_date">End Date</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.workShift.start_time">Start Time</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.workShift.end_time">End Time</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.workShift.total_work_shift_duration">Total Work Shift Duration</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workShift of workShifts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/work-shift', workShift.id, 'view']">{{ workShift.id }}</a>
          </td>
          <td>{{ workShift.company?.name }}</td>
          <td>{{ workShift.branch?.name }}</td>
          <td>{{ workShift.title }}</td>
          <td>{{ workShift.designation?.name }}</td>
          <td>{{ workShift.is_published }}</td>
          <td>{{ workShift.published_at | formatMediumDatetime }}</td>
          <td>{{ workShift.published_by }}</td>
          <td>{{ workShift.start_date | formatMediumDate }}</td>
          <td>{{ workShift.end_date | formatMediumDate }}</td>
          <td>{{ workShift.start_time | formatMediumDatetime }}</td>
          <td>{{ workShift.end_time | formatMediumDatetime }}</td>
          <td>{{ workShift.total_work_shift_duration }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/work-shift', workShift.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/work-shift', workShift.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(workShift)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
