<ng-container *ngIf="message">
  <div class="row">
    <div class="col">
      <h5 class="mt-4 text-center text-danger">{{ message }}</h5>
    </div>
  </div>
</ng-container>
<form name="createWorkShiftForm" role="form" [formGroup]="createWorkShiftForm" (ngSubmit)="create()">
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4 class="col-md-auto modal-title text-dark" hrmsTranslate="hrmsApp.workShift.create.many.label">Create many Work Shift</h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="row px-3 my-3">
      <div class="col-12 px-md-4 py-3">
        <div class="row mb-2 align-items-center">
          <div class="col pl-2">
            <div class="form-group my-2">
              <div class="field-append-icon">
                <input
                  id="work_shift_create_many_start_date"
                  data-cy="start_date"
                  placeholder="yyyy-mm-dd"
                  type="text"
                  class="form-control form-control-h40 rounded-12"
                  name="start_date"
                  ngbDatepicker
                  #startDatePicker="ngbDatepicker"
                  formControlName="start_date"
                  [minDate]="minDate"
                  [markDisabled]="markDisabled"
                />
                <span class="input-group-append">
                  <button type="button" class="field-icon icon-calendar2" (click)="startDatePicker.toggle()"></button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-auto px-0">
            <span class="my-1">to</span>
          </div>
          <div class="col">
            <div class="form-group my-2">
              <div class="field-append-icon">
                <input
                  id="work_shift_create_many_end_date"
                  data-cy="end_date"
                  placeholder="yyyy-mm-dd"
                  type="text"
                  class="form-control form-control-h40 rounded-12"
                  name="end_date"
                  ngbDatepicker
                  #endDatePicker="ngbDatepicker"
                  formControlName="end_date"
                  [minDate]="minDate"
                  [markDisabled]="markDisabled"
                />
                <span class="input-group-append">
                  <button type="button" class="field-icon icon-calendar2" (click)="endDatePicker.toggle()"></button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3 align-items-end">
          <div class="col-10 py-2">
            <div class="row align-items-center">
              <div class="col pl-2">
                <div class="form-group my-2">
                  <input class="form-control" type="time" name="start_time" formControlName="start_time" />
                </div>
              </div>
              <div class="col-auto px-0">
                <span class="my-1">to</span>
              </div>
              <div class="col">
                <div class="form-group my-2">
                  <input class="form-control" type="time" name="end_time" formControlName="end_time" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 py-2">
            <div class="row align-items-center">
              <div class="col-12">
                <div>
                  <span class="fs-sm d-block text-dark-3" hrmsTranslate="hrmsApp.workShift.create.totalLabel">Total</span>
                  <div class="form-group mb-2">
                    <input type="text" class="form-control" name="timeDifference" formControlName="timeDifference" readonly />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <ng-multiselect-dropdown
            [placeholder]="'Select Employee'"
            [settings]="dropdownSettings"
            [data]="employeesDropdownList"
            formControlName="employees"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="text-right">
      <button type="button" class="btn btn-outline-primary btn-h-47 px-4 mr-2" (click)="cancel()" hrmsTranslate="global.action.cancel">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary btn-h-47 px-4" hrmsTranslate="hrmsApp.workShift.createButton">Create Shift</button>
    </div>
  </div>
</form>
