@import '../../../../content/scss/app-variable';

.add-notes-input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  padding-left: 1em;
  &:hover {
    .punch-in-time-tag {
      border: 1px dashed $primary;
    }
  }
}
.add-notes-input-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    text-decoration: none;
  }
}
.punch-in-time-tag {
  background: rgba($color: $gray-5, $alpha: 0.4);
  border: 1px dotted rgba(235, 239, 248, 1);
  border-radius: 12px;
  padding: 3px 5px;
}

.punch-add-position-select {
  background: url('../../../../content/images/select-option-arrow-down.png') rgba($color: $gray-5, $alpha: 0.4);
  background-repeat: no-repeat;
  background-position: right 25px bottom 20px;
  background-size: 8px;
  border: 1px dotted rgba(235, 239, 248, 1);
  border-radius: 12px;
  padding: 3px 25px;
  font-size: 12px;
  color: $gray-dark;
  font-weight: 600;
  width: 100%;
  height: 48px;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.punch-in-break {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba($color: $gray-5, $alpha: 0.6);
  }
}
