<div *ngIf="isBreakStart" class="text-center">
  <button
    (click)="breakOut(lastTimeClockEvent)"
    class="btn btn-primary pill-rounded px-4 btn-h-42 fs-default"
    hrmsTranslate="timeClock.button.continueShift.label"
  >
    Continue to work
  </button>
</div>

<div class="pt-5" *ngIf="!isBreakStart">
  <div class="row">
    <div class="col-md-12 mb-3 pr-md-2" *ngIf="timeClockSettings?.break_button_enabled">
      <button (click)="breakStart()" class="punch-in-time-tag punch-in-break text-center text-dark w-100 fs-xs m-0 fw-600">
        <span hrmsTranslate="timeClock.button.break.label">Break </span>
        <span *ngIf="lastTimeClockEvent?.total_break_duration" class="ml-2">
          ({{ lastTimeClockEvent?.total_break_duration | formatTime: ETimeType.SECOND }})
        </span>
      </button>
    </div>
    <div class="col-md-6 mb-3 mb-md-0 pr-md-2">
      <div class="punch-in-time-tag d-flex align-items-center text-dark h-100">
        <form
          class="note-form pl-3 position-relative w-100"
          name="timeClockNoteForm"
          role="form"
          (keypress.enter)="addNote()"
          (ngSubmit)="addNote()"
          [formGroup]="timeClockNoteForm"
        >
          <input
            hrmsInputTrim
            class="add-notes-input"
            type="text"
            placeholder="{{ 'timeClock.form.note.placeholder' | translate }}"
            formControlName="note"
          />
          <a (click)="addNote()" class="add-notes-input-btn" href="javascript:void(0)" hrmsTranslate="timeClock.button.add.label">Add</a>
        </form>
      </div>
    </div>
    <div class="col-md-6 pl-md-2">
      <form class="position-form" name="timeClockPositionForm" role="form" [formGroup]="timeClockPositionForm">
        <select (change)="addPosition()" class="punch-add-position-select" formControlName="new_position_id">
          <option [ngValue]="null" disabled hrmsTranslate="timeClock.event.addPosition.label">Add position</option>
          <option *ngFor="let designation of designations" [ngValue]="designation.id">
            {{ designation.name }}
          </option>
        </select>
      </form>
    </div>
  </div>
</div>
