<div>
  <h2 id="page-heading" data-cy="CustomFieldHeading">
    <span hrmsTranslate="hrmsApp.customField.home.title">Custom Fields</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-custom-field"
        [routerLink]="['/custom-field/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hrmsTranslate="hrmsApp.customField.home.createLabel"> Create a new Custom Field </span>
      </button>
    </div>
  </h2>

  <hrms-alert-error></hrms-alert-error>

  <hrms-alert></hrms-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customFields?.length === 0">
    <span hrmsTranslate="hrmsApp.customField.home.notFound">No customFields found</span>
  </div>

  <div class="custom-table-sortable-th" id="customFields-list" *ngIf="customFields && customFields.length > 0">
    <table class="table" aria-describedby="page-heading">
      <thead>
        <tr>
          <th class="bg-th-head" scope="col"><span hrmsTranslate="global.field.id">ID</span></th>
          <th class="bg-th-head" scope="col"><span hrmsTranslate="hrmsApp.customField.name">Name</span></th>
          <th class="bg-th-head" scope="col">
            <span hrmsTranslate="hrmsApp.customField.custom_field_type">Custom Field Type</span>
          </th>
          <th class="bg-th-head" scope="col">
            <span hrmsTranslate="hrmsApp.customField.permission_type">Permission Type</span>
          </th>
          <th class="bg-th-head" scope="col"><span hrmsTranslate="hrmsApp.customField.value">Value</span></th>
          <th class="bg-th-head text-right" scope="col">
            <span hrmsTranslate="global.table.action.column">Action</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customField of customFields; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/custom-field', customField.id, 'view']">{{ customField.id }}</a>
          </td>
          <td>{{ customField.name }}</td>
          <td>{{ customField.custom_field_type?.name }}</td>
          <td>{{ customField.permission_type }}</td>
          <td>{{ customField.value }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/custom-field', customField.id, 'edit']"
                class="btn btn-primary btn-sm mx-1"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(customField)" class="btn btn-danger btn-sm mx-1" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
