<div class="page-side-nav">
  <ul class="left-sidebar">
    <li class="w-100">
      <a routerLinkActive="active" hrmsTranslate="settings.sidebar.application" routerLink="/account/admin-settings/application">
        Application
      </a>
    </li>
    <li class="w-100">
      <a routerLinkActive="active" hrmsTranslate="settings.sidebar.shiftPlanning" routerLink="/account/admin-settings/shift-planning">
        Shift Planning
      </a>
    </li>
    <li class="w-100">
      <a routerLinkActive="active" hrmsTranslate="settings.sidebar.timeClock" routerLink="/account/admin-settings/time-clock">Time Clock</a>
    </li>
    <li class="w-100">
      <a
        routerLinkActive="active"
        hrmsTranslate="settings.sidebar.leaveAndAvailability"
        routerLink="/account/admin-settings/leave-availability"
      >
        Leave & Availability
      </a>
    </li>
    <li class="w-100">
      <a routerLinkActive="active" hrmsTranslate="hrmsApp.holiday.home.title" routerLink="/account/admin-settings/holiday-import"
        >Upload Holiday</a
      >
    </li>
  </ul>
</div>
