<div>
  <h2 id="page-heading" data-cy="PermissionTypeHeading">
    <span hrmsTranslate="hrmsApp.permissionType.home.title">Permission Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span hrmsTranslate="hrmsApp.permissionType.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-permission-type"
        [routerLink]="['/permission-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hrmsTranslate="hrmsApp.permissionType.home.createLabel"> Create a new Permission Type </span>
      </button>
    </div>
  </h2>

  <hrms-alert-error></hrms-alert-error>

  <hrms-alert></hrms-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="permissionTypes?.length === 0">
    <span hrmsTranslate="hrmsApp.permissionType.home.notFound">No permissionTypes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="permissionTypes && permissionTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span hrmsTranslate="global.field.id">ID</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.permissionType.name">Name</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.permissionType.key">Key</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permissionType of permissionTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/permission-type', permissionType.id, 'view']">{{ permissionType.id }}</a>
          </td>
          <td>{{ permissionType.name }}</td>
          <td>{{ permissionType.key }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/permission-type', permissionType.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/permission-type', permissionType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(permissionType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
