@import '../../../../../webapp/content/scss/app-variable';

// for main.scss
.rounded-12 {
  border-radius: 12px;
}
.dashed-divider {
  border-bottom: 1px dashed rgba($color: $dark-shade-100, $alpha: 0.5);
}

.text-dark-3 {
  color: $dark-shade-500;
}
.form-control {
  border: 2px solid rgba($color: $secondary, $alpha: 0.09);
}
.form-control-h52 {
  height: 52px;
}
.form-radio-custom {
  position: relative;
  input[type='radio'] {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 99;
    &:checked + .check-mark {
      &::after {
        opacity: 1;
      }
    }
  }
  display: flex;
  align-items: center;
  .check-mark {
    border: 2px solid rgba($color: $primary, $alpha: 1);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    &::after {
      content: '';
      background: rgba($color: $primary, $alpha: 1);
      border-radius: 100%;
      display: block;
      width: 7px;
      height: 7px;
      opacity: 0;
    }
  }
  .radio-label {
    cursor: pointer;
    margin: 0;
    display: inline-block;
  }
}

.field-append-icon {
  position: relative;
  .form-control {
    padding-right: 40px;
  }
  .field-icon {
    color: $dark-shade-100;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    font-size: 20px;
    border: none;
    background: none;
    &:hover {
      color: rgba($color: $dark-shade-400, $alpha: 1);
    }
  }
}

.green-br-rounded-card {
  border-color: rgba($color: $primary, $alpha: 0.5);
}
