<form name="filterForm" role="form" (ngSubmit)="filterApplyClick()" novalidate [formGroup]="filterForm">
  <div class="row align-items-center justify-content-between">
    <div class="col-12 col-md-10 py-3">
      <div class="row align-items-center row-gutter-2">
        <div class="col-md-4 py-2">
          <label class="fs-sm text-dark-3 mb-1"><span hrmsTranslate="global.filter.allTime.label">Timeline:</span></label>
          <div>
            <select
              class="form-control rounded-12"
              [ngModel]="eFilterDurationType.LAST_WEEK"
              (ngModelChange)="changeFilter($event)"
              formControlName="duration_type"
            >
              <option [ngValue]="eFilterDurationType.ALL_TIME" hrmsTranslate="global.filter.allTime.label">Timeline</option>
              <option [ngValue]="eFilterDurationType.TODAY" hrmsTranslate="global.filter.today.label">Today</option>
              <option [ngValue]="eFilterDurationType.YESTERDAY" hrmsTranslate="global.filter.yesterday.label">Yesterday</option>
              <option [ngValue]="eFilterDurationType.LAST_7_DAYS" hrmsTranslate="global.filter.last7Day.label">Last 7 Days</option>
              <option [ngValue]="eFilterDurationType.THIS_WEEK" hrmsTranslate="global.filter.thisWeek.label">This Week</option>
              <option [ngValue]="eFilterDurationType.LAST_WEEK" hrmsTranslate="global.filter.lastWeek.label">Last Week</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 py-2">
          <label class="fs-sm text-dark-3 mb-1" for="start_date">
            <span hrmsTranslate="global.form.start_date.label">Start date</span></label
          >
          <div class="field-append-icon">
            <input
              type="text"
              class="form-control rounded-12"
              placeholder="yyyy-mm-dd"
              name="start_date"
              [readonly]="duration_type != eFilterDurationType.ALL_TIME"
              ngbDatepicker
              #start_dateDp="ngbDatepicker"
              formControlName="start_date"
            />
            <button
              type="button"
              class="field-icon icon-calendar2"
              [disabled]="duration_type != eFilterDurationType.ALL_TIME"
              (click)="start_dateDp.toggle()"
            ></button>
          </div>
        </div>
        <div class="col-md-4 py-2">
          <label class="fs-sm text-dark-3 mb-1" for="end_date"> <span hrmsTranslate="global.form.end_date.label">End date</span></label>
          <div class="field-append-icon">
            <input
              type="text"
              class="form-control rounded-12"
              placeholder="yyyy-mm-dd"
              name="end_date"
              [readonly]="duration_type != eFilterDurationType.ALL_TIME"
              ngbDatepicker
              #end_dateDp="ngbDatepicker"
              formControlName="end_date"
            />
            <button
              type="button"
              class="field-icon icon-calendar2"
              [disabled]="duration_type != eFilterDurationType.ALL_TIME"
              (click)="end_dateDp.toggle()"
            ></button>
          </div>
        </div>
        <div *ngIf="!isEmployee" class="col-md-4 py-2">
          <label class="fs-sm text-dark-3 mb-1"><span hrmsTranslate="global.form.branch.label">Branch:</span></label>
          <div>
            <select class="form-control rounded-12" id="" formControlName="branch_id">
              <option [ngValue]="null" hrmsTranslate="hrmsApp.branch.selectBox.title">Select Branch</option>
              <option [ngValue]="branch.id" *ngFor="let branch of branches">
                {{ branch.name }}
              </option>
            </select>
          </div>
        </div>
        <div *ngIf="!isEmployee" class="col-md-4 py-2">
          <label class="fs-sm text-dark-3 mb-1"><span hrmsTranslate="global.form.designation.label">Designations:</span></label>
          <div>
            <select class="form-control rounded-12" formControlName="designation_id">
              <option [ngValue]="null" hrmsTranslate="hrmsApp.designation.selectBox.title">Select Designation</option>
              <option [ngValue]="designation.id" *ngFor="let designation of designations">
                {{ designation.name }}
              </option>
            </select>
          </div>
        </div>
        <div *ngIf="!isEmployee" class="col-md-4 py-2">
          <label class="fs-sm text-dark-3 mb-1"><span hrmsTranslate="hrmsApp.employee.label">Employee:</span></label>
          <div>
            <select class="form-control rounded-12" formControlName="employee_id">
              <option [ngValue]="null" hrmsTranslate="hrmsApp.employee.selectBox.title">Select Employee</option>
              <option [ngValue]="employee.id" *ngFor="let employee of employees">{{ employee.first_name }} {{ employee.last_name }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2 py-3">
      <div class="row w-100 m-0 p-0">
        <div class="col-12 py-2">
          <button
            class="btn btn-primary inner-nav-btn w-100 d-flex align-items-center justify-content-center rounded-12"
            [disabled]="
              (filterForm.errors?.dateValid && duration_type == eFilterDurationType.ALL_TIME) ||
              filterDateControl?.errors?.required ||
              isLoading
            "
            type="submit"
            hrmsTranslate="global.action.search"
          >
            Search
          </button>
        </div>
        <div class="col-12 py-2">
          <button
            class="btn btn-outline-primary w-100 inner-nav-btn d-flex align-items-center justify-content-center rounded-12"
            type="button"
            (click)="resetFilters()"
            hrmsTranslate="global.action.resetFilter"
          >
            Reset
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
