<form name="editTimeClockForm" role="form" [formGroup]="editTimeClockForm">
  <div class="modal-body p-4">
    <div class="row justify-content-between px-md-4">
      <h4 class="col-md-auto modal-title text-dark pl-md-0"><span hrmsTranslate="timeClock.edit.modal.title">Edit operation</span></h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider my-3"></div>
    <div class="px-3">
      <div class="alert alert-danger" *ngIf="errorMessage">
        <strong>{{ errorMessage }}</strong>
      </div>
      <div class="row py-2">
        <div class="col-auto pr-1">
          <div class="clock-in-point">
            <i class="square-point bg-green"></i>
          </div>
        </div>
        <div class="col">
          <div class="clock-in-label row align-items-center justify-content-between">
            <div class="col-auto" hrmsTranslate="timeClock.button.clockIn.label">Clocked in</div>
            <div class="col-auto">
              <div class="d-flex">
                <div class="form-group mx-2 my-0">
                  <input class="form-control" type="time" formControlName="clock_start_time" />
                </div>
                <div class="form-group mx-2 my-0">
                  <input class="form-control" type="date" formControlName="clock_start_date" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div formArrayName="time_clock_events">
        <div *ngFor="let timeClockEvent of timeClockEvents.controls; let i = index">
          <div [formGroupName]="i">
            <div
              *ngIf="timeClockEvents.controls[i].get('event_type')!.value === ETimeClockEventType.BREAK"
              class="row align-items-center mb-3"
            >
              <div class="col-auto pr-1">
                <div class="clock-in-point"><i class="icon-coffee"></i></div>
              </div>
              <div class="col">
                <div class="clock-in-label row align-items-center justify-content-between">
                  <div class="col-12">
                    <span hrmsTranslate="timeClock.event.breakStarted.text">Break</span>
                    {{ timeClockEvents.controls[i].get('total_break_duration')!.value | formatTime: ETimeType.SECOND }} (
                    <input
                      class="form-control rounded-12 w-auto d-inline ng-untouched ng-pristine ng-valid"
                      type="time"
                      formControlName="break_start_time"
                    />
                    to
                    <input
                      class="form-control rounded-12 w-auto d-inline ng-untouched ng-pristine ng-valid"
                      type="time"
                      formControlName="break_end_time"
                    />)
                    <div
                      *ngIf="
                        timeClockEvents.controls[i].get('break_end_time')?.errors &&
                        timeClockEvents.controls[i].get('break_end_time')?.dirty
                      "
                    >
                      <small class="form-text text-danger" *ngIf="timeClockEvents.controls[i].get('break_end_time')?.errors?.required">
                        This field is required
                      </small>
                      <small
                        class="form-text text-danger"
                        *ngIf="timeClockEvents.controls[i].get('break_end_time')?.errors?.break_end_time"
                      >
                        Break end time should be greater than break start time
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto pl-0">
                <button class="btn row-delete-btn text-danger icon-remove p-0" (click)="removeTimeClockEvent(i)"></button>
              </div>
            </div>

            <div
              *ngIf="timeClockEvents.controls[i].get('event_type')!.value === ETimeClockEventType.NOTE"
              class="row align-items-center mb-3"
            >
              <div class="col-auto pr-1">
                <div class="clock-in-point"><i class="icon-briefcase"></i></div>
              </div>
              <div class="col">
                <div class="clock-in-label row align-items-center justify-content-between">
                  <div *ngIf="!timeClockEvents.controls[i].get('break_end_time')!.value" class="col-auto">
                    <input class="form-control" type="text" formControlName="note" />
                  </div>
                  <div class="col-auto">
                    <div class="d-flex">
                      <div class="mx-2">
                        <input
                          class="form-control rounded-12 w-auto d-inline ng-untouched ng-pristine ng-valid"
                          type="time"
                          formControlName="created_at_time"
                        />
                      </div>
                      <div>
                        <input
                          class="form-control rounded-12 w-auto d-inline ng-untouched ng-pristine ng-valid"
                          type="date"
                          formControlName="created_at_date"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto pl-0">
                <button class="btn row-delete-btn text-danger icon-remove p-0" (click)="removeTimeClockEvent(i)"></button>
              </div>
            </div>

            <div
              *ngIf="timeClockEvents.controls[i].get('event_type')!.value === ETimeClockEventType.POSITION"
              class="row align-items-center mb-3"
            >
              <div class="col-auto pr-1">
                <div class="clock-in-point"><i class="icon-briefcase"></i></div>
              </div>
              <div class="col">
                <div class="clock-in-label row align-items-center justify-content-between">
                  <div class="col-auto">
                    <div class="d-flex align-items-center">
                      <div hrmsTranslate="timeClock.event.changePosition.text" [translateValues]="{ designation: '' }">
                        Change position to
                      </div>
                      <div class="form-group ml-2">
                        <select class="form-control ng-untouched ng-pristine ng-valid" name="designation" formControlName="new_position_id">
                          <option value="0">Choose your designation</option>
                          <option *ngFor="let designation of designations" [value]="designation.id">
                            {{ designation.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="d-flex">
                      <div class="mx-2">
                        <input
                          class="form-control rounded-12 w-auto d-inline ng-untouched ng-pristine ng-valid"
                          type="time"
                          formControlName="created_at_time"
                        />
                      </div>
                      <div>
                        <input
                          class="form-control rounded-12 w-auto d-inline ng-untouched ng-pristine ng-valid"
                          type="date"
                          formControlName="created_at_date"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto pl-0">
                <button class="btn row-delete-btn text-danger icon-remove p-0" (click)="removeTimeClockEvent(i)"></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row py-2">
        <div class="col-auto pr-1">
          <div class="clock-in-point">
            <i class="square-point bg-danger"></i>
          </div>
        </div>
        <div class="col">
          <div class="clock-in-label row align-items-center justify-content-between">
            <div class="col-auto" hrmsTranslate="timeClock.button.clockOut.label">Clocked out</div>
            <div class="col-auto">
              <div class="d-flex">
                <div class="form-group mx-2 my-0">
                  <input
                    *ngIf="clock_end_time_control?.errors?.clock_end_time; else clockEndTimeError"
                    class="form-control border-danger"
                    type="time"
                    formControlName="clock_end_time"
                  />
                  <ng-template #clockEndTimeError><input class="form-control" type="time" formControlName="clock_end_time" /></ng-template>
                </div>
                <div class="form-group mx-2 my-0">
                  <input
                    *ngIf="clock_end_time_control?.errors?.clock_end_time; else clockEndDateError"
                    class="form-control border-danger"
                    type="date"
                    formControlName="clock_end_date"
                  />
                  <ng-template #clockEndDateError><input class="form-control" type="date" formControlName="clock_end_date" /></ng-template>
                </div>
              </div>
              <div *ngIf="clock_end_time_control?.errors && clock_end_time_control?.dirty">
                <small class="form-text text-danger" *ngIf="clock_end_time_control?.errors?.required"> This field is required </small>
                <small class="form-text text-danger" *ngIf="clock_end_time_control?.errors?.clock_end_time">
                  Clock end time should be greater than clock in
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hrms-time-clock-event-add
        [timeClock]="timeClock"
        [isEditMode]="true"
        (timeClockEditEvent)="pushTimeClockEvent($event)"
      ></hrms-time-clock-event-add>
      <div class="text-right my-1">
        <a (click)="deleteTimeClock(timeClock.id)" class="text-danger-light fs-sm" hrmsTranslate="timeClock.remove.label">
          Remove this punch in time
        </a>
      </div>
      <div class="form-group mt-4">
        <input
          class="form-control input-h-54px ng-untouched ng-pristine ng-valid"
          type="text"
          formControlName="notes"
          placeholder="Add reason"
        />
        <div *ngIf="notes_control?.errors && notes_control?.dirty">
          <small class="form-text text-danger" *ngIf="notes_control?.errors?.required"> This field is required </small>
          <small class="form-text text-danger" *ngIf="notes_control?.errors?.clock_end_time">
            Clock end time should be greater than clock in
          </small>
        </div>
      </div>
    </div>

    <div class="dashed-divider my-3"></div>
    <div class="d-flex justify-content-end">
      <button
        type="button"
        (click)="cancel()"
        class="btn btn-outline-primary px-3 py-2 btn-h-47 px-4 mr-2"
        hrmsTranslate="global.action.cancel"
      >
        <span hrmsTranslate="global.action.cancel">Cancel</span>
      </button>
      <button
        class="btn btn-primary btn-h-47 px-4 mr-2"
        data-cy="entityConfirmDeleteButton"
        (click)="update()"
        [disabled]="editTimeClockForm.invalid"
        type="button"
      >
        <span hrmsTranslate="global.action.update">Update</span>
      </button>
    </div>
  </div>
</form>
