@import '../../../../content/scss/app-variable';

.row-delete-btn {
  font-size: 1.5em;
}

.clock-in-label {
  background-color: rgba($color: $primary, $alpha: 0.08);
  padding: 0.5em 0 !important;
  height: auto !important;
  position: relative;
  z-index: 1;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  .position-form {
    select {
      border: none;
      outline: none;
    }
  }

  .note-form {
    button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      text-decoration: none;
      border: none;
      outline: none;
      background-color: transparent;
    }
    input {
      border: none;
      outline: none;
    }
  }

  &.clock-add-note {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;

    .clock-add-btn {
      color: rgba($color: $primary, $alpha: 0.9);
      background-color: rgba($color: $primary, $alpha: 0.08);
      border: 1px solid rgba($color: $primary, $alpha: 0.3);
      background: none;
      width: 40px;
      height: 40px;
    }
  }
}
