@import '../../../../content/scss/app-variable';

.date-time-clock {
  font-size: 22px;
}
.create-shift-btn {
  padding: 10px;
  color: #ffffff;
}

.template-item {
  background: rgba($color: $primary, $alpha: 0.05);
  border: 1px solid rgba($color: $primary, $alpha: 0.7);
  border-radius: 8px;
  padding: 10px 14px;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  &::after {
    content: '';
    position: absolute;
    top: 12px;
    left: -2px;
    width: 4px;
    height: 42px;
    border-radius: 10px;
    background: $primary;
  }
}

.template-item-selected {
  background: rgba($color: $primary, $alpha: 0.06);
  border: 2px solid rgba($color: $primary, $alpha: 1);
  border-radius: 8px;
  padding: 10px 14px;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  &::after {
    content: '';
    position: absolute;
    top: 12px;
    left: -2px;
    width: 4px;
    height: 42px;
    border-radius: 10px;
    background: $primary;
  }
}
