<ng-container *ngIf="message">
  <div class="row">
    <div class="col">
      <h5 class="mt-4 text-center text-danger">{{ message }}</h5>
    </div>
  </div>
</ng-container>

<div class="modal-body p-4">
  <div class="row justify-content-between mb-2 px-md-4">
    <h4 class="col-md-auto modal-title text-dark" hrmsTranslate="hrmsApp.workShift.create.title">Create Work Shift</h4>
    <button
      class="col-md-auto mt-0 align-self-baseline"
      type="button"
      class="close"
      data-dismiss="modal"
      aria-hidden="true"
      (click)="cancel()"
    >
      &times;
    </button>
  </div>
  <div class="dashed-divider mb-3"></div>
  <div class="row my-3">
    <div class="col-md-6 px-md-4 py-3">
      <form name="createWorkShiftForm" role="form" [formGroup]="createWorkShiftForm" (ngSubmit)="create()">
        <div class="d-flex mb-2 text-dark-3 align-items-center">
          <i class="icon-clock1 fs-xl"></i>
          <p class="mb-0 ml-2 fs-default">{{ startDateTimeFromEvent | date: 'MMMM d' }}</p>
        </div>
        <div class="row mb-2 align-items-center">
          <div class="col pl-2">
            <div class="form-group my-2">
              <input class="form-control" type="time" name="start_time" formControlName="start_time" />
            </div>
          </div>
          <div class="col-auto px-0">
            <span class="my-1">to</span>
          </div>
          <div class="col">
            <div class="form-group my-2">
              <input class="form-control" type="time" name="end_time" formControlName="end_time" />
            </div>
          </div>
        </div>
        <div>
          <span class="fs-sm mb-2 d-block text-dark-3" hrmsTranslate="hrmsApp.workShift.create.totalLabel">Total</span>
          <div class="form-group">
            <input type="text" class="form-control" name="timeDifference" formControlName="timeDifference" />
          </div>
        </div>
        <div class="mb-3">
          <span class="fs-sm mb-2 d-block text-dark-3" hrmsTranslate="hrmsApp.workShift.create.designationLabel">Designation</span>
          <div class="form-group">
            <select class="form-control" name="designation_id" formControlName="designation_id">
              <option *ngFor="let employeeDesignation of employeeDesignations" [ngValue]="employeeDesignation['designation']['id']">
                {{ employeeDesignation['designation']['name'] }}
              </option>
            </select>
          </div>
        </div>
        <div class="text-right pt-4">
          <button type="button" class="btn btn-outline-primary btn-h-47 px-4 mr-2" (click)="cancel()" hrmsTranslate="global.action.cancel">
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary btn-h-47 px-4"
            [disabled]="!createWorkShiftForm.valid"
            hrmsTranslate="hrmsApp.workShift.createButton"
          >
            Create Shift
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6 px-md-4 border-left-dark py-3">
      <div class="d-flex mb-3">
        <i class="icon-user-plus2 fs-xxl text-blue-dark-5 mt-1"></i>
        <div class="ml-3 mb-3">
          <p class="mb-0 fs-xxl font-weight-bold text-blue-dark-5" hrmsTranslate="hrmsApp.workShift.create.templateLabel">
            Or, Crate from a template
          </p>
          <div class="dashed-divider"></div>
        </div>
      </div>
      <div *ngIf="!workShiftTemplates?.length">
        <p hrmsTranslate="hrmsApp.workShift.create.templateNotFound">
          There are no templates created.Go to Manage Shift Templates page and add new one.
        </p>
      </div>
      <div *ngIf="workShiftTemplates?.length" class="ml-4 mb-2">
        <div class="template-list">
          <div class="row">
            <div class="col-md-6" *ngFor="let workShiftTemplate of workShiftTemplates; let templateIndex = index">
              <div
                [ngClass]="templateIndex !== selectedTemplateIndex ? 'template-item' : 'template-item-selected'"
                (click)="chooseTemplate(workShiftTemplate, templateIndex)"
              >
                <p class="fs-sm text-primary mb-1">
                  {{ workShiftTemplate?.start_time | convertHoursMinutes }} - {{ workShiftTemplate?.end_time | convertHoursMinutes }}
                </p>
                <p class="fs-sm text-blue-dark-5 mb-0">{{ workShiftTemplate?.designation?.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
