<form name="appSettingsForm" role="form" novalidate (ngSubmit)="onSave()" [formGroup]="appSettingsForm">
  <div class="bg-white p-4 mb-3 rounded-12">
    <div class="setting-border-runded-box rounded-12 px-4 py-3 mb-4">
      <h5 class="text-blue-dark fs-default" hrmsTranslate="applicationSettings.location.title">Local</h5>
      <div class="dashed-divider"></div>
      <div class="row w-100 m-0 p-0">
        <div class="col-12 col-lg-6 my-2 p-0">
          <div class="row w-100 m-0 p-0 mt-2">
            <div class="col-12 col-lg-6 my-2 pl-lg-0">
              <div>
                <label for="" class="fs-sm text-blue-dark mb-1" hrmsTranslate="applicationSettings.location.country.label">Country</label>
                <select class="form-control fs-sm rounded-12" name="locale_country_id" formControlName="locale_country_id">
                  <option [ngValue]="country.id" *ngFor="let country of countries; let i = index" [selected]="i === 0">
                    {{ country?.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-12 col-lg-6 my-2 pr-lg-3">
              <div class="">
                <label for="" class="fs-sm text-blue-dark mb-1" hrmsTranslate="applicationSettings.location.deafult_language.label"
                  >Deafult Language</label
                >
                <select class="form-control fs-sm rounded-12" name="locale_default_lang_code" formControlName="locale_default_lang_code">
                  <option [ngValue]="language" *ngFor="let language of languages">{{ language | findLanguageFromKey }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 my-2 p-0">
          <div class="row w-100 m-0 p-0 mt-2">
            <div class="col-12 col-lg-6 my-2 pl-lg-0">
              <label for="" class="fs-sm text-blue-dark mb-1" hrmsTranslate="applicationSettings.location.timezone.label">Timezone</label>
              <select class="form-control fs-sm rounded-12" name="locale_timezone_id" formControlName="locale_timezone_id">
                <option [ngValue]="timeZone.id" *ngFor="let timeZone of timeZones">{{ timeZone?.name }}</option>
              </select>
            </div>

            <div class="col-12 col-lg-6 my-2">
              <label for="" class="fs-sm text-blue-dark mb-1" hrmsTranslate="applicationSettings.location.date_format.label"
                >Date Format</label
              >
              <select class="form-control fs-sm rounded-12" name="locale_date_format" formControlName="locale_date_format">
                <option [ngValue]="localeDateFormat" *ngFor="let localeDateFormat of localeDateFormats">
                  {{ localeDateFormat }}
                </option>
              </select>
              <!-- <div class="col-md-6">
                  <label for="" class="fs-sm mb-1">Week Numbers</label>
                  <select class="form-control form-control-h52 rounded-12" name="locale_week_number" formControlName="locale_week_number">
                    <option [ngValue]="localeWeekNumber" *ngFor="let localeWeekNumber of localeWeekNumbers">
                      {{ localeWeekNumber }}
                    </option>
                  </select>
                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-border-runded-box rounded-12 px-4 py-3 mb-4">
      <div class="row w-100 m-0 p-0">
        <div class="col-12 col-lg-6 my-2 p-0">
          <h5 class="text-blue-dark fs-default" hrmsTranslate="applicationSettings.employee.title">Employee Settings</h5>
          <div class="dashed-divider mb-3"></div>
          <!-- <div class="form-check form-check-custom d-flex mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_name_format"
              id="employee_name_format"
              formControlName="employee_name_format"
            />
            <label class="form-check-label mr-3" for="employee_name_format">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="applicationSettings.employee.employee_name_format.label">
                Naming format of Employee
              </span>
            </label>
            <input type="input" name="" class="form-control form-control-w-auto form-control-sm rounded-12" />
          </div> -->

          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_name_format"
              id="employee_can_view_report"
              formControlName="employee_can_view_report"
            />
            <label class="form-check-label mr-3" for="employee_can_view_report">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="applicationSettings.employee.employee_can_view_report.label">
                Allow employees to view reports
              </span>
            </label>
          </div>

          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_name_format"
              id="employee_can_edit_profile"
              formControlName="employee_can_edit_profile"
            />
            <label class="form-check-label mr-3" for="employee_can_edit_profile">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="applicationSettings.employee.employee_can_edit_profile.label">
                Allow employees to edit profile
              </span>
            </label>
          </div>

          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_name_format"
              id="employee_can_view_staff_gallery"
              formControlName="employee_can_view_staff_gallery"
            />
            <label class="form-check-label mr-3" for="employee_can_view_staff_gallery">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="applicationSettings.employee.employee_can_view_staff_gallery.label">
                Allow employees to view gallery of other employees
              </span>
            </label>
          </div>

          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_name_format"
              id="employee_can_view_staff_details"
              formControlName="employee_can_view_staff_details"
            />
            <label class="form-check-label mr-3" for="employee_can_view_staff_details">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="applicationSettings.employee.employee_can_view_staff_details.label">
                Allow employees to view details of other employees
              </span>
            </label>
          </div>

          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_name_format"
              id="employee_mgnt_can_view_eid"
              formControlName="employee_mgnt_can_view_eid"
            />
            <label class="form-check-label mr-3" for="employee_mgnt_can_view_eid">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="applicationSettings.employee.employee_mgnt_can_view_eid.label">
                Allow management to view employee code
              </span>
            </label>
          </div>

          <!-- <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_name_format"
              id="employee_can_view_whos_on"
              formControlName="employee_can_view_whos_on"
            />
            <label class="form-check-label mr-3" for="employee_can_view_whos_on">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="applicationSettings.employee.employee_can_view_whos_on.label">
                Allow employees to view 'Who’s on Now' list
              </span>
            </label>
          </div>

          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_name_format"
              id="employee_can_request_account"
              formControlName="employee_can_request_account"
            />
            <label class="form-check-label mr-3" for="employee_can_request_account">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="applicationSettings.employee.employee_can_request_account.label">
                Allow employees to request an account
              </span>
            </label>
          </div>

          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_name_format"
              id="employee_security_question"
              formControlName="employee_security_question"
            />
            <label class="form-check-label mr-3" for="employee_security_question">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> employee_security_question </span>
            </label>
          </div>

          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_name_format"
              id="employee_security_answer"
              formControlName="employee_security_answer"
            />
            <label class="form-check-label mr-3" for="employee_security_answer">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> employee_security_answer </span>
            </label>
          </div>

          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_can_view_uploaded_files"
              id="employee_can_view_uploaded_files"
              formControlName="employee_can_view_uploaded_files"
            />
            <label class="form-check-label mr-3" for="employee_can_view_uploaded_files">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="applicationSettings.employee.employee_can_view_uploaded_files.label">
                Allow employees to view uploaded files
              </span>
            </label>
          </div> -->
        </div>

        <div class="col-12 col-lg-6 my-2 p-0">
          <h5 class="text-blue-dark fs-default" hrmsTranslate="applicationSettings.auth.title">Auth Settings</h5>
          <div class="dashed-divider mb-3"></div>
          <div class="row align-items-center my-2 w-100 m-0 p-0">
            <div class="col-8 p-0">
              <label class="mb-0 fs-sm text-blue-dark mr-2" hrmsTranslate="applicationSettings.auth.auth_auto_logout_time.label">
                Auto logout time in minutes
              </label>
            </div>
            <div class="col-4 p-0 text-end">
              <select
                class="form-control form-control-sm rounded-12 text-center"
                name="auth_auto_logout_time"
                formControlName="auth_auto_logout_time"
              >
                <option
                  *ngFor="let autoLogoutTimeOption of autoLogoutTimeOptions"
                  [value]="autoLogoutTimeOption.value"
                  [hrmsTranslate]="autoLogoutTimeOption.translationName"
                >
                  {{ autoLogoutTimeOption.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="row align-items-center my-2 w-100 m-0 p-0">
            <div class="col-8 p-0">
              <label class="mb-0 fs-sm text-blue-dark mr-2" hrmsTranslate="applicationSettings.auth.auth_password_expiry_time.label">
                Set the automatic password expiration date
              </label>
            </div>
            <div class="col-4 p-0 text-end">
              <input
                type="number"
                name="auth_password_expiry_time"
                formControlName="auth_password_expiry_time"
                class="form-control form-control-sm rounded-12 text-center"
              />
            </div>
          </div>

          <div class="row align-items-center my-2 w-100 m-0 p-0">
            <div class="col-8 p-0">
              <label class="mb-0 fs-sm text-blue-dark mr-2" hrmsTranslate="applicationSettings.auth.office_working_hours.label">
                Office working hours
              </label>
            </div>
            <div class="col-4 p-0 text-center">
              <input
                type="number"
                name="office_working_hours"
                formControlName="office_working_hours"
                class="form-control form-control-sm rounded-12 text-center"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="setting-border-runded-box rounded-12 p-3 mb-4">
      <div class="row">
        <div class="col-md-6">
          <h5 class="text-blue-dark">Notification</h5>
          <div class="dashed-divider mb-3"></div>

          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="notification_email_enabled"
              id="notification_email_enabled"
              formControlName="notification_email_enabled"
            />
            <label class="form-check-label mr-3" for="notification_email_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> notification_email_enabled </span>
            </label>
          </div>

          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="notification_sms_enabled"
              id="notification_sms_enabled"
              formControlName="notification_sms_enabled"
            />
            <label class="form-check-label mr-3" for="notification_sms_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> notification_sms_enabled </span>
            </label>
          </div>

          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="notification_mobile_push_enabled"
              id="notification_mobile_push_enabled"
              formControlName="notification_mobile_push_enabled"
            />
            <label class="form-check-label mr-3" for="notification_mobile_push_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> notification_mobile_push_enabled </span>
            </label>
          </div>

          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="notification_birthday_enabled"
              id="notification_birthday_enabled"
              formControlName="notification_birthday_enabled"
            />
            <label class="form-check-label mr-3" for="notification_birthday_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> notification_birthday_enabled </span>
            </label>
          </div>

          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="notification_birthday_card_enabled"
              id="notification_birthday_card_enabled"
              formControlName="notification_birthday_card_enabled"
            />
            <label class="form-check-label mr-3" for="notification_birthday_card_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> notification_birthday_card_enabled </span>
            </label>
          </div>
        </div>

        <div class="col-md-6">
          <h5 class="text-blue-dark">Common Settings</h5>
          <div class="dashed-divider mb-3"></div>

          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="comm_message_wall_enabled"
              id="comm_message_wall_enabled"
              formControlName="comm_message_wall_enabled"
            />
            <label class="form-check-label mr-3" for="comm_message_wall_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> comm_message_wall_enabled </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="comm_employee_can_post_msg"
              id="comm_employee_can_post_msg"
              formControlName="comm_employee_can_post_msg"
            />
            <label class="form-check-label mr-3" for="comm_employee_can_post_msg">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> comm_employee_can_post_msg </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="comm_employee_can_comment"
              id="comm_employee_can_comment"
              formControlName="comm_employee_can_comment"
            />
            <label class="form-check-label mr-3" for="comm_employee_can_comment">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> comm_employee_can_comment </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="comm_messaging_module_enabled"
              id="comm_messaging_module_enabled"
              formControlName="comm_messaging_module_enabled"
            />
            <label class="form-check-label mr-3" for="comm_messaging_module_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> comm_messaging_module_enabled </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="comm_employee_can_send_private_msg"
              id="comm_employee_can_send_private_msg"
              formControlName="comm_employee_can_send_private_msg"
            />
            <label class="form-check-label mr-3" for="comm_employee_can_send_private_msg">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> comm_employee_can_send_private_msg </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="comm_employee_can_reply_received_msg"
              id="comm_employee_can_reply_received_msg"
              formControlName="comm_employee_can_reply_received_msg"
            />
            <label class="form-check-label mr-3" for="comm_employee_can_reply_received_msg">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> comm_employee_can_reply_received_msg </span>
            </label>
          </div>
          <div class="form-check form-check-custom mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="comm_employee_can_ping_users"
              id="comm_employee_can_ping_users"
              formControlName="comm_employee_can_ping_users"
            />
            <label class="form-check-label mr-3" for="comm_employee_can_ping_users">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark"> comm_employee_can_ping_users </span>
            </label>
          </div>
        </div>
      </div>
    </div>-->
    <div class="text-right">
      <button type="submit" class="btn btn-primary btn-h-47 px-4" hrmsTranslate="settings.form.button">Save Settings</button>
    </div>
  </div>
</form>
