<div>
  <h2 id="page-heading" data-cy="MenuHeading">
    <span hrmsTranslate="hrmsApp.menu.home.title">Menus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span hrmsTranslate="hrmsApp.menu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        *ngIf="acl.canAdd"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-menu"
        [routerLink]="['/menu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hrmsTranslate="hrmsApp.menu.home.createLabel"> Create a new Menu </span>
      </button>
    </div>
  </h2>

  <hrms-alert-error></hrms-alert-error>

  <hrms-alert></hrms-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="menus?.length === 0">
    <span hrmsTranslate="hrmsApp.menu.home.notFound">No menus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="menus && menus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span hrmsTranslate="global.field.id">ID</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.menu.name">Name</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.menu.icon">Icon</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.menu.end_point">End Point</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.menu.router_link">Router Link</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.menu.permissions">Permissions</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.menu.parent_id">Parent Id</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.menu.position">Position</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.menu.is_active">Is Active</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.menu.is_deleted">Is Deleted</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of menus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/menu', menu.id, 'view']">{{ menu.id }}</a>
          </td>
          <td>{{ menu.name }}</td>
          <td>{{ menu.icon }}</td>
          <td>{{ menu.end_point }}</td>
          <td>{{ menu.router_link }}</td>
          <td>
            <span *ngFor="let permission of menu.permissions; let i = index">
              {{ permission.name }}
              <span *ngIf="menu.permissions.length - 1 != i"> , </span>
            </span>
          </td>
          <td>{{ menu.parent_id }}</td>
          <td>{{ menu.position }}</td>
          <td>{{ menu.is_active }}</td>
          <td>{{ menu.is_deleted }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                *ngIf="acl.canView"
                type="submit"
                [routerLink]="['/menu', menu.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="entity.action.view">View</span>
              </button>

              <button
                *ngIf="acl.canEdit"
                type="submit"
                [routerLink]="['/menu', menu.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.edit">Edit</span>
              </button>

              <button *ngIf="acl.canDelete" type="submit" (click)="delete(menu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
