@import '../../../webapp/content/scss/app-variable';

.hide-show-toggler {
  background: none;
  border: none;
  padding: 0;
  color: $primary;
  display: flex;
  align-items: center;
}

.inner-body-report-scrollbar {
  height: calc(100vh - 83px);
  background: none;
  margin-top: -20px !important;
  padding-top: 10px !important;
  padding-left: 0;
  padding-right: 10px;
}

.time-cell-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    border-bottom: 1px solid rgba($color: $dark-shade-100, $alpha: 0.3);
    padding: 5px 0;
    &:last-child {
      border-bottom: none;
    }
  }
}
