<ng-progress [spinner]="false" ease="linear" color="#149cfc" #progressBar></ng-progress>
<div>
  <ng-container>
    <router-outlet name="navbar"></router-outlet>
  </ng-container>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col p-0">
      <div class="body-container">
        <router-outlet></router-outlet>
        <hrms-app-toasts></hrms-app-toasts>
      </div>
    </div>
  </div>
</div>
