<ngb-toast
  *ngFor="let toast of toastService.toasts"
  [class]="toast.classname"
  [autohide]="true"
  [delay]="toast.delay || 5000"
  (hidden)="toastService.remove(toast)"
>
  <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
    <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
  </ng-template>

  <ng-template #text>
    <div class="d-flex align-items-center">
      <div class="mx-2 mt-1"><i [class]="toast.icon"></i></div>
      <div class="mx-2">{{ toast.textOrTpl }}</div>
    </div>
  </ng-template>
</ngb-toast>
