<table class="head-bg-table">
  <thead>
    <tr>
      <th class="text-center" width="130" hrmsTranslate="global.table.from.column">From</th>
      <th class="text-center" hrmsTranslate="global.table.until.column">Until</th>
      <th class="text-center" hrmsTranslate="global.table.length.column">length</th>
      <th class="text-center" hrmsTranslate="global.table.status.column">status</th>
      <th class="text-center" hrmsTranslate="leaves.table.leaveType.column">Leave Type</th>
      <th class="text-center" width="200" hrmsTranslate="global.table.action.column">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td class="text-center">
        {{ row?.start_date | date: 'MMM d, y':timeZone?.offset }}
        <span *ngIf="row.is_partial_day_allowed">
          {{ row.start_date | date: 'h:mm  a':timeZone?.offset }}
        </span>
      </td>
      <td class="text-center">
        {{ row?.end_date | date: 'MMM d, y':timeZone?.offset }}
        <span *ngIf="row.is_partial_day_allowed">
          {{ row.end_date | date: 'h:mm a':timeZone?.offset }}
        </span>
      </td>

      <td class="text-center">{{ row.total_leave_duration_mins | minutesToDays }}</td>
      <td class="text-center">{{ row.status }}</td>
      <td class="text-center">{{ row.leaveType?.name }}</td>
      <td class="text-center">
        <button
          *ngIf="
            row.status !== eLeaveStatusType.REQUESTED ||
            (row.status === eLeaveStatusType.REQUESTED && leaveSettings.employees_can_cancel_previously_approved_leave_requests)
          "
          class="btn {{ actionButtonClass }} btn-sm"
          (click)="showCancelModal(row?.id)"
          [hrmsTranslate]="actionButtonLabel"
          [disabled]="row.status === eLeaveStatusType.REQUEST_REJECTED"
        >
          Action Button
        </button>
      </td>
    </tr>
  </tbody>
</table>
