<div *ngIf="sideMenus.length" class="page-side-nav">
  <ul class="left-sidebar">
    <li class="w-100" *ngFor="let menu of sideMenus">
      <ng-container *ngIf="menu.children?.length; else noSideMenuChildren">
        <a
          class="d-flex align-items-center"
          (click)="toggleCollapse(menu)"
          role="button"
          [attr.aria-expanded]="menu.is_collapsed && sideMenuId != menu.id"
          aria-controls="collapseExample"
        >
          <span class="children-icon {{ menu.icon }}"></span>
          <span class="ml-2 text-dark fw-600" hrmsTranslate="{{ menu?.translate_name }}">{{ menu?.name }}</span>
        </a>
        <ul class="pl-3" *ngIf="!menu.is_collapsed && sideMenuId == menu.id">
          <li *ngFor="let children of menu.children">
            <a
              *ngIf="children?.is_menu"
              routerLinkActive="active"
              [routerLink]="children?.router_link"
              hrmsTranslate="{{ children?.translate_name }}"
            >
              {{ children.name }}
            </a>
          </li>
        </ul>
      </ng-container>
      <ng-template #noSideMenuChildren>
        <a routerLinkActive="active" [routerLink]="menu?.router_link" *ngIf="menu?.is_menu" hrmsTranslate="{{ menu?.translate_name }}">
          {{ menu?.name }}
        </a>
      </ng-template>
    </li>
  </ul>
</div>
