@import '../app-variable';

.emplyee-btn-nav {
  .btn {
    &.btn-outline-gray {
      &.active {
        border-color: $primary;
        color: $primary;
        background: rgba($color: $app-green-light, $alpha: 0.1);
      }
    }
  }
}
.add-position-btn {
  font-size: 12px;
  color: $primary;
  display: inline-flex;
  align-items: center;
  i {
    margin-right: 10px;
    font-size: 17px;
    text-align: center;
    border: 1px solid $primary;
    width: 21px;
    height: 21px;
    border-radius: 100%;
  }
}
.btn {
  padding: 8px 16px;
  &.rounded-4 {
    border-radius: 4px;
  }
  &.rounded-pill {
    border-radius: 100px;
  }
  &.inner-nav-btn {
    padding: 12px 25px;
  }
  &.circle-icon-btn {
    color: $white !important;
    border-radius: 100%;
    width: 29px;
    height: 29px;
    font-size: 16px;
    padding: 0;
    line-height: 29px;
  }
  &.lng-btn {
    span {
      display: block;
      font-size: 12px;
      font-weight: 600;
      line-height: 28px;
    }
  }
  &.btn-primary {
    background: linear-gradient(111.71deg, $primary-gradient-color-1 14.24%, $primary-gradient-color-2 86.78%);
    color: $white;
    &:focus {
      color: $white !important;
    }
    &:hover {
      background: linear-gradient(111.71deg, $primary-gradient-color-1 5%, $primary-gradient-color-2 50%);
    }
  }
  &.btn-success {
    background: darken($color: $primary, $amount: 20);
    color: $white;
    border-color: darken($color: $primary, $amount: 20);
    &:focus {
      color: $white !important;
    }
  }
  &.btn-danger {
    background: $app-danger;
    color: $white;
    &:hover {
      border-color: $app-danger;
      background: darken($color: $app-danger, $amount: 10);
    }
    &:focus {
      color: $white !important;
    }
  }
  &.btn-outline-primary {
    &:hover {
      color: $white;
    }
  }
  &.btn-tiny {
    font-size: 10px;
    height: 29px;
    border-radius: 4px;
    i {
      margin-right: 4px;
    }
  }
}
.grid-list-btn {
  &.active {
    color: $primary;
  }
}
