<hrms-full-screen-spinner *ngIf="loading; else forgotPasswordResetTemplate"></hrms-full-screen-spinner>
<ng-template #forgotPasswordResetTemplate>
  <div class="login-wrapper">
    <div class="row align-items-center h-100">
      <div class="col-md-7">
        <div class="login-area">
          <div class="text-center login-logo pt-3">
            <img src="../../content/images/logo.svg" alt="logo" />
          </div>
          <div>
            <div class="my-5">
              <h2 class="text-center text-blue-dark-700" hrmsTranslate="reset.forgotPassword.title" data-cy="loginTitle">
                Forgot Password
              </h2>
            </div>

            <hrms-alert-error></hrms-alert-error>

            <hrms-alert-error></hrms-alert-error>

            <div class="alert alert-danger" *ngIf="passNotMatchedError">
              <span hrmsTranslate="reset.forgotPassword.error.notMatch">Password does not matched</span>
            </div>

            <div class="alert alert-success" *ngIf="resetSuccess">
              <span hrmsTranslate="reset.forgotPassword.messages.resetCompleted">Password has been reset successfully!</span>
              <a href="/login">Login Now</a>
            </div>

            <form *ngIf="!resetSuccess" class="form" name="form" role="form" (ngSubmit)="resetPassword()" [formGroup]="resetRequestForm">
              <div class="form-group">
                <input
                  hrmsInputTrim
                  type="password"
                  class="form-control input-h-54px"
                  id="newPassword"
                  name="newPassword"
                  placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                  formControlName="newPassword"
                  data-cy="newPassword"
                  #forgot_new_password
                />
                <button
                  type="button"
                  (click)="forgot_new_password.type = forgot_new_password.type === 'password' ? 'text' : 'password'"
                  class="input-action"
                >
                  <i [class]="forgot_new_password.type === 'password' ? 'icon-eye-off' : 'icon-eye2'"></i>
                </button>
              </div>

              <div class="form-group">
                <input
                  hrmsInputTrim
                  type="password"
                  class="form-control input-h-54px"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                  formControlName="confirmPassword"
                  data-cy="confirmPassword"
                  #forgot_confirm_password
                />
                <button
                  type="button"
                  (click)="forgot_confirm_password.type = forgot_confirm_password.type === 'password' ? 'text' : 'password'"
                  class="input-action"
                >
                  <i [class]="forgot_confirm_password.type === 'password' ? 'icon-eye-off' : 'icon-eye2'"></i>
                </button>
              </div>

              <button
                [disabled]="resetRequestForm.invalid || isSaving"
                type="submit"
                class="btn btn-block btn-primary mb-5 fs-default btn-h-56"
                data-cy="submit"
              >
                <div *ngIf="isSaving" class="spinner-border spinner-border-sm mx-3" role="status"></div>
                <span hrmsTranslate="reset.request.form.button">Reset Password</span>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5 hide-on-mobile px-0">
        <div class="row login-cover-side text-white py-5 align-items-center justify-content-center">
          <div class="col-12">
            <div class="text-center my-4 login-image-container">
              <div class="login-image-vectors"></div>
              <img class="login-image" src="../../content/images/forgot-password.svg" alt="login-desk" />
            </div>

            <div>
              <h1 class="text-center mb-3 mt-5">Lost your password?</h1>
              <p class="text-center px-5 text-white-op-7">No worries! Reset it in just a few clicks.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
