<div class="row">
  <div class="col-12 col-md-6">
    <p class="py-2">
      Setup Skills to define any special abilities that your employees may have. This can include things such as CPR Certification, Second
      Languages, etc. You can use these skills throughout the system to more quickly filter and track employees.
    </p>
    <h4><strong>Add New Skill:</strong></h4>
    <form class="row" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="col-6">
        <input type="hidden" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" />
        <input type="hidden" name="company_id" id="field_company_id" data-cy="company_id" formControlName="company_id" />
        <div class="form-group">
          <input hrmsInputTrim type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" hrmsTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              hrmsTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>
      </div>
      <div class="col-4">
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;
          <span *ngIf="!isUpdating" hrmsTranslate="global.action.save">Save</span>
          <span *ngIf="isUpdating">Update</span>
        </button>
      </div>
    </form>
    <div class="row">
      <div class="col-8 table-responsive" id="entities" *ngIf="skills && skills.length > 0">
        <h4><strong>Current Skills:</strong></h4>
        <table class="table">
          <tbody>
            <tr *ngFor="let skill of skills; trackBy: trackId" data-cy="entityTable">
              <td>{{ skill.name }}</td>
              <td class="text-right">
                <button type="submit" (click)="updateForm(skill)" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" hrmsTranslate="global.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(skill)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
