<div class="rounded-12-white-box p-4">
  <p class="text-dark mb-4 h5 fw-600" hrmsTranslate="timeClock.event.title">Last Activity</p>
  <div *ngIf="timeClock?.clock_start_time; else emptyTimeClockContainer" class="py-3">
    <div class="d-flex justify-content-between punch-activity-row">
      <div class="activity-name-pin d-flex">
        <span></span>
        <p class="m-0 fw-600 text-dark" hrmsTranslate="timeClock.button.clockIn.label">Punch In</p>
      </div>
      <label class="m-0 punch-time">{{ timeClock?.clock_start_time | date: 'shortTime':timeZone.offset }}</label>
    </div>

    <div *ngFor="let timeClockEvent of timeClock?.time_clock_events; index as i" class="punch-activity-row">
      <div *ngIf="timeClockEvent.event_type === ETimeClockEventType.BREAK" class="d-flex justify-content-between">
        <div class="activity-name-pin d-flex">
          <span></span>
          <p *ngIf="!timeClockEvent.break_end_time" class="m-0 fw-600 text-dark" hrmsTranslate="timeClock.event.breakStarted.text">
            Break Started
          </p>
          <p *ngIf="timeClockEvent.break_end_time">
            <label hrmsTranslate="timeSheet.table.break.column">Break</label>
            {{ timeClockEvent.total_break_duration | formatTime: ETimeType.SECOND }} ({{
              timeClockEvent.break_start_time | date: 'shortTime':timeZone.offset
            }}
            - {{ timeClockEvent.break_end_time | date: 'shortTime':timeZone.offset }})
          </p>
        </div>
        <label class="m-0 punch-time">{{ timeClockEvent.break_start_time | date: 'shortTime':timeZone.offset }}</label>
      </div>

      <div *ngIf="timeClockEvent.event_type === ETimeClockEventType.NOTE" class="d-flex justify-content-between">
        <div class="activity-name-pin d-flex">
          <span></span>
          <p class="m-0 fw-600 text-dark">{{ timeClockEvent.note }}</p>
        </div>
        <label class="m-0 punch-time">{{ timeClockEvent.created_at | date: 'shortTime':timeZone.offset }}</label>
      </div>

      <div *ngIf="timeClockEvent.event_type === ETimeClockEventType.POSITION" class="d-flex justify-content-between">
        <div class="activity-name-pin d-flex">
          <span></span>
          <p
            class="m-0 fw-600 text-dark"
            hrmsTranslate="timeClock.event.changePosition.text"
            [translateValues]="{ designation: timeClockEvent?.new_designation?.name }"
          >
            Change position to {{ timeClockEvent?.new_designation?.name }}
          </p>
        </div>
        <label class="m-0 punch-time">{{ timeClockEvent.created_at | date: 'shortTime':timeZone.offset }}</label>
      </div>
    </div>

    <div *ngIf="timeClock?.clock_end_time" class="d-flex justify-content-between punch-activity-row">
      <div class="activity-name-pin d-flex">
        <span></span>
        <p class="m-0 fw-600 text-dark" hrmsTranslate="timeClock.button.clockOut.label">Punch Out</p>
      </div>
      <label class="m-0 punch-time">{{ timeClock?.clock_end_time | date: 'shortTime':timeZone.offset }}</label>
    </div>
  </div>
  <ng-template #emptyTimeClockContainer>
    <p class="text-center text-secondary" hrmsTranslate="timeClock.event.empty">No activity found</p>
  </ng-template>
</div>
