<div *ngIf="(is_primary && branches.length > 0) || branches.length > 1; else noBranchFound">
  <div *ngFor="let branch of branches; trackBy: trackId" data-cy="entityTable" class="locatoin-box">
    <div class="bg-white px-3 pb-3 pt-1 mb-3" *ngIf="is_primary ? branch.is_primary : !branch.is_primary">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-auto py-2">
          <h4 class="branch-name mb-0 px-2 text-blue-dark font-weight-bold fs-sm">{{ branch.name }}</h4>
        </div>
        <div class="col-md-auto py-2">
          <div class="btn-group">
            <button type="submit" (click)="addOrUpdate(branch)" class="btn text-primary btn-lg p-0" data-cy="entityEditButton">
              <i class="hazira-icon-edit-tripple-line icon-rounded-primary p-2 fs-default"></i>
            </button>

            <button
              *ngIf="!branch.is_primary"
              type="submit"
              (click)="delete(branch)"
              class="btn btn-lg row-delete-btn text-danger"
              data-cy="entityDeleteButton"
            >
              <fa-icon icon="times"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="location-header-address px-2">
        <div class="row">
          <div class="col-md-3">
            <div>
              <div class="row w-100 m-0 p-0">
                <div class="col-1 p-0">
                  <i class="hazira-icon-location text-primary fs-md"></i>
                </div>
                <div class="col-11 pr-0">
                  <p class="mb-0 header-label"><span class="mb-0 header-label" hrmsTranslate="global.address">Address</span>:</p>
                  <span class="header-info">{{ branch.address_line1 || 'Add your company address' }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="row w-100 m-0 p-0">
                <div class="col-1 p-0">
                  <i class="hazira-icon-clock text-primary fs-md"></i>
                </div>
                <div class="col-11 pr-0">
                  <p class="mb-0 header-label"><span hrmsTranslate="global.timezone">Timezone</span>:</p>
                  <span class="header-info">{{ branch.time_zone?.name || 'Add your time zone' }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="row w-100 m-0 p-0">
                <div class="col-1 p-0">
                  <i class="icon-phone2 text-primary fs-md"></i>
                </div>
                <div class="col-11 pr-0">
                  <p class="mb-0 header-label"><span hrmsTranslate="global.phone">Phone</span>:</p>
                  <span class="header-info">{{ branch.phone || 'Add your company phone' }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="row w-100 m-0 p-0">
                <div class="col-1 p-0">
                  <i class="hazira-icon-break text-primary fs-md"></i>
                </div>
                <div class="col-11 pr-0">
                  <p class="mb-0 header-label"><span hrmsTranslate="global.breakrule">Break Rule</span>:</p>
                  <span class="header-info">{{ branch?.break_rule?.name || 'Add your break rule' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="px-2 location-items">
        <div class="row align-items-center py-1" *ngFor="let designation of branch.designations; trackBy: trackId" data-cy="entityTable">
          <div class="col-md-3">
            <p class="m-0 fs-xs"><span class="location-color" style="background-color: rgb(231, 183, 80)"></span> {{ designation.name }}</p>
          </div>
          <div class="col-md-2">
            <div class="form-check form-check-custom my-2">
              <input
                class="form-check-input"
                (change)="visiblePosition($event, designation)"
                id="designation-visible-{{ designation.id }}"
                type="checkbox"
                [checked]="designation.is_visible"
              />
              <label class="form-check-label" for="designation-visible-{{ designation.id }}">
                <span class="check-mark mr-2"></span>
                <span class="fs-xs" hrmsTranslate="global.visible"> Visible </span>
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <select class="form-control fs-xs rounded-12">
              <option value="">Notification On</option>
              <option value="">Notification Off</option>
            </select>
          </div>
          <div class="col-md-4 text-center">
            <a
              href="javascript:void(0)"
              (click)="openAssociateSkillModal(designation)"
              class="fs-xs"
              hrmsTranslate="hrmsApp.branch.associateSkill"
            >
              Associate Skill
            </a>
          </div>
          <div class="col-auto">
            <button (click)="deletePosition(designation)" class="btn row-delete-btn p-1">
              <i class="fs-sm hazira-icon-bin-three-line text-danger font-weight-normal"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="text-right pt-3">
        <a href="javascript:void(0)" (click)="openAddPositionModal(designation, branch.id)" class="add-position-btn">
          <i class="icon-plus2"></i> <span hrmsTranslate="hrmsApp.designation.home.createLabel">Add New Position</span>
        </a>
      </div>
    </div>
  </div>
</div>
<ng-template #noBranchFound>
  <div class="alert alert-warning" id="no-result">
    <span hrmsTranslate="hrmsApp.branch.home.notFound">No branch found</span>
  </div>
</ng-template>
