<div class="modal-header">
  <h4 class="modal-title" data-cy="branchDeleteDialogHeading">Confirmation</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="confirm()">&times;</button>
</div>

<div class="modal-body">
  <p>{{ message }}</p>
</div>

<div class="modal-footer">
  <button id="hrms-confirm-delete-branch" data-cy="entityConfirmDeleteButton" type="button" class="btn btn-primary" (click)="confirm()">
    Confirm
  </button>
</div>
