<div *ngIf="!isBreakStart">
  <div class="row py-2 align-items-center">
    <div class="col-auto pr-1">
      <div class="clock-in-point"><i class="icon-plus-square"></i></div>
    </div>

    <div *ngIf="!isOpenPositionField" class="col">
      <div class="clock-in-label clock-add-note row align-items-center justify-content-between">
        <div class="col-8 p-0 h-100">
          <form
            class="note-form pl-3 h-100"
            name="timeClockNoteForm"
            role="form"
            (ngSubmit)="addNote()"
            (keypress.enter)="addNote()"
            [formGroup]="timeClockNoteForm"
          >
            <input class="input-none w-100 h-100" type="text" placeholder="Click to add notes" formControlName="note" />
            <div *ngIf="!timeClockNoteForm.get('notes')?.pristine">
              <button type="submit" class="text-primary" hrmsTranslate="timeClock.event.addNote.label">Add note</button>
            </div>
          </form>
        </div>
        <div class="col-auto pl-0">
          <button
            (click)="openPositionField(true)"
            class="clock-add-btn hazira-icon-brieftcase border-left-radius-8 bg-white"
            placement="top"
            ngbTooltip="Add position"
          ></button>
          <button
            *ngIf="timeClockSettings?.break_button_enabled"
            (click)="breakStart()"
            class="clock-add-btn hazira-icon-breakwithout-clock border-right-radius-8 bg-white"
            placement="top"
            ngbTooltip="Break"
          ></button>
        </div>
      </div>
    </div>

    <div *ngIf="isOpenPositionField" class="col">
      <div class="clock-in-label clock-add-note row align-items-center justify-content-between">
        <div class="col-7 pr-0">
          <form class="position-form form-group m-0" name="timeClockPositionForm" role="form" [formGroup]="timeClockPositionForm">
            <select class="form-control ng-untouched ng-pristine ng-valid" formControlName="new_position_id">
              <option [ngValue]="null" disabled>Choose your position</option>
              <option *ngFor="let designation of designations" [ngValue]="designation.id">
                {{ designation.name }}
              </option>
            </select>
          </form>
        </div>
        <div class="col-auto pr-0">
          <button (click)="openPositionField(false)" class="btn btn-outline-danger" hrmsTranslate="global.action.cancel">Cancel</button>
          <button (click)="addPosition()" class="btn btn-primary" hrmsTranslate="global.action.update">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isBreakStart">
  <div class="row mb-3">
    <div class="col-auto pr-1">
      <div class="clock-in-point">
        <i class="square-point" style="background-color: #3fb618"></i>
      </div>
    </div>
    <div class="col">
      <div class="clock-in-label row align-items-center justify-content-between p-0" style="color: #fff">
        <div class="col-12 p-0">
          <button (click)="breakOut(lastTimeClockEvent)" class="btn btn-success w-100" hrmsTranslate="timeClock.button.continueShift.label">
            Continue shift
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
