<div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10"></div>
  </div>
</div>

<div class="login-wrapper px-0">
  <div class="row align-items-center h-100 w-100 m-0">
    <div class="col-md-5 hide-on-mobile">
      <div class="row login-cover-side text-white py-5 align-items-center justify-content-center">
        <div class="col-12">
          <div class="text-center my-4 login-image-container">
            <img src="../../content/images/register-step-1.svg" alt="register-desk" />
          </div>

          <div>
            <h1 class="text-center mb-3 mt-5">Speedy, Easy and Fast</h1>
            <p class="text-center px-5 text-white-op-7">
              Join the Hazira community today and enjoy hassle-free HR management like never before. Register now to enjoy a number of tools
              that can boost your productivity.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="login-area">
        <div class="text-center fullName-logo">
          <img src="../../../content/images/logo.svg" alt="" />
        </div>
        <div class="mt-5">
          <h2 class="text-center text-blue-dark-700" hrmsTranslate="register.title" data-cy="registerTitle">Sign up for an account</h2>
          <p class="text-center mb-5">Enter your full name and email to continue</p>

          <div class="alert alert-success" *ngIf="success" hrmsTranslate="register.messages.success">
            <strong>Registration saved!</strong> Please check your email for confirmation.
          </div>

          <div class="alert alert-danger" *ngIf="error" hrmsTranslate="register.messages.error.fail">
            <strong>Registration failed!</strong> Please try again later.
          </div>

          <div class="alert alert-danger" *ngIf="errorEmailExists" hrmsTranslate="global.messages.error.emailexists">
            Email already in use!
          </div>

          <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerUserForm" *ngIf="!success">
            <div class="form-group">
              <div class="field-left-icon">
                <input
                  type="text"
                  class="form-control input-h-54px"
                  id="fullName"
                  name="fullName"
                  placeholder="{{ 'global.form.fullName.placeholder' | translate }}"
                  formControlName="fullName"
                  data-cy="username"
                  #fullName
                />
                <i class="icon-user2 text-primary left-icon"></i>
              </div>

              <div
                *ngIf="
                  registerUserForm.get('fullName')!.invalid &&
                  (registerUserForm.get('fullName')!.dirty || registerUserForm.get('fullName')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerUserForm.get('fullName')?.errors?.required"
                  hrmsTranslate="register.messages.validate.fullName.required"
                >
                  Your username is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerUserForm.get('fullName')?.errors?.maxlength"
                  hrmsTranslate="register.messages.validate.fullName.maxlength"
                >
                  Your username cannot be longer than 50 characters.
                </small>
              </div>
            </div>

            <div class="form-group">
              <div class="field-left-icon">
                <input
                  type="email"
                  class="form-control input-h-54px"
                  id="email"
                  name="email"
                  placeholder="{{ 'global.form.email.placeholder' | translate }}"
                  formControlName="email"
                  data-cy="email"
                />
                <i class="icon-mail1 text-primary left-icon"></i>
              </div>

              <div
                *ngIf="
                  registerUserForm.get('email')!.invalid && (registerUserForm.get('email')!.dirty || registerUserForm.get('email')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerUserForm.get('email')?.errors?.required"
                  hrmsTranslate="global.messages.validate.email.required"
                >
                  Your email is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerUserForm.get('email')?.errors?.invalid"
                  hrmsTranslate="global.messages.validate.email.invalid"
                >
                  Your email is invalid.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerUserForm.get('email')?.errors?.minlength"
                  hrmsTranslate="global.messages.validate.email.minlength"
                >
                  Your email is required to be at least 5 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerUserForm.get('email')?.errors?.maxlength"
                  hrmsTranslate="global.messages.validate.email.maxlength"
                >
                  Your email cannot be longer than 100 characters.
                </small>
              </div>
            </div>

            <button
              type="submit"
              [disabled]="registerUserForm.invalid || loading"
              class="btn btn-block btn-primary mt-5 mb-3 fs-default btn-h-56"
              data-cy="submit"
            >
              <div *ngIf="loading" class="spinner-border spinner-border-sm mx-3" role="status"></div>
              <span hrmsTranslate="global.action.next">Next</span>
            </button>
          </form>
          <div class="text-center text-dark">
            <p>
              <span class="block-width-m" hrmsTranslate="global.messages.info.login.noaccount">Already have account?</span>
              <a class="success-link ff-manropebold" routerLink="/login" hrmsTranslate="global.messages.info.login.link">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
