@import '../../content/scss/app-variable';
@import '../login/login.component.scss';

.login-wrapper {
  background: $white;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  .h-100 {
    height: 100%;
  }
}

.login-area {
  width: 480px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  .login-logo {
    margin-bottom: 30px;

    img {
      max-height: 75px;
    }
  }
}

.forgot-link {
  font-size: 16px;
  font-weight: 600;
  color: rgba($color: $app-danger, $alpha: 0.8);
}

.login-cover-side {
  background: linear-gradient(111.71deg, #82d4bc 14.24%, #69bfa5 86.78%);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  flex: 0 0 41.6666666667%;
  width: 41.6666666667%;
  .login-side-content {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 100%;
  }
  .login-side-dotted {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
}
