<form name="employeesForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="employeesForm">
  <div class="row w-100 m-0 p-0">
    <div class="col-8 p-0">
      <div class="locatoin-box bg-white">
        <div class="px-3 py-2">
          <div class="row align-items-center justify-content-between">
            <div class="col-md-auto py-2">
              <h4 hrmsTranslate="hrmsApp.employee.addEmployees.label" class="branch-name mb-0 px-2 text-blue-dark font-weight-bold fs-sm">
                Add Employees
              </h4>
            </div>
          </div>
          <div class="border-top-dashed px-2">
            <div class="row w-100 m-0 p-0">
              <div class="col-12" formArrayName="employees">
                <div *ngFor="let employee of employees.controls; let i = index">
                  <div class="add-employee-row" [formGroupName]="i">
                    <div class="row row-gutter-8">
                      <div class="col-md-auto col-gutter-8 pr-0">
                        <img class="add-employee-img" src="../../content/images/person.png" alt="person" />
                      </div>
                      <div class="col-md-3 col-gutter-8">
                        <input
                          hrmsInputTrim
                          type="text"
                          class="form-control rounded-12 ng-pristine ng-valid ng-touched"
                          placeholder="{{ 'global.form.firstName.placeholder' | translate }}"
                          formControlName="first_name"
                        />
                        <div
                          *ngIf="
                            employee.get('first_name')!.invalid &&
                            (employee.get('first_name')!.dirty || employee.get('first_name')!.touched)
                          "
                        >
                          <small
                            class="form-text text-danger"
                            *ngIf="employee.get('first_name')?.errors?.required"
                            hrmsTranslate="entity.validation.required"
                          >
                            This field is required.
                          </small>
                          <small
                            class="form-text text-danger"
                            *ngIf="employee.get('first_name')?.errors?.maxlength"
                            hrmsTranslate="entity.validation.maxlength"
                            [translateValues]="{ max: 255 }"
                          >
                            This field cannot be longer than 255 characters.
                          </small>
                        </div>
                      </div>
                      <div class="col-md-3 col-gutter-8">
                        <input
                          hrmsInputTrim
                          type="text"
                          class="form-control rounded-12 ng-pristine ng-valid ng-touched"
                          placeholder="{{ 'global.form.lastName.placeholder' | translate }}"
                          formControlName="last_name"
                        />
                        <div
                          *ngIf="
                            employee.get('last_name')!.invalid && (employee.get('last_name')!.dirty || employee.get('last_name')!.touched)
                          "
                        >
                          <small
                            class="form-text text-danger"
                            *ngIf="employee.get('last_name')?.errors?.required"
                            hrmsTranslate="entity.validation.required"
                          >
                            This field is required.
                          </small>
                          <small
                            class="form-text text-danger"
                            *ngIf="employee.get('last_name')?.errors?.maxlength"
                            hrmsTranslate="entity.validation.maxlength"
                            [translateValues]="{ max: 255 }"
                          >
                            This field cannot be longer than 255 characters.
                          </small>
                        </div>
                      </div>
                      <div class="col-md col-gutter-8">
                        <div class="d-flex">
                          <div class="mr-2">
                            <input
                              hrmsInputTrim
                              type="text"
                              class="form-control rounded-12 ng-pristine ng-valid ng-touched"
                              placeholder="email@address.com"
                              formControlName="email"
                            />
                            <div *ngIf="employee.get('email')!.invalid && (employee.get('email')!.dirty || employee.get('email')!.touched)">
                              <small
                                class="form-text text-danger"
                                *ngIf="employee.get('email')?.errors?.required"
                                hrmsTranslate="entity.validation.required"
                              >
                                This field is required.
                              </small>
                              <small
                                class="form-text text-danger"
                                *ngIf="employee.get('email')?.errors?.maxlength"
                                hrmsTranslate="entity.validation.maxlength"
                                [translateValues]="{ max: 255 }"
                              >
                                This field cannot be longer than 255 characters.
                              </small>
                            </div>
                          </div>
                          <div *ngIf="i > 0" class="ml-2">
                            <button class="btn btn-outline-danger icon-bin" (click)="removeEmployee(i)"></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 py-3 text-right">
                <button class="btn btn-primary" type="button" (click)="addEmployee()"><i class="icon-plus2"></i></button>
              </div>
            </div>
            <div class="border-top-dashed px-2">
              <button type="submit" [disabled]="employeesForm.invalid || isSaving" class="btn btn-primary">
                <div *ngIf="isSaving" class="spinner-border spinner-border-sm mx-3" role="status"></div>
                <span hrmsTranslate="global.action.sendInvite">Send Invite</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
