@import '../../../../content/scss/app-variable';

.border-cellsolid-gray {
  border: 1px solid rgba($color: $primary, $alpha: 0.3);
  border-radius: 8px !important;
  table {
    width: 100%;
    &.head-bg-table {
      thead {
        tr {
          th {
            background: rgba($color: $app-green, $alpha: 0.05);
          }
        }
      }
    }
    thead {
      tr {
        th {
          font-size: 14px;
          color: $dark-shade-700;
          border-bottom: none;
          padding: 16px 10px;
          border-right: 1px solid rgba($color: $dark-shade-100, $alpha: 0.3);
          &:last-child {
            border-right: none;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 12px;
          color: $dark-shade-300;
          border-bottom: 1px solid rgba($color: $dark-shade-100, $alpha: 0.3);
          border-right: 1px solid rgba($color: $dark-shade-100, $alpha: 0.3);
          padding: 16px 10px;
          vertical-align: top;
          &:last-child {
            border-right: none;
          }
        }
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
}
