<hrms-transparent-spinner *ngIf="isLoading; else timeSheetList"></hrms-transparent-spinner>
<ng-template #timeSheetList>
  <form role="form" [formGroup]="filterTimeSheetForm">
    <div class="row w-100 m-0 mb-3 p-0 align-items-end justify-content-between">
      <div class="col-md-11 pl-md-0">
        <div class="row w-100 m-0 p-0" [formGroup]="filterTimeSheetForm">
          <div class="col-md-3 py-2 pl-md-0">
            <div class="form-group m-0">
              <select (change)="filterTimeSheet()" class="form-control form-control-select input-h-54px" formControlName="is_approved">
                <option [ngValue]="ETimeSheetApproveType.ALL" hrmsTranslate="global.filter.all.label">All</option>
                <option [ngValue]="ETimeSheetApproveType.APPROVE" hrmsTranslate="global.filter.approved.label">Approved</option>
                <option [ngValue]="ETimeSheetApproveType.UNAPPROVE" hrmsTranslate="global.filter.unApproved.label">Unapproved</option>
              </select>
            </div>
          </div>
          <div class="col-md-3 py-2">
            <div class="form-group m-0">
              <select (change)="filterTimeSheet()" class="form-control form-control-select input-h-54px" formControlName="filter_date">
                <option [ngValue]="ETimeSheetFilterType.ALL_TIME" hrmsTranslate="global.filter.allTime.label">All Time</option>
                <option [ngValue]="ETimeSheetFilterType.TODAY" hrmsTranslate="global.filter.today.label">Today</option>
                <option [ngValue]="ETimeSheetFilterType.YESTERDAY" hrmsTranslate="global.filter.yesterday.label">Yesterday</option>
                <option [ngValue]="ETimeSheetFilterType.LAST_7_DAYS" hrmsTranslate="global.filter.last7Day.label">Last 7 Days</option>
                <option [ngValue]="ETimeSheetFilterType.THIS_WEEK" hrmsTranslate="global.filter.thisWeek.label">This Week</option>
                <option [ngValue]="ETimeSheetFilterType.LAST_WEEK" hrmsTranslate="global.filter.lastWeek.label">Last Week</option>
              </select>
            </div>
          </div>
          <div class="col-md-auto py-2">
            <button class="btn btn-block btn-primary btn-h-54">
              <i class="hazira-icon-search search-icon"></i> <span hrmsTranslate="timeClock.button.search.label">Search</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-1 px-0">
        <div class="row m-0 w-100 align-item-center justify-content-end">
          <div class="col-md py-2 px-0">
            <p class="mb-2 text-right fs-xs" hrmsTranslate="global.pagination.pageSize.title">Page size</p>
            <div class="form-group m-0">
              <select (change)="changePageSize()" class="form-control form-control-select input-h-54px" formControlName="page_size">
                <option [ngValue]="ePaginationPageSize.PAGE_SIZE_05" hrmsTranslate="global.pagination.pageSize.05">5</option>
                <option [ngValue]="ePaginationPageSize.PAGE_SIZE_10" hrmsTranslate="global.pagination.pageSize.10">10</option>
                <option [ngValue]="ePaginationPageSize.PAGE_SIZE_20" hrmsTranslate="global.pagination.pageSize.20">20</option>
                <option [ngValue]="ePaginationPageSize.PAGE_SIZE_30" hrmsTranslate="global.pagination.pageSize.30">30</option>
                <option [ngValue]="ePaginationPageSize.PAGE_SIZE_40" hrmsTranslate="global.pagination.pageSize.40">40</option>
                <option [ngValue]="ePaginationPageSize.PAGE_SIZE_50" hrmsTranslate="global.pagination.pageSize.50">50</option>
                <option [ngValue]="ePaginationPageSize.PAGE_SIZE_100" hrmsTranslate="global.pagination.pageSize.100">100</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="rounded-12-white-box p-3">
    <div class="leave-balance green-br-rounded-card light-dashed-table mb-2 bg-white">
      <table class="head-bg-table text-center">
        <thead>
          <tr>
            <th hrmsTranslate="timeSheet.table.length.column">Length</th>
            <th class="text-nowrap" hrmsTranslate="timeSheet.table.clockIn.column">Clock In</th>
            <th class="text-nowrap" hrmsTranslate="timeSheet.table.clockOut.column">Clock Out</th>
            <th hrmsTranslate="timeSheet.table.date.column">Date</th>
            <th hrmsTranslate="timeSheet.table.break.column">Break</th>
            <th hrmsTranslate="global.action.label">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeSheetRow of timeSheet?.time_clocks">
            <td *ngIf="timeSheetRow.clock_end_time" class="text-nowrap">
              {{ timeSheetRow.total_clock_duration | formatTime: ETimeType.SECOND }}
            </td>
            <td *ngIf="timeSheetRow.clock_end_time" class="text-nowrap">
              {{ timeSheetRow.clock_start_time | date: 'shortTime':timeZone.offset }}
            </td>

            <td *ngIf="timeSheetRow.clock_end_time" class="text-nowrap">
              {{ timeSheetRow.clock_end_time | date: 'shortTime':timeZone.offset }}
            </td>
            <td *ngIf="timeSheetRow.clock_end_time" class="text-nowrap">
              {{ timeSheetRow.clock_start_time | date: 'MMM d':timeZone.offset }}
            </td>
            <td *ngIf="timeSheetRow.clock_end_time" class="text-nowrap">
              <ng-container *ngIf="!timeClockSettings?.timesheet_employee_can_view_notes; else canViewNotes">
                {{ !timeSheetRow?.total_break_duration ? 'No break' : (timeSheetRow?.total_break_duration | formatTime: ETimeType.SECOND) }}
              </ng-container>
              <ng-template #canViewNotes>
                <div *ngFor="let event of timeSheetRow.time_clock_events">
                  <div *ngIf="event.event_type === ETimeClockEventType.NOTE">
                    <span class="icon-sticky-note-o"></span>
                  </div>
                </div>
              </ng-template>
            </td>
            <td
              *ngIf="
                timeSheetRow.clock_end_time &&
                timeSheetRow?.editable &&
                (!isEmployee || (isEmployee && timeClockSettings?.timesheet_empl_can_edit))
              "
            >
              <button (click)="editTimeClock(timeSheetRow?.id)" class="btn p-0 table-icon-action-btn"><i class="icon-pencil"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="m-0 py-3 text-center" *ngIf="timeSheet?.time_clocks?.length === 0" hrmsTranslate="timeSheet.empty">No Time Sheet found</p>
      <div class="d-flex justify-content-end">
        <div *ngIf="timeSheet?.time_clocks?.length !== 0" class="table-count-label p-3">
          <div class="row">
            <div class="col-auto">
              <div class="count-lable">
                <strong class="text-dark fw-600" hrmsTranslate="timeSheet.table.total.label">Total</strong>:
                <span>{{ timeSheet?.total_duration | formatTime: ETimeType.SECOND }}</span>
              </div>
            </div>
            <div class="col-auto">
              <div class="count-lable">
                <strong class="text-dark fw-600" hrmsTranslate="timeSheet.table.withoutBreak.label">Without Breaks</strong>:
                <span>{{ timeSheet?.total_without_break_duration | formatTime: ETimeType.SECOND }}</span>
              </div>
            </div>
            <div class="col-auto">
              <div class="count-lable">
                <strong class="text-dark fw-600" hrmsTranslate="timeSheet.table.breaks.label">Breaks</strong>:
                <span>
                  {{ !timeSheet?.total_break_duration ? 'no break' : (timeSheet?.total_break_duration | formatTime: ETimeType.SECOND) }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="timeSheet?.time_clocks?.length" class="text-center">
      <ngb-pagination
        (pageChange)="transition($event)"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="totalItems"
      ></ngb-pagination>
    </div>
  </div>
</ng-template>
