<div class="page-action-toolbar mb-3">
  <div class="row align-items-center justify-content-between pb-1">
    <div class="col-auto emplyee-btn-nav">
      <button
        class="btn btn-outline-gray inner-nav-btn rounded-12 fw-600 mr-2"
        routerLink="/employee"
        hrmsTranslate="hrmsApp.employee.menu.employees.label"
        routerLinkActive="active"
      >
        Employees
      </button>
      <button
        *ngIf="!isEmployee"
        class="btn btn-outline-gray inner-nav-btn rounded-12 fw-600 mr-2"
        routerLink="/branch"
        hrmsTranslate="hrmsApp.employee.menu.branch.label"
        routerLinkActive="active"
      >
        Branch & Designation
      </button>
    </div>
    <div *ngIf="!isEmployee" class="col-auto">
      <div *ngIf="routerURL === '/employee'" class="d-flex">
        <!-- <div ngbDropdown class="nav-item dropdown pointer" display="dynamic">
          <button
            class="btn btn-outline-gray inner-nav-btn rounded-12 mr-2 dropdown-toggle"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="location"
            data-cy="locations"
          ></button>
          <ul class="dropdown-menu skill-dropwdown" ngbDropdownMenu aria-labelledby="location">
            <li class="skill-row"></li>
            <li>
              <a class="dropdown-item" routerLink="/custom-field" routerLinkActive="router-link-active">
                <span hrmsTranslate="global.menu.entities.customField">Custom Field</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/skill" routerLinkActive="router-link-active">
                <span hrmsTranslate="global.menu.entities.manageSkills">Manage Skills</span>
              </a>
            </li>
          </ul>
        </div> -->
        <div>
          <button
            class="btn btn-outline-primary inner-nav-btn rounded-12 mx-1"
            routerLink="/skill"
            hrmsTranslate="global.menu.entities.manageSkills"
          >
            Manage Skills
          </button>
        </div>
        <div>
          <button routerLink="/employee/add-employee" class="btn btn-primary inner-nav-btn d-flex align-items-center rounded-12 mx-1">
            <i class="icon-plus2 mr-2"></i> <span hrmsTranslate="hrmsApp.employee.button.addEmployee.label">Add Employees</span>
          </button>
        </div>
      </div>
      <div *ngIf="routerURL === '/branch'">
        <button class="btn btn-primary inner-nav-btn d-flex align-items-center rounded-12" type="submit" (click)="onEmit()">
          <i class="icon-plus2 mr-2"></i> <span hrmsTranslate="hrmsApp.branch.button.createBranch.label">Create location</span>
        </button>
      </div>
      <div *ngIf="routerURL === '/break-rule'">
        <button (click)="onEmit()" class="btn btn-primary inner-nav-btn d-flex align-items-center rounded-12">
          <i class="icon-plus2 mr-2"></i> <span hrmsTranslate="hrmsApp.breakRule.home.createLabel">Create Break Rule</span>
        </button>
      </div>
    </div>
  </div>
</div>
