<div class="bg-white mb-3">
  <h3 class="py-3 px-4 mb-0">Payroll filter</h3>
  <hr class="m-0" />
  <div class="p-4">
    <div class="row row-gutter-8 align-items-end">
      <div class="col-md-3 col-gutter-8 mb-3">
        <label class="form-control-label mb-1">Select Week</label>
        <select name="" class="form-control" id="">
          <option value="">This week</option>
          <option value="">Positions 1</option>
          <option value="">Positions 2</option>
          <option value="">Positions 3</option>
        </select>
      </div>
      <div class="col-md-3 col-gutter-8 mb-3">
        <label class="form-control-label mb-1">Start Date</label>
        <input type="date" class="form-control" />
      </div>
      <div class="col-md-3 col-gutter-8 mb-3">
        <label class="form-control-label mb-1">End Date</label>
        <input type="date" class="form-control" />
      </div>
      <div class="col-md-3 col-gutter-8 mb-3">
        <label class="form-control-label mb-1">Location</label>
        <select name="" class="form-control" id="">
          <option value="">All Location</option>
          <option value="">Location 1</option>
          <option value="">Location 2</option>
          <option value="">Location 3</option>
        </select>
      </div>
      <div class="col-md-3 col-gutter-8 mb-3">
        <label class="form-control-label mb-1">Position</label>
        <select name="" class="form-control" id="">
          <option value="">All Positions</option>
          <option value="">Positions 1</option>
          <option value="">Positions 2</option>
          <option value="">Positions 3</option>
        </select>
      </div>

      <div class="col-md-3 col-gutter-8 mb-3">
        <label class="form-control-label mb-1">Employees</label>
        <select name="" class="form-control" id="">
          <option value="">Select Employees</option>
          <option value="">Employee 1</option>
          <option value="">Employee 2</option>
          <option value="">Employee 3</option>
        </select>
      </div>

      <div class="col-md-3 col-gutter-8 mb-3">
        <label class="form-control-label mb-1">Skills</label>
        <select name="" class="form-control" id="">
          <option value="">Select Skills</option>
          <option value="">Skills 1</option>
          <option value="">Skills 2</option>
          <option value="">Skills 3</option>
        </select>
      </div>
      <div class="col-auto col-gutter-8 mb-3">
        <button class="btn btn-primary">Apply filter</button>
      </div>
    </div>
  </div>
</div>

<div class="p-4 pt-5">
  <div class="no-item-content text-center">
    <i class="icon-filter2"></i>
    <p>Please select filters above.</p>
  </div>
</div>
