<div class="p-2">
  <div class="inner-body-report-scrollbar">
    <div class="bg-white p-3 rounded-8">
      <div class="page-action-toolbar">
        <hrms-generic-filter-form [isLoading]="isLoading" (filterApply)="filter($event)" (filterReset)="resetTimeAttendance()">
        </hrms-generic-filter-form>
        <div *ngIf="!timeSheetAttendance.length">
          <p hrmsTranslate="global.filter.chooseFilter.title">Please select filters above.</p>
        </div>

        <div *ngIf="timeSheetAttendance.length" class="text-right">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="time-sheet-attendance-export"
              ngbDropdownToggle
              hrmsTranslate="global.action.export"
            >
              Export
            </button>
            <div ngbDropdownMenu aria-labelledby="time-sheet-late-summary-export">
              <button ngbDropdownItem (click)="export(EExportType.PDF)" hrmsTranslate="global.action.exportType.pdf">PDF</button>
              <button ngbDropdownItem (click)="export(EExportType.XLSX)" hrmsTranslate="global.action.exportType.excel">Excel</button>
            </div>
          </div>
        </div>
        <div
          *ngIf="timeSheetAttendance.length"
          class="table-responsive leave-balance green-br-rounded-card mb-0 border-cellsolid-gray bg-white mt-2"
        >
          <table class="head-bg-table text-center">
            <thead>
              <tr>
                <th hrmsTranslate="global.table.employee.column">Employee</th>
                <th hrmsTranslate="report.table.shift.column">Shifts</th>
                <th hrmsTranslate="report.table.hourScheduled.column">Hours Scheduled</th>
                <th hrmsTranslate="report.table.hourClocked.column">Hours Clocked</th>
                <th hrmsTranslate="report.table.late.column">Late</th>
                <th hrmsTranslate="report.table.hourAbsent.column">Absent</th>
                <th hrmsTranslate="report.table.clockVsShift.column">Clock VS Shift</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attendance of timeSheetAttendance; let i = index">
                <td>{{ attendance.employee_name }}</td>
                <td>{{ attendance.shifts }}</td>
                <td>{{ attendance.hours_scheduled | formatTime: eTimeType.SECOND }}</td>
                <td>{{ attendance.hours_clocked | formatTime: eTimeType.SECOND }}</td>
                <td>{{ attendance.late_count }}</td>
                <td>{{ attendance.absent_count }}</td>
                <td>
                  <span *ngIf="attendance.clock_vs_shift"> {{ attendance.clock_vs_shift | number: '1.0-0' }} % </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
