<div class="p-2">
  <div class="inner-body-report-scrollbar">
    <div class="bg-white p-3 rounded-8">
      <div class="page-action-toolbar mb-3">
        <hrms-generic-filter-form [isLoading]="isLoading" (filterApply)="filter($event)" (filterReset)="resetTimeSheets()">
        </hrms-generic-filter-form>
        <div class="px-3" *ngIf="!timeSheets.length">
          <p class="m-0" hrmsTranslate="global.filter.chooseFilter.title">Please select filters above.</p>
        </div>
        <div *ngIf="timeSheets.length" class="text-right">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="time-sheet-export"
              ngbDropdownToggle
              hrmsTranslate="global.action.export"
            >
              Export
            </button>
            <div ngbDropdownMenu aria-labelledby="time-sheet-export">
              <button ngbDropdownItem (click)="export(EExportType.PDF)" hrmsTranslate="global.action.exportType.pdf">PDF</button>
              <button ngbDropdownItem (click)="export(EExportType.XLSX)" hrmsTranslate="global.action.exportType.excel">Excel</button>
            </div>
          </div>
        </div>
        <div
          *ngIf="timeSheets.length"
          class="table-responsive leave-balance green-br-rounded-card mb-0 border-cellsolid-gray bg-white mt-2"
        >
          <table class="table m-0 text-center head-bg-table">
            <thead>
              <tr>
                <th class="text-center" hrmsTranslate="global.table.employee.column">Employee</th>
                <th class="text-center" *ngFor="let header of dateColumns">{{ header | date: 'MMM d, y' }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let timeSheet of timeSheets; let i = index">
                <td class="text-center">
                  {{ timeSheet.employee_name }} <br />
                  {{ timeSheet.total_clock_in | formatTime: eTimeType.SECOND }}
                </td>
                <td class="text-center" *ngFor="let key of dateColumns">
                  <div *ngIf="timeSheet[key]?.data?.length">
                    <span *ngFor="let item of timeSheet[key]?.data">
                      <p *ngIf="item">{{ item?.start }} - {{ item?.end }}</p>
                    </span>
                    <span *ngIf="timeSheet[key]?.total_duration">
                      <p>{{ timeSheet[key]?.total_duration | formatTime: eTimeType.SECOND }}</p>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
