<form name="shiftPlanningSettingsForm" role="form" novalidate (ngSubmit)="onSave()" [formGroup]="shiftPlanningSettingsForm">
  <div class="bg-white p-4 mb-3 rounded-12">
    <div class="setting-border-runded-box rounded-12 px-4 py-3 mb-4">
      <h5 class="text-blue-dark fs-default" hrmsTranslate="shiftPlanningSettings.planning_option_title">Shift Planning Options</h5>
      <div class="dashed-divider mb-3"></div>
      <div class="row w-100 m-0">
        <div class="col-12 col-lg-6 p-0 my-2">
          <div class="form-check form-check-custom d-flex mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_can_add_work_units"
              id="employee_can_add_work_units"
              formControlName="employee_can_add_work_units"
            />
            <label class="form-check-label w-100" for="employee_can_add_work_units">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.employee_can_add_work_units.label">
                Allow employees to add work units
              </span>
            </label>
          </div>
          <div *ngIf="isAllowEmployeeToAddWorkShift" class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_can_drop_shifts"
              id="employee_can_drop_shifts"
              formControlName="employee_can_drop_shifts"
            />
            <label class="form-check-label w-100" for="employee_can_drop_shifts">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.employee_can_drop_shifts.label"
                >Allow employee to drop shifts</span
              >
            </label>
          </div>
          <div *ngIf="isAllowEmployeeToAddWorkShift" class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_can_release_shifts"
              id="employee_can_release_shifts"
              formControlName="employee_can_release_shifts"
            />
            <label class="form-check-label w-100" for="employee_can_release_shifts">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.employee_can_release_shifts.label">
                Allow employee to release shift
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee can be scheduled to immediate shifts"
              id="employee_can_be_scheduled_to_immediate_shifts"
              formControlName="employee_can_be_scheduled_to_immediate_shifts"
            />
            <label class="form-check-label w-100" for="employee_can_be_scheduled_to_immediate_shifts">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.employee_can_be_scheduled_to_immediate_shifts.label">
                Allow employees to be scheduled for immediate shifts
              </span>
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_can_see_assigned_staffs"
              id="employee_can_see_assigned_staffs"
              formControlName="employee_can_see_assigned_staffs"
            />
            <label class="form-check-label w-100" for="employee_can_see_assigned_staffs">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.employee_can_see_assigned_staffs.label"
                >Allow the employee to view other assigned employees</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_can_see_co_worker_shifts"
              id="employee_can_see_co_worker_shifts"
              formControlName="employee_can_see_co_worker_shifts"
            />
            <label class="form-check-label w-100" for="employee_can_see_co_worker_shifts">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.employee_can_see_co_worker_shifts.label"
                >Allow the employee to view others shifts</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_can_see_co_worker_vacations"
              id="employee_can_see_co_worker_vacations"
              formControlName="employee_can_see_co_worker_vacations"
            />
            <label class="form-check-label w-100" for="employee_can_see_co_worker_vacations">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.employee_can_see_co_worker_vacations.label"
                >Allow the employee to view others vacation</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="employee_can_view_all_schedules"
              id="employee_can_view_all_schedules"
              formControlName="employee_can_view_all_schedules"
            />
            <label class="form-check-label w-100" for="employee_can_view_all_schedules">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.employee_can_view_all_schedules.label"
                >Allow the employee to view all schedules</span
              >
            </label>
          </div>
        </div>

        <div class="col-12 col-lg-6 p-0 my-2">
          <div class="row w-100 m-0 align-items-center w-100 m-0 p-0">
            <div class="col-7 pl-0">
              <div class="form-check form-check-custom my-2">
                <label class="form-check-label w-100 align-items-start" for="employee_can_view_shifts_in_advance">
                  <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.employee_can_view_shifts_in_advance.label">
                    Allow employee to view shifts in advance
                  </span>
                </label>
              </div>
            </div>
            <div class="col-5 text-end pr-0">
              <select
                class="form-control form-control-sm rounded-12 pr-4"
                name="employee_can_view_shifts_in_advance"
                id="employee_can_view_shifts_in_advance"
                formControlName="employee_can_view_shifts_in_advance"
              >
                <option *ngFor="let shift of shifts" [ngValue]="shift?.value" [hrmsTranslate]="shift.translationName">
                  {{ shift?.name }}
                </option>
              </select>
            </div>
          </div>
          <!-- <div class="row w-100 m-0 justify-content-between w-100 m-0 p-0">
            <div class="col pl-0">
              <div class="form-check form-check-custom my-2">
                <label class="form-check-label w-100 align-items-start" for="employee_cannot_be_scheduled_within_time">
                  <span class="fs-sm text-blue-dark"> employee_cannot_be_scheduled_within_time </span>
                </label>
              </div>
            </div>
            <div class="col-md-auto pr-lg-0">
              <select
                name=""
                class="form-control form-control-sm rounded-12 pr-4"
                name="employee_cannot_be_scheduled_within_time"
                id="employee_cannot_be_scheduled_within_time"
                formControlName="employee_cannot_be_scheduled_within_time"
              >
                <option *ngFor="let eachMinute of eachMinutes" [ngValue]="eachMinute?.value">
                  {{ eachMinute?.name }}
                </option>
              </select>
            </div>
          </div> -->
          <div class="row w-100 m-0 align-items-center w-100 m-0 p-0">
            <div class="col-7 pl-0">
              <div class="form-check form-check-custom my-2">
                <label class="form-check-label w-100 align-items-start" for="notes_permissions_allowed_users">
                  <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.notes_permissions_allowed_users.label">
                    Notes permissions allowed for
                  </span>
                </label>
              </div>
            </div>
            <div class="col-5 text-end pr-lg-0">
              <select
                name="notes_permissions_allowed_users"
                class="form-control form-control-sm rounded-12 pr-4"
                name="notes_permissions_allowed_users"
                id="notes_permissions_allowed_users"
                formControlName="notes_permissions_allowed_users"
              >
                <option
                  *ngFor="let allowedUser of allowedUsers"
                  [ngValue]="allowedUser?.value"
                  [hrmsTranslate]="allowedUser.translationName"
                >
                  {{ allowedUser?.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row w-100 m-0 align-items-center w-100 m-0 p-0">
            <div class="col-7 pl-0">
              <div class="form-check form-check-custom my-2">
                <label class="form-check-label w-100 align-items-start" for="required_skills_on_shift">
                  <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.required_skills_on_shift.label">
                    Is skill required on shift
                  </span>
                </label>
              </div>
            </div>
            <div class="col-5 pr-lg-0">
              <select
                class="form-control form-control-sm rounded-12 pr-4"
                name="required_skills_on_shift"
                id="required_skills_on_shift"
                formControlName="required_skills_on_shift"
              >
                <option *ngFor="let skill of requiredSkills" [ngValue]="skill?.value" [hrmsTranslate]="skill.translationName">
                  {{ skill?.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-border-runded-box rounded-12 px-4 py-3 mb-4">
      <div class="row w-100 m-0 w-100 m-0">
        <div class="col-12 col-lg-6 p-0 my-2">
          <h5 class="text-blue-dark fs-default" hrmsTranslate="shiftPlanningSettings.trades_approvals_title">Trades and Approvals</h5>
          <div class="dashed-divider mb-3"></div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="schedule_automatic_conflicts_allowed"
              id="schedule_automatic_conflicts_allowed"
              formControlName="schedule_automatic_conflicts_allowed"
            />
            <label class="form-check-label w-100" for="schedule_automatic_conflicts_allowed">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.schedule_automatic_conflicts_allowed.label"
                >Allow scheduling conflicts</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="shift_overlapping_disallowed"
              id="shift_overlapping_disallowed"
              formControlName="shift_overlapping_disallowed"
            />
            <label class="form-check-label w-100" for="shift_overlapping_disallowed">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.shift_overlapping_disallowed.label"
                >Restrict overlapping shift</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="show_employee_skills_in_scheduler"
              id="show_employee_skills_in_scheduler"
              formControlName="show_employee_skills_in_scheduler"
            />
            <label class="form-check-label w-100" for="show_employee_skills_in_scheduler">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.show_employee_skills_in_scheduler.label"
                >Allow employee to view skills in scheduler</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="show_overnight_shifts"
              id="show_overnight_shifts"
              formControlName="show_overnight_shifts"
            />
            <label class="form-check-label w-100" for="show_overnight_shifts">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.show_overnight_shifts.label"
                >Allow to view overnight shift</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="longer_than_24hours_shifts_allowed"
              id="longer_than_24hours_shifts_allowed"
              formControlName="longer_than_24hours_shifts_allowed"
            />
            <label class="form-check-label w-100" for="longer_than_24hours_shifts_allowed">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.longer_than_24hours_shifts_allowed.label"
                >Longer than 24hours shift allowed</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="past_date_shifts_allowed"
              id="past_date_shifts_allowed"
              formControlName="past_date_shifts_allowed"
            />
            <label class="form-check-label w-100" for="past_date_shifts_allowed">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.past_date_shifts_allowed.label"
                >Allow past dates to be set on shifts</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="show_pending_leave_request"
              id="show_pending_leave_request"
              formControlName="show_pending_leave_request"
            />
            <label class="form-check-label w-100" for="show_pending_leave_request">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.show_pending_leave_request.label"
                >Allow to view pending leave request</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="use_draft_publish_schedule_method"
              id="use_draft_publish_schedule_method"
              formControlName="use_draft_publish_schedule_method"
            />
            <label class="form-check-label w-100" for="use_draft_publish_schedule_method">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.use_draft_publish_schedule_method.label"
                >Allow employee to create draft schedule</span
              >
            </label>
          </div>
          <div class="form-check form-check-custom my-2">
            <input
              class="form-check-input"
              type="checkbox"
              name="work_unit_module_enabled"
              id="work_unit_module_enabled"
              formControlName="work_unit_module_enabled"
            />
            <label class="form-check-label w-100" for="work_unit_module_enabled">
              <span class="check-mark"></span>
              <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.work_unit_module_enabled.label"
                >Work unit module enabled</span
              >
            </label>
          </div>
        </div>
        <div class="col-12 col-lg-6 p-0 my-2">
          <h5 class="text-blue-dark fs-default" hrmsTranslate="shiftPlanningSettings.pickup">Shift Pickup</h5>
          <div class="dashed-divider mb-3"></div>
          <div class="row w-100 m-0 justify-content-between w-100 m-0 p-0">
            <div class="col-7 pl-0">
              <div class="form-check form-check-custom my-2">
                <label class="form-check-label w-100 align-items-start" for="shift_notes_visibility_allowed_users">
                  <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.shift_notes_visibility_allowed_users.label">
                    Allow employee to view shift notes
                  </span>
                </label>
              </div>
            </div>
            <div class="col-5 pr-lg-0">
              <select
                class="form-control form-control-sm rounded-12 pr-4"
                name="shift_notes_visibility_allowed_users"
                id="shift_notes_visibility_allowed_users"
                formControlName="shift_notes_visibility_allowed_users"
              >
                <option
                  *ngFor="let allowedUser of allowedUsers"
                  [ngValue]="allowedUser?.value"
                  [hrmsTranslate]="allowedUser.translationName"
                >
                  {{ allowedUser?.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row w-100 m-0 justify-content-between w-100 m-0 p-0">
            <div class="col-7 pl-0">
              <div class="form-check form-check-custom my-2">
                <label class="form-check-label w-100 align-items-start" for="shift_planning_start_day">
                  <span class="fs-sm text-blue-dark" hrmsTranslate="shiftPlanningSettings.shift_planning_start_day.label">
                    Shift planning start day
                  </span>
                </label>
              </div>
            </div>
            <div class="col-5 pr-lg-0">
              <select
                class="form-control form-control-sm rounded-12 pr-4"
                name="shift_planning_start_day"
                id="shift_planning_start_day"
                formControlName="shift_planning_start_day"
              >
                <option *ngFor="let day of startDays" [ngValue]="day?.value" [hrmsTranslate]="day.translationName">
                  {{ day?.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary btn-h-47 px-4" hrmsTranslate="settings.form.button">Save Settings</button>
    </div>
  </div>
</form>
