<form (submit)="save()">
  <div class="modal-header">
    <h4 class="modal-title" hrmsTranslate="hrmsApp.branch.associateSkill">Associate Skill</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <hrms-alert-error></hrms-alert-error>
    <ng-multiselect-dropdown
      [placeholder]="'Select Skills'"
      [settings]="dropdownSettings"
      [data]="skillsDropdownList"
      [(ngModel)]="selectedSkills"
    >
    </ng-multiselect-dropdown>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <span hrmsTranslate="global.action.cancel">Cancel</span>
    </button>

    <button data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-primary">
      <span hrmsTranslate="global.action.save">Save</span>
    </button>
  </div>
</form>
