<form *ngIf="breakRule" name="deleteForm" (ngSubmit)="confirmDelete(breakRule.id!)">
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4 class="col-md-auto modal-title text-dark" data-cy="breakRuleDeleteDialogHeading" hrmsTranslate="entity.delete.title">
        Confirm delete operation
      </h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider mb-3"></div>
    <hrms-alert-error></hrms-alert-error>

    <p class="px-4 my-3" id="hrms-delete-breakRule-heading" hrmsTranslate="hrmsApp.breakRule.delete.question">
      Are you sure you want to delete this Break Rule?
    </p>

    <div class="dashed-divider mb-3"></div>
    <div class="text-right">
      <button type="button" class="btn btn-outline-primary btn-h-47 px-4 mx-1" data-dismiss="modal" (click)="cancel()">
        <span hrmsTranslate="global.action.cancel">Cancel</span>
      </button>

      <button
        id="hrms-confirm-delete-designation"
        data-cy="entityConfirmDeleteButton"
        type="submit"
        class="btn btn-danger btn-h-47 px-4 mx-1"
      >
        <span hrmsTranslate="global.action.delete">Delete</span>
      </button>
    </div>
  </div>
</form>
