<div class="page-side-nav">
  <ul class="left-sidebar">
    <li *ngFor="let menu of sideMenus" class="w-100">
      <a routerLinkActive="active" [routerLink]="menu.router_link" hrmsTranslate="{{ menu?.translate_name }}">{{ menu.name }}</a>
    </li>
  </ul>
</div>
