<div class="row justify-content-center py-5">
  <div class="col-md-10">
    <div class="bg-white">
      <div class="p-4">
        <div class="row justify-content-between">
          <div class="col-auto">
            <h2 class="m-0">Select a company</h2>
          </div>
          <div class="col-auto">
            <button [routerLink]="['/company']" routerLinkActive="router-link-active" class="btn btn-primary">Add company</button>
          </div>
        </div>
      </div>
      <hr class="m-0" />
      <div class="p-4">
        <div class="company-selection-section">
          <div class="row row-gutter-8">
            <ng-container *ngFor="let userCompany of companies">
              <div *ngIf="userCompany?.is_owner || userCompany?.is_active" class="col-md-6 col-gutter-8">
                <div class="company-item rounded-12">
                  <div class="company-details">
                    <div class="row justify-content-between">
                      <div class="col-auto">
                        <img
                          [src]="userCompany?.company?.logo_url_medium != null ? userCompany?.company?.logo_url_medium : defaultLogoUrl"
                          alt="logo_url_medium"
                        />
                      </div>
                      <div class="col-auto">
                        <button
                          *ngIf="userCompany.company.status && userCompany.employee.invitation_accepted; else verifyCompanyButton"
                          (click)="selectCompany(userCompany)"
                          class="btn btn-outline-primary"
                        >
                          Select company
                        </button>
                        <ng-template #verifyCompanyButton>
                          <div *ngIf="isSentConfirmation" class="already-sent-btn">
                            <span><strong>Already sent</strong></span>
                          </div>
                          <button
                            *ngIf="!isSentConfirmation"
                            (click)="sendConfirmation(userCompany?.employee?.invitation_token)"
                            class="btn btn-outline-primary"
                          >
                            Send Confirmation
                          </button>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <h3>{{ userCompany?.company?.name }}</h3>
                  <h4 *ngIf="userCompany?.company?.address">Address: {{ userCompany?.company?.address }}</h4>
                  <h4>Phone: {{ userCompany?.company?.phone }}</h4>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!companies.length">
              <p>No company found</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
