@import '../../../content/scss/app-variable';

.company-selection-section {
}

.company-item {
  background-color: rgba($color: $primary, $alpha: 0.09);
  padding: 20px;
  margin-bottom: 16px;
  border: 1px solid rgba($color: $primary, $alpha: 0.09);

  &:hover {
    border-color: rgba($color: $primary, $alpha: 1);
  }

  img {
    height: 70px;
    margin-bottom: 10px;
    border: 1px solid rgba($color: $primary, $alpha: 0.8);
    padding: 10px;
  }
}

.already-sent-btn {
  border: 1px solid #7dd3b6;
  padding: 0.6em 1.6em;
  border-radius: 0.5em;
  font-weight: 600;
  background-color: #7dd3b6;
  color: white;
}
