<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .container {
        padding: 5em;
      }
      .text-center {
        text-align: center;
      }
      .btn-capsule-primary {
        padding: 1em 5em;
        border-radius: 50px;
        text-decoration: none;
        color: white;
        background: linear-gradient(111.71deg, #82d4bc 14.24%, #69bfa5 86.78%);
      }
      .btn-container {
        margin: 3em 0;
      }

      .text-capitalize {
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <img src="https://app.hazira.com/content/images/logo.svg" alt="logo" />
      </div>
      <hr />
      <div>
        <p class="text-capitalize">Dear {{ first_name }} {{ last_name }},</p>
        <p>
          We invite you to register for Hazira, the user-friendly app that
          streamlines your HR tasks. Manage employee attendance, work schedules,
          shift planning, branch management, and leave management all in one
          place. Experience its benefits, including valuable insights into
          employee performance and productivity.
        </p>
        <p>To register for Hazira, please click on the following link:</p>
        <div class="text-center btn-container">
          <a
            class="btn-capsule-primary"
            href="{{clientUrl}}/register/confirm?token={{invitation_token}}">
            Confirm
          </a>
        </div>
        <p>
          Don't miss out - register for Hazira today and improve your company
          efficiency.
        </p>
        <p>Best regards,</p>
        <p>Hazira Team</p>
      </div>
    </div>
  </body>
</html>
