<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .container {
        padding: 5em;
      }
      .text-center {
        text-align: center;
      }
      .btn-capsule-primary {
        padding: 1em 5em;
        border-radius: 50px;
        text-decoration: none;
        color: white;
        background: linear-gradient(111.71deg, #82d4bc 14.24%, #69bfa5 86.78%);
      }
      .btn-container {
        margin: 3em 0;
      }

      .text-capitalize {
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <img src="https://app.hazira.com/content/images/logo.svg" alt="logo" />
      </div>
      <hr />
      <div>
        <p class="text-capitalize">Dear {{ first_name }} {{ last_name }},</p>
        <p>
          Forgot your Hazira account password? Click 'forgot password' on the
          login page of the Hazira app, or use this link to reset
          your password.
        </p>
        <div class="text-center btn-container">
          <a
            class="btn-capsule-primary"
            href="{{link}}"
          >
            Change Password
          </a>
        </div>
        <p>
          If you need assistance, contact our customer support team. We're here
          to help.
        </p>
        <p>Thank you for using Hazira to manage your HR tasks.</p>
        <p>Best regards,</p>
        <p>Hazira Support Team</p>
      </div>
    </div>
  </body>
</html>
