<div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10"></div>
  </div>
</div>

<div class="login-wrapper">
  <div class="row align-items-center h-100">
    <div class="col-md-7">
      <div class="login-area">
        <div class="text-center login-logo m-0">
          <img src="../../../content/images/logo.svg" alt="logo" />
        </div>
        <div>
          <div class="my-5">
            <h2 class="text-center" hrmsTranslate="login.title" data-cy="loginTitle">Sign in</h2>
            <p class="text-center">Login to your account</p>
          </div>

          <div
            class="alert alert-danger"
            *ngIf="authenticationError"
            hrmsTranslate="login.messages.error.authentication"
            data-cy="loginError"
          >
            <strong>Failed to sign in!</strong> Please check your credentials and try again.
          </div>

          <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="form-group">
              <div class="field-left-icon">
                <div>
                  <input
                    type="text"
                    class="form-control input-h-54px"
                    name="username"
                    id="username"
                    placeholder="{{ 'global.form.usernameOrEmail.placeholder' | translate }}"
                    formControlName="username"
                    #username
                    data-cy="username"
                  />
                </div>
                <i class="icon-user2 text-primary left-icon"></i>
              </div>
            </div>

            <div class="form-group mb-2">
              <div class="field-left-icon">
                <div>
                  <input
                    #login_password
                    type="password"
                    class="form-control input-h-54px"
                    name="password"
                    id="password"
                    placeholder="{{ 'login.form.password.placeholder' | translate }}"
                    formControlName="password"
                    data-cy="password"
                  />
                  <button
                    type="button"
                    (click)="login_password.type = login_password.type === 'password' ? 'text' : 'password'"
                    class="input-action"
                  >
                    <i [class]="login_password.type === 'password' ? 'icon-eye-off' : 'icon-eye2'"></i>
                  </button>
                </div>
                <i class="icon-lock2 text-primary left-icon"></i>
              </div>
            </div>

            <div class="row align-items-center justify-content-between mb-4">
              <div class="col-md-auto mb-3">
                <div class="form-check form-check-custom mb-2">
                  <input
                    class="form-check-input ng-untouched ng-pristine ng-valid"
                    type="checkbox"
                    name="rememberMe"
                    id="rememberMe"
                    formControlName="rememberMe"
                  />
                  <label for="rememberMe" class="form-check-label mr-3">
                    <span class="check-mark rounded-12"></span>
                    <span class="text-blue-dark-6 mt-1" hrmsTranslate="login.form.rememberme">Remember me</span>
                  </label>
                </div>
              </div>
              <div class="col-md-auto mb-3">
                <a
                  class="forgot-link"
                  routerLink="/forgot-password"
                  hrmsTranslate="login.password.forgot"
                  data-cy="forgotYourPasswordSelector"
                  >Forget your password?
                </a>
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-block btn-primary mb-4 btn-h-56"
              data-cy="submit"
              [disabled]="loginForm.invalid || loading"
            >
              <div *ngIf="loading" class="spinner-border spinner-border-sm mx-3" role="status"></div>
              <span hrmsTranslate="login.form.button" class="fs-default">Sign in</span>
            </button>
          </form>

          <div class="text-center text-dark">
            <p>
              <span class="block-width-m" hrmsTranslate="global.messages.info.register.noaccount"> Don’t have an account? </span>
              <a class="success-link ff-manropebold" routerLink="/register" hrmsTranslate="global.messages.info.register.link"> Sign Up </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 hide-on-mobile px-0">
      <div class="row login-cover-side text-white py-5 align-items-center justify-content-center">
        <div class="col-12">
          <div class="text-center my-4 login-image-container">
            <div class="login-image-vectors"></div>
            <img class="login-image" src="../../content/images/login-desk.svg" alt="login-desk" />
          </div>

          <div>
            <h1 class="text-center mb-3 mt-5">Enable Employees Anywhere Anytime</h1>
            <p class="text-center px-5 text-white-op-7">
              Empower your organization with the power of Hazira - the cost-effective and user-friendly tool designed to enhance
              productivity, efficiency, and overall performance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
