<ng-container *ngIf="isSaving">
  <hrms-transparent-spinner></hrms-transparent-spinner>
</ng-container>

<div class="row justify-content-center">
  <div class="col-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="hrms-role-heading" data-cy="RoleCreateUpdateHeading" hrmsTranslate="hrmsApp.role.home.createOrEditLabel">
        Create or edit a Role
      </h2>

      <div>
        <hrms-alert-error></hrms-alert-error>

        <div class="row">
          <!-- left -->
          <div class="col-5">
            <div class="form-group" [hidden]="editForm.get('id')!.value == null">
              <label class="form-control-label" hrmsTranslate="global.field.id" for="field_id">ID</label>
              <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            </div>

            <div class="form-group">
              <label class="form-control-label" hrmsTranslate="hrmsApp.role.name" for="field_name">Name</label>
              <input hrmsInputTrim type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
              <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('name')?.errors?.required"
                  hrmsTranslate="global.messages.validate.field.required"
                >
                  This field is required.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('name')?.errors?.maxlength"
                  hrmsTranslate="global.messages.validate.field.maxLength"
                  [translateValues]="{ max: 50 }"
                >
                  This field cannot be longer than 50 characters.
                </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" hrmsTranslate="hrmsApp.role.is_active" for="field_is_active">Is Active</label>
              <input
                type="checkbox"
                class="form-check"
                name="is_active"
                id="field_is_active"
                data-cy="is_active"
                formControlName="is_active"
              />
            </div>

            <div class="form-group">
              <label class="form-control-label" hrmsTranslate="hrmsApp.role.is_deleted" for="field_is_deleted">Is Deleted</label>
              <input
                type="checkbox"
                class="form-check"
                name="is_deleted"
                id="field_is_deleted"
                data-cy="is_deleted"
                formControlName="is_deleted"
              />
            </div>

            <div class="form-group">
              <label class="form-control-label" hrmsTranslate="hrmsApp.role.is_employee" for="field_is_employee">Is Employee</label>
              <input
                type="checkbox"
                class="form-check"
                name="is_employee"
                id="field_is_employee"
                data-cy="is_employee"
                formControlName="is_employee"
              />
            </div>

            <div class="form-group">
              <label class="form-control-label" hrmsTranslate="hrmsApp.role.applicationType" for="field_applicationType"
                >Application Type</label
              >
              <select
                class="form-control"
                id="field_applicationType"
                data-cy="applicationType"
                name="applicationType"
                formControlName="applicationType"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    applicationTypeOption.id === editForm.get('applicationType')!.value?.id
                      ? editForm.get('applicationType')!.value
                      : applicationTypeOption
                  "
                  *ngFor="let applicationTypeOption of applicationTypesSharedCollection; trackBy: trackApplicationTypeById"
                >
                  {{ applicationTypeOption.name }}
                </option>
              </select>
            </div>
          </div>
          <!-- right -->
          <div class="col-5">
            <tree-root [nodes]="treeNodes" [focused]="true" class="tree" [(state)]="state" [options]="options">
              <ng-template #treeNodeTemplate let-node let-index="index">
                <span [ngClass]="node.data.classes">{{ node.data.name }}</span>
                <div *ngIf="node.data?.permission_type?.length > 0" class="tree-node">
                  <span *ngFor="let permission of node.data.permission_type">
                    <input
                      type="checkbox"
                      [checked]="node.data[permission.key]"
                      (click)="check(node, !node.data[permission.key], permission.key)"
                    />
                    {{ permission.name }}
                  </span>
                </div>
              </ng-template>
            </tree-root>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <span hrmsTranslate="global.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <span hrmsTranslate="global.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
