<div class="p-2">
  <div class="inner-body-report-scrollbar pt-4">
    <div class="bg-white p-3 rounded-8">
      <div class="page-action-toolbar">
        <hrms-generic-filter-form [isLoading]="isLoading" (filterApply)="filter($event)" (filterReset)="resetTimeSheetLateSummary()">
        </hrms-generic-filter-form>
        <div *ngIf="!timeSheetlateSummary.length">
          <p hrmsTranslate="global.filter.chooseFilter.title">Please select filters above.</p>
        </div>
        <div *ngIf="timeSheetlateSummary.length" class="text-right">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="time-sheet-late-summary-export"
              ngbDropdownToggle
              hrmsTranslate="global.action.export"
            >
              Export
            </button>
            <div ngbDropdownMenu aria-labelledby="time-sheet-late-summary-export">
              <button ngbDropdownItem (click)="export(EExportType.PDF)" hrmsTranslate="global.action.exportType.pdf">PDF</button>
              <button ngbDropdownItem (click)="export(EExportType.XLSX)" hrmsTranslate="global.action.exportType.excel">Excel</button>
            </div>
          </div>
        </div>
        <div
          *ngIf="timeSheetlateSummary.length"
          class="table-responsive leave-balance green-br-rounded-card mb-0 border-cellsolid-gray bg-white mt-2"
        >
          <table class="head-bg-table text-center">
            <thead>
              <tr>
                <th hrmsTranslate="global.table.employee.column">Employee</th>
                <th hrmsTranslate="global.table.designation.column">Position</th>
                <th hrmsTranslate="global.form.date.label">Date</th>
                <th hrmsTranslate="report.table.shiftStart.column">Shift Start</th>
                <th hrmsTranslate="report.table.actualStart.column">Actual Start</th>
                <th hrmsTranslate="report.table.shiftEnd.column">Shift End</th>
                <th hrmsTranslate="report.table.actualEnd.column">Actual End</th>
                <th hrmsTranslate="report.table.late.column">Late</th>
                <th hrmsTranslate="report.table.lateBy.column">Late By</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lateSummary of timeSheetlateSummary; let i = index">
                <td>{{ lateSummary.employee_name }}</td>
                <td>{{ lateSummary.designation_name }}</td>
                <td>{{ lateSummary.date | date: 'MMM d, y' }}</td>
                <td>{{ lateSummary.shift_start }}</td>
                <td>{{ lateSummary.actual_start }}</td>
                <td>{{ lateSummary.shift_end }}</td>
                <td>{{ lateSummary.actual_end }}</td>
                <td>{{ lateSummary.late_status }}</td>
                <td>{{ lateSummary.late_by | formatTime: eTimeType.SECOND }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
