<div class="page-side-nav p-2 overflow-x-hidden custom-scrollable scrollable-y">
  <div class="row">
    <!-- Date Picker -->
    <div class="col-12 pt-2">
      <div class="filter-date-picker">
        <ngb-datepicker #datePicker (dateSelect)="onDateSelection($event)" [dayTemplate]="t" outsideDays="hidden"> </ngb-datepicker>
      </div>
      <ng-template #t let-date let-focused="focused">
        <span
          class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null"
        >
          {{ date.day }}
        </span>
      </ng-template>
    </div>

    <!-- Filters -->
    <div class="col-12">
      <div class="row w-100 m-0 p-0 mb-3">
        <div class="col-12 pt-2">
          <div class="form-group mb-0">
            <select class="form-control" (change)="onFiltersChange($event)">
              <option [value]="branch.id" *ngFor="let branch of branches">{{ branch?.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-12 pt-2">
          <div class="sidebar-filter-dropdown">
            <label class="filter-label">
              <i class="hazira-icon-round-man text-primary"></i>
              <span hrmsTranslate="hrmsApp.workShift.home.employeeLabel">Employees</span>
            </label>
            <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="employeeDropdownList" [(ngModel)]="selectedEmployees">
            </ng-multiselect-dropdown>
          </div>
          <div class="sidebar-filter-dropdown">
            <label class="filter-label">
              <i class="hazira-icon-work text-primary"></i>
              <span hrmsTranslate="hrmsApp.workShift.home.designationLabel">Designations </span>
            </label>
            <ng-multiselect-dropdown
              [settings]="dropdownSettings"
              [data]="designationDropdownList"
              [(ngModel)]="selectedDesignations"
              defaultOpen="true"
            >
            </ng-multiselect-dropdown>
          </div>
          <div class="sidebar-filter-dropdown">
            <label class="filter-label">
              <i class="hazira-icon-work text-primary"></i>
              <span hrmsTranslate="hrmsApp.workShift.home.skillLabel">Skills</span>
            </label>
            <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="skillsDropdownList" [(ngModel)]="selectedSkills">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-primary px-3" (click)="onSearch()" hrmsTranslate="hrmsApp.workShift.home.searchLabel">Search</button>
      </div>
    </div>
  </div>
</div>
