<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="modal-body p-4">
    <div class="row justify-content-between mb-2 px-md-4">
      <h4
        id="hrms-designation-heading"
        class="col-md-auto modal-title text-dark"
        data-cy="DesignationCreateUpdateHeading"
        hrmsTranslate="hrmsApp.designation.home.createOrEditLabel"
      >
        Create or edit a Designation
      </h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider mb-3"></div>
    <hrms-alert-error></hrms-alert-error>
    <div class="px-4 my-3">
      <div class="form-group">
        <label class="form-control-label" hrmsTranslate="global.name" for="field_name">Name</label>
        <input hrmsInputTrim type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" hrmsTranslate="entity.validation.required">
            This field is required.
          </small>
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('name')?.errors?.maxlength"
            hrmsTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 255 }"
          >
            This field cannot be longer than 255 characters.
          </small>
        </div>
      </div>
    </div>
    <div class="dashed-divider mb-3"></div>
    <div class="text-right">
      <button type="button" class="btn btn-outline-primary btn-h-47 px-4 mx-1" data-dismiss="modal" (click)="cancel()">
        <span hrmsTranslate="global.action.cancel">Cancel</span>
      </button>

      <button
        id="save-entity"
        type="submit"
        class="btn btn-primary btn-h-47 px-4 mx-1"
        data-cy="entityCreateSaveButton"
        [disabled]="editForm.invalid || isSaving"
      >
        <span hrmsTranslate="global.action.save">Save</span>
      </button>
    </div>
  </div>
</form>
