@import '../../../../content/scss/app-variable';

.transparent-spinner-wrapper {
  background-color: $transparent;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .spinner {
    height: 80px !important;
    width: 80px !important;
    position: absolute;
    top: 40%;
    left: 50%;
  }
}
