<div class="p-2">
  <div class="inner-body-report-scrollbar">
    <div class="bg-white p-3 rounded-8">
      <div class="page-action-toolbar">
        <hrms-generic-filter-form [isLoading]="isLoading" (filterApply)="filter($event)" (filterReset)="resetTimeSheets()">
        </hrms-generic-filter-form>
        <div *ngIf="!timeSheets.length">
          <p hrmsTranslate="global.filter.chooseFilter.title">Please select filters above.</p>
        </div>
        <div *ngIf="timeSheets.length" class="text-right">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="time-sheet-summary-export"
              ngbDropdownToggle
              hrmsTranslate="global.action.export"
            >
              Export
            </button>
            <div ngbDropdownMenu aria-labelledby="time-sheet-summary-export">
              <button ngbDropdownItem (click)="export(EExportType.PDF)" hrmsTranslate="global.action.exportType.pdf">PDF</button>
              <button ngbDropdownItem (click)="export(EExportType.XLSX)" hrmsTranslate="global.action.exportType.excel">EXCEL</button>
            </div>
          </div>
        </div>
        <div
          *ngIf="timeSheets.length"
          class="table-responsive leave-balance green-br-rounded-card mb-0 border-cellsolid-gray bg-white mt-2"
        >
          <table class="head-bg-table">
            <thead>
              <tr>
                <th class="text-center" colspan="2" hrmsTranslate="report.table.allLocationPosition.column">All Location/ Position</th>
                <th class="text-center" colspan="3" *ngFor="let header of dateColumns">
                  {{ header | date: 'MMM d, y' }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="text-center text-primary" hrmsTranslate="global.table.name.column">Name</span></td>
                <td><span class="text-center text-primary" hrmsTranslate="global.table.total.column">Total</span></td>
                <td colspan="3" *ngFor="let header of dateColumns">
                  <dl class="d-flex flex-row m-0 justify-content-between">
                    <dd class="px-2 mb-0 text-primary" hrmsTranslate="global.table.start.column">Start</dd>
                    <dd class="px-2 mb-0 text-primary" hrmsTranslate="global.table.end.column">End</dd>
                    <dd class="px-2 mb-0 text-primary" hrmsTranslate="global.table.hour.column">Hrs</dd>
                  </dl>
                </td>
              </tr>
              <tr *ngFor="let timeSheet of timeSheets; let i = index">
                <td class="text-center white-space-nowrap-true">
                  <span>{{ timeSheet.employee_name }}</span>
                </td>
                <td class="text-center white-space-nowrap-true">{{ timeSheet.total_clock_in | formatTime: eTimeType.SECOND }}</td>
                <td class="text-center white-space-nowrap-true" colspan="3" *ngFor="let key of dateColumns">
                  <div class="d-flex flex-row m-0 justify-content-between">
                    <div *ngIf="timeSheet[key]?.data?.length">
                      <div *ngFor="let item of timeSheet[key]?.data">
                        <p class="p-1 m-0 min-height" *ngIf="item">{{ item?.start }}</p>
                      </div>
                    </div>

                    <div *ngIf="timeSheet[key].data?.length">
                      <div *ngFor="let item of timeSheet[key]?.data">
                        <p class="p-1 m-0 min-height" *ngIf="item">{{ item?.end }}</p>
                      </div>
                    </div>

                    <div *ngIf="timeSheet[key].data?.length">
                      <div *ngFor="let item of timeSheet[key]?.data">
                        <p class="p-1 m-0 min-height" *ngIf="item">{{ item?.diff | formatTime: eTimeType.SECOND }}</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th class="text-center font-weight-normal light-green-cell" hrmsTranslate="global.table.total.column">Total</th>
                <th class="text-center font-weight-normal">{{ totalColckInDuration | formatTime: eTimeType.SECOND }}</th>
                <th class="text-center font-weight-normal" colspan="3" *ngFor="let columnSum of columnSums | keyvalue">
                  <span *ngIf="columnSum">
                    {{ columnSum.value | formatTime: eTimeType.SECOND }}
                  </span>
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
