<div class="bg-white p-4 mb-3 rounded-12">
  <div class="border-light-gray rounded-12 bg-white">
    <h4 class="fs-md text-blue-dark mx-3 mt-3">Example:</h4>
    <div class="row justify-content-around">
      <div class="col-md-8">
        <div class="table-responsive leave-balance green-br-rounded-card border-cellsolid-gray bg-white text-center py-2">
          <table class="head-bg-table">
            <thead>
              <tr>
                <th scope="col">date</th>
                <th scope="col">title</th>
                <th scope="col">description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Feb 21, 2023</td>
                <td>International Mother Language Day</td>
                <td>International Mother Language Day is celebrated on February 21st each year.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-2">
        <div class="file-uploader text-center">
          <input #uploadHolidaytFile type="file" (change)="onFileChange($event)" />
          <i class="icon-cloud-upload upload-icon"></i>
          <p class="fs-sm">{{ fileName }}</p>
        </div>
      </div>
      <div class="col-md-auto my-auto">
        <button (click)="uploadHolidaySheet()" class="btn btn-block btn-primary btn-h-54 px-5" hrmsTranslate="global.action.upload">
          Upload
        </button>
      </div>
    </div>
  </div>
  <hrms-holiday></hrms-holiday>
</div>
