<div>
  <h2 id="page-heading" data-cy="CompanyHeading">
    <span hrmsTranslate="hrmsApp.company.home.title">Companies</span>

    <div class="d-flex justify-content-end">
      <button
        type="button"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-company"
        (click)="createCompanyModal()"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hrmsTranslate="hrmsApp.company.home.createLabel"> Create a new Company </span>
      </button>
    </div>
  </h2>

  <hrms-alert-error></hrms-alert-error>

  <hrms-alert></hrms-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userCompanies?.length === 0">
    <span hrmsTranslate="hrmsApp.company.home.notFound">No companies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userCompanies && userCompanies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span hrmsTranslate="global.field.id">ID</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.company.name">Name</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.company.phone">Phone</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.company.email">Email</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.company.address">Address</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.company.logo_url_large">Logo Url Large</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.company.logo_url_medium">Logo Url Medium</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.company.logo_url_small">Logo Url Small</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.company.status">Status</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.company.companyType">Company Type</span></th>
          <th scope="col"><span hrmsTranslate="hrmsApp.company.applicationType">Application Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userCompany of userCompanies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/company', userCompany.company.id, 'view']">{{ userCompany.company.id }}</a>
          </td>
          <td>{{ userCompany.company.name }}</td>
          <td>{{ userCompany.company.phone }}</td>
          <td>{{ userCompany.company.email }}</td>
          <td>{{ userCompany.company.address }}</td>
          <td>{{ userCompany.company.logo_url_large }}</td>
          <td>{{ userCompany.company.logo_url_medium }}</td>
          <td>{{ userCompany.company.logo_url_small }}</td>
          <td>{{ userCompany.company.status }}</td>
          <td>
            <div *ngIf="userCompany.company.companyType">
              <a [routerLink]="['/company-type', userCompany.company.companyType?.id, 'view']">{{
                userCompany.company.companyType?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="userCompany.company.applicationType">
              <a [routerLink]="['/application-type', userCompany.company.applicationType?.id, 'view']">{{
                userCompany.company.applicationType?.name
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/company', userCompany.company.id, 'view']"
                class="btn btn-info btn-sm mx-1"
                data-cy="entityDetailsButton"
              >
                <span class="d-none d-md-inline" hrmsTranslate="global.action.view">View</span>
              </button>

              <button
                type="button"
                *ngIf="userCompany.is_owner"
                (click)="createCompanyModal(userCompany?.company)"
                class="btn btn-primary btn-sm mx-1"
                data-cy="entityEditButton"
              >
                <span class="d-none d-md-inline" hrmsTranslate="global.action.edit">Edit</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
