<form name="filterForm" role="form" novalidate [formGroup]="filterForm" class="inner-body-leave-scrollbar">
  <div class="page-action-toolbar my-2">
    <div class="row align-items-center justify-content-between mb-3">
      <div class="col-md">
        <div class="row align-items-end row-gutter-2">
          <div class="col-md-2 col-gutter-2">
            <label class="fs-sm text-dark-3 mb-2" for="field_leave-type">
              <span hrmsTranslate="global.form.start_date.label">Start Date</span>:</label
            >
            <div class="field-append-icon">
              <input
                formControlName="start_date"
                type="text"
                class="form-control form-control-h52 rounded-12"
                placeholder="yyyy-mm-dd"
                name="start-date"
                ngbDatepicker
                #start_dateDp="ngbDatepicker"
              />
              <button type="button" class="field-icon icon-calendar2" (click)="start_dateDp.toggle()"></button>
            </div>
          </div>
          <div class="col-md-2 col-gutter-2">
            <label class="fs-sm text-dark-3 mb-2" for="field_leave-type">
              <span hrmsTranslate="global.form.end_date.label">End Date</span></label
            >
            <div class="field-append-icon">
              <input
                formControlName="end_date"
                type="text"
                class="form-control form-control-h52 rounded-12"
                placeholder="yyyy-mm-dd"
                name="end-date"
                ngbDatepicker
                #end_dateDp="ngbDatepicker"
              />
              <button type="button" class="field-icon icon-calendar2" (click)="end_dateDp.toggle()"></button>
            </div>
          </div>
          <div class="col-md-2 col-gutter-2">
            <label class="fs-sm text-dark-3 mb-2"><span hrmsTranslate="global.form.all_branch.label">All Location</span></label>
            <div>
              <select class="form-control form-control-h52 rounded-12" name="branch_id" formControlName="branch_id">
                <option [ngValue]="null" hrmsTranslate="hrmsApp.branch.selectBox.title">Select branch</option>
                <option [ngValue]="branch.id" *ngFor="let branch of branches">
                  {{ branch.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-gutter-2">
            <label class="fs-sm text-dark-3 mb-2"><span hrmsTranslate="global.form.all_designation.label">All Position</span></label>
            <div>
              <select
                [ngModel]="designations[0]?.id"
                name="designation_id"
                formControlName="designation_id"
                class="form-control form-control-h52 rounded-12"
              >
                <option *ngIf="!designations.length" [ngValue]="null" hrmsTranslate="hrmsApp.designation.home.notFound">
                  No designation found
                </option>
                <option [ngValue]="designation.id" *ngFor="let designation of designations">
                  {{ designation.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-gutter-2">
            <label class="fs-sm text-dark-3 mb-2"
              ><span hrmsTranslate="global.form.approve_or_unapprove.label">Approve / Unapprove</span></label
            >
            <div>
              <select name="is_approved" formControlName="is_approved" class="form-control form-control-h52 rounded-12">
                <option [ngValue]="true">Approved</option>
                <option [ngValue]="false">Unapproved</option>
              </select>
            </div>
          </div>
          <div class="col-md-auto col-gutter-2">
            <button
              class="btn btn-primary inner-nav-btn d-flex align-items-center rounded-12"
              (click)="filter()"
              hrmsTranslate="global.action.search"
            >
              Search
            </button>
          </div>
        </div>
        <div>
          <small
            hrmsTranslate="entity.validation.validDateRange"
            *ngIf="filterForm.errors?.dateValid && (filterForm.touched || filterForm.dirty)"
            class="text-danger p-2"
          >
            Please select a valid date range From and To date.
          </small>
        </div>
      </div>
      <!-- <div class="col-auto">
        <label class="fs-sm text-dark-3 mb-2"><span hrmsTranslate="global.filter.sortBy.title">Sort By</span></label>
        <div>
          <select class="form-control form-control-h52 rounded-12">
            <option hrmsTranslate="leaves.filter.leaveStartDate.label">Leave start date</option>
            <option hrmsTranslate="leaves.filter.leaveEndDate.label">Leave end date</option>
          </select>
        </div>
      </div> -->
    </div>

    <!-- <div class="row align-items-center justify-content-between mb-2">
      <div class="col-md">
        <div class="row align-items-center">
          <div class="col-md-auto">
            <p class="fs-sm text-dark-3 mb-2">Max number of staff that can be booked off at once: 10</p>
          </div>
          <div class="col-md-auto">
            <div class="d-flex align-items-center mb-2">
              <label class="fs-sm text-dark-3 mr-2 mb-0"><span hrmsTranslate="global.filter.title">Filter</span>:</label>
              <div>
                <select class="form-control form-control-h40 rounded-12">
                  <option>Review</option>
                  <option>Item 1</option>
                  <option>Item 2</option>
                  <option>Item 3</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <button class="hide-show-toggler">
          <span class="fs-sm" hrmsTranslate="global.action.showDetails">Show Details</span>
          <i class="icon-chevron-up1 fs-default ml-2"></i>
        </button>
      </div>
    </div> -->

    <div
      *ngIf="requestedLeaves.length; else noRequestedLeavesFound"
      class="custom-table-sortable-th green-br-rounded-card light-dashed-table mb-3 bg-white"
    >
      <table class="head-bg-table">
        <thead>
          <tr>
            <th hrmsTranslate="global.table.employee.column">Employee</th>
            <th class="text-center" width="130" hrmsTranslate="global.table.from.column">From</th>
            <th class="text-center" hrmsTranslate="global.table.until.column">Until</th>
            <th class="text-center" hrmsTranslate="global.table.length.column">length</th>
            <th class="text-center" hrmsTranslate="global.table.status.column">status</th>
            <th class="text-center" hrmsTranslate="leaves.table.leaveType.column">Leave Type</th>
            <th class="text-center" width="200" hrmsTranslate="global.table.action.column">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of requestedLeaves" class="cursor-pointer" data-cy="entityTable">
            <td (click)="showLeaveApplicationViewModal(leave)" class="clickable">
              {{ leave?.employee_first_name }} {{ leave?.employee_last_name }}
            </td>
            <td class="text-center">
              {{ leave?.start_date | date: 'MMM d, y':timeZone?.offset }}
              <span *ngIf="leave.is_partial_day_allowed">
                {{ leave.start_date | date: 'h:mm  a':timeZone?.offset }}
              </span>
            </td>
            <td class="text-center">
              {{ leave?.end_date | date: 'MMM d, y':timeZone?.offset }}
              <span *ngIf="leave.is_partial_day_allowed">
                {{ leave.end_date | date: 'h:mm a':timeZone?.offset }}
              </span>
            </td>
            <td class="text-center">{{ leave.total_leave_duration_mins | minutesToDays }}</td>
            <td class="text-center">{{ leave.status }}</td>
            <td class="text-center">{{ leave.leave_type_name }}</td>
            <td
              *ngIf="
                leave.status === eLeaveStatusType.APPROVED || leave.status === eLeaveStatusType.REQUEST_APPROVED;
                else isActionLeaveApproved
              "
              class="text-center"
            >
              N/A
            </td>
            <ng-template #isActionLeaveApproved>
              <td class="text-center">
                <ng-container *ngIf="leave.status === eLeaveStatusType.REQUESTED">
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="showApproveModal(leave?.leave_id, true)"
                    hrmsTranslate="global.action.approve"
                  >
                    Approve
                  </button>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="showRejectModal(leave?.leave_id, true)"
                    hrmsTranslate="global.action.reject"
                  >
                    Reject
                  </button>
                </ng-container>
                <ng-container *ngIf="leave.status === eLeaveStatusType.PENDING">
                  <button class="btn btn-primary btn-sm" (click)="showApproveModal(leave?.leave_id)" hrmsTranslate="global.action.approve">
                    Approve
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="showRejectModal(leave?.leave_id)" hrmsTranslate="global.action.reject">
                    Reject
                  </button>
                </ng-container>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noRequestedLeavesFound>
      <p class="p-3" hrmsTranslate="leaves.requestedLeave.empty">No requested leaves found</p>
    </ng-template>
  </div>
</form>

<ng-template #leaveApplicationViewModal let-modal>
  <div class="modal-body p-4">
    <div class="row justify-content-between px-md-4">
      <h4 class="col-md-auto modal-title text-dark pl-md-0">
        <span hrmsTranslate="leaves.applicationDetails.label">Application Details</span>
      </h4>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="modal.dismiss()"
      >
        &times;
      </button>
    </div>
    <div class="dashed-divider my-2"></div>
    <div class="p-3">
      <div class="row">
        <p class="col-md-4"><span hrmsTranslate="global.table.employee.column">Employee name</span> :</p>
        <p class="col-md-8 px-2">{{ leaveApplication.employee_first_name }} {{ leaveApplication.employee_first_name }}</p>
      </div>
      <div class="row">
        <p class="col-md-4"><span hrmsTranslate="global.form.startAndFrom.label">From</span> :</p>
        <p class="col-md-8 px-2">{{ leaveApplication.start_date | date: 'MMM d, y':timeZone?.offset }}</p>
      </div>
      <div class="row">
        <p class="col-md-4"><span hrmsTranslate="global.form.endAndTo.label">To</span> :</p>
        <p class="col-md-8 px-2">{{ leaveApplication.end_date | date: 'MMM d, y':timeZone?.offset }}</p>
      </div>
      <div class="row">
        <p class="col-md-4"><span hrmsTranslate="leaves.table.leaveType.column">Leave Type</span> :</p>
        <p class="col-md-8 px-2">{{ leaveApplication.leave_type_name }}</p>
      </div>
      <div class="row">
        <p class="col-md-4"><span hrmsTranslate="global.table.length.column">Length</span> :</p>
        <p class="col-md-8 px-2">{{ leaveApplication.total_leave_duration_mins | minutesToDays }}</p>
      </div>
      <div class="row">
        <p class="col-md-4"><span hrmsTranslate="global.table.status.column">Status</span> :</p>
        <p class="col-md-8 px-2">{{ leaveApplication.status }}</p>
      </div>
      <div class="row">
        <p class="col-md-4"><span hrmsTranslate="leaves.leaveReason.label">Reason</span> :</p>
        <p class="col-md-8 px-2">{{ leaveApplication.comments }}</p>
      </div>
    </div>
  </div>
</ng-template>
