<div class="p-2">
  <div class="inner-body-report-scrollbar pt-4">
    <div class="bg-white p-3 rounded-8">
      <div class="page-action-toolbar">
        <hrms-generic-filter-form [isLoading]="isLoading" (filterApply)="filter($event)" (filterReset)="resetShiftsScheduled()">
        </hrms-generic-filter-form>
        <div *ngIf="!shiftsScheduled.length">
          <p hrmsTranslate="global.filter.chooseFilter.title">Please select filters above.</p>
        </div>
        <div *ngIf="shiftsScheduled.length" class="text-right">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="shifts-scheduled-export"
              ngbDropdownToggle
              hrmsTranslate="global.action.export"
            >
              Export
            </button>
            <div ngbDropdownMenu aria-labelledby="shifts-scheduled-export">
              <button ngbDropdownItem (click)="export(EExportType.PDF)" hrmsTranslate="global.action.exportType.pdf">PDF</button>
              <button ngbDropdownItem (click)="export(EExportType.XLSX)" hrmsTranslate="global.action.exportType.excel">Excel</button>
            </div>
          </div>
        </div>
        <div
          *ngIf="shiftsScheduled.length"
          class="table-responsive leave-balance green-br-rounded-card mb-0 border-cellsolid-gray bg-white mt-2"
        >
          <table class="head-bg-table text-center">
            <thead>
              <tr>
                <th hrmsTranslate="global.table.employee.column">Employee</th>
                <th *ngFor="let header of dateColumns">{{ header | date: 'MMM d, y' }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shift of shiftsScheduled; let i = index">
                <td>
                  {{ shift.employee_name }} <br />
                  {{ shift.total_work_shift_duration | formatTime: eTimeType.SECOND }}
                </td>
                <td *ngFor="let key of dateColumns">
                  <div *ngIf="shift[key].data?.length">
                    <span *ngFor="let item of shift[key].data">
                      <p *ngIf="item">
                        <span
                          >{{ item?.designation }} <br />
                          {{ item?.start }} - {{ item?.end }}
                        </span>
                      </p>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
