<div class="p-2">
  <div class="inner-body-report-scrollbar pt-4">
    <div class="bg-white p-3 rounded-8">
      <div class="page-action-toolbar">
        <hrms-generic-filter-form [isLoading]="isLoading" (filterApply)="filter($event)" (filterReset)="resetScheduleSummary()">
        </hrms-generic-filter-form>
        <div *ngIf="!scheduleSummary.length">
          <p hrmsTranslate="global.filter.chooseFilter.title">Please select filters above.</p>
        </div>
        <div *ngIf="scheduleSummary.length" class="text-right">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="schedule-summary-export"
              ngbDropdownToggle
              hrmsTranslate="global.action.export"
            >
              Export
            </button>
            <div ngbDropdownMenu aria-labelledby="schedule-summary-export">
              <button ngbDropdownItem (click)="export(EExportType.PDF)" hrmsTranslate="global.action.exportType.pdf">PDF</button>
              <button ngbDropdownItem (click)="export(EExportType.XLSX)" hrmsTranslate="global.action.exportType.excel">Excel</button>
            </div>
          </div>
        </div>
        <div
          *ngIf="scheduleSummary.length"
          class="table-responsive leave-balance green-br-rounded-card mb-0 border-cellsolid-gray bg-white mt-2"
        >
          <table class="head-bg-table text-center">
            <thead>
              <tr>
                <th class="text-center" colspan="2" hrmsTranslate="report.table.allLocationPosition.column">All Locations / Positions</th>
                <th class="text-center" colspan="3" *ngFor="let header of dateColumns">
                  {{ header | date: 'MMM d, y' }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-primary" hrmsTranslate="global.table.name.column">Name</td>
                <td class="text-primary" hrmsTranslate="global.table.total.column">Total</td>
                <td class="text-primary" colspan="3" *ngFor="let header of dateColumns">
                  <dl class="d-flex flex-row m-0 justify-content-between">
                    <dd class="px-2 mb-0" hrmsTranslate="global.table.start.column">Start</dd>
                    <dd class="px-2 mb-0" hrmsTranslate="global.table.end.column">End</dd>
                    <dd class="px-2 mb-0" hrmsTranslate="global.table.hour.column">Hrs</dd>
                  </dl>
                </td>
              </tr>
              <tr *ngFor="let schedule of scheduleSummary; let i = index">
                <td class="text-center white-space-nowrap-true">
                  <span>{{ schedule.employee_name }}</span>
                </td>
                <td class="text-center white-space-nowrap-true">{{ schedule.total_work_shift_duration | formatTime: eTimeType.SECOND }}</td>
                <td class="text-center white-space-nowrap-true" colspan="3" *ngFor="let key of dateColumns">
                  <div class="d-flex flex-row m-0 justify-content-between">
                    <div *ngIf="schedule[key]?.data?.length">
                      <div *ngFor="let item of schedule[key]?.data">
                        <p class="p-1 m-0 min-height" *ngIf="item">{{ item?.start }}</p>
                      </div>
                    </div>

                    <div *ngIf="schedule[key].data?.length">
                      <div *ngFor="let item of schedule[key]?.data">
                        <p class="p-1 m-0 min-height" *ngIf="item">{{ item?.end }}</p>
                      </div>
                    </div>

                    <div *ngIf="schedule[key].data?.length">
                      <div *ngFor="let item of schedule[key]?.data">
                        <p class="p-1 m-0 min-height" *ngIf="item">{{ item?.diff | formatTime: eTimeType.SECOND }}</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th class="text-center font-weight-normal light-green-cell" hrmsTranslate="global.table.total.column">Total</th>
                <th class="text-center font-weight-normal">{{ totalWorkShiftDuration | formatTime: eTimeType.SECOND }}</th>
                <th class="text-center font-weight-normal" colspan="3" *ngFor="let columnSum of columnSums | keyvalue">
                  <span *ngIf="columnSum">
                    {{ columnSum.value | formatTime: eTimeType.SECOND }}
                  </span>
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
