<div>
  <h2>
    <span id="user-management-page-heading" hrmsTranslate="userManagement.home.title" data-cy="userManagementPageHeading">Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span hrmsTranslate="userManagement.home.refreshListLabel">Refresh List</span>
      </button>
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon> <span hrmsTranslate="userManagement.home.createLabel">Create a new User</span>
      </button>
    </div>
  </h2>

  <hrms-alert-error></hrms-alert-error>

  <hrms-alert></hrms-alert>

  <div class="table-responsive" *ngIf="users">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
        <tr hrmsSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
          <th scope="col" hrmsSortBy="id"><span hrmsTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" hrmsSortBy="login"><span hrmsTranslate="userManagement.login">Login</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" hrmsSortBy="email"><span hrmsTranslate="userManagement.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
          <th scope="col" hrmsSortBy="langKey">
            <span hrmsTranslate="userManagement.langKey">Lang Key</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"><span hrmsTranslate="userManagement.profiles">Profiles</span></th>
          <th scope="col" hrmsSortBy="createdDate">
            <span hrmsTranslate="userManagement.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" hrmsSortBy="updated_by">
            <span hrmsTranslate="userManagement.updated_by">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" hrmsSortBy="lastModifiedDate">
            <span hrmsTranslate="userManagement.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users; trackBy: trackIdentity">
          <td>
            <a [routerLink]="['./', user.username, 'view']">{{ user.id }}</a>
          </td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.langKey }}</td>
          <td>
            <div *ngFor="let user_company of user.user_companies">
              <span class="badge badge-info">{{ user_company.role_id }}</span>
            </div>
          </td>
          <td>{{ user.created_at | date: 'dd/MM/yy HH:mm' }}</td>
          <td>{{ user.created_by }}</td>
          <td>{{ user.updated_at | date: 'dd/MM/yy HH:mm' }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['./', user.username, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['./', user.username, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.edit">Edit</span>
              </button>

              <button
                type="button"
                (click)="deleteUser(user)"
                class="btn btn-danger btn-sm"
                [disabled]="!currentAccount || currentAccount.username === user.username"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" hrmsTranslate="global.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="users">
    <div class="row justify-content-center">
      <hrms-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></hrms-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
