<div class="rounded-12-white-box pt-4 px-4">
  <h6 class="text-dark mb-2">Statistics</h6>
  <div class="py-3 pb-0">
    <div class="statistics-row">
      <div class="d-flex justify-content-between mb-2 pb-1">
        <div class="d-flex align-items-center">
          <span class="icon-clock" style="background: #f4f0ff; color: #936dff"></span>
          <p class="m-0">Today</p>
        </div>
        <label class="m-0">00.00 hrs</label>
      </div>
      <div class="progress progress-purple">
        <div
          class="progress-bar bg-primary"
          role="progressbar"
          aria-label="Primary example"
          style="width: 80%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="statistics-row">
      <div class="d-flex justify-content-between mb-2 pb-1">
        <div class="d-flex align-items-center">
          <span class="icon-clock" style="background: #f2fdf6; color: #22c55e"></span>
          <p class="m-0">This Week</p>
        </div>
        <label class="m-0">3.45 / 8 hrs</label>
      </div>
      <div class="progress">
        <div
          class="progress-bar bg-primary"
          role="progressbar"
          aria-label="Primary example"
          style="width: 90%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="statistics-row">
      <div class="d-flex justify-content-between mb-2 pb-1">
        <div class="d-flex align-items-center">
          <span class="icon-clock" style="background: #ebf7ff; color: #56ccf2"></span>
          <p class="m-0">This Month</p>
        </div>
        <label class="m-0">3.45 / 8 hrs</label>
      </div>
      <div class="progress">
        <div
          class="progress-bar bg-info"
          role="progressbar"
          aria-label="Primary example"
          style="width: 30%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="statistics-row">
      <div class="d-flex justify-content-between mb-2 pb-1">
        <div class="d-flex align-items-center">
          <span class="icon-clock" style="background: #fff3f3; color: #f88989"></span>
          <p class="m-0">Remaining</p>
        </div>
        <label class="m-0">3.45 / 8 hrs</label>
      </div>
      <div class="progress">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          aria-label="Primary example"
          style="width: 60%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="statistics-row">
      <div class="d-flex justify-content-between mb-2 pb-1">
        <div class="d-flex align-items-center">
          <span class="icon-clock" style="background: #fffadf; color: #ffc042"></span>
          <p class="m-0">Overtime</p>
        </div>
        <label class="m-0">3.45 / 8 hrs</label>
      </div>
      <div class="progress">
        <div
          class="progress-bar bg-warning"
          role="progressbar"
          aria-label="Primary example"
          style="width: 50%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</div>
