@font-face {
  font-family: 'app-icon';
  src: url('../font-icon/app-icon.eot?wfx8go');
  src: url('../font-icon/app-icon.eot?wfx8go#iefix') format('embedded-opentype'), url('../font-icon/app-icon.ttf?wfx8go') format('truetype'),
    url('../font-icon/app-icon.woff?wfx8go') format('woff'), url('../font-icon/app-icon.svg?wfx8go#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'app-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'hazira-icon';
  src: url('../font-icon/hazira-icon.eot?ga180i');
  src: url('../font-icon/hazira-icon.eot?ga180i#iefix') format('embedded-opentype'),
    url('../font-icon/hazira-icon.ttf?ga180i') format('truetype'), url('../font-icon/hazira-icon.woff?ga180i') format('woff'),
    url('../font-icon/hazira-icon.svg?ga180i#hazira-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='hazira-icon-'],
[class*=' hazira-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hazira-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*+++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++*/
/*+++++++ HAZIRA ICON START +++++++*/
/*+++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++*/

.hazira-icon-add:before {
  content: '\e900';
}
.hazira-icon-bin-three-line:before {
  content: '\e901';
}
.hazira-icon-black-cross:before {
  content: '\e902';
}
.hazira-icon-bold-user-profile:before {
  content: '\e903';
}
.hazira-icon-break:before {
  content: '\e904';
}
.hazira-icon-breakwithout-clock:before {
  content: '\e905';
}
.hazira-icon-brieftcase:before {
  content: '\e906';
}
.hazira-icon-calendar:before {
  content: '\e907';
}
.hazira-icon-call:before {
  content: '\e908';
}

.hazira-icon-clock:before {
  content: '\e90a';
}
.hazira-icon-coment:before {
  content: '\e90b';
}
.hazira-icon-cross:before {
  content: '\e90c';
}
.hazira-icon-details:before {
  content: '\e90d';
}
.hazira-icon-download:before {
  content: '\e90e';
}
.hazira-icon-edit:before {
  content: '\e90f';
}
.hazira-icon-edit-tripple-line:before {
  content: '\e910';
}
.hazira-icon-eye:before {
  content: '\e911';
}
.hazira-icon-graph:before {
  content: '\e912';
}
.hazira-icon-hide-eye:before {
  content: '\e914';
}
.hazira-icon-icon-post-comment:before {
  content: '\e915';
}
.hazira-icon-left-arrow:before {
  content: '\e916';
}
.hazira-icon-list:before {
  content: '\e918';
}
.hazira-icon-location:before {
  content: '\e919';
}
.hazira-icon-logout:before {
  content: '\e91b';
}
.hazira-icon-man:before {
  content: '\e91c';
}
.hazira-icon-multi-settings:before {
  content: '\e91d';
}
.hazira-icon-office .path1:before {
  content: '\e91e';
  color: rgb(255, 255, 255);
}
.hazira-icon-office .path2:before {
  content: '\e91f';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.hazira-icon-office .path3:before {
  content: '\e920';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.hazira-icon-office .path4:before {
  content: '\e921';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.hazira-icon-office .path5:before {
  content: '\e922';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.hazira-icon-office .path6:before {
  content: '\e923';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.hazira-icon-ok:before {
  content: '\e924';
}
.hazira-icon-play:before {
  content: '\e925';
}
.hazira-icon-profile:before {
  content: '\e926';
}
.hazira-icon-read:before {
  content: '\e927';
}
.hazira-icon-right-arrow:before {
  content: '\e928';
}
.hazira-icon-round-list:before {
  content: '\e929';
}
.hazira-icon-round-man:before {
  content: '\e92a';
}
.hazira-icon-search:before {
  content: '\e92b';
}
.hazira-icon-settings:before {
  content: '\e92c';
}
.hazira-icon-settings-route:before {
  content: '\e92d';
}
.hazira-icon-snap:before {
  content: '\e92e';
}
.hazira-icon-star:before {
  content: '\e92f';
}
.hazira-icon-switch:before {
  content: '\e930';
}
.hazira-icon-upload:before {
  content: '\e931';
}
.hazira-icon-wallet:before {
  content: '\e932';
}
.hazira-icon-work:before {
  content: '\e933';
}

/*+++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++*/
/*+++++++ HAZIRA ICON END +++++++++*/
/*+++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++*/

.icon-staff:before {
  content: '\e900';
}
.icon-roll:before {
  content: '\e901';
}
.icon-leave:before {
  content: '\e902';
}
.icon-menu5:before {
  content: '\e903';
}
.icon-report:before {
  content: '\e904';
}
.icon-payroll:before {
  content: '\e905';
}
.icon-clock:before {
  content: '\e906';
}
.icon-shift:before {
  content: '\ec0c';
}
.icon-activity:before {
  content: '\e907';
}
.icon-airplay:before {
  content: '\e908';
}
.icon-alert-circle:before {
  content: '\e909';
}
.icon-alert-octagon:before {
  content: '\e90a';
}
.icon-alert-triangle:before {
  content: '\e90b';
}
.icon-align-center1:before {
  content: '\e90c';
}
.icon-align-justify1:before {
  content: '\e90d';
}
.icon-align-left1:before {
  content: '\e90e';
}
.icon-align-right1:before {
  content: '\e90f';
}
.icon-anchor1:before {
  content: '\e910';
}
.icon-aperture:before {
  content: '\e911';
}
.icon-archive1:before {
  content: '\e912';
}
.icon-arrow-down3:before {
  content: '\e913';
}
.icon-arrow-down-circle:before {
  content: '\e914';
}
.icon-arrow-down-left1:before {
  content: '\e915';
}
.icon-arrow-down-right1:before {
  content: '\e916';
}
.icon-arrow-left3:before {
  content: '\e917';
}
.icon-arrow-left-circle:before {
  content: '\e918';
}
.icon-arrow-right3:before {
  content: '\e919';
}
.icon-arrow-right-circle:before {
  content: '\e91a';
}
.icon-arrow-up3:before {
  content: '\e91b';
}
.icon-arrow-up-circle:before {
  content: '\e91c';
}
.icon-arrow-up-left1:before {
  content: '\e91d';
}
.icon-arrow-up-right1:before {
  content: '\e91e';
}
.icon-at-sign:before {
  content: '\e91f';
}
.icon-award:before {
  content: '\e920';
}
.icon-bar-chart1:before {
  content: '\e921';
}
.icon-bar-chart-2:before {
  content: '\e922';
}
.icon-battery1:before {
  content: '\e923';
}
.icon-battery-charging:before {
  content: '\e924';
}
.icon-bell2:before {
  content: '\e925';
}
.icon-bell-off:before {
  content: '\e926';
}
.icon-bluetooth1:before {
  content: '\e927';
}
.icon-bold2:before {
  content: '\e928';
}
.icon-book2:before {
  content: '\e929';
}
.icon-book-open:before {
  content: '\e92a';
}
.icon-bookmark2:before {
  content: '\e92b';
}
.icon-box:before {
  content: '\e92c';
}
.icon-briefcase2:before {
  content: '\e92d';
}
.icon-calendar2:before {
  content: '\e92e';
}
.icon-camera2:before {
  content: '\e92f';
}
.icon-camera-off:before {
  content: '\e930';
}
.icon-cast:before {
  content: '\e931';
}
.icon-check1:before {
  content: '\e932';
}
.icon-check-circle1:before {
  content: '\e933';
}
.icon-check-square1:before {
  content: '\e934';
}
.icon-chevron-down1:before {
  content: '\e935';
}
.icon-chevron-left1:before {
  content: '\e936';
}
.icon-chevron-right1:before {
  content: '\e937';
}
.icon-chevron-up1:before {
  content: '\e938';
}
.icon-chevrons-down:before {
  content: '\e939';
}
.icon-chevrons-left:before {
  content: '\e93a';
}
.icon-chevrons-right:before {
  content: '\e93b';
}
.icon-chevrons-up:before {
  content: '\e93c';
}
.icon-chrome2:before {
  content: '\e93d';
}
.icon-circle1:before {
  content: '\e93e';
}
.icon-clipboard2:before {
  content: '\e93f';
}
.icon-clock1:before {
  content: '\e940';
}
.icon-cloud2:before {
  content: '\e941';
}
.icon-cloud-drizzle:before {
  content: '\e942';
}
.icon-cloud-lightning:before {
  content: '\e943';
}
.icon-cloud-off:before {
  content: '\e944';
}
.icon-cloud-rain:before {
  content: '\e945';
}
.icon-cloud-snow:before {
  content: '\e946';
}
.icon-code1:before {
  content: '\e947';
}
.icon-codepen2:before {
  content: '\e948';
}
.icon-codesandbox:before {
  content: '\e949';
}
.icon-coffee1:before {
  content: '\e94a';
}
.icon-columns1:before {
  content: '\e94b';
}
.icon-command1:before {
  content: '\e94c';
}
.icon-compass3:before {
  content: '\e94d';
}
.icon-copy2:before {
  content: '\e94e';
}
.icon-corner-down-left:before {
  content: '\e94f';
}
.icon-corner-down-right:before {
  content: '\e950';
}
.icon-corner-left-down:before {
  content: '\e951';
}
.icon-corner-left-up:before {
  content: '\e952';
}
.icon-corner-right-down:before {
  content: '\e953';
}
.icon-corner-right-up:before {
  content: '\e954';
}
.icon-corner-up-left:before {
  content: '\e955';
}
.icon-corner-up-right:before {
  content: '\e956';
}
.icon-cpu:before {
  content: '\e957';
}
.icon-credit-card2:before {
  content: '\e958';
}
.icon-crop2:before {
  content: '\e959';
}
.icon-crosshair:before {
  content: '\e95a';
}
.icon-database2:before {
  content: '\e95b';
}
.icon-delete:before {
  content: '\e95c';
}
.icon-disc:before {
  content: '\e95d';
}
.icon-dollar-sign:before {
  content: '\e95e';
}
.icon-download4:before {
  content: '\e95f';
}
.icon-download-cloud:before {
  content: '\e960';
}
.icon-droplet1:before {
  content: '\e961';
}
.icon-edit1:before {
  content: '\e962';
}
.icon-edit-2:before {
  content: '\e963';
}
.icon-edit-3:before {
  content: '\e964';
}
.icon-external-link1:before {
  content: '\e965';
}
.icon-eye2:before {
  content: '\e966';
}
.icon-eye-off:before {
  content: '\e967';
}
.icon-facebook3:before {
  content: '\e968';
}
.icon-fast-forward1:before {
  content: '\e969';
}
.icon-feather:before {
  content: '\e96a';
}
.icon-figma:before {
  content: '\e96b';
}
.icon-file1:before {
  content: '\e96c';
}
.icon-file-minus:before {
  content: '\e96d';
}
.icon-file-plus:before {
  content: '\e96e';
}
.icon-file-text3:before {
  content: '\e96f';
}
.icon-film2:before {
  content: '\e970';
}
.icon-filter2:before {
  content: '\e971';
}
.icon-flag2:before {
  content: '\e972';
}
.icon-folder2:before {
  content: '\e973';
}
.icon-folder-minus1:before {
  content: '\e974';
}
.icon-folder-plus1:before {
  content: '\e975';
}
.icon-framer:before {
  content: '\e976';
}
.icon-frown:before {
  content: '\e977';
}
.icon-gift2:before {
  content: '\e978';
}
.icon-git-branch:before {
  content: '\e979';
}
.icon-git-commit:before {
  content: '\e97a';
}
.icon-git-merge:before {
  content: '\e97b';
}
.icon-git-pull-request:before {
  content: '\e97c';
}
.icon-github2:before {
  content: '\e97d';
}
.icon-gitlab1:before {
  content: '\e97e';
}
.icon-globe1:before {
  content: '\e97f';
}
.icon-grid:before {
  content: '\e980';
}
.icon-hard-drive:before {
  content: '\e981';
}
.icon-hash:before {
  content: '\e982';
}
.icon-headphones2:before {
  content: '\e983';
}
.icon-heart2:before {
  content: '\e984';
}
.icon-help-circle:before {
  content: '\e985';
}
.icon-hexagon:before {
  content: '\e986';
}
.icon-home4:before {
  content: '\e987';
}
.icon-image2:before {
  content: '\e988';
}
.icon-inbox1:before {
  content: '\e989';
}
.icon-info2:before {
  content: '\e98a';
}
.icon-instagram2:before {
  content: '\e98b';
}
.icon-italic2:before {
  content: '\e98c';
}
.icon-key3:before {
  content: '\e98d';
}
.icon-layers:before {
  content: '\e98e';
}
.icon-layout:before {
  content: '\e98f';
}
.icon-life-buoy1:before {
  content: '\e990';
}
.icon-link2:before {
  content: '\e991';
}
.icon-link-2:before {
  content: '\e992';
}
.icon-linkedin3:before {
  content: '\e993';
}
.icon-list3:before {
  content: '\e994';
}
.icon-loader:before {
  content: '\e995';
}
.icon-lock2:before {
  content: '\e996';
}
.icon-log-in:before {
  content: '\e997';
}
.icon-log-out:before {
  content: '\e998';
}
.icon-mail1:before {
  content: '\e999';
}
.icon-map3:before {
  content: '\e99a';
}
.icon-map-pin1:before {
  content: '\e99b';
}
.icon-maximize:before {
  content: '\e99c';
}
.icon-maximize-2:before {
  content: '\e99d';
}
.icon-meh:before {
  content: '\e99e';
}
.icon-menu1:before {
  content: '\e99f';
}
.icon-message-circle:before {
  content: '\e9a0';
}
.icon-message-square:before {
  content: '\e9a1';
}
.icon-mic1:before {
  content: '\e9a2';
}
.icon-mic-off:before {
  content: '\e9a3';
}
.icon-minimize:before {
  content: '\e9a4';
}
.icon-minimize-2:before {
  content: '\e9a5';
}
.icon-minus2:before {
  content: '\e9a6';
}
.icon-minus-circle1:before {
  content: '\e9a7';
}
.icon-minus-square1:before {
  content: '\e9a8';
}
.icon-monitor:before {
  content: '\e9a9';
}
.icon-moon:before {
  content: '\e9aa';
}
.icon-more-horizontal:before {
  content: '\e9ab';
}
.icon-more-vertical:before {
  content: '\e9ac';
}
.icon-mouse-pointer1:before {
  content: '\e9ad';
}
.icon-move:before {
  content: '\e9ae';
}
.icon-music2:before {
  content: '\e9af';
}
.icon-navigation:before {
  content: '\e9b0';
}
.icon-navigation-2:before {
  content: '\e9b1';
}
.icon-octagon:before {
  content: '\e9b2';
}
.icon-package:before {
  content: '\e9b3';
}
.icon-paperclip1:before {
  content: '\e9b4';
}
.icon-pause3:before {
  content: '\e9b5';
}
.icon-pause-circle1:before {
  content: '\e9b6';
}
.icon-pen-tool:before {
  content: '\e9b7';
}
.icon-percent1:before {
  content: '\e9b8';
}
.icon-phone2:before {
  content: '\e9b9';
}
.icon-phone-call:before {
  content: '\e9ba';
}
.icon-phone-forwarded:before {
  content: '\e9bb';
}
.icon-phone-incoming:before {
  content: '\e9bc';
}
.icon-phone-missed:before {
  content: '\e9bd';
}
.icon-phone-off:before {
  content: '\e9be';
}
.icon-phone-outgoing:before {
  content: '\e9bf';
}
.icon-pie-chart2:before {
  content: '\e9c0';
}
.icon-play4:before {
  content: '\e9c1';
}
.icon-play-circle1:before {
  content: '\e9c2';
}
.icon-plus2:before {
  content: '\e9c3';
}
.icon-plus-circle1:before {
  content: '\e9c4';
}
.icon-plus-square1:before {
  content: '\e9c5';
}
.icon-pocket:before {
  content: '\e9c6';
}
.icon-power1:before {
  content: '\e9c7';
}
.icon-printer1:before {
  content: '\e9c8';
}
.icon-radio:before {
  content: '\e9c9';
}
.icon-refresh-ccw:before {
  content: '\e9ca';
}
.icon-refresh-cw:before {
  content: '\e9cb';
}
.icon-repeat1:before {
  content: '\e9cc';
}
.icon-rewind:before {
  content: '\e9cd';
}
.icon-rotate-ccw:before {
  content: '\e9ce';
}
.icon-rotate-cw:before {
  content: '\e9cf';
}
.icon-rss3:before {
  content: '\e9d0';
}
.icon-save1:before {
  content: '\e9d1';
}
.icon-scissors2:before {
  content: '\e9d2';
}
.icon-search2:before {
  content: '\e9d3';
}
.icon-send1:before {
  content: '\e9d4';
}
.icon-server1:before {
  content: '\e9d5';
}
.icon-settings:before {
  content: '\e9d6';
}
.icon-share3:before {
  content: '\e9d7';
}
.icon-share-2:before {
  content: '\e9d8';
}
.icon-shield2:before {
  content: '\e9d9';
}
.icon-shield-off:before {
  content: '\e9da';
}
.icon-shopping-bag1:before {
  content: '\e9db';
}
.icon-shopping-cart1:before {
  content: '\e9dc';
}
.icon-shuffle1:before {
  content: '\e9dd';
}
.icon-sidebar:before {
  content: '\e9de';
}
.icon-skip-back:before {
  content: '\e9df';
}
.icon-skip-forward:before {
  content: '\e9e0';
}
.icon-slack1:before {
  content: '\e9e1';
}
.icon-slash:before {
  content: '\e9e2';
}
.icon-sliders1:before {
  content: '\e9e3';
}
.icon-smartphone:before {
  content: '\e9e4';
}
.icon-smile1:before {
  content: '\e9e5';
}
.icon-speaker:before {
  content: '\e9e6';
}
.icon-square1:before {
  content: '\e9e7';
}
.icon-star1:before {
  content: '\e9e8';
}
.icon-stop-circle1:before {
  content: '\e9e9';
}
.icon-sun1:before {
  content: '\e9ea';
}
.icon-sunrise:before {
  content: '\e9eb';
}
.icon-sunset:before {
  content: '\e9ec';
}
.icon-tablet2:before {
  content: '\e9ed';
}
.icon-tag1:before {
  content: '\e9ee';
}
.icon-target1:before {
  content: '\e9ef';
}
.icon-terminal2:before {
  content: '\e9f0';
}
.icon-thermometer1:before {
  content: '\e9f1';
}
.icon-thumbs-down1:before {
  content: '\e9f2';
}
.icon-thumbs-up1:before {
  content: '\e9f3';
}
.icon-toggle-left1:before {
  content: '\e9f4';
}
.icon-toggle-right1:before {
  content: '\e9f5';
}
.icon-tool:before {
  content: '\e9f6';
}
.icon-trash1:before {
  content: '\e9f7';
}
.icon-trash-2:before {
  content: '\e9f8';
}
.icon-trello2:before {
  content: '\e9f9';
}
.icon-trending-down:before {
  content: '\e9fa';
}
.icon-trending-up:before {
  content: '\e9fb';
}
.icon-triangle:before {
  content: '\e9fc';
}
.icon-truck2:before {
  content: '\e9fd';
}
.icon-tv2:before {
  content: '\e9fe';
}
.icon-twitch2:before {
  content: '\e9ff';
}
.icon-twitter2:before {
  content: '\ea00';
}
.icon-type:before {
  content: '\ea01';
}
.icon-umbrella1:before {
  content: '\ea02';
}
.icon-underline2:before {
  content: '\ea03';
}
.icon-unlock1:before {
  content: '\ea04';
}
.icon-upload4:before {
  content: '\ea05';
}
.icon-upload-cloud:before {
  content: '\ea06';
}
.icon-user2:before {
  content: '\ea07';
}
.icon-user-check1:before {
  content: '\ea08';
}
.icon-user-minus1:before {
  content: '\ea09';
}
.icon-user-plus2:before {
  content: '\ea0a';
}
.icon-user-x:before {
  content: '\ea0b';
}
.icon-users2:before {
  content: '\ea0c';
}
.icon-video:before {
  content: '\ea0d';
}
.icon-video-off:before {
  content: '\ea0e';
}
.icon-voicemail:before {
  content: '\ea0f';
}
.icon-volume:before {
  content: '\ea10';
}
.icon-volume-1:before {
  content: '\ea11';
}
.icon-volume-2:before {
  content: '\ea12';
}
.icon-volume-x:before {
  content: '\ea13';
}
.icon-watch:before {
  content: '\ea14';
}
.icon-wifi1:before {
  content: '\ea15';
}
.icon-wifi-off:before {
  content: '\ea16';
}
.icon-wind:before {
  content: '\ea17';
}
.icon-x:before {
  content: '\ea18';
}
.icon-x-circle:before {
  content: '\ea19';
}
.icon-x-octagon:before {
  content: '\ea1a';
}
.icon-x-square:before {
  content: '\ea1b';
}
.icon-youtube3:before {
  content: '\ea1c';
}
.icon-zap:before {
  content: '\ea1d';
}
.icon-zap-off:before {
  content: '\ea1e';
}
.icon-zoom-in1:before {
  content: '\ea1f';
}
.icon-zoom-out1:before {
  content: '\ea20';
}
.icon-home1:before {
  content: '\ea21';
}
.icon-home2:before {
  content: '\ea22';
}
.icon-home3:before {
  content: '\ea23';
}
.icon-office:before {
  content: '\ea24';
}
.icon-newspaper:before {
  content: '\ea25';
}
.icon-pencil1:before {
  content: '\ea26';
}
.icon-pencil2:before {
  content: '\ea27';
}
.icon-quill:before {
  content: '\ea28';
}
.icon-pen:before {
  content: '\ea29';
}
.icon-blog:before {
  content: '\ea2a';
}
.icon-eyedropper1:before {
  content: '\ea2b';
}
.icon-droplet:before {
  content: '\ea2c';
}
.icon-paint-format:before {
  content: '\ea2d';
}
.icon-image1:before {
  content: '\ea2e';
}
.icon-images:before {
  content: '\ea2f';
}
.icon-camera1:before {
  content: '\ea30';
}
.icon-headphones1:before {
  content: '\ea31';
}
.icon-music1:before {
  content: '\ea32';
}
.icon-play1:before {
  content: '\ea33';
}
.icon-film1:before {
  content: '\ea34';
}
.icon-video-camera1:before {
  content: '\ea35';
}
.icon-dice:before {
  content: '\ea36';
}
.icon-pacman:before {
  content: '\ea37';
}
.icon-spades:before {
  content: '\ea38';
}
.icon-clubs:before {
  content: '\ea39';
}
.icon-diamonds:before {
  content: '\ea3a';
}
.icon-bullhorn1:before {
  content: '\ea3b';
}
.icon-connection:before {
  content: '\ea3c';
}
.icon-podcast1:before {
  content: '\ea3d';
}
.icon-feed1:before {
  content: '\ea3e';
}
.icon-mic:before {
  content: '\ea3f';
}
.icon-book1:before {
  content: '\ea40';
}
.icon-books:before {
  content: '\ea41';
}
.icon-library:before {
  content: '\ea42';
}
.icon-file-text1:before {
  content: '\ea43';
}
.icon-profile:before {
  content: '\ea44';
}
.icon-file-empty:before {
  content: '\ea45';
}
.icon-files-empty:before {
  content: '\ea46';
}
.icon-file-text2:before {
  content: '\ea47';
}
.icon-file-picture:before {
  content: '\ea48';
}
.icon-file-music:before {
  content: '\ea49';
}
.icon-file-play:before {
  content: '\ea4a';
}
.icon-file-video:before {
  content: '\ea4b';
}
.icon-file-zip:before {
  content: '\ea4c';
}
.icon-copy1:before {
  content: '\ea4d';
}
.icon-paste1:before {
  content: '\ea4e';
}
.icon-stack:before {
  content: '\ea4f';
}
.icon-folder1:before {
  content: '\ea50';
}
.icon-folder-open1:before {
  content: '\ea51';
}
.icon-folder-plus:before {
  content: '\ea52';
}
.icon-folder-minus:before {
  content: '\ea53';
}
.icon-folder-download:before {
  content: '\ea54';
}
.icon-folder-upload:before {
  content: '\ea55';
}
.icon-price-tag:before {
  content: '\ea56';
}
.icon-price-tags:before {
  content: '\ea57';
}
.icon-barcode1:before {
  content: '\ea58';
}
.icon-qrcode1:before {
  content: '\ea59';
}
.icon-ticket1:before {
  content: '\ea5a';
}
.icon-cart:before {
  content: '\ea5b';
}
.icon-coin-dollar:before {
  content: '\ea5c';
}
.icon-coin-euro:before {
  content: '\ea5d';
}
.icon-coin-pound:before {
  content: '\ea5e';
}
.icon-coin-yen:before {
  content: '\ea5f';
}
.icon-credit-card1:before {
  content: '\ea60';
}
.icon-calculator1:before {
  content: '\ea61';
}
.icon-lifebuoy:before {
  content: '\ea62';
}
.icon-phone1:before {
  content: '\ea63';
}
.icon-phone-hang-up:before {
  content: '\ea64';
}
.icon-address-book1:before {
  content: '\ea65';
}
.icon-envelop:before {
  content: '\ea66';
}
.icon-pushpin:before {
  content: '\ea67';
}
.icon-compass1:before {
  content: '\ea6a';
}
.icon-compass2:before {
  content: '\ea6b';
}
.icon-map1:before {
  content: '\ea6c';
}
.icon-map2:before {
  content: '\ea6d';
}
.icon-history1:before {
  content: '\ea6e';
}
.icon-clock2:before {
  content: '\ea6f';
}
.icon-clock21:before {
  content: '\ea70';
}
.icon-alarm:before {
  content: '\ea71';
}
.icon-bell1:before {
  content: '\ea72';
}
.icon-stopwatch:before {
  content: '\ea73';
}
.icon-calendar1:before {
  content: '\ea74';
}
.icon-printer:before {
  content: '\ea75';
}
.icon-keyboard:before {
  content: '\ea76';
}
.icon-display:before {
  content: '\ea77';
}
.icon-laptop1:before {
  content: '\ea78';
}
.icon-mobile1:before {
  content: '\ea79';
}
.icon-mobile2:before {
  content: '\ea7a';
}
.icon-tablet1:before {
  content: '\ea7b';
}
.icon-tv1:before {
  content: '\ea7c';
}
.icon-drawer:before {
  content: '\ea7d';
}
.icon-drawer2:before {
  content: '\ea7e';
}
.icon-box-add:before {
  content: '\ea7f';
}
.icon-box-remove:before {
  content: '\ea80';
}
.icon-download1:before {
  content: '\ea81';
}
.icon-upload1:before {
  content: '\ea82';
}
.icon-floppy-disk:before {
  content: '\ea83';
}
.icon-drive:before {
  content: '\ea84';
}
.icon-database1:before {
  content: '\ea85';
}
.icon-undo1:before {
  content: '\ea86';
}
.icon-redo:before {
  content: '\ea87';
}
.icon-undo2:before {
  content: '\ea88';
}
.icon-redo2:before {
  content: '\ea89';
}
.icon-forward1:before {
  content: '\ea8a';
}
.icon-reply1:before {
  content: '\ea8b';
}
.icon-bubble:before {
  content: '\ea8c';
}
.icon-bubbles:before {
  content: '\ea8d';
}
.icon-bubbles2:before {
  content: '\ea8e';
}
.icon-bubble2:before {
  content: '\ea8f';
}
.icon-bubbles3:before {
  content: '\ea90';
}
.icon-bubbles4:before {
  content: '\ea91';
}
.icon-user1:before {
  content: '\ea92';
}
.icon-users1:before {
  content: '\ea93';
}
.icon-user-plus1:before {
  content: '\ea94';
}
.icon-user-minus:before {
  content: '\ea95';
}
.icon-user-check:before {
  content: '\ea96';
}
.icon-user-tie:before {
  content: '\ea97';
}
.icon-quotes-left:before {
  content: '\ea98';
}
.icon-quotes-right:before {
  content: '\ea99';
}
.icon-hour-glass:before {
  content: '\ea9a';
}
.icon-spinner1:before {
  content: '\ea9b';
}
.icon-spinner2:before {
  content: '\ea9c';
}
.icon-spinner3:before {
  content: '\ea9d';
}
.icon-spinner4:before {
  content: '\ea9e';
}
.icon-spinner5:before {
  content: '\ea9f';
}
.icon-spinner6:before {
  content: '\eaa0';
}
.icon-spinner7:before {
  content: '\eaa1';
}
.icon-spinner8:before {
  content: '\eaa2';
}
.icon-spinner9:before {
  content: '\eaa3';
}
.icon-spinner10:before {
  content: '\eaa4';
}
.icon-spinner11:before {
  content: '\eaa5';
}
.icon-binoculars1:before {
  content: '\eaa6';
}
.icon-search1:before {
  content: '\eaa7';
}
.icon-zoom-in:before {
  content: '\eaa8';
}
.icon-zoom-out:before {
  content: '\eaa9';
}
.icon-enlarge:before {
  content: '\eaaa';
}
.icon-shrink:before {
  content: '\eaab';
}
.icon-enlarge2:before {
  content: '\eaac';
}
.icon-shrink2:before {
  content: '\eaad';
}
.icon-key1:before {
  content: '\eaae';
}
.icon-key2:before {
  content: '\eaaf';
}
.icon-lock1:before {
  content: '\eab0';
}
.icon-unlocked:before {
  content: '\eab1';
}
.icon-wrench1:before {
  content: '\eab2';
}
.icon-equalizer:before {
  content: '\eab3';
}
.icon-equalizer2:before {
  content: '\eab4';
}
.icon-cog1:before {
  content: '\eab5';
}
.icon-cogs1:before {
  content: '\eab6';
}
.icon-hammer:before {
  content: '\eab7';
}
.icon-magic-wand:before {
  content: '\eab8';
}
.icon-aid-kit:before {
  content: '\eab9';
}
.icon-bug1:before {
  content: '\eaba';
}
.icon-pie-chart1:before {
  content: '\eabb';
}
.icon-stats-dots:before {
  content: '\eabc';
}
.icon-stats-bars:before {
  content: '\eabd';
}
.icon-stats-bars2:before {
  content: '\eabe';
}
.icon-trophy1:before {
  content: '\eabf';
}
.icon-gift1:before {
  content: '\eac0';
}
.icon-glass1:before {
  content: '\eac1';
}
.icon-glass2:before {
  content: '\eac2';
}
.icon-mug:before {
  content: '\eac3';
}
.icon-spoon-knife:before {
  content: '\eac4';
}
.icon-leaf1:before {
  content: '\eac5';
}
.icon-rocket1:before {
  content: '\eac6';
}
.icon-meter:before {
  content: '\eac7';
}
.icon-meter2:before {
  content: '\eac8';
}
.icon-hammer2:before {
  content: '\eac9';
}
.icon-fire1:before {
  content: '\eaca';
}
.icon-lab:before {
  content: '\eacb';
}
.icon-magnet1:before {
  content: '\eacc';
}
.icon-bin:before {
  content: '\eacd';
}
.icon-bin2:before {
  content: '\eace';
}
.icon-briefcase1:before {
  content: '\eacf';
}
.icon-airplane:before {
  content: '\ead0';
}
.icon-truck1:before {
  content: '\ead1';
}
.icon-road1:before {
  content: '\ead2';
}
.icon-accessibility:before {
  content: '\ead3';
}
.icon-target:before {
  content: '\ead4';
}
.icon-shield1:before {
  content: '\ead5';
}
.icon-power:before {
  content: '\ead6';
}
.icon-switch:before {
  content: '\ead7';
}
.icon-power-cord:before {
  content: '\ead8';
}
.icon-clipboard1:before {
  content: '\ead9';
}
.icon-list-numbered:before {
  content: '\eada';
}
.icon-list1:before {
  content: '\eadb';
}
.icon-list2:before {
  content: '\eadc';
}
.icon-tree1:before {
  content: '\eadd';
}
.icon-menu:before {
  content: '\eade';
}
.icon-menu2:before {
  content: '\eadf';
}
.icon-menu3:before {
  content: '\eae0';
}
.icon-menu4:before {
  content: '\eae1';
}
.icon-cloud1:before {
  content: '\eae2';
}
.icon-cloud-download1:before {
  content: '\eae3';
}
.icon-cloud-upload1:before {
  content: '\eae4';
}
.icon-cloud-check:before {
  content: '\eae5';
}
.icon-download2:before {
  content: '\eae6';
}
.icon-upload2:before {
  content: '\eae7';
}
.icon-download3:before {
  content: '\eae8';
}
.icon-upload3:before {
  content: '\eae9';
}
.icon-sphere:before {
  content: '\eaea';
}
.icon-earth:before {
  content: '\eaeb';
}
.icon-link1:before {
  content: '\eaec';
}
.icon-flag1:before {
  content: '\eaed';
}
.icon-attachment:before {
  content: '\eaee';
}
.icon-eye1:before {
  content: '\eaef';
}
.icon-eye-plus:before {
  content: '\eaf0';
}
.icon-eye-minus:before {
  content: '\eaf1';
}
.icon-eye-blocked:before {
  content: '\eaf2';
}
.icon-bookmark1:before {
  content: '\eaf3';
}
.icon-bookmarks:before {
  content: '\eaf4';
}
.icon-sun:before {
  content: '\eaf5';
}
.icon-contrast:before {
  content: '\eaf6';
}
.icon-brightness-contrast:before {
  content: '\eaf7';
}
.icon-star-empty:before {
  content: '\eaf8';
}
.icon-star-half1:before {
  content: '\eaf9';
}
.icon-star-full:before {
  content: '\eafa';
}
.icon-heart1:before {
  content: '\eafb';
}
.icon-heart-broken:before {
  content: '\eafc';
}
.icon-man:before {
  content: '\eafd';
}
.icon-woman:before {
  content: '\eafe';
}
.icon-man-woman:before {
  content: '\eaff';
}
.icon-happy:before {
  content: '\eb00';
}
.icon-happy2:before {
  content: '\eb01';
}
.icon-smile:before {
  content: '\eb02';
}
.icon-smile2:before {
  content: '\eb03';
}
.icon-tongue:before {
  content: '\eb04';
}
.icon-tongue2:before {
  content: '\eb05';
}
.icon-sad:before {
  content: '\eb06';
}
.icon-sad2:before {
  content: '\eb07';
}
.icon-wink:before {
  content: '\eb08';
}
.icon-wink2:before {
  content: '\eb09';
}
.icon-grin:before {
  content: '\eb0a';
}
.icon-grin2:before {
  content: '\eb0b';
}
.icon-cool:before {
  content: '\eb0c';
}
.icon-cool2:before {
  content: '\eb0d';
}
.icon-angry:before {
  content: '\eb0e';
}
.icon-angry2:before {
  content: '\eb0f';
}
.icon-evil:before {
  content: '\eb10';
}
.icon-evil2:before {
  content: '\eb11';
}
.icon-shocked:before {
  content: '\eb12';
}
.icon-shocked2:before {
  content: '\eb13';
}
.icon-baffled:before {
  content: '\eb14';
}
.icon-baffled2:before {
  content: '\eb15';
}
.icon-confused:before {
  content: '\eb16';
}
.icon-confused2:before {
  content: '\eb17';
}
.icon-neutral:before {
  content: '\eb18';
}
.icon-neutral2:before {
  content: '\eb19';
}
.icon-hipster:before {
  content: '\eb1a';
}
.icon-hipster2:before {
  content: '\eb1b';
}
.icon-wondering:before {
  content: '\eb1c';
}
.icon-wondering2:before {
  content: '\eb1d';
}
.icon-sleepy:before {
  content: '\eb1e';
}
.icon-sleepy2:before {
  content: '\eb1f';
}
.icon-frustrated:before {
  content: '\eb20';
}
.icon-frustrated2:before {
  content: '\eb21';
}
.icon-crying:before {
  content: '\eb22';
}
.icon-crying2:before {
  content: '\eb23';
}
.icon-point-up:before {
  content: '\eb24';
}
.icon-point-right:before {
  content: '\eb25';
}
.icon-point-down:before {
  content: '\eb26';
}
.icon-point-left:before {
  content: '\eb27';
}
.icon-warning1:before {
  content: '\eb28';
}
.icon-notification:before {
  content: '\eb29';
}
.icon-question1:before {
  content: '\eb2a';
}
.icon-plus1:before {
  content: '\eb2b';
}
.icon-minus1:before {
  content: '\eb2c';
}
.icon-info1:before {
  content: '\eb2d';
}
.icon-cancel-circle:before {
  content: '\eb2e';
}
.icon-blocked:before {
  content: '\eb2f';
}
.icon-cross:before {
  content: '\eb30';
}
.icon-checkmark:before {
  content: '\eb31';
}
.icon-checkmark2:before {
  content: '\eb32';
}
.icon-spell-check:before {
  content: '\eb33';
}
.icon-enter:before {
  content: '\eb34';
}
.icon-exit:before {
  content: '\eb35';
}
.icon-play2:before {
  content: '\eb36';
}
.icon-pause1:before {
  content: '\eb37';
}
.icon-stop1:before {
  content: '\eb38';
}
.icon-previous:before {
  content: '\eb39';
}
.icon-next:before {
  content: '\eb3a';
}
.icon-backward1:before {
  content: '\eb3b';
}
.icon-forward2:before {
  content: '\eb3c';
}
.icon-play3:before {
  content: '\eb3d';
}
.icon-pause2:before {
  content: '\eb3e';
}
.icon-stop2:before {
  content: '\eb3f';
}
.icon-backward2:before {
  content: '\eb40';
}
.icon-forward3:before {
  content: '\eb41';
}
.icon-first:before {
  content: '\eb42';
}
.icon-last:before {
  content: '\eb43';
}
.icon-previous2:before {
  content: '\eb44';
}
.icon-next2:before {
  content: '\eb45';
}
.icon-eject1:before {
  content: '\eb46';
}
.icon-volume-high:before {
  content: '\eb47';
}
.icon-volume-medium:before {
  content: '\eb48';
}
.icon-volume-low:before {
  content: '\eb49';
}
.icon-volume-mute:before {
  content: '\eb4a';
}
.icon-volume-mute2:before {
  content: '\eb4b';
}
.icon-volume-increase:before {
  content: '\eb4c';
}
.icon-volume-decrease:before {
  content: '\eb4d';
}
.icon-loop:before {
  content: '\eb4e';
}
.icon-loop2:before {
  content: '\eb4f';
}
.icon-infinite:before {
  content: '\eb50';
}
.icon-shuffle:before {
  content: '\eb51';
}
.icon-arrow-up-left:before {
  content: '\eb52';
}
.icon-arrow-up1:before {
  content: '\eb53';
}
.icon-arrow-up-right:before {
  content: '\eb54';
}
.icon-arrow-right1:before {
  content: '\eb55';
}
.icon-arrow-down-right:before {
  content: '\eb56';
}
.icon-arrow-down1:before {
  content: '\eb57';
}
.icon-arrow-down-left:before {
  content: '\eb58';
}
.icon-arrow-left1:before {
  content: '\eb59';
}
.icon-arrow-up-left2:before {
  content: '\eb5a';
}
.icon-arrow-up2:before {
  content: '\eb5b';
}
.icon-arrow-up-right2:before {
  content: '\eb5c';
}
.icon-arrow-right2:before {
  content: '\eb5d';
}
.icon-arrow-down-right2:before {
  content: '\eb5e';
}
.icon-arrow-down2:before {
  content: '\eb5f';
}
.icon-arrow-down-left2:before {
  content: '\eb60';
}
.icon-arrow-left2:before {
  content: '\eb61';
}
.icon-circle-up:before {
  content: '\eb62';
}
.icon-circle-right:before {
  content: '\eb63';
}
.icon-circle-down:before {
  content: '\eb64';
}
.icon-circle-left:before {
  content: '\eb65';
}
.icon-tab:before {
  content: '\eb66';
}
.icon-move-up:before {
  content: '\eb67';
}
.icon-move-down:before {
  content: '\eb68';
}
.icon-sort-alpha-asc1:before {
  content: '\eb69';
}
.icon-sort-alpha-desc1:before {
  content: '\eb6a';
}
.icon-sort-numeric-asc1:before {
  content: '\eb6b';
}
.icon-sort-numberic-desc:before {
  content: '\eb6c';
}
.icon-sort-amount-asc1:before {
  content: '\eb6d';
}
.icon-sort-amount-desc1:before {
  content: '\eb6e';
}
.icon-command:before {
  content: '\eb6f';
}
.icon-shift1:before {
  content: '\eb70';
}
.icon-ctrl:before {
  content: '\eb71';
}
.icon-opt:before {
  content: '\eb72';
}
.icon-checkbox-checked:before {
  content: '\eb73';
}
.icon-checkbox-unchecked:before {
  content: '\eb74';
}
.icon-radio-checked:before {
  content: '\eb75';
}
.icon-radio-checked2:before {
  content: '\eb76';
}
.icon-radio-unchecked:before {
  content: '\eb77';
}
.icon-crop1:before {
  content: '\eb78';
}
.icon-make-group:before {
  content: '\eb79';
}
.icon-ungroup:before {
  content: '\eb7a';
}
.icon-scissors1:before {
  content: '\eb7b';
}
.icon-filter1:before {
  content: '\eb7c';
}
.icon-font1:before {
  content: '\eb7d';
}
.icon-ligature:before {
  content: '\eb7e';
}
.icon-ligature2:before {
  content: '\eb7f';
}
.icon-text-height1:before {
  content: '\eb80';
}
.icon-text-width1:before {
  content: '\eb81';
}
.icon-font-size:before {
  content: '\eb82';
}
.icon-bold1:before {
  content: '\eb83';
}
.icon-underline1:before {
  content: '\eb84';
}
.icon-italic1:before {
  content: '\eb85';
}
.icon-strikethrough1:before {
  content: '\eb86';
}
.icon-omega:before {
  content: '\eb87';
}
.icon-sigma:before {
  content: '\eb88';
}
.icon-page-break:before {
  content: '\eb89';
}
.icon-superscript1:before {
  content: '\eb8a';
}
.icon-subscript1:before {
  content: '\eb8b';
}
.icon-superscript2:before {
  content: '\eb8c';
}
.icon-subscript2:before {
  content: '\eb8d';
}
.icon-text-color:before {
  content: '\eb8e';
}
.icon-pagebreak:before {
  content: '\eb8f';
}
.icon-clear-formatting:before {
  content: '\eb90';
}
.icon-table1:before {
  content: '\eb91';
}
.icon-table2:before {
  content: '\eb92';
}
.icon-insert-template:before {
  content: '\eb93';
}
.icon-pilcrow:before {
  content: '\eb94';
}
.icon-ltr:before {
  content: '\eb95';
}
.icon-rtl:before {
  content: '\eb96';
}
.icon-section:before {
  content: '\eb97';
}
.icon-paragraph-left:before {
  content: '\eb98';
}
.icon-paragraph-center:before {
  content: '\eb99';
}
.icon-paragraph-right:before {
  content: '\eb9a';
}
.icon-paragraph-justify:before {
  content: '\eb9b';
}
.icon-indent-increase:before {
  content: '\eb9c';
}
.icon-indent-decrease:before {
  content: '\eb9d';
}
.icon-share1:before {
  content: '\eb9e';
}
.icon-new-tab:before {
  content: '\eb9f';
}
.icon-embed:before {
  content: '\eba0';
}
.icon-embed2:before {
  content: '\eba1';
}
.icon-terminal1:before {
  content: '\eba2';
}
.icon-share2:before {
  content: '\eba3';
}
.icon-mail:before {
  content: '\eba4';
}
.icon-mail2:before {
  content: '\eba5';
}
.icon-mail3:before {
  content: '\eba6';
}
.icon-mail4:before {
  content: '\eba7';
}
.icon-amazon1:before {
  content: '\eba8';
}
.icon-google1:before {
  content: '\eba9';
}
.icon-google2:before {
  content: '\ebaa';
}
.icon-google3:before {
  content: '\ebab';
}
.icon-google-plus1:before {
  content: '\ebac';
}
.icon-google-plus2:before {
  content: '\ebad';
}
.icon-google-plus3:before {
  content: '\ebae';
}
.icon-hangouts:before {
  content: '\ebaf';
}
.icon-google-drive:before {
  content: '\ebb0';
}
.icon-facebook1:before {
  content: '\ebb1';
}
.icon-facebook2:before {
  content: '\ebb2';
}
.icon-instagram1:before {
  content: '\ebb3';
}
.icon-whatsapp1:before {
  content: '\ebb4';
}
.icon-spotify1:before {
  content: '\ebb5';
}
.icon-telegram1:before {
  content: '\ebb6';
}
.icon-twitter1:before {
  content: '\ebb7';
}
.icon-vine1:before {
  content: '\ebb8';
}
.icon-vk1:before {
  content: '\ebb9';
}
.icon-renren1:before {
  content: '\ebba';
}
.icon-sina-weibo:before {
  content: '\ebbb';
}
.icon-rss1:before {
  content: '\ebbc';
}
.icon-rss2:before {
  content: '\ebbd';
}
.icon-youtube1:before {
  content: '\ebbe';
}
.icon-youtube2:before {
  content: '\ebbf';
}
.icon-twitch1:before {
  content: '\ebc0';
}
.icon-vimeo1:before {
  content: '\ebc1';
}
.icon-vimeo2:before {
  content: '\ebc2';
}
.icon-lanyrd:before {
  content: '\ebc3';
}
.icon-flickr1:before {
  content: '\ebc4';
}
.icon-flickr2:before {
  content: '\ebc5';
}
.icon-flickr3:before {
  content: '\ebc6';
}
.icon-flickr4:before {
  content: '\ebc7';
}
.icon-dribbble1:before {
  content: '\ebc8';
}
.icon-behance1:before {
  content: '\ebc9';
}
.icon-behance2:before {
  content: '\ebca';
}
.icon-deviantart1:before {
  content: '\ebcb';
}
.icon-500px1:before {
  content: '\ebcc';
}
.icon-steam1:before {
  content: '\ebcd';
}
.icon-steam2:before {
  content: '\ebce';
}
.icon-dropbox1:before {
  content: '\ebcf';
}
.icon-onedrive:before {
  content: '\ebd0';
}
.icon-github1:before {
  content: '\ebd1';
}
.icon-npm:before {
  content: '\ebd2';
}
.icon-basecamp:before {
  content: '\ebd3';
}
.icon-trello1:before {
  content: '\ebd4';
}
.icon-wordpress1:before {
  content: '\ebd5';
}
.icon-joomla1:before {
  content: '\ebd6';
}
.icon-ello:before {
  content: '\ebd7';
}
.icon-blogger:before {
  content: '\ebd8';
}
.icon-blogger2:before {
  content: '\ebd9';
}
.icon-tumblr1:before {
  content: '\ebda';
}
.icon-tumblr2:before {
  content: '\ebdb';
}
.icon-yahoo1:before {
  content: '\ebdc';
}
.icon-yahoo2:before {
  content: '\ebdd';
}
.icon-tux:before {
  content: '\ebde';
}
.icon-appleinc:before {
  content: '\ebdf';
}
.icon-finder:before {
  content: '\ebe0';
}
.icon-android1:before {
  content: '\ebe1';
}
.icon-windows1:before {
  content: '\ebe2';
}
.icon-windows8:before {
  content: '\ebe3';
}
.icon-soundcloud1:before {
  content: '\ebe4';
}
.icon-soundcloud2:before {
  content: '\ebe5';
}
.icon-skype1:before {
  content: '\ebe6';
}
.icon-reddit1:before {
  content: '\ebe7';
}
.icon-hackernews:before {
  content: '\ebe8';
}
.icon-wikipedia:before {
  content: '\ebe9';
}
.icon-linkedin1:before {
  content: '\ebea';
}
.icon-linkedin2:before {
  content: '\ebeb';
}
.icon-lastfm1:before {
  content: '\ebec';
}
.icon-lastfm2:before {
  content: '\ebed';
}
.icon-delicious1:before {
  content: '\ebee';
}
.icon-stumbleupon1:before {
  content: '\ebef';
}
.icon-stumbleupon2:before {
  content: '\ebf0';
}
.icon-stackoverflow:before {
  content: '\ebf1';
}
.icon-pinterest1:before {
  content: '\ebf2';
}
.icon-pinterest2:before {
  content: '\ebf3';
}
.icon-xing1:before {
  content: '\ebf4';
}
.icon-xing2:before {
  content: '\ebf5';
}
.icon-flattr:before {
  content: '\ebf6';
}
.icon-foursquare1:before {
  content: '\ebf7';
}
.icon-yelp1:before {
  content: '\ebf8';
}
.icon-paypal1:before {
  content: '\ebf9';
}
.icon-chrome1:before {
  content: '\ebfa';
}
.icon-firefox1:before {
  content: '\ebfb';
}
.icon-IE:before {
  content: '\ebfc';
}
.icon-edge1:before {
  content: '\ebfd';
}
.icon-safari1:before {
  content: '\ebfe';
}
.icon-opera1:before {
  content: '\ebff';
}
.icon-file-pdf:before {
  content: '\ec00';
}
.icon-file-openoffice:before {
  content: '\ec01';
}
.icon-file-word:before {
  content: '\ec02';
}
.icon-file-excel:before {
  content: '\ec03';
}
.icon-libreoffice:before {
  content: '\ec04';
}
.icon-html-five:before {
  content: '\ec05';
}
.icon-html-five2:before {
  content: '\ec06';
}
.icon-css31:before {
  content: '\ec07';
}
.icon-git1:before {
  content: '\ec08';
}
.icon-codepen1:before {
  content: '\ec09';
}
.icon-svg:before {
  content: '\ec0a';
}
.icon-IcoMoon:before {
  content: '\ec0b';
}
.icon-glass:before {
  content: '\f000';
}
.icon-music:before {
  content: '\f001';
}
.icon-search:before {
  content: '\f002';
}
.icon-envelope-o:before {
  content: '\f003';
}
.icon-heart:before {
  content: '\f004';
}
.icon-star:before {
  content: '\f005';
}
.icon-star-o:before {
  content: '\f006';
}
.icon-user:before {
  content: '\f007';
}
.icon-film:before {
  content: '\f008';
}
.icon-th-large:before {
  content: '\f009';
}
.icon-th:before {
  content: '\f00a';
}
.icon-th-list:before {
  content: '\f00b';
}
.icon-check:before {
  content: '\f00c';
}
.icon-close:before {
  content: '\f00d';
}
.icon-search-plus:before {
  content: '\f00e';
}
.icon-search-minus:before {
  content: '\f010';
}
.icon-power-off:before {
  content: '\f011';
}
.icon-signal:before {
  content: '\f012';
}
.icon-cog:before {
  content: '\f013';
}
.icon-trash-o:before {
  content: '\f014';
}
.icon-home:before {
  content: '\f015';
}
.icon-file-o:before {
  content: '\f016';
}
.icon-clock-o:before {
  content: '\f017';
}
.icon-road:before {
  content: '\f018';
}
.icon-download:before {
  content: '\f019';
}
.icon-arrow-circle-o-down:before {
  content: '\f01a';
}
.icon-arrow-circle-o-up:before {
  content: '\f01b';
}
.icon-inbox:before {
  content: '\f01c';
}
.icon-play-circle-o:before {
  content: '\f01d';
}
.icon-repeat:before {
  content: '\f01e';
}
.icon-refresh:before {
  content: '\f021';
}
.icon-list-alt:before {
  content: '\f022';
}
.icon-lock:before {
  content: '\f023';
}
.icon-flag:before {
  content: '\f024';
}
.icon-headphones:before {
  content: '\f025';
}
.icon-volume-off:before {
  content: '\f026';
}
.icon-volume-down:before {
  content: '\f027';
}
.icon-volume-up:before {
  content: '\f028';
}
.icon-qrcode:before {
  content: '\f029';
}
.icon-barcode:before {
  content: '\f02a';
}
.icon-tag:before {
  content: '\f02b';
}
.icon-tags:before {
  content: '\f02c';
}
.icon-book:before {
  content: '\f02d';
}
.icon-bookmark:before {
  content: '\f02e';
}
.icon-print:before {
  content: '\f02f';
}
.icon-camera:before {
  content: '\f030';
}
.icon-font:before {
  content: '\f031';
}
.icon-bold:before {
  content: '\f032';
}
.icon-italic:before {
  content: '\f033';
}
.icon-text-height:before {
  content: '\f034';
}
.icon-text-width:before {
  content: '\f035';
}
.icon-align-left:before {
  content: '\f036';
}
.icon-align-center:before {
  content: '\f037';
}
.icon-align-right:before {
  content: '\f038';
}
.icon-align-justify:before {
  content: '\f039';
}
.icon-list:before {
  content: '\f03a';
}
.icon-dedent:before {
  content: '\f03b';
}
.icon-indent:before {
  content: '\f03c';
}
.icon-video-camera:before {
  content: '\f03d';
}
.icon-image:before {
  content: '\f03e';
}
.icon-pencil:before {
  content: '\f040';
}
.icon-map-marker:before {
  content: '\f041';
}
.icon-adjust:before {
  content: '\f042';
}
.icon-tint:before {
  content: '\f043';
}
.icon-edit:before {
  content: '\f044';
}
.icon-share-square-o:before {
  content: '\f045';
}
.icon-check-square-o:before {
  content: '\f046';
}
.icon-arrows:before {
  content: '\f047';
}
.icon-step-backward:before {
  content: '\f048';
}
.icon-fast-backward:before {
  content: '\f049';
}
.icon-backward:before {
  content: '\f04a';
}
.icon-play:before {
  content: '\f04b';
}
.icon-pause:before {
  content: '\f04c';
}
.icon-stop:before {
  content: '\f04d';
}
.icon-forward:before {
  content: '\f04e';
}
.icon-fast-forward:before {
  content: '\f050';
}
.icon-step-forward:before {
  content: '\f051';
}
.icon-eject:before {
  content: '\f052';
}
.icon-chevron-left:before {
  content: '\f053';
}
.icon-chevron-right:before {
  content: '\f054';
}
.icon-plus-circle:before {
  content: '\f055';
}
.icon-minus-circle:before {
  content: '\f056';
}
.icon-times-circle:before {
  content: '\f057';
}
.icon-check-circle:before {
  content: '\f058';
}
.icon-question-circle:before {
  content: '\f059';
}
.icon-info-circle:before {
  content: '\f05a';
}
.icon-crosshairs:before {
  content: '\f05b';
}
.icon-times-circle-o:before {
  content: '\f05c';
}
.icon-check-circle-o:before {
  content: '\f05d';
}
.icon-ban:before {
  content: '\f05e';
}
.icon-arrow-left:before {
  content: '\f060';
}
.icon-arrow-right:before {
  content: '\f061';
}
.icon-arrow-up:before {
  content: '\f062';
}
.icon-arrow-down:before {
  content: '\f063';
}
.icon-mail-forward:before {
  content: '\f064';
}
.icon-expand:before {
  content: '\f065';
}
.icon-compress:before {
  content: '\f066';
}
.icon-plus:before {
  content: '\f067';
}
.icon-minus:before {
  content: '\f068';
}
.icon-asterisk:before {
  content: '\f069';
}
.icon-exclamation-circle:before {
  content: '\f06a';
}
.icon-gift:before {
  content: '\f06b';
}
.icon-leaf:before {
  content: '\f06c';
}
.icon-fire:before {
  content: '\f06d';
}
.icon-eye:before {
  content: '\f06e';
}
.icon-eye-slash:before {
  content: '\f070';
}
.icon-exclamation-triangle:before {
  content: '\f071';
}
.icon-plane:before {
  content: '\f072';
}
.icon-calendar:before {
  content: '\f073';
}
.icon-random:before {
  content: '\f074';
}
.icon-comment:before {
  content: '\f075';
}
.icon-magnet:before {
  content: '\f076';
}
.icon-chevron-up:before {
  content: '\f077';
}
.icon-chevron-down:before {
  content: '\f078';
}
.icon-retweet:before {
  content: '\f079';
}
.icon-shopping-cart:before {
  content: '\f07a';
}
.icon-folder:before {
  content: '\f07b';
}
.icon-folder-open:before {
  content: '\f07c';
}
.icon-arrows-v:before {
  content: '\f07d';
}
.icon-arrows-h:before {
  content: '\f07e';
}
.icon-bar-chart:before {
  content: '\f080';
}
.icon-twitter-square:before {
  content: '\f081';
}
.icon-facebook-square:before {
  content: '\f082';
}
.icon-camera-retro:before {
  content: '\f083';
}
.icon-key:before {
  content: '\f084';
}
.icon-cogs:before {
  content: '\f085';
}
.icon-comments:before {
  content: '\f086';
}
.icon-thumbs-o-up:before {
  content: '\f087';
}
.icon-thumbs-o-down:before {
  content: '\f088';
}
.icon-star-half:before {
  content: '\f089';
}
.icon-heart-o:before {
  content: '\f08a';
}
.icon-sign-out:before {
  content: '\f08b';
}
.icon-linkedin-square:before {
  content: '\f08c';
}
.icon-thumb-tack:before {
  content: '\f08d';
}
.icon-external-link:before {
  content: '\f08e';
}
.icon-sign-in:before {
  content: '\f090';
}
.icon-trophy:before {
  content: '\f091';
}
.icon-github-square:before {
  content: '\f092';
}
.icon-upload:before {
  content: '\f093';
}
.icon-lemon-o:before {
  content: '\f094';
}
.icon-phone:before {
  content: '\f095';
}
.icon-square-o:before {
  content: '\f096';
}
.icon-bookmark-o:before {
  content: '\f097';
}
.icon-phone-square:before {
  content: '\f098';
}
.icon-twitter:before {
  content: '\f099';
}
.icon-facebook:before {
  content: '\f09a';
}
.icon-github:before {
  content: '\f09b';
}
.icon-unlock:before {
  content: '\f09c';
}
.icon-credit-card:before {
  content: '\f09d';
}
.icon-feed:before {
  content: '\f09e';
}
.icon-hdd-o:before {
  content: '\f0a0';
}
.icon-bullhorn:before {
  content: '\f0a1';
}
.icon-bell-o:before {
  content: '\f0a2';
}
.icon-certificate:before {
  content: '\f0a3';
}
.icon-hand-o-right:before {
  content: '\f0a4';
}
.icon-hand-o-left:before {
  content: '\f0a5';
}
.icon-hand-o-up:before {
  content: '\f0a6';
}
.icon-hand-o-down:before {
  content: '\f0a7';
}
.icon-arrow-circle-left:before {
  content: '\f0a8';
}
.icon-arrow-circle-right:before {
  content: '\f0a9';
}
.icon-arrow-circle-up:before {
  content: '\f0aa';
}
.icon-arrow-circle-down:before {
  content: '\f0ab';
}
.icon-globe:before {
  content: '\f0ac';
}
.icon-wrench:before {
  content: '\f0ad';
}
.icon-tasks:before {
  content: '\f0ae';
}
.icon-filter:before {
  content: '\f0b0';
}
.icon-briefcase:before {
  content: '\f0b1';
}
.icon-arrows-alt:before {
  content: '\f0b2';
}
.icon-group:before {
  content: '\f0c0';
}
.icon-chain:before {
  content: '\f0c1';
}
.icon-cloud:before {
  content: '\f0c2';
}
.icon-flask:before {
  content: '\f0c3';
}
.icon-cut:before {
  content: '\f0c4';
}
.icon-copy:before {
  content: '\f0c5';
}
.icon-paperclip:before {
  content: '\f0c6';
}
.icon-floppy-o:before {
  content: '\f0c7';
}
.icon-square:before {
  content: '\f0c8';
}
.icon-bars:before {
  content: '\f0c9';
}
.icon-list-ul:before {
  content: '\f0ca';
}
.icon-list-ol:before {
  content: '\f0cb';
}
.icon-strikethrough:before {
  content: '\f0cc';
}
.icon-underline:before {
  content: '\f0cd';
}
.icon-table:before {
  content: '\f0ce';
}
.icon-magic:before {
  content: '\f0d0';
}
.icon-truck:before {
  content: '\f0d1';
}
.icon-pinterest:before {
  content: '\f0d2';
}
.icon-pinterest-square:before {
  content: '\f0d3';
}
.icon-google-plus-square:before {
  content: '\f0d4';
}
.icon-google-plus:before {
  content: '\f0d5';
}
.icon-money:before {
  content: '\f0d6';
}
.icon-caret-down:before {
  content: '\f0d7';
}
.icon-caret-up:before {
  content: '\f0d8';
}
.icon-caret-left:before {
  content: '\f0d9';
}
.icon-caret-right:before {
  content: '\f0da';
}
.icon-columns:before {
  content: '\f0db';
}
.icon-sort:before {
  content: '\f0dc';
}
.icon-sort-desc:before {
  content: '\f0dd';
}
.icon-sort-asc:before {
  content: '\f0de';
}
.icon-envelope:before {
  content: '\f0e0';
}
.icon-linkedin:before {
  content: '\f0e1';
}
.icon-rotate-left:before {
  content: '\f0e2';
}
.icon-gavel:before {
  content: '\f0e3';
}
.icon-dashboard:before {
  content: '\f0e4';
}
.icon-comment-o:before {
  content: '\f0e5';
}
.icon-comments-o:before {
  content: '\f0e6';
}
.icon-bolt:before {
  content: '\f0e7';
}
.icon-sitemap:before {
  content: '\f0e8';
}
.icon-umbrella:before {
  content: '\f0e9';
}
.icon-clipboard:before {
  content: '\f0ea';
}
.icon-lightbulb-o:before {
  content: '\f0eb';
}
.icon-exchange:before {
  content: '\f0ec';
}
.icon-cloud-download:before {
  content: '\f0ed';
}
.icon-cloud-upload:before {
  content: '\f0ee';
}
.icon-user-md:before {
  content: '\f0f0';
}
.icon-stethoscope:before {
  content: '\f0f1';
}
.icon-suitcase:before {
  content: '\f0f2';
}
.icon-bell:before {
  content: '\f0f3';
}
.icon-coffee:before {
  content: '\f0f4';
}
.icon-cutlery:before {
  content: '\f0f5';
}
.icon-file-text-o:before {
  content: '\f0f6';
}
.icon-building-o:before {
  content: '\f0f7';
}
.icon-hospital-o:before {
  content: '\f0f8';
}
.icon-ambulance:before {
  content: '\f0f9';
}
.icon-medkit:before {
  content: '\f0fa';
}
.icon-fighter-jet:before {
  content: '\f0fb';
}
.icon-beer:before {
  content: '\f0fc';
}
.icon-h-square:before {
  content: '\f0fd';
}
.icon-plus-square:before {
  content: '\f0fe';
}
.icon-angle-double-left:before {
  content: '\f100';
}
.icon-angle-double-right:before {
  content: '\f101';
}
.icon-angle-double-up:before {
  content: '\f102';
}
.icon-angle-double-down:before {
  content: '\f103';
}
.icon-angle-left:before {
  content: '\f104';
}
.icon-angle-right:before {
  content: '\f105';
}
.icon-angle-up:before {
  content: '\f106';
}
.icon-angle-down:before {
  content: '\f107';
}
.icon-desktop:before {
  content: '\f108';
}
.icon-laptop:before {
  content: '\f109';
}
.icon-tablet:before {
  content: '\f10a';
}
.icon-mobile:before {
  content: '\f10b';
}
.icon-circle-o:before {
  content: '\f10c';
}
.icon-quote-left:before {
  content: '\f10d';
}
.icon-quote-right:before {
  content: '\f10e';
}
.icon-spinner:before {
  content: '\f110';
}
.icon-circle:before {
  content: '\f111';
}
.icon-mail-reply:before {
  content: '\f112';
}
.icon-github-alt:before {
  content: '\f113';
}
.icon-folder-o:before {
  content: '\f114';
}
.icon-folder-open-o:before {
  content: '\f115';
}
.icon-smile-o:before {
  content: '\f118';
}
.icon-frown-o:before {
  content: '\f119';
}
.icon-meh-o:before {
  content: '\f11a';
}
.icon-gamepad:before {
  content: '\f11b';
}
.icon-keyboard-o:before {
  content: '\f11c';
}
.icon-flag-o:before {
  content: '\f11d';
}
.icon-flag-checkered:before {
  content: '\f11e';
}
.icon-terminal:before {
  content: '\f120';
}
.icon-code:before {
  content: '\f121';
}
.icon-mail-reply-all:before {
  content: '\f122';
}
.icon-star-half-empty:before {
  content: '\f123';
}
.icon-location-arrow:before {
  content: '\f124';
}
.icon-crop:before {
  content: '\f125';
}
.icon-code-fork:before {
  content: '\f126';
}
.icon-chain-broken:before {
  content: '\f127';
}
.icon-question:before {
  content: '\f128';
}
.icon-info:before {
  content: '\f129';
}
.icon-exclamation:before {
  content: '\f12a';
}
.icon-superscript:before {
  content: '\f12b';
}
.icon-subscript:before {
  content: '\f12c';
}
.icon-eraser:before {
  content: '\f12d';
}
.icon-puzzle-piece:before {
  content: '\f12e';
}
.icon-microphone:before {
  content: '\f130';
}
.icon-microphone-slash:before {
  content: '\f131';
}
.icon-shield:before {
  content: '\f132';
}
.icon-calendar-o:before {
  content: '\f133';
}
.icon-fire-extinguisher:before {
  content: '\f134';
}
.icon-rocket:before {
  content: '\f135';
}
.icon-maxcdn:before {
  content: '\f136';
}
.icon-chevron-circle-left:before {
  content: '\f137';
}
.icon-chevron-circle-right:before {
  content: '\f138';
}
.icon-chevron-circle-up:before {
  content: '\f139';
}
.icon-chevron-circle-down:before {
  content: '\f13a';
}
.icon-html5:before {
  content: '\f13b';
}
.icon-css3:before {
  content: '\f13c';
}
.icon-anchor:before {
  content: '\f13d';
}
.icon-unlock-alt:before {
  content: '\f13e';
}
.icon-bullseye:before {
  content: '\f140';
}
.icon-ellipsis-h:before {
  content: '\f141';
}
.icon-ellipsis-v:before {
  content: '\f142';
}
.icon-rss-square:before {
  content: '\f143';
}
.icon-play-circle:before {
  content: '\f144';
}
.icon-ticket:before {
  content: '\f145';
}
.icon-minus-square:before {
  content: '\f146';
}
.icon-minus-square-o:before {
  content: '\f147';
}
.icon-level-up:before {
  content: '\f148';
}
.icon-level-down:before {
  content: '\f149';
}
.icon-check-square:before {
  content: '\f14a';
}
.icon-pencil-square:before {
  content: '\f14b';
}
.icon-external-link-square:before {
  content: '\f14c';
}
.icon-share-square:before {
  content: '\f14d';
}
.icon-compass:before {
  content: '\f14e';
}
.icon-caret-square-o-down:before {
  content: '\f150';
}
.icon-caret-square-o-up:before {
  content: '\f151';
}
.icon-caret-square-o-right:before {
  content: '\f152';
}
.icon-eur:before {
  content: '\f153';
}
.icon-gbp:before {
  content: '\f154';
}
.icon-dollar:before {
  content: '\f155';
}
.icon-inr:before {
  content: '\f156';
}
.icon-cny:before {
  content: '\f157';
}
.icon-rouble:before {
  content: '\f158';
}
.icon-krw:before {
  content: '\f159';
}
.icon-bitcoin:before {
  content: '\f15a';
}
.icon-file:before {
  content: '\f15b';
}
.icon-file-text:before {
  content: '\f15c';
}
.icon-sort-alpha-asc:before {
  content: '\f15d';
}
.icon-sort-alpha-desc:before {
  content: '\f15e';
}
.icon-sort-amount-asc:before {
  content: '\f160';
}
.icon-sort-amount-desc:before {
  content: '\f161';
}
.icon-sort-numeric-asc:before {
  content: '\f162';
}
.icon-sort-numeric-desc:before {
  content: '\f163';
}
.icon-thumbs-up:before {
  content: '\f164';
}
.icon-thumbs-down:before {
  content: '\f165';
}
.icon-youtube-square:before {
  content: '\f166';
}
.icon-youtube:before {
  content: '\f167';
}
.icon-xing:before {
  content: '\f168';
}
.icon-xing-square:before {
  content: '\f169';
}
.icon-youtube-play:before {
  content: '\f16a';
}
.icon-dropbox:before {
  content: '\f16b';
}
.icon-stack-overflow:before {
  content: '\f16c';
}
.icon-instagram:before {
  content: '\f16d';
}
.icon-flickr:before {
  content: '\f16e';
}
.icon-adn:before {
  content: '\f170';
}
.icon-bitbucket:before {
  content: '\f171';
}
.icon-bitbucket-square:before {
  content: '\f172';
}
.icon-tumblr:before {
  content: '\f173';
}
.icon-tumblr-square:before {
  content: '\f174';
}
.icon-long-arrow-down:before {
  content: '\f175';
}
.icon-long-arrow-up:before {
  content: '\f176';
}
.icon-long-arrow-left:before {
  content: '\f177';
}
.icon-long-arrow-right:before {
  content: '\f178';
}
.icon-apple:before {
  content: '\f179';
}
.icon-windows:before {
  content: '\f17a';
}
.icon-android:before {
  content: '\f17b';
}
.icon-linux:before {
  content: '\f17c';
}
.icon-dribbble:before {
  content: '\f17d';
}
.icon-skype:before {
  content: '\f17e';
}
.icon-foursquare:before {
  content: '\f180';
}
.icon-trello:before {
  content: '\f181';
}
.icon-female:before {
  content: '\f182';
}
.icon-male:before {
  content: '\f183';
}
.icon-gittip:before {
  content: '\f184';
}
.icon-sun-o:before {
  content: '\f185';
}
.icon-moon-o:before {
  content: '\f186';
}
.icon-archive:before {
  content: '\f187';
}
.icon-bug:before {
  content: '\f188';
}
.icon-vk:before {
  content: '\f189';
}
.icon-weibo:before {
  content: '\f18a';
}
.icon-renren:before {
  content: '\f18b';
}
.icon-pagelines:before {
  content: '\f18c';
}
.icon-stack-exchange:before {
  content: '\f18d';
}
.icon-arrow-circle-o-right:before {
  content: '\f18e';
}
.icon-arrow-circle-o-left:before {
  content: '\f190';
}
.icon-caret-square-o-left:before {
  content: '\f191';
}
.icon-dot-circle-o:before {
  content: '\f192';
}
.icon-wheelchair:before {
  content: '\f193';
}
.icon-vimeo-square:before {
  content: '\f194';
}
.icon-try:before {
  content: '\f195';
}
.icon-plus-square-o:before {
  content: '\f196';
}
.icon-space-shuttle:before {
  content: '\f197';
}
.icon-slack:before {
  content: '\f198';
}
.icon-envelope-square:before {
  content: '\f199';
}
.icon-wordpress:before {
  content: '\f19a';
}
.icon-openid:before {
  content: '\f19b';
}
.icon-bank:before {
  content: '\f19c';
}
.icon-graduation-cap:before {
  content: '\f19d';
}
.icon-yahoo:before {
  content: '\f19e';
}
.icon-google:before {
  content: '\f1a0';
}
.icon-reddit:before {
  content: '\f1a1';
}
.icon-reddit-square:before {
  content: '\f1a2';
}
.icon-stumbleupon-circle:before {
  content: '\f1a3';
}
.icon-stumbleupon:before {
  content: '\f1a4';
}
.icon-delicious:before {
  content: '\f1a5';
}
.icon-digg:before {
  content: '\f1a6';
}
.icon-pied-piper-pp:before {
  content: '\f1a7';
}
.icon-pied-piper-alt:before {
  content: '\f1a8';
}
.icon-drupal:before {
  content: '\f1a9';
}
.icon-joomla:before {
  content: '\f1aa';
}
.icon-language:before {
  content: '\f1ab';
}
.icon-fax:before {
  content: '\f1ac';
}
.icon-building:before {
  content: '\f1ad';
}
.icon-child:before {
  content: '\f1ae';
}
.icon-paw:before {
  content: '\f1b0';
}
.icon-spoon:before {
  content: '\f1b1';
}
.icon-cube:before {
  content: '\f1b2';
}
.icon-cubes:before {
  content: '\f1b3';
}
.icon-behance:before {
  content: '\f1b4';
}
.icon-behance-square:before {
  content: '\f1b5';
}
.icon-steam:before {
  content: '\f1b6';
}
.icon-steam-square:before {
  content: '\f1b7';
}
.icon-recycle:before {
  content: '\f1b8';
}
.icon-automobile:before {
  content: '\f1b9';
}
.icon-cab:before {
  content: '\f1ba';
}
.icon-tree:before {
  content: '\f1bb';
}
.icon-spotify:before {
  content: '\f1bc';
}
.icon-deviantart:before {
  content: '\f1bd';
}
.icon-soundcloud:before {
  content: '\f1be';
}
.icon-database:before {
  content: '\f1c0';
}
.icon-file-pdf-o:before {
  content: '\f1c1';
}
.icon-file-word-o:before {
  content: '\f1c2';
}
.icon-file-excel-o:before {
  content: '\f1c3';
}
.icon-file-powerpoint-o:before {
  content: '\f1c4';
}
.icon-file-image-o:before {
  content: '\f1c5';
}
.icon-file-archive-o:before {
  content: '\f1c6';
}
.icon-file-audio-o:before {
  content: '\f1c7';
}
.icon-file-movie-o:before {
  content: '\f1c8';
}
.icon-file-code-o:before {
  content: '\f1c9';
}
.icon-vine:before {
  content: '\f1ca';
}
.icon-codepen:before {
  content: '\f1cb';
}
.icon-jsfiddle:before {
  content: '\f1cc';
}
.icon-life-bouy:before {
  content: '\f1cd';
}
.icon-circle-o-notch:before {
  content: '\f1ce';
}
.icon-ra:before {
  content: '\f1d0';
}
.icon-empire:before {
  content: '\f1d1';
}
.icon-git-square:before {
  content: '\f1d2';
}
.icon-git:before {
  content: '\f1d3';
}
.icon-hacker-news:before {
  content: '\f1d4';
}
.icon-tencent-weibo:before {
  content: '\f1d5';
}
.icon-qq:before {
  content: '\f1d6';
}
.icon-wechat:before {
  content: '\f1d7';
}
.icon-paper-plane:before {
  content: '\f1d8';
}
.icon-paper-plane-o:before {
  content: '\f1d9';
}
.icon-history:before {
  content: '\f1da';
}
.icon-circle-thin:before {
  content: '\f1db';
}
.icon-header:before {
  content: '\f1dc';
}
.icon-paragraph:before {
  content: '\f1dd';
}
.icon-sliders:before {
  content: '\f1de';
}
.icon-share-alt:before {
  content: '\f1e0';
}
.icon-share-alt-square:before {
  content: '\f1e1';
}
.icon-bomb:before {
  content: '\f1e2';
}
.icon-futbol-o:before {
  content: '\f1e3';
}
.icon-tty:before {
  content: '\f1e4';
}
.icon-binoculars:before {
  content: '\f1e5';
}
.icon-plug:before {
  content: '\f1e6';
}
.icon-slideshare:before {
  content: '\f1e7';
}
.icon-twitch:before {
  content: '\f1e8';
}
.icon-yelp:before {
  content: '\f1e9';
}
.icon-newspaper-o:before {
  content: '\f1ea';
}
.icon-wifi:before {
  content: '\f1eb';
}
.icon-calculator:before {
  content: '\f1ec';
}
.icon-paypal:before {
  content: '\f1ed';
}
.icon-google-wallet:before {
  content: '\f1ee';
}
.icon-cc-visa:before {
  content: '\f1f0';
}
.icon-cc-mastercard:before {
  content: '\f1f1';
}
.icon-cc-discover:before {
  content: '\f1f2';
}
.icon-cc-amex:before {
  content: '\f1f3';
}
.icon-cc-paypal:before {
  content: '\f1f4';
}
.icon-cc-stripe:before {
  content: '\f1f5';
}
.icon-bell-slash:before {
  content: '\f1f6';
}
.icon-bell-slash-o:before {
  content: '\f1f7';
}
.icon-trash:before {
  content: '\f1f8';
}
.icon-copyright:before {
  content: '\f1f9';
}
.icon-at:before {
  content: '\f1fa';
}
.icon-eyedropper:before {
  content: '\f1fb';
}
.icon-paint-brush:before {
  content: '\f1fc';
}
.icon-birthday-cake:before {
  content: '\f1fd';
}
.icon-area-chart:before {
  content: '\f1fe';
}
.icon-pie-chart:before {
  content: '\f200';
}
.icon-line-chart:before {
  content: '\f201';
}
.icon-lastfm:before {
  content: '\f202';
}
.icon-lastfm-square:before {
  content: '\f203';
}
.icon-toggle-off:before {
  content: '\f204';
}
.icon-toggle-on:before {
  content: '\f205';
}
.icon-bicycle:before {
  content: '\f206';
}
.icon-bus:before {
  content: '\f207';
}
.icon-ioxhost:before {
  content: '\f208';
}
.icon-angellist:before {
  content: '\f209';
}
.icon-cc:before {
  content: '\f20a';
}
.icon-ils:before {
  content: '\f20b';
}
.icon-meanpath:before {
  content: '\f20c';
}
.icon-buysellads:before {
  content: '\f20d';
}
.icon-connectdevelop:before {
  content: '\f20e';
}
.icon-dashcube:before {
  content: '\f210';
}
.icon-forumbee:before {
  content: '\f211';
}
.icon-leanpub:before {
  content: '\f212';
}
.icon-sellsy:before {
  content: '\f213';
}
.icon-shirtsinbulk:before {
  content: '\f214';
}
.icon-simplybuilt:before {
  content: '\f215';
}
.icon-skyatlas:before {
  content: '\f216';
}
.icon-cart-plus:before {
  content: '\f217';
}
.icon-cart-arrow-down:before {
  content: '\f218';
}
.icon-diamond:before {
  content: '\f219';
}
.icon-ship:before {
  content: '\f21a';
}
.icon-user-secret:before {
  content: '\f21b';
}
.icon-motorcycle:before {
  content: '\f21c';
}
.icon-street-view:before {
  content: '\f21d';
}
.icon-heartbeat:before {
  content: '\f21e';
}
.icon-venus:before {
  content: '\f221';
}
.icon-mars:before {
  content: '\f222';
}
.icon-mercury:before {
  content: '\f223';
}
.icon-intersex:before {
  content: '\f224';
}
.icon-transgender-alt:before {
  content: '\f225';
}
.icon-venus-double:before {
  content: '\f226';
}
.icon-mars-double:before {
  content: '\f227';
}
.icon-venus-mars:before {
  content: '\f228';
}
.icon-mars-stroke:before {
  content: '\f229';
}
.icon-mars-stroke-v:before {
  content: '\f22a';
}
.icon-mars-stroke-h:before {
  content: '\f22b';
}
.icon-neuter:before {
  content: '\f22c';
}
.icon-genderless:before {
  content: '\f22d';
}
.icon-facebook-official:before {
  content: '\f230';
}
.icon-pinterest-p:before {
  content: '\f231';
}
.icon-whatsapp:before {
  content: '\f232';
}
.icon-server:before {
  content: '\f233';
}
.icon-user-plus:before {
  content: '\f234';
}
.icon-user-times:before {
  content: '\f235';
}
.icon-bed:before {
  content: '\f236';
}
.icon-viacoin:before {
  content: '\f237';
}
.icon-train:before {
  content: '\f238';
}
.icon-subway:before {
  content: '\f239';
}
.icon-medium:before {
  content: '\f23a';
}
.icon-y-combinator:before {
  content: '\f23b';
}
.icon-optin-monster:before {
  content: '\f23c';
}
.icon-opencart:before {
  content: '\f23d';
}
.icon-expeditedssl:before {
  content: '\f23e';
}
.icon-battery:before {
  content: '\f240';
}
.icon-battery-3:before {
  content: '\f241';
}
.icon-battery-2:before {
  content: '\f242';
}
.icon-battery-1:before {
  content: '\f243';
}
.icon-battery-0:before {
  content: '\f244';
}
.icon-mouse-pointer:before {
  content: '\f245';
}
.icon-i-cursor:before {
  content: '\f246';
}
.icon-object-group:before {
  content: '\f247';
}
.icon-object-ungroup:before {
  content: '\f248';
}
.icon-sticky-note:before {
  content: '\f249';
}
.icon-sticky-note-o:before {
  content: '\f24a';
}
.icon-cc-jcb:before {
  content: '\f24b';
}
.icon-cc-diners-club:before {
  content: '\f24c';
}
.icon-clone:before {
  content: '\f24d';
}
.icon-balance-scale:before {
  content: '\f24e';
}
.icon-hourglass-o:before {
  content: '\f250';
}
.icon-hourglass-1:before {
  content: '\f251';
}
.icon-hourglass-2:before {
  content: '\f252';
}
.icon-hourglass-3:before {
  content: '\f253';
}
.icon-hourglass:before {
  content: '\f254';
}
.icon-hand-grab-o:before {
  content: '\f255';
}
.icon-hand-paper-o:before {
  content: '\f256';
}
.icon-hand-scissors-o:before {
  content: '\f257';
}
.icon-hand-lizard-o:before {
  content: '\f258';
}
.icon-hand-spock-o:before {
  content: '\f259';
}
.icon-hand-pointer-o:before {
  content: '\f25a';
}
.icon-hand-peace-o:before {
  content: '\f25b';
}
.icon-trademark:before {
  content: '\f25c';
}
.icon-registered:before {
  content: '\f25d';
}
.icon-creative-commons:before {
  content: '\f25e';
}
.icon-gg:before {
  content: '\f260';
}
.icon-gg-circle:before {
  content: '\f261';
}
.icon-tripadvisor:before {
  content: '\f262';
}
.icon-odnoklassniki:before {
  content: '\f263';
}
.icon-odnoklassniki-square:before {
  content: '\f264';
}
.icon-get-pocket:before {
  content: '\f265';
}
.icon-wikipedia-w:before {
  content: '\f266';
}
.icon-safari:before {
  content: '\f267';
}
.icon-chrome:before {
  content: '\f268';
}
.icon-firefox:before {
  content: '\f269';
}
.icon-opera:before {
  content: '\f26a';
}
.icon-internet-explorer:before {
  content: '\f26b';
}
.icon-television:before {
  content: '\f26c';
}
.icon-contao:before {
  content: '\f26d';
}
.icon-500px:before {
  content: '\f26e';
}
.icon-amazon:before {
  content: '\f270';
}
.icon-calendar-plus-o:before {
  content: '\f271';
}
.icon-calendar-minus-o:before {
  content: '\f272';
}
.icon-calendar-times-o:before {
  content: '\f273';
}
.icon-calendar-check-o:before {
  content: '\f274';
}
.icon-industry:before {
  content: '\f275';
}
.icon-map-pin:before {
  content: '\f276';
}
.icon-map-signs:before {
  content: '\f277';
}
.icon-map-o:before {
  content: '\f278';
}
.icon-map:before {
  content: '\f279';
}
.icon-commenting:before {
  content: '\f27a';
}
.icon-commenting-o:before {
  content: '\f27b';
}
.icon-houzz:before {
  content: '\f27c';
}
.icon-vimeo:before {
  content: '\f27d';
}
.icon-black-tie:before {
  content: '\f27e';
}
.icon-fonticons:before {
  content: '\f280';
}
.icon-reddit-alien:before {
  content: '\f281';
}
.icon-edge:before {
  content: '\f282';
}
.icon-credit-card-alt:before {
  content: '\f283';
}
.icon-codiepie:before {
  content: '\f284';
}
.icon-modx:before {
  content: '\f285';
}
.icon-fort-awesome:before {
  content: '\f286';
}
.icon-usb:before {
  content: '\f287';
}
.icon-product-hunt:before {
  content: '\f288';
}
.icon-mixcloud:before {
  content: '\f289';
}
.icon-scribd:before {
  content: '\f28a';
}
.icon-pause-circle:before {
  content: '\f28b';
}
.icon-pause-circle-o:before {
  content: '\f28c';
}
.icon-stop-circle:before {
  content: '\f28d';
}
.icon-stop-circle-o:before {
  content: '\f28e';
}
.icon-shopping-bag:before {
  content: '\f290';
}
.icon-shopping-basket:before {
  content: '\f291';
}
.icon-hashtag:before {
  content: '\f292';
}
.icon-bluetooth:before {
  content: '\f293';
}
.icon-bluetooth-b:before {
  content: '\f294';
}
.icon-percent:before {
  content: '\f295';
}
.icon-gitlab:before {
  content: '\f296';
}
.icon-wpbeginner:before {
  content: '\f297';
}
.icon-wpforms:before {
  content: '\f298';
}
.icon-envira:before {
  content: '\f299';
}
.icon-universal-access:before {
  content: '\f29a';
}
.icon-wheelchair-alt:before {
  content: '\f29b';
}
.icon-question-circle-o:before {
  content: '\f29c';
}
.icon-blind:before {
  content: '\f29d';
}
.icon-audio-description:before {
  content: '\f29e';
}
.icon-volume-control-phone:before {
  content: '\f2a0';
}
.icon-braille:before {
  content: '\f2a1';
}
.icon-assistive-listening-systems:before {
  content: '\f2a2';
}
.icon-american-sign-language-interpreting:before {
  content: '\f2a3';
}
.icon-deaf:before {
  content: '\f2a4';
}
.icon-glide:before {
  content: '\f2a5';
}
.icon-glide-g:before {
  content: '\f2a6';
}
.icon-sign-language:before {
  content: '\f2a7';
}
.icon-low-vision:before {
  content: '\f2a8';
}
.icon-viadeo:before {
  content: '\f2a9';
}
.icon-viadeo-square:before {
  content: '\f2aa';
}
.icon-snapchat:before {
  content: '\f2ab';
}
.icon-snapchat-ghost:before {
  content: '\f2ac';
}
.icon-snapchat-square:before {
  content: '\f2ad';
}
.icon-pied-piper:before {
  content: '\f2ae';
}
.icon-first-order:before {
  content: '\f2b0';
}
.icon-yoast:before {
  content: '\f2b1';
}
.icon-themeisle:before {
  content: '\f2b2';
}
.icon-google-plus-circle:before {
  content: '\f2b3';
}
.icon-fa:before {
  content: '\f2b4';
}
.icon-handshake-o:before {
  content: '\f2b5';
}
.icon-envelope-open:before {
  content: '\f2b6';
}
.icon-envelope-open-o:before {
  content: '\f2b7';
}
.icon-linode:before {
  content: '\f2b8';
}
.icon-address-book:before {
  content: '\f2b9';
}
.icon-address-book-o:before {
  content: '\f2ba';
}
.icon-address-card:before {
  content: '\f2bb';
}
.icon-address-card-o:before {
  content: '\f2bc';
}
.icon-user-circle:before {
  content: '\f2bd';
}
.icon-user-circle-o:before {
  content: '\f2be';
}
.icon-user-o:before {
  content: '\f2c0';
}
.icon-id-badge:before {
  content: '\f2c1';
}
.icon-drivers-license:before {
  content: '\f2c2';
}
.icon-drivers-license-o:before {
  content: '\f2c3';
}
.icon-quora:before {
  content: '\f2c4';
}
.icon-free-code-camp:before {
  content: '\f2c5';
}
.icon-telegram:before {
  content: '\f2c6';
}
.icon-thermometer:before {
  content: '\f2c7';
}
.icon-thermometer-3:before {
  content: '\f2c8';
}
.icon-thermometer-2:before {
  content: '\f2c9';
}
.icon-thermometer-1:before {
  content: '\f2ca';
}
.icon-thermometer-0:before {
  content: '\f2cb';
}
.icon-shower:before {
  content: '\f2cc';
}
.icon-bath:before {
  content: '\f2cd';
}
.icon-podcast:before {
  content: '\f2ce';
}
.icon-window-maximize:before {
  content: '\f2d0';
}
.icon-window-minimize:before {
  content: '\f2d1';
}
.icon-window-restore:before {
  content: '\f2d2';
}
.icon-times-rectangle:before {
  content: '\f2d3';
}
.icon-times-rectangle-o:before {
  content: '\f2d4';
}
.icon-bandcamp:before {
  content: '\f2d5';
}
.icon-grav:before {
  content: '\f2d6';
}
.icon-etsy:before {
  content: '\f2d7';
}
.icon-imdb:before {
  content: '\f2d8';
}
.icon-ravelry:before {
  content: '\f2d9';
}
.icon-eercast:before {
  content: '\f2da';
}
.icon-microchip:before {
  content: '\f2db';
}
.icon-snowflake-o:before {
  content: '\f2dc';
}
.icon-superpowers:before {
  content: '\f2dd';
}
.icon-wpexplorer:before {
  content: '\f2de';
}
.icon-meetup:before {
  content: '\f2e0';
}
