<div>
  <div class="modal-body p-4">
    <div class="row py-2 justify-content-between mb-2 px-md-4">
      <h5 class="col-md-auto modal-title text-dark" hrmsTranslate="hrmsApp.workShift.home.upcoming.title">Upcoming shift details</h5>
      <button
        class="col-md-auto mt-0 align-self-baseline"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="cancel()"
      >
        &times;
      </button>
    </div>

    <div class="dashed-divider mb-3"></div>

    <div class="mt-3 px-4">
      <div class="row py-2">
        <div class="col-3">
          <span class="font-weight-bold" hrmsTranslate="hrmsApp.workShift.upcomingShift.title">Title</span>
        </div>
        <div class="col-1">
          <span class="font-weight-bold">:</span>
        </div>
        <div class="col-8">
          <span>{{ upcomingShift?.title }}</span>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-3">
          <span class="font-weight-bold" hrmsTranslate="hrmsApp.workShift.upcomingShift.date">Date</span>
        </div>
        <div class="col-1">
          <span class="font-weight-bold">:</span>
        </div>
        <div class="col-8">
          <span>{{ upcomingShift?.start_date | date: 'fullDate' }}</span>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-3">
          <span class="font-weight-bold" hrmsTranslate="hrmsApp.workShift.upcomingShift.time">Time</span>
        </div>
        <div class="col-1">
          <span class="font-weight-bold">:</span>
        </div>
        <div class="col-8">
          <span>
            {{ upcomingShift?.start_date | date: 'h:mm a' }} -
            {{ upcomingShift?.end_date | date: 'h:mm a' }}
          </span>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-3">
          <span class="font-weight-bold" hrmsTranslate="hrmsApp.workShift.upcomingShift.designation">Scheduler</span>
        </div>
        <div class="col-1">
          <span class="font-weight-bold">:</span>
        </div>
        <div class="col-8">
          <span>{{ upcomingShift?.designation?.name }}</span>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-3">
          <span class="font-weight-bold" hrmsTranslate="hrmsApp.workShift.upcomingShift.note">Note</span>
        </div>
        <div class="col-1">
          <span class="font-weight-bold">:</span>
        </div>
        <div class="col-8">
          <span *ngIf="upcomingShift?.note; else noUpcomingModalNotesFound">{{ upcomingShift?.note }}</span>
          <ng-template #noUpcomingModalNotesFound>
            <span>--</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
